<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/maintenance/spareParts/save}">
        <input type="hidden" name="id" th:if="${spareParts}" th:value="${spareParts.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">编号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="code" autocomplete="off" placeholder="请输入编号" th:value="${spareParts?.code}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">条形编码</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="barCode" autocomplete="off" placeholder="请输入条形编码" th:value="${spareParts?.barCode}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备品名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="sparePartsName" autocomplete="off" placeholder="请输入备品名称" th:value="${spareParts?.sparePartsName}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">库存</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="stock" autocomplete="off" placeholder="请输入库存" th:value="${spareParts?.stock}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">最低库存</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="minStock" autocomplete="off" placeholder="请输入最低库存" th:value="${spareParts?.minStock}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认人</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="confirmer" autocomplete="off" placeholder="请输入确认人" th:value="${spareParts?.confirmer}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">日期</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="confirmDate" autocomplete="off" placeholder="请输入日期" th:value="${spareParts?.confirmDate}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${spareParts?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>