<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/base/deviceSort/save}">
        <input type="hidden" name="id" th:if="${deviceSort}" th:value="${deviceSort.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">设备类型</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="device_type" autocomplete="off" placeholder="请输入设备类型" th:value="${deviceSort?.device_type}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">设备编号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="device_code" autocomplete="off" placeholder="请输入设备编号" th:value="${deviceSort?.device_code}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">设备名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="device_sort" autocomplete="off" placeholder="请输入设备名称" th:value="${deviceSort?.device_sort}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属工序</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="belong_process" autocomplete="off" placeholder="请输入所属工序" th:value="${deviceSort?.belong_process}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Mac</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="mac" autocomplete="off" placeholder="请输入Mac" th:value="${deviceSort?.mac}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">站位</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="sort_no" autocomplete="off" placeholder="请输入站位" th:value="${deviceSort?.sort_no}">
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>