<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form class="layui-form" lay-filter="lay_form" th:action="@{/base/steelMesh/save}">
        <input type="hidden" name="id" th:if="${steelMesh}" th:value="${steelMesh.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">编号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="num" placeholder="请输入编号" th:value="${steelMesh?.num}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">光板号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="plateNo" placeholder="请输入光板号" th:value="${steelMesh?.plateNo}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">货架编号</label>
            <div class="layui-input-inline">
                <!--<input class="layui-input" type="text" name="name" placeholder="请输入货架编号" th:value="${steelMesh?.shelvesNo}">-->
                <input type="hidden" id="shelvesNoValue" th:value="${steelMesh?.shelvesNo}">
                <select name="shelvesNo" id="shelvesNo"></select>
            </div>
        </div>
        <!--<div class="layui-form-item">
            <label class="layui-form-label">货架层</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="number" placeholder="请输入货架层" th:value="${steelMesh?.number}">
            </div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">使用次数</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="useTimes" placeholder="请输入使用次数" th:value="${steelMesh?.useTimes}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">寿命</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="useLife" placeholder="请输入寿命" th:value="${steelMesh?.useLife}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${steelMesh?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
    <script>
        var a="";
        layui.use(['jquery','layer','form','laydate'],function () {
            var $ = layui.jquery,
                form = layui.form,
                laydate = layui.laydate,
                layer = layui.layer;
            laydate.render({
                elem:"#time",
                type:'datetime',
                trigger:'click'
            });

            $.get('/base/shelves/findShelvesCode',function (res) {
                if(res.code===200){
                    var select = document.getElementById('shelvesNo');
                    var str = "";
                    res.data.forEach(function (t) {
                        str+="<option value='"+t.num+"'>"+t.num+"</option>"
                    });
                    select.innerHTML=str;
                    form.val('lay_form',{shelvesNo:$('#shelvesNoValue').val()});
                }
            })
        })
    </script>
</body>
</html>