<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/base/spares/save}">
        <input type="hidden" name="id" th:if="${spares}" th:value="${spares.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">条形编码</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="text" name="code" placeholder="请输入条形编码" th:value="${spares?.code}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">耗材名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="text" name="name" placeholder="请输入耗材名称" th:value="${spares?.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">库存</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="number" name="num" placeholder="请输入库存" th:value="${spares?.num}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">最低库存</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="number" name="lowNum" placeholder="请输入最低库存" th:value="${spares?.lowNum}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${spares?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>