<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/base/process/save}">
        <input type="hidden" name="id" th:if="${process}" th:value="${process.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">编号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="code" placeholder="请输入编号" th:value="${process?.code}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工序名称</label>
            <div class="layui-input-inline">
                <select name="name" id="processName" th:value="${process?.name}"></select>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
    <script>
        var a="";
        layui.use(['jquery','layer','form','laydate'],function () {
            var     $ = layui.jquery,
                form = layui.form,
                laydate = layui.laydate,
                layer = layui.layer;
            laydate.render({
                elem:"#time",
                type:'datetime',
                trigger:'click'
            });

            $.get('/base/process/findProcessType',function (res) {
                if(res.code===200){
                    var select = document.getElementById('processName');
                    var str = "";
                    res.data.forEach(function (t) {
                        str+="<option value='"+t.process_type+"'>"+t.process_type+"</option>"
                    })
                    select.innerHTML=str
                    form.render()
                }
            })
        })
    </script>
</body>
</html>