<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mo="https://gitee.com/aun/Timo">

<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<style>
    #formBox {
        box-sizing: border-box;
        padding: 14px;
    }

    .layui-form-label {
        width: 120px !important;
    }
</style>

<body class="timo-layout-page">
    <div class="layui-card">
        <div class="layui-card-header timo-card-header">
            <span><i class="fa fa-bars"></i> 生产流通表</span>
            <i class="layui-icon layui-icon-refresh refresh-btn"></i>
        </div>
        <div class="layui-card-body">
            <div class="layui-row timo-card-screen">
                <form class="layui-form pull-left layui-form-pane timo-search-box">
                    <div class="layui-inline">
                        <label class="layui-form-label">生产任务单号</label>
                        <div class="layui-input-block">
                            <input id="pcbTaskCode" type="text" name="pcbTaskCode" placeholder="请输入生产任务单号"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">生产批次</label>
                        <div class="layui-input-block">
                            <input id="taskSheetCode" type="text" name="taskSheetCode" placeholder="请输入生产批次"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">规格型号</label>
                        <div class="layui-input-block">
                            <input id="pcbId" type="text" name="pcbId" placeholder="请输入规格型号" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">物料名称</label>
                        <div class="layui-input-block">
                            <input type="text" id="pcbName" name="pcbName" placeholder="请输入物料名称" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn" id="search" type="button" lay-submit lay-filter="search">
                            <i class="fa fa-search"></i>
                        </button>
                        <button type="reset" class="layui-btn layui-bg-blue">清除</button>
                    </div>
                </form>
            </div>
            <div class="timo-table-wrap">
                <table class="layui-hide" id="table" lay-filter="table"></table>
            </div>
        </div>
    </div>
    <script th:replace="/common/template :: script"></script>
    <script src="../../js/common.js"></script>
    <script>
        layui.use(['form', 'laydate', 'table', 'jquery', 'form'], function () {
            var layer = layui.layer,
                $ = layui.jquery,
                table = layui.table,
                laydate = layui.laydate,
                form = layui.form;
            parent.layer.closeAll();

            laydate.render({
                elem: '#time'
                , type: 'datetime'
            });
            table.render({
                elem: '#table'
                , url: '/produce/pcbTask/findScheduling' //数据接口
                , method: 'POST'
                , loading: false
                , contentType: 'application/json'
                , response: {
                    statusCode: 200
                }
                , page: true
                , limit: 20
                , parseData: function (res) {
                    // var page = this.page.curr;
                    // if(res.data.length===0&&page>1){
                    //     table.reload('table',{
                    //         page:{
                    //             curr:(page-1)
                    //         }
                    //     })
                    // }
                    return {
                        "code": res.code, //解析接口状态
                        "data": res.data, //解析数据列表
                        "count": res.total //解析数据长度
                    };
                }
                , where: {
                    status: "全部"
                }
                , cols: [
                    [
                        { field: 'pcb_task_code', title: '生产任务单号', sort: true, minWidth: 140 }
                        , { field: 'task_sheet_code', title: '生产批次', sort: true, minWidth: 140 }
                        , { field: 'pcb_id', title: '规格型号', sort: true, minWidth: 200 }
                        , { field: 'pcb_name', title: '物料名称', sort: true, minWidth: 300 }
                        // , { field: 'pcb_quantity', title: '计划量', sort: true, minWidth: 140 }
                        // , { field: 'quantity}', title: '完成量', sort: true, minWidth: 120 }
                        , {
                            title: '流通表', fixed: 'right', minWidth: 450, align: 'center', templet: function (d) {
                                return '<button lay-event="tiepian" class="layui-btn  layui-btn-xs" style="margin-right:6px;background-color:#f37b1d" type="button">贴片</button>'
                                    + '<button lay-event="tiepianbm" class="layui-btn  layui-btn-xs" style="margin-right:6px;background-color:#f37b1d" type="button">贴片背面</button>'
                                    + '<button lay-event="zhengxing" class="layui-btn  layui-btn-xs" style="margin-right:6px;background-color:#39b54a" type="button">整形</button>'
                                    + '<button lay-event="zhengxingbm" class="layui-btn  layui-btn-xs" style="margin-right:6px;background-color:#39b54a" type="button">整形背面</button>'
                                    + '<button lay-event="houhan" class="layui-btn  layui-btn-xs" style="margin-right:6px;" type="button">后焊</button>'
                                    + '<button lay-event="houhanbm" class="layui-btn  layui-btn-xs" style="margin-right:6px;" type="button">后焊背面</button>'
                                    + '<button lay-event="tiaoshi" class="layui-btn  layui-btn-xs" style="margin-right:6px;background-color:#b52aef" type="button">电路板调试</button>'
                            }
                        }
                    ]
                ]
            });
            form.on('submit(search)', function (obj) {
                table.reload('table', {
                    page: { curr: 1 },
                    where: obj.field
                })
            });

            new Enter('pcbTaskCode', function () { $('#search').click() });
            new Enter('taskSheetCode', function () { $('#search').click() });
            new Enter('pcbId', function () { $('#search').click() });
            new Enter('pcbName', function () { $('#search').click() });
            table.on('tool(table)', function (obj) {
                var data = obj.data;
                switch (obj.event) {
                    case 'tiepian':
                        layer.open({
                            title: '贴片流通表',
                            type: 2,
                            area: ['1350px', '96%'],
                            content: '/circulationTable/circulation4?id=3&pcb_task_code=' + data.pcb_task_code,
                            success: function (layero, index) {
                                var body = layer.getChildFrame('body', index);
                                var d = JSON.stringify(data)
                                body.contents().find("input[name='data']").val(d);
                            }
                        });
                        break;
                    case 'tiepianbm':
                        layer.open({
                            title: '贴片背面流通表',
                            type: 2,
                            area: ['1000px', '96%'],
                            content: '/circulationTable/circulation4_1?id=301&pcb_task_code=' + data.pcb_task_code
                        });
                        break;
                    case 'zhengxing':
                        layer.open({
                            title: '整形流通表',
                            type: 2,
                            area: ['1030px', '96%'],
                            content: '/circulationTable/circulation2?id=2&pcb_task_code=' + data.pcb_task_code,
                            success: function (layero, index) {
                                var body = layer.getChildFrame('body', index);
                                var d = JSON.stringify(data)
                                body.contents().find("input[name='data']").val(d);
                            }
                        });
                        break;
                    case 'zhengxingbm':
                        layer.open({
                            title: '整形背面流通表',
                            type: 2,
                            area: ['850px', '96%'],
                            content: '/circulationTable/circulation2_1?id=201&pcb_task_code=' + data.pcb_task_code
                        });
                        break;
                    case 'houhan':
                        layer.open({
                            title: '后焊流通表',
                            type: 2,
                            area: ['900px', '96%'],
                            content: '/circulationTable/circulation1?id=1&pcb_task_code=' + data.pcb_task_code,
                            success: function (layero, index) {
                                var body = layer.getChildFrame('body', index);
                                var d = JSON.stringify(data)
                                body.contents().find("input[name='data']").val(d);
                            }
                        });
                        break;
                    case 'houhanbm':
                        layer.open({
                            title: '后焊背面流通表',
                            type: 2,
                            area: ['850px', '96%'],
                            content: '/circulationTable/circulation1_1?id=101&pcb_task_code=' + data.pcb_task_code
                        });
                        break;
                    case 'tiaoshi':
                        layer.open({
                            title: '电路板调试流通表',
                            type: 2,
                            area: ['1100px', '96%'],
                            content: '/circulationTable/f308b?id=4&pcb_task_code=' + data.pcb_task_code,
                            success: function (layero, index) {
                                var body = layer.getChildFrame('body', index);
                                var d = JSON.stringify(data)
                                body.contents().find("input[name='data']").val(d);
                            }
                        });
                        break;
                }
            })
        })
    </script>
    <style>
        .layui-laydate .layui-this {
            background-color: #1e9fff !important;
        }
    </style>
</body>

</html>