<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/pcb/pcb/save}">
        <input type="hidden" name="id" th:if="${pcb}" th:value="${pcb.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">PCB编码</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="code" placeholder="请输入PCB编码" th:value="${pcb?.code}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">PCB版本</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="version" placeholder="请输入PCB版本" th:value="${pcb?.version}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">PCB名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="name" placeholder="请输入PCB名称" th:value="${pcb?.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">PCB光板号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="light_plate" placeholder="请输入PCB光板号" th:value="${pcb?.light_plate}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否AB面</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="is_AB" placeholder="请输入是否AB面" th:value="${pcb?.is_AB}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">修改标记</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="flag" placeholder="请输入修改标记" th:value="${pcb?.flag}">
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>