<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
<div class="layui-form timo-compile">
    <form class="layui-form" lay-filter="lay_form" id="editForm" th:action="@{/base/processTaskDeviceTheorytime/save}">
        <input type="hidden" name="id" th:if="${processTaskDeviceTheorytime}" th:value="${processTaskDeviceTheorytime.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">机台编号</label>
            <div class="layui-input-inline">
<!--
                <input class="layui-input" type="text" name="deviceCode" autocomplete="off" placeholder="请输入机台编号" th:value="${processTaskDeviceTheorytime?.deviceCode}">
-->
                <input type="hidden" id="deviceCodeValue" autocomplete="off" th:value="${processTaskDeviceTheorytime?.deviceCode}">
                <select name="device_code" id="deviceCode"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">物料编号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="pcbCode" autocomplete="off" placeholder="请输入物料编号" th:value="${processTaskDeviceTheorytime?.pcbCode}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工序任务号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="processTaskCode" autocomplete="off" placeholder="请输入工序任务号" th:value="${processTaskDeviceTheorytime?.processTaskCode}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">数量</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="number" min="0" name="amount" autocomplete="off" placeholder="请输入数量" th:value="${processTaskDeviceTheorytime?.amount}"
                       oninput="value=value.replace(/[^\d]/g,'')">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">理论工时</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="number" min="0" name="theoryTime" autocomplete="off" placeholder="请输入理论工时" th:value="${processTaskDeviceTheorytime?.theoryTime}"
                       oninput="value=value.replace(/[^\d]/g,'')">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">实际工时</label>
            <div class="layui-input-inline">
                <!--
                    禁止粘贴: onpaste="return false"  防止输入0后做除法出错
                    禁止选取: onselectstart="return false"
                    禁止复制: oncopy="return false"
                    禁止剪切: oncut="return false"
                -->
                <input class="layui-input" type="number" id="number" min="0.01" name="workTime" autocomplete="off" placeholder="请输入实际工时" th:value="${processTaskDeviceTheorytime?.workTime}"
                       onkeyup="value=value.replace(/[^\d.]/g,'')=='0' ? '0.01':value" onpaste="return false">
            </div>
        </div>

        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
<!--<script>
    document.getElementById("number").addEventListener("input",function(event){
        event.target.value = event.target.value.replace(/\-/g,"");
    });
</script>-->
<script>
    layui.use(['jquery','layer','form','laydate'],function () {
        var $ = layui.jquery,
            form = layui.form,
            laydate = layui.laydate,
            layer = layui.layer;
        laydate.render({
            elem:"#time",
            type:'datetime',
            trigger:'click'
        });

        $.get('/base/device/findDeviceCode',function (res) {
            if(res.code===200){
                var select = document.getElementById('deviceCode');
                var str = "";

                res.data.forEach(function (t) {
                    str+="<option value='"+t.device_code+"'>"+t.device_code+"</option>"
                });
                select.innerHTML=str;
                form.val('lay_form',{device_code:$('#deviceCodeValue').val()});
            }
        });

        /*$("#deviceCode").find("option[value="+device_code+"]").prop("selected",true);
        form.render();*/
    })
</script>

</body>
</html>