<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form class="layui-form" lay-filter="lay_form" th:action="@{/base/deviceTechnology/save}">
        <input type="hidden" name="id" th:if="${deviceTechnology}" th:value="${deviceTechnology.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">参数编号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="param_code" autocomplete="off" placeholder="请输入参数编号" th:value="${deviceTechnology?.param_code}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">设备编号</label>
            <div class="layui-input-inline">
                <!--<input class="layui-input" type="text" name="device_code" placeholder="请输入设备编号" th:value="${deviceTechnology?.device_code}">-->
                <input type="hidden" id="deviceCodeValue" autocomplete="off" th:value="${deviceTechnology?.device_code}">
                <select name="device_code" id="deviceCode"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">设备名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="device_name" autocomplete="off" placeholder="请输入设备名称" th:value="${deviceTechnology?.device_name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">关键工艺名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="key_technology_name" autocomplete="off" placeholder="请输入关键工艺名称" th:value="${deviceTechnology?.key_technology_name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单位</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="unit" autocomplete="off" placeholder="请输入单位" th:value="${deviceTechnology?.unit}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${deviceTechnology?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
<script>
    var a="";
    layui.use(['jquery','layer','form','laydate'],function () {
        var $ = layui.jquery,
            form = layui.form,
            laydate = layui.laydate,
            layer = layui.layer;
        laydate.render({
            elem:"#time",
            type:'datetime',
            trigger:'click'
        });

        $.get('/base/device/findDeviceCode',function (res) {
            if(res.code===200){
                var select = document.getElementById('deviceCode');
                var str = "";
                /*var d = res.data.map(function (t) {
                    return {device_code:t}
                });
                d.forEach(function (t) {
                    str+="<option value='"+t.device_code+"'>"+t.device_code+"</option>"
                });*/
                res.data.forEach(function (t) {
                    str+="<option value='"+t.device_code+"'>"+t.device_code+"</option>"
                });
                select.innerHTML=str;
                form.val('lay_form',{device_code:$('#deviceCodeValue').val()});
            }
        })


    })
</script>


</body>
</html>