<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <title>超声SMT车间MES系统主页</title>
</head>
<body>
<div id="versionID">
    <ul>
        <li>V1.1.24 13/08/20</li>
        <li>1.修复备料工站生产工序左右上下拉动不了</li>
        <li>2.修复备料工时利用率出入较大</li>
        <li>3.增加没上机，进行中，生产中不能下机功能</li>
        <li>4.修复贴片线扫码后无法登记</li>
        <li>5.修复板编号多了个字母</li>
        <li>6.修复贴片任务刚启动，生产数及当天实际生产数量拦便有数据</li>
        <li>7.修复贴片前后扫码登记无效</li>
        <li>8.修复系统后台勾选‘记住我’登陆不了</li>
        <li>9.修复后焊工站扫码成功后没有置顶状态</li>
        <li>10.修复备料工站物料明细齐套率排序问题及左右拖动拉条需拉到最下才显示</li>
        <li>11.调整看板上岗率，上机人员信息不再是关联任务时才显示</li>
        <li>12.增加投产时，编辑板编号时，可以自由编辑年份</li>
        <li>13.增加已完成的工序任务在看板上只显示到当天</li>
        <li>14.修复物料明细不能加载问题</li>
        <li>15.修复根据是否为贴片工序显示不同的信息</li>
        <li>16.切单页面新增加日计划量与日完成量</li>
        <li>17.关闭岗位分配权限的功能,将多表查询相关的属性设置为懒加载</li>
        <li>18.修改员工上机时长</li>
        <li>19.更新替代料查询接口</li>
        <li>20.非贴片工序增加工站设备</li>
        <li>21.修复日计划列表分页条件查询</li>
        <li>22.新增日计划工站计划达标时全部历史改为已完成</li>
        <li>23.修复周计划看板超过一分钟显示错误问题</li>
        <li>24.修复初始版编号</li>
        <li>25.增加非贴片工序且当天计划生产数据不为空时，不能切单</li>
        <li>26.后台新增日计划判断改工序计划状态</li>
        <li>27.修复平板不良数及生产数</li>
        <li>28.平板界面增加不良数功能及当前无工序时不能录入不良类型</li>
        <li>29.增加扫码计数页面自动刷新</li>
        <li>30.物料明细高度变为490px</li>
        <li>31.投产增加拼板数字段</li>
        <li>32.修复不良登记调整</li>
        <li>33.修复设备计数拼板数bug</li>
        <li>34.物料明细高度变为490px</li>
        <li>35.修复工序日计划不能添加设备问题</li>
        <li>36.排产计划去除编辑按钮，调整板编号输入框区域大小</li>
        <li>37.生产进度统计已完成状态不在当天不显示</li>
    </ul>
    <ul>
        <li>V1.1.23 10/08/20</li>
        <li>1.修复下达多个工站会重复生成板编号</li>
        <li>2.修复多个工站扫码计数后不会做累加 </li>
        <li>3.生产数需根据计数类型取日计划完成量或工站完成量</li>
        <li>4.修复工单没有当天计划量的时候不能行工单切换</li>
        <li>5.修复稼动率时间没满一分钟没转小数</li>
        <li>6.增加版本说明</li>
        <li>7.平板工作历史不去重</li>
        <li>8.看板工时利用率备料项特殊处理</li>
    </ul>
    <ul>
        <li>V1.1.22	06/08/20</li>
        <li>1.同步ERP任务单更新排产计划状态</li>
        <li>2.修复平板切单BUG</li>
        <li>3.关掉后台测试接口</li>
        <li>4.修改平板生产数显示当天的量</li>
    </ul>
    <ul>
        <li>V1.1.21	05/08/20</li>
        <li>1.修复周看板周计划数据移动问题</li>
        <li>2.工序计划去除掉修改状态菜单</li>
        <li>3.工序号计划去除掉查看设备字段</li>
        <li>4.平板增加日计划量及日完成量</li>
    </ul>
    <ul>
        <li>V1.1.20	04/08/20</li>
        <li>1.修改本地数据库密码</li>
        <li>2.修改数据库端口号1433</li>
        <li>3.工序计划把修改状态关掉</li>
        <li>4.增加备份数据库功能</li>
    </ul>
    <ul>
        <li>V1.1.19	03/08/20</li>
        <li>1.修复日计划当天结算</li>
        <li>2.板编号添加实时刷新</li>
        <li>3.优化替代料后端代码</li>
    </ul>
    <ul>
        <li>V1.1.18	01/08/20</li>
        <li>1.增加替换料后台功能</li>
        <li>2.增加稼动率功能</li>
        <li>3.修复程序扫码接口</li>
        <li>4.修复后台元件导入问题</li>
    </ul>
    <ul>
        <li>V1.1.17	31/07/20</li>
        <li>1.更新pda程序列表接口</li>
        <li>2.根据机台编号获取程序列表数据</li>
        <li>3.修复切单状态判断</li>
        <li>4.优化程序列表顺序按占位排序</li>
    </ul>
    <ul>
        <li>V1.1.16	29/07/20</li>
        <li>1.修改权限表达式修改</li>
        <li>2.文件上传修改</li>
        <li>3.程序管理增加查询条件,当物料编号存在空值时提示信息</li>
        <li>4.调整pda程序扫码接口</li>
        <li>5.修复后台元件导入问题</li>
    </ul>
    <ul>
        <li>V1.1.15	28/07/20</li>
        <li>1.不良录入透明由0.1变成0.4 及调整板编号位置</li>
        <li>2.平板Y轴滚动条变小</li>
        <li>3.修复看板日计划</li>
        <li>4.修改权限表达式和员工岗位编辑时数据不存在处理</li>
        <li>5.修改看板为只每隔1分钟只请求当前停留的页面所需要的接口</li>
    </ul>
    <ul>
        <li>V1.1.14	27/07/20</li>
        <li>1.优化日计划再拆分工站计划</li>
        <li>2.修复平板查看板编号列表</li>
        <li>3.pad界面当天计话生产数和实际生产数添加判断功能</li>
        <li>4.修复看板扫码bug</li>
        <li>5.结束工单添加判断</li>
        <li>6.更新生产排班管理和上岗信息管理</li>
        <li>7.修改工号字段</li>
        <li>8.工站不能为空值问题</li>
        <li>9.修复权限分配后台显示</li>
        <li>10.更改看板周完成数据字段</li>
        <li>11.工站拆分新增加计划量和完成量默认为0</li>
    </ul>
    <ul>
        <li>V1.1.13	25/07/20</li>
        <li>1.优化当进度看板超过100%按最大的数值显示</li>
        <li>2.修改启动pad端工单操作功能</li>
        <li>3.优化工站不能重复选择</li>
        <li>4.更新生产排班管理和上岗信息管理</li>
        <li>5.平板排产接口添加设备编号</li>
    </ul>
    <ul>
        <li>V1.1.12	24/07/20</li>
        <li>1.更新开始上料接口</li>
        <li>2.完善日计划再拆分工站计划</li>
        <li>3.修改工单状态调整</li>
        <li>4.后台界面增加下达到工站</li>
        <li>5.工站增加日期限制</li>
        <li>6.处理基础模块编辑数据的下拉框及清除文本框缓存</li>
        <li>7.平板端日计划再拆分工站计划接口</li>
        <li>8.增加站台中文名及相同工站名时提示</li>
        <li>9.修复重新进入子工站时，报不到index问题导致的全部被删除</li>
    </ul>
    <ul>
        <li>V1.1.11	22/07/20</li>
        <li>1.平板在当前生产工序界面加当前工序号</li>
        <li>2.修复平板扫码问题</li>
        <li>3.导入程序功能新增同步获取物料号</li>
        <li>4.修复平板工序任务单修改状态问题</li>
        <li>5.修复设备计数问题</li>
        <li>6.平板增加当前板编号/光板号</li>
    </ul>
    <ul>
        <li>V1.1.10	18/07/20</li>
        <li>1.调整生产计划弹出框详情列表排序</li>
        <li>2.变更二级弹出框关掉方式--隐藏X按钮，点击遮罩层关闭</li>
        <li>3.新增日计划再拆分工站计划功能</li>
        <li>4.看板日任务周完成数量改为后焊终检</li>
    </ul>
    <ul>
        <li>V1.1.09	16/07/20</li>
        <li>1.修复下达时，不选择机台及时间不能提交</li>
        <li>2.增加设备参数功能菜单</li>
        <li>3.增加两个指导书上传完整功能</li>
        <li>4.增加上传文件相关的工具类</li>
        <li>5.规格型号修改为板编号</li>
        <li>6.增加物料明细功能菜单</li>
        <li>7.调整查看工作历史接口平板</li>
        <li>8.调整查看pdf接口</li>
        <li>9.增加操作规范</li>
        <li>10.增加平板系统设置菜单功能</li>
        <li>11.增加工作历史菜单功能</li>
        <li>12.优化时间格式转换</li>
        <li>13.修复平板界面生产工序显示错乱问题</li>
    </ul>
    <ul>
        <li>V1.1.08	15/07/20</li>
        <li>1.优化工序日计划设备表格样式</li>
        <li>2.去除首检菜单</li>
        <li>3.修复工序任务日制令</li>
        <li>4.修复上传功能</li>
        <li>5.修复界面样式问题</li>
    </ul>
    <ul>
        <li>V1.1.07	14/07/20</li>
        <li>1.修复看板周任务去除确认状态</li>
        <li>2.修复平板结束工单，工时为负</li>
        <li>3.修复拆分工序任务日计划调整新增定时器，五分钟设备无响应则</li>
        <li>4.增加停机记录</li>
        <li>5.更新生产排班管理删除问题</li>
        <li>6.优化工序日计划，展示下达的机台</li>
    </ul>
    <ul>
        <li>V1.1.06	10/07/20</li>
        <li>1.看板增加生产信息状态字段</li>
        <li>2.优化看板逻辑</li>
        <li>3.优化贴片内容</li>
        <li>4.计划生产时间功能放到工序日计划菜单里</li>
        <li>5.看板日计划完成量大于计划量时，工单状态改变成“已完成”</li>
    </ul>
    <ul>
        <li>V1.1.05	09/07/20</li>
        <li>1.生成工序任务板编号数据转移至下达工序任务到机台的时候</li>
        <li>2.切分工序计划成日计划调整</li>
        <li>3.新增工序任务日计划编辑删除覆盖</li>
        <li>4.修复拆分工序任务日计划编辑接口</li>
    </ul>
    <ul>
        <li>V1.1.04	08/07/20</li>
        <li>1.更新排产计划初始搜索状态改为全部</li>
        <li>2.平板主页顶部展示机台编号</li>
        <li>3.扫码计数表格添加工序任务号字段展示</li>
        <li>4.更新设备管理占位和版本号</li>
        <li>5.更新排产计划搜索必须从第一页开始</li>
        <li>6.拆分工序任务日计划调整</li>
        <li>7.切换工单状态计算公式改为分钟</li>
    </ul>
    <ul>
        <li>V1.1.03	08/07/20</li>
        <li>1.投产功能修改为投产前，编辑板编号才可投产</li>
        <li>2.排产界面下拉项添加</li>
        <li>3.更新排产计划，领料单详情</li>
        <li>4.优化设备运行情况数值取成整数</li>
        <li>5.修复平板无工序时页面不会实时更新</li>
    </ul>
    <ul>
        <li>V1.1.02	07/07/20</li>
        <li>1.优化排产计划更新</li>
        <li>2.更新员工工号问题</li>
        <li>3.更改版本弹出框手型样式</li>
        <li>4.修复排产计划分页同步</li>
        <li>5.修复排产计划增加状态查询</li>
        <li>6.新增加看板版本说明功能</li>
        <li>7.修改排程计划的板编号编辑</li>
        <li>8.查看排产计划增加全部筛选</li>
    </ul>
    <ul>
        <li>V1.1.01	06/07/20</li>
        <li>1.增加拆分日工序任务功能</li>
        <li>2.修复切单其他机台没有工单时显示方式</li>
        <li>3.修复定时任务计算工时</li>
        <li>4.修复板编号重复计数bug</li>
        <li>5.优化平板当前无工序，添加工序便刷新一次界面</li>
        <li>6.修复看板20分钟后30秒才能进二级菜单</li>
        <li>7.切分工序任务计划详情</li>
        <li>8.查看排产计划时判断是否有光板号再进行同步领料单</li>
        <li>9.修复工时计算</li>
        <li>10.修复排产计划投产前板编号可编辑</li>
        <li>11.修改工序任务实际工时改为单位分钟</li>
    </ul>
    <ul>
        <li>V1.0.13	04/07/20</li>
        <li>1.修复设备计数接口</li>
        <li>2.修复平板结束工序任务</li>
        <li>3.看板比率保留小数点前两位</li>
        <li>4.看板查询日期时间往前推一个小时</li>
        <li>5.平板获取当前上机用户增加上机时间</li>
        <li>6.更新机台实际数量和工作时间</li>
        <li>7.工序计划添加日期插件</li>
        <li>8.优化日期格式及日期相关的sql</li>
        <li>9.平析切单时去除当前单，只显示其他单</li>
        <li>10.看板增加温湿度看板界面</li>
        <li>11.去除界面上的无用的“状态”筛选框</li>
        <li>12.温湿度图标移动时显示手型</li>
        <li>13.平板增加多机台数据定时同步功能</li>
        <li>14.修复工单状态接口bug</li>
    </ul>
    <ul>
        <li>V1.0.12	30/06/20</li>
        <li>1.平板界面增加每15秒刷新一次数量和二维码，手动操作切单也触发刷新</li>
        <li>2.程序增加ab面字段，pda流程更改为以工序任务为标识</li>
        <li>3.排产计划分页同步领料单，记录光板号</li>
        <li>4.看板日计划凌晨一点前默认为前一天</li>
        <li>5.平板页面增加返回当前数量和工作时长</li>
        <li>6.平板修改状态增加当前工序任务id后端判断当前是否已暂停</li>
        <li>7.修复看板超过100%时显示问题及大饼是0%显示问题</li>
        <li>8.pda接口去掉排产计划号参数</li>
        <li>9.开放查找当前机台生产数量接口权限</li>
        <li>10.更新机台实际数量和工作时间</li>
        <li>11.修复看板日进行时长问题</li>
        <li>12.限制在无工序状态下操作工序</li>
        <li>13.系统增加凌晨一点定时自动下机</li>
        <li>14.工时利用率筛选掉未下达和已下达状态的工序任务</li>
        <li>15.更新工序计划的提取功能</li>
        <li>16.排产计划页面在未知加载时间过长时添加load过渡</li>
        <li>17.修复排产计划分页同步领料单</li>
        <li>18.增加获取当前机台用户接口</li>
        <li>19.登记人员信息变更为完全通过接口获取。</li>
        <li>20.更新机台实际数量和工作时间</li>
        <li>21.修复无cookie打开页面时自动下机</li>
    </ul>
    <ul>
        <li>V1.0.11	28/06/20</li>
        <li>1.平板工序任务增加进行中状态</li>
        <li>2.平板添加切单功能</li>
        <li>3.基础数据添加治具类型接口</li>
        <li>4.优化看板界面显示</li>
        <li>5.一个机台只有一条生产中的工序任务</li>
        <li>6.工序增加计数方式字段</li>
        <li>7.调整pda根据工号查询用户接口</li>
        <li>8.平板增加回车搜索</li>
        <li>9.增加钢网管理关联货架</li>
        <li>10.平板增加界面 pda二维码 </li>
        <li>11.增加程序管理关联设备</li>
        <li>12.生产进度看板最多只显示5条记录</li>
        <li>13.增加公共图表样式两套</li>
        <li>14.增加定时器每分钟计算一次工时</li>
        <li>15.优化pda相关接口</li>
        <li>16.增加领料单接口</li>
        <li>17.调整pda扫板编号接口</li>
        <li>18.添加不良按钮</li>
        <li>19.修复看板叠字问题</li>
    </ul>
    <ul>
        <li>V1.0.10	23/06/20</li>
        <li>1.修复排产计划分页查询功能</li>
        <li>2.修复备料计划查询功能</li>
        <li>3.修复平板查询板编号分页功能</li>
        <li>4.隐藏页面主键id列</li>
        <li>5.增加pda相关接口</li>
        <li>6.更新看板人员上机记录</li>
        <li>7.增加生产批次与物料名称字段</li>
        <li>8.增加手持pda功能</li>
        <li>9.更新排产计划上移下移接口</li>
        <li>10.生产进度贴片去除备料</li>
        <li>11.优化排产计划添加时排序号自增问题</li>
        <li>12.修复物料名称及规格型号挪到投料单子前面</li>
        <li>13.排产计划增加排序功能，调整字段显示位置</li>
        <li>14.优化扫码计数及PDA接口</li>
        <li>15.优化看板已知问题</li>
        <li>16.添加回车搜索</li>
        <li>17.看板界面更新时间间隔为1分钟</li>
        <li>18.更新不良类型显示</li>
    </ul>
    <ul>
        <li>V1.0.9	20/06/20</li>
        <li>1.增加排产计划模糊查询</li>
        <li>2.用layui表格重构排产计划页面</li>
        <li>3.临时方案稼动率完成</li>
        <li>4.增加平板不良录入</li>
        <li>5.修复备料工序计划查询</li>
        <li>6.去掉日报表设备编号</li>
        <li>7.更新工序理论工时</li>
        <li>8.修复上岗率接口问题</li>
        <li>9.更改批次完成率为倒序</li>
        <li>10.不良登记增加添加功能</li>
        <li>11.工序计划增加编辑功能</li>
        <li>12.扫码登记，title修改</li>
    </ul>
    <ul>
        <li>V1.0.8	18/06/20</li>
        <li>1.增加查询用户接口</li>
        <li>2.修改员工接口</li>
        <li>3.基础数据下拉框相关的接口</li>
        <li>4.增加看板齐套率使用备料工序计划</li>
        <li>5.修改工序任务编号生成规则</li>
        <li>6.增加记录每一块板编号功能</li>
        <li>7.后台管理工序管理增加工序类型字段</li>
        <li>8.增加平板扫码计数功能</li>
        <li>9.增大滚动条宽高度</li>
        <li>10.修改看板设备任务接口</li>
        <li>11.过滤掉生产进度看板已完成的数据</li>
        <li>12.修改工时利用率为实际生产数量得出理论总工时</li>
        <li>13.后台备料工序计划展示批次与任务号</li>
        <li>14.更新看板任务信息逻辑</li>
        <li>15.PDA根据排产计划任务与设备号生成元件位置记录表</li>
        <li>16.更新排产计划接口及平板排产计划接口</li>
        <li>17.修改排产计划显示排序规则</li>
        <li>18.平板设备编号改为smt生产线</li>
    </ul>
    <ul>
        <li>V1.0.7	15/06/20</li>
        <li>1.设备看板贴片任务增加滚动信息</li>
        <li>2.修改logo点击上下滑动</li>
        <li>3.调整日看板字段</li>
        <li>4.周任务完成数量接口增加计划完成总数sumPlanAmount字段</li>
        <li>5.增加设备日运行时长接口</li>
        <li>6.增加设备日状态信息接口</li>
        <li>7.修复同步ERP接口</li>
        <li>8.修复中齐套率功能</li>
        <li>9.增加查看设备接口增加返回当前上机用户</li>
        <li>10.增加查看三台贴片机的当前周工序任务</li>
        <li>11.增加设备信息-生产信息功能</li>
        <li>12.修改排产计划同步按钮</li>
    </ul>
    <ul>
        <li>V1.0.6	14/06/20</li>
        <li>1.增加工序理论工时表</li>
        <li>2.增加看板工序/上岗率/工时利用率 </li>
        <li>3.看板增加人员信息统计表界面</li>
        <li>4.sql执行去除敏感检测</li>
        <li>5.增加设备看板温湿度显示功能</li>
        <li>6.增加设备看板不良率</li>
        <li>7.临时修改工单接口增加修改字段</li>
        <li>8.修改各批次完成率</li>
        <li>9.增加实际生产时间，计划开始时间，计划完成时间</li>
        <li>10.修复任务达成率饼图</li>
        <li>11.修复任务达成率饼图</li>
        <li>12.日任务开放一整周</li>
        <li>13.增加查看设备接口</li>
        <li>14.修改设备状态颜色</li>
        <li>15.修改生产进度表数据展示</li>
        <li>16.增加生产看板周日数据</li>
        <li>17.修改上岗率接口查询出错问题</li>
    </ul>
    <ul>
        <li>V1.0.5	13/06/20</li>
        <li>1.增加设备启停状态看板接口</li>
        <li>2.增加机器计数接口</li>
        <li>3.调整平板登录返回员工岗位</li>
        <li>4.优化上下机流程</li>
        <li>5.登录时间，添加到秒</li>
        <li>6.增加人员看板接口</li>
        <li>7.优化根据工序任务编号查找工序</li>
        <li>8.添加指导书功能</li>
        <li>9.优化看板批次功能</li>
        <li>10.优化日计划,生产任务周达成率</li>
        <li>11.修复平板工号不存在问题</li>
        <li>12.增加排班表及人员上岗信息表</li>
        <li>13.增加产线日任务达成率、生产进度看板A部分的五个柱状图接口</li>
        <li>14.新增表格数据库关键字出错替换成正常字段名</li>
        <li>15.增加扫码生产计数功能</li>
        <li>16.增加看板--生产进度表</li>
        <li>17.提供临时测试接口</li>
        <li>18.优化看板已接口数据</li>
        <li>19.修复第一个看板rate除不尽bug</li>
    </ul>
    <ul>
        <li>V1.0.4	10/06/20</li>
        <li>1.修复平板只能启动问题</li>
        <li>2.增加技能接口</li>
        <li>3.优化下机接口</li>
        <li>4.增加查看PDF接口</li>
        <li>5.修改角色替换成岗位</li>
        <li>6.隐藏基础表不需要用的创建时间，更新时间及数据状态</li>
        <li>7.排产计划主页显示字段调整</li>
        <li>8.添加货架编号数据</li>
        <li>9.添加不良登記</li>
        <li>10.添加光板,程序,操作指导书,作业指导书相关的类和页面</li>
        <li>11.添加不良登記功能</li>
        <li>12.更新时间类型</li>
        <li>13.修复看板接口</li>
    </ul>
    <ul>
        <li>V1.0.3	05/06/20</li>
        <li>1.增加投料单备料工序计划</li>
        <li>2.增加机台生产任务单设备数量状态接口</li>
        <li>3.增加机台获取工序计划</li>
        <li>4.增加员工上机同步排产接口调整</li>
        <li>5.增加设备计数接口，员工上机工序计划操作</li>
        <li>6.调整看板功能</li>
        <li>7.增加设备维护，质量管理，设备监控模块建表</li>
        <li>8.增加shiro开放查询机台任务接口</li>
        <li>9.增加工序计划单操作接口同步ERP调整</li>
        <li>10.增加工序计划状态</li>
        <li>11.修复其他已知样式问题</li>
        <li>12.增加工序计划操作接口</li>
        <li>13.修复上机记录，下机接口</li>
        <li>14.看板数据变更为视图数据</li>
        <li>15.登录过期时间延长至12小时</li>
    </ul>
    <ul>
        <li>V1.0.2	01/06/20</li>
        <li>1.增加平板界面功能</li>
        <li>2.增加看板第一版本功能</li>
        <li>3.完成投料单同步</li>
        <li>4.页面执行sql生产业务调整</li>
        <li>5.工序计划增加工序计划编号</li>
        <li>6.工序计划调整，技能表添加</li>
        <li>7.完成下达功能</li>
        <li>8.增加备料工序计划展示</li>
    </ul>
    <ul>
        <li>V1.0.1	26/05/20</li>
        <li>1.新增工序任务单</li>
        <li>2.新增排产计划同步接口</li>
        <li>3.排产计划拆分工序任务单接口</li>
        <li>4.工序任务单下达到机台接口</li>
        <li>5.增加界面换肤</li>
    </ul>
    <ul>
        <li>V1.0.0	14/05/20</li>
        <li>1.环境，开发框架搭建</li>
        <li>2.基础功能模块搭建</li>
        <li>3.Sqlserver数据库搭建</li>
    </ul>
</div>
</body>
</html>