<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/produce/pcbCirculation/save}">
        <input type="hidden" name="id" th:if="${pcbCirculation}" th:value="${pcbCirculation.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">版编号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="pcb_code" autocomplete="off" placeholder="请输入版编号" th:value="${pcbCirculation?.pcb_code}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工序</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="process_name" autocomplete="off" placeholder="请输入工序" th:value="${pcbCirculation?.process_name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用料详情</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="material_detail" autocomplete="off" placeholder="请输入用料详情" th:value="${pcbCirculation?.material_detail}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">不良记录</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="bad_record" autocomplete="off" placeholder="请输入不良记录" th:value="${pcbCirculation?.bad_record}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">机台</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="device" autocomplete="off" placeholder="请输入机台" th:value="${pcbCirculation?.device}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">质检信息</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="inspection_msg" autocomplete="off" placeholder="请输入质检信息" th:value="${pcbCirculation?.inspection_msg}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${pcbCirculation?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>