<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/base/solder/save}">
        <input type="hidden" name="id" th:if="${solder}" th:value="${solder.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">编号</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="text" name="num" placeholder="请输入编号" th:value="${solder?.num}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="text" name="name" placeholder="请输入名称" th:value="${solder?.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">厂家</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="text" name="manufactor" placeholder="请输入厂家" th:value="${solder?.manufactor}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">批号</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="text" name="batchNumber" placeholder="请输入批号" th:value="${solder?.batchNumber}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">数量</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="number" name="number" placeholder="请输入数量" th:value="${solder?.number}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出厂日期</label>
            <div class="layui-input-inline">
                <input class="layui-input" id="time" type="text" name="productionDate" placeholder="请输入出厂日期" th:value="${#dates.format(solder?.productionDate, 'yyyy-MM-dd HH:mm:ss')}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">保质期</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="text" name="shelfLife" placeholder="请输入保质期" th:value="${solder?.shelfLife}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${solder?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
    <script>
        var a="";
        layui.use(['jquery','layer','form','laydate'],function () {
            var $ = layui.jquery,
                form = layui.form,
                laydate = layui.laydate,
                layer = layui.layer;
            laydate.render({
                elem:"#time",
                type:'datetime',
                trigger:'click'
            });

        })
    </script>
</body>
</html>