<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">

    <link rel="Stylesheet" href="../../css/scltb1.css">
    <style>
        .inputSpan {
            position: relative;
            display: inline-block;
            width: 80px;
            height: 13px;
        }

        .inputSpan input {
            position: absolute;
            width: 100%;
            border: none;
            text-align: left;
            left: 0;
        }

        td {
            vertical-align: middle;
            position: relative;
            padding: 0;
            overflow: hidden;
        }
    </style>

</head>

<body link=blue vlink=purple>

    <table border=0 cellpadding=0 cellspacing=0 width=756 style='border-collapse:
 collapse;table-layout:fixed;width:800px;'>
        <col width=75 style='width:56pt'>
        <col width=101 style='width:76pt'>
        <col width=37 span=2 style='width:28pt'>
        <col width=45 style='width:34pt'>
        <col width=37 style='width:28pt'>
        <col width=57 style='width:43pt'>
        <col width=41 style='width:31pt'>
        <col width=69 style='width:52pt'>
        <col width=37 span=2 style='width:28pt'>
        <col width=61 span=3 style='width:46pt'>
        <tr height=18 style='height:14.1pt'>
            <td height=18 width=75 style='height:14.1pt;width:56pt'></td>
            <td width=101 style='width:76pt'></td>
            <td class=xl67 width=37 style='width:28pt'></td>
            <td class=xl67 width=37 style='width:28pt'></td>
            <td width=45 style='width:34pt'></td>
            <td width=37 style='width:28pt'></td>
            <td width=57 style='width:43pt'></td>
            <td width=41 style='width:31pt'></td>
            <td width=69 style='width:52pt'></td>
            <td class=xl95 colspan=4 width=196 style='width:148pt'>万吉厂区<input type="checkbox" />
                金砂厂区<input type="checkbox" /></td>
            <td class=xl70 width=61 style='width:46pt'>ZJ-F043H</td>
        </tr>
        <tr class=xl89 height=24 style='height:18.6pt'>
            <td colspan=14 height=24 class=xl117 style='height:18.6pt'>生产流通表（一）</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td colspan=14 height=20 class=xl118 style='height:15.0pt;border-right:none;'>RoHS:Y<input
                    type="checkbox" />/N<input type="checkbox" /><span >    </span></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td colspan=14 height=20 class=xl121 style='border-right:1.0pt solid black;
  height:15.0pt'>生产型号：<span class="inputSpan"><input></span>
                <font class="font14"><span > </span></font>
                <font class="font9">生产批次：<span class="inputSpan"><input></span></font>投产台数：<span
                    class="inputSpan"><input></span></font>数量：<span class="inputSpan"><input></span></font>
                <font class="font9"><span >  </span>修改标记：<span class="inputSpan"><input></span>
                </font>
            </td>
        </tr>
        <tr height=16 style='height:12.0pt'>
            <td colspan=4 rowspan=2 height=32 class=xl135 style='border-right:.5pt solid black;
  height:24.0pt'>部件名称：<span class="inputSpan" style="width:150px;"><input></span></td>
            <td rowspan=8 class=xl124 style='border-bottom:.5pt solid black;border-top:
  none'>承接<br>上道</td>
            <td rowspan=2 class=xl138 width=37 style='border-bottom:.5pt solid black;
  border-top:none;width:28pt'>承接次数</td>
            <td rowspan=2 class=xl140 style='border-bottom:.5pt solid black;border-top:
  none'>承接人</td>
            <td rowspan=2 class=xl74 style='border-top:none'>数量</td>
            <td rowspan=2 class=xl74 style='border-top:none'>日期</td>
            <td rowspan=8 class=xl124 style='border-bottom:.5pt solid black;border-top:
  none'>拍照<br>存档</td>
            <td colspan=2 rowspan=2 class=xl74>执行人</td>
            <td rowspan=2 class=xl140 style='border-bottom:.5pt solid black;border-top:
  none'>确认人</td>
            <td rowspan=2 class=xl133 style='border-bottom:.5pt solid black;border-top:
  none'>日期</td>
        </tr>
        <tr height=16 style='height:12.0pt'> </tr>
        <tr height=9 style='height:6.95pt'>
            <td colspan=4 rowspan=3 height=27 class=xl135 style='border-right:.5pt solid black;
  height:20.85pt'>PCB板号：<span class="inputSpan" style="width:150px;"><input></span></td>
            <td rowspan=2 class=xl124 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan"><input></span></td>
            <td rowspan=2 class=xl153 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan"><input></span></td>
            <td rowspan=2 class=xl114 style='border-top:none'><span class="inputSpan"><input></span></td>
            <td rowspan=2 class=xl114 style='border-top:none'><span class="inputSpan"><input></span></td>
            <td colspan=2 rowspan=6 class=xl127 style='border-right:.5pt solid black;
  border-bottom:.5pt solid black'><span class="inputSpan"><input></span></td>
            <td rowspan=6 class=xl140 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan"><input></span></td>
            <td rowspan=6 class=xl133 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan"><input></span></td>
        </tr>
        <tr height=9 style='height:6.95pt'> </tr>
        <tr height=9 style='height:6.95pt'>
            <td rowspan=2 height=18 class=xl124 style='border-bottom:.5pt solid black;
  height:13.9pt;border-top:none'><span class="inputSpan"><input></span></td>
            <td rowspan=2 class=xl141 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan"><input></span></td>
            <td rowspan=2 class=xl115 style='border-top:none'><span class="inputSpan"><input></span></td>
            <td rowspan=2 class=xl115 style='border-top:none'><span class="inputSpan"><input></span></td>
        </tr>
        <tr height=9 style='height:6.95pt'>
            <td colspan=4 rowspan=3 height=27 class=xl135 style='border-right:.5pt solid black;
  height:20.85pt'>板编码：<span class="inputSpan" style="width:150px;"><input></span></td>
        </tr>
        <tr height=9 style='height:6.95pt'>
            <td rowspan=2 height=18 class=xl124 style='border-bottom:.5pt solid black;
  height:13.9pt;border-top:none'><span class="inputSpan"><input></span></td>
            <td rowspan=2 class=xl141 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan"><input></span></td>
            <td rowspan=2 class=xl141 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan"><input></span></td>
            <td rowspan=2 class=xl115 style='border-top:none'><span class="inputSpan"><input></span></td>
        </tr>
        <tr height=9 style='height:6.95pt'> </tr>
        <tr height=26 style='height:20.1pt'>
            <td height=26 class=xl71 width=75 style='height:20.1pt;border-top:none;
  width:56pt'>生产内容</td>
            <td class=xl74 style='border-top:none;border-left:none'>设备名称</td>
            <td colspan=2 class=xl73 width=74 style='border-left:none;width:56pt'>设备编号</td>
            <td colspan=5 class=xl76 style='border-left:none'>关键工艺参数</td>
            <td colspan=3 class=xl74 style='border-left:none'>程序名称</td>
            <td class=xl73 width=61 style='border-top:none;border-left:none;width:46pt'>程序正常</td>
            <td class=xl80 style='border-top:none;border-left:none'>操作者</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td rowspan=2 height=40 class=xl148 width=75 style='height:30.0pt;border-top:
  none;width:56pt'><span class="inputSpan"><input></span></td>
            <td rowspan=2 class=xl127 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan"><input></span></td>
            <td colspan=2 rowspan=2 class=xl127 style='border-right:.5pt solid black;
  border-bottom:.5pt solid black'><span class="inputSpan"><input></span></td>
            <td colspan=5 class=xl150 style='border-left:none'>供气压力：<span class="inputSpan"><input></span>
                <font class="font12">
                    kgf/c㎡<span >   </span></font>
            </td>
            <td colspan=3 rowspan=2 class=xl74><span class="inputSpan" style="width:120px;"><input></span></td>
            <td rowspan=2 class=xl74 style='border-top:none'><input type="checkbox" /></td>
            <td rowspan=2 class=xl80 style='border-top:none'><span class="inputSpan"><input></span></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td colspan=5 height=20 class=xl150 style='height:15.0pt;border-left:none'>焊头温度：<span
                    class="inputSpan"><input></span>
                <font class="font12"> ℃<span > </span></font>
            </td>
        </tr>
        <tr height=32 style='height:24.0pt'>
            <td height=32 class=xl83 style='height:24.0pt'>——</td>
            <td class=xl74 style='border-top:none'>生产者</td>
            <td class=xl73 width=37 style='border-top:none;border-left:none;width:28pt'>生产数量</td>
            <td class=xl78 width=37 style='border-left:none;width:28pt'>清产核对</td>
            <td class=xl74 style='border-top:none;border-left:none'>首检</td>
            <td colspan=2 class=xl151 style='border-left:none'>QC</td>
            <td class=xl73 width=41 style='border-top:none;border-left:none;width:31pt'>检查数量</td>
            <td class=xl74 style='border-top:none;border-left:none'>日期</td>
            <td rowspan=6 class=xl143 width=37 style='border-top:none;width:28pt'>交接下道</td>
            <td class=xl73 width=37 style='border-top:none;border-left:none;width:28pt'>交接次数</td>
            <td class=xl76 style='border-left:none'>交接人</td>
            <td class=xl76 style='border-left:none'>数量</td>
            <td class=xl77 style='border-left:none'>日期</td>
        </tr>
        <tr height=20 style='height:15.6pt'>
            <td height=20 class=xl104 style='height:15.6pt'><span class="inputSpan"><input></span></td>
            <td class=xl72 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl74 style='border-top:none'><span class="inputSpan"><input></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><input type="checkbox" /></td>
            <td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td colspan=2 class=xl72 style='border-right:.5pt solid black;border-left:
  none'><span class="inputSpan"><input></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl80 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
        </tr>
        <tr height=20 style='height:15.6pt'>
            <td height=20 class=xl85 width=75 style='height:15.6pt;border-top:none;
  width:56pt'><span class="inputSpan"><input></span></td>
            <td class=xl72 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl74 style='border-top:none'><span class="inputSpan"><input></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><input type="checkbox" /></td>
            <td class=xl65 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td colspan=2 class=xl72 style='border-right:.5pt solid black;border-left:
  none'><span class="inputSpan"><input></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl101 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
        </tr>
        <tr height=20 style='height:15.6pt'>
            <td height=20 class=xl85 width=75 style='height:15.6pt;border-top:none;
  width:56pt'><span class="inputSpan"><input></span></td>
            <td class=xl72 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl74 style='border-top:none'><span class="inputSpan"><input></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><input type="checkbox" /></td>
            <td class=xl65 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td colspan=2 class=xl72 style='border-right:.5pt solid black;border-left:
  none'><span class="inputSpan"><input></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl101 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
        </tr>
        <tr height=20 style='height:15.6pt'>
            <td height=20 class=xl85 width=75 style='height:15.6pt;border-top:none;
  width:56pt'><span class="inputSpan"><input></span></td>
            <td class=xl72 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl74 style='border-top:none'><span class="inputSpan"><input></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><input type="checkbox" /></td>
            <td class=xl65 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td colspan=2 class=xl72 style='border-right:.5pt solid black;border-left:
  none'><span class="inputSpan"><input></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl101 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
        </tr>
        <tr height=20 style='height:15.6pt'>
            <td height=20 class=xl86 width=75 style='height:15.6pt;border-top:none;
  width:56pt'><span class="inputSpan"><input></span></td>
            <td class=xl72 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl75 style='border-top:none'><span class="inputSpan"><input></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><input type="checkbox" /></td>
            <td class=xl65 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td colspan=2 class=xl72 style='border-right:.5pt solid black;border-left:
  none'><span class="inputSpan"><input></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
            <td class=xl101 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
        </tr>
        <tr height=26 style='height:20.1pt'>
            <td colspan=12 height=26 class=xl105 style='border-right:.5pt solid black;
  height:20.1pt'>(1-不良电路板数量÷电路板总数)×100%＝电路板合格率</td>
            <td colspan=2 class=xl111 style='border-right:1.0pt solid black'>统计人</td>
        </tr>
        <tr height=26 style='height:20.1pt'>
            <td colspan=12 height=26 class=xl108 style='border-right:.5pt solid black;
  height:20.1pt'>(1－<span class="inputSpan"><input></span>÷<span class="inputSpan"><input></span>)×100%＝<span
                    class="inputSpan"><input></span>%</td>
            <td colspan=2 class=xl109 style='border-right:1.0pt solid black'><span class="inputSpan"><input></span></td>
        </tr>
        <tr height=33 style='height:24.95pt'>
            <td height=33 class=xl88 style='height:24.95pt;border-top:none'>备 注</td>
            <td colspan=13 class=xl152 style='border-left:none'><span class="inputSpan"
                    style="width:100%"><input></span></td>
        </tr>
        <tr height=20 style='height:15.6pt'>
            <td height=20 class=xl92 colspan=13 style='height:15.6pt;'>
                注：1.完成生产后生产者清产核对器件数量，如正确请在清产核对<input type="checkbox" />打√，否则上报车间管理人员；</td>
            <td class=xl102></td>
        </tr>
        <tr height=20 style='height:15.6pt'>
            <td height=20 class=xl92 colspan=12 style='height:15.6pt;'><span
                    >    </span>2.生产该板使用到的设备、程序正常项<input type="checkbox" />打√，填写相应的关键工艺参数、程序名称。
            </td>
            <td colspan=2 class=xl68></td>
        </tr>

    </table>

</body>

</html>