<!doctype html
  public "-//w3c//dtd xhtml 1.0 transitional//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="Stylesheet" href="../../css/scltb4.css">
  <style>
    table {
      margin: 0 auto;
    }
    * {
      background: #000 !important;
      color: #0f0 !important;
      outline: solid #f00 1px !important;
    }
  </style>
</head>

<body link='blue' vlink='purple'>

  <table border='0' cellpadding='0' cellspacing='0' width='1229' style='border-collapse: 
 collapse;table-layout:fixed;width:921pt'>
    <col width='37' style='width:27.75pt'>
    <col width='125' style='width:93.75pt'>
    <col class='x65' width='53' style='width:39.75pt'>
    <col width='85' span='2' style='width:63.75pt'>
    <col width='69' span='2' style='width:51.75pt'>
    <col width='85' style='width:63.75pt'>
    <col width='13' style='width:9.75pt'>
    <col width='37' style='width:27.75pt'>
    <col width='125' style='width:93.75pt'>
    <col width='53' style='width:39.75pt'>
    <col width='85' span='2' style='width:63.75pt'>
    <col width='69' span='2' style='width:51.75pt'>
    <col width='85' style='width:63.75pt'>
    <tr height='29' style='height:21.75pt' id='r0'>
      <td height='26' class='x66' width='37' style='height:19.5pt;width:27.75pt;'><a name="Print_Area"><span
            style='font-size:12pt;color:#000000;font-weight:700;text-decoration:none;font-family:"宋体";'>序号</span></a>
      </td>
      <td class='x67' width='125' style='width:93.75pt;'>序列码</td>
      <td height='26' class='x234' width='53' style='height:19.5pt;width:39.75pt;' align='left' valign='top'><span
          style='position:absolute;z-index:46;margin-left:0px;margin-top:0px;width:53px;height:1px'></span><span
          style='position:absolute;z-index:28;margin-left:0px;margin-top:0px;width:53px;height:1px'></span><span
          style='position:absolute;z-index:48;margin-left:0px;margin-top:0px;width:53px;height:1px'></span><span
          style='position:absolute;z-index:52;margin-left:0px;margin-top:0px;width:53px;height:1px'></span><span
          style='position:absolute;z-index:49;margin-left:0px;margin-top:0px;width:362px;height:1px'></span><span
          style='position:absolute;z-index:23;margin-left:0px;margin-top:0px;width:53px;height:1px'></span><span
          style='position:absolute;z-index:4;margin-left:0px;margin-top:0px;width:53px;height:1px'></span><span
          style='position:absolute;z-index:0;margin-left:0px;margin-top:0px;width:446px;height:1px'></span><span
          style='position:absolute;z-index:16;margin-left:0px;margin-top:0px;width:53px;height:1px'></span><span
          style='position:absolute;z-index:22;margin-left:0px;margin-top:0px;width:53px;height:1px'></span><span
          style='position:absolute;z-index:17;margin-left:0px;margin-top:0px;width:362px;height:1px'></span><span
          style='position:absolute;z-index:76;margin-left:0px;margin-top:0px;width:53px;height:1px'></span><span
          style='position:absolute;z-index:74;margin-left:0px;margin-top:0px;width:53px;height:1px'></span><span
          style='position:absolute;z-index:77;margin-left:0px;margin-top:0px;width:362px;height:1px'></span><span
          style='position:absolute;z-index:81;margin-left:0px;margin-top:0px;width:53px;height:1px'></span><span
          style='position:absolute;z-index:80;margin-left:0px;margin-top:0px;width:53px;height:1px'></span><span
          style='position:absolute;z-index:67;margin-left:0px;margin-top:0px;width:53px;height:1px'></span><span
          style='position:absolute;z-index:60;margin-left:0px;margin-top:0px;width:53px;height:1px'></span><span
          style='position:absolute;z-index:53;margin-left:0px;margin-top:0px;width:53px;height:1px'></span><span
          style='position:absolute;z-index:62;margin-left:0px;margin-top:0px;width:53px;height:1px'></span><span
          style='position:absolute;z-index:66;margin-left:0px;margin-top:0px;width:53px;height:1px'></span><span
          style='position:absolute;z-index:63;margin-left:0px;margin-top:0px;width:362px;height:1px'></span><span>
          <table cellpadding='0' cellspacing='0'>
            <tr>
              <td height='26' class='x233' width='53' style='height:19.5pt;width:39.75pt;'>位 号</td>
            </tr>
          </table>
        </span></td>
      <td class='x67' width='85' style='width:63.75pt;'>不良现象</td>
      <td class='x67' width='85' style='width:63.75pt;'>修复情况</td>
      <td class='x67' width='69' style='width:51.75pt;'>修复者</td>
      <td class='x67' width='69' style='width:51.75pt;'>QC</td>
      <td class='x69' width='85' style='width:63.75pt;'>备 注</td>
      <td rowspan='26' height='697' class='x90' width='13'
        style='border-right:2px solid windowtext;border-bottom:2px solid windowtext;height:522.75pt;width:9.75pt;'></td>
      <td class='x66' width='37' style='width:27.75pt;'>序号</td>
      <td class='x67' width='125' style='width:93.75pt;'>序列码</td>
      <td class='x68' width='53' style='width:39.75pt;'>位 号</td>
      <td class='x67' width='85' style='width:63.75pt;'>不良现象</td>
      <td class='x67' width='85' style='width:63.75pt;'>修复情况</td>
      <td class='x67' width='69' style='width:51.75pt;'>修复者</td>
      <td class='x67' width='69' style='width:51.75pt;'>QC</td>
      <td class='x93' width='85' style='width:63.75pt;'>备 注</td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r1'>
      <td height='24' class='x70' style='height:18.6pt;'>1</td>
      <td class='x71'>1234A200001R</td>
      <td class='x71'>V1</td>
      <td class='x72'>虚焊</td>
      <td class='x72'>已修复</td>
      <td class='x72'>张XX</td>
      <td class='x72'>林XX</td>
      <td class='x73'></td>
      <td class='x70'>26</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x94'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r2'>
      <td height='24' class='x70' style='height:18.6pt;'>2</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x73'></td>
      <td class='x70'>27</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x94'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r3'>
      <td height='24' class='x70' style='height:18.6pt;'>3</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x73'></td>
      <td class='x70'>28</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x94'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r4'>
      <td height='24' class='x70' style='height:18.6pt;'>4</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x73'></td>
      <td class='x70'>29</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x94'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r5'>
      <td height='24' class='x70' style='height:18.6pt;'>5</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x73'></td>
      <td class='x70'>30</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x94'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r6'>
      <td height='24' class='x70' style='height:18.6pt;'>6</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x73'></td>
      <td class='x70'>31</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x94'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r7'>
      <td height='24' class='x70' style='height:18.6pt;'>7</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x73'></td>
      <td class='x70'>32</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x94'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r8'>
      <td height='24' class='x70' style='height:18.6pt;'>8</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x73'></td>
      <td class='x70'>33</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x94'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r9'>
      <td height='24' class='x70' style='height:18.6pt;'>9</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x73'></td>
      <td class='x70'>34</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x94'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r10'>
      <td height='24' class='x70' style='height:18.6pt;'>10</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x73'></td>
      <td class='x70'>35</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x94'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r11'>
      <td height='24' class='x70' style='height:18.6pt;'>11</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x73'></td>
      <td class='x70'>36</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x94'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r12'>
      <td height='24' class='x70' style='height:18.6pt;'>12</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x73'></td>
      <td class='x70'>37</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x94'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r13'>
      <td height='24' class='x70' style='height:18.6pt;'>13</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x73'></td>
      <td class='x70'>38</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x94'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r14'>
      <td height='24' class='x70' style='height:18.6pt;'>14</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x73'></td>
      <td class='x70'>39</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x94'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r15'>
      <td height='24' class='x70' style='height:18.6pt;'>15</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x73'></td>
      <td class='x70'>40</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x94'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r16'>
      <td height='24' class='x70' style='height:18.6pt;'>16</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x73'></td>
      <td class='x70'>41</td>
      <td class='x71'></td>
      <td class='x71'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x74'></td>
      <td class='x94'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r17'>
      <td height='24' class='x70' style='height:18.6pt;'>17</td>
      <td class='x75'></td>
      <td class='x75'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x77'></td>
      <td class='x70'>42</td>
      <td class='x75'></td>
      <td class='x75'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x95'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r18'>
      <td height='24' class='x70' style='height:18.6pt;'>18</td>
      <td class='x75'></td>
      <td class='x75'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x77'></td>
      <td class='x70'>43</td>
      <td class='x75'></td>
      <td class='x75'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x95'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r19'>
      <td height='24' class='x70' style='height:18.6pt;'>19</td>
      <td class='x75'></td>
      <td class='x75'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x77'></td>
      <td class='x70'>44</td>
      <td class='x75'></td>
      <td class='x75'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x95'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r20'>
      <td height='24' class='x70' style='height:18.6pt;'>20</td>
      <td class='x75'></td>
      <td class='x75'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x77'></td>
      <td class='x70'>45</td>
      <td class='x75'></td>
      <td class='x75'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x95'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r21'>
      <td height='24' class='x70' style='height:18.6pt;'>21</td>
      <td class='x75'></td>
      <td class='x75'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x77'></td>
      <td class='x70'>46</td>
      <td class='x75'></td>
      <td class='x75'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x95'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r22'>
      <td height='24' class='x70' style='height:18.6pt;'>22</td>
      <td class='x75'></td>
      <td class='x75'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x77'></td>
      <td class='x70'>47</td>
      <td class='x75'></td>
      <td class='x75'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x95'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r23'>
      <td height='24' class='x70' style='height:18.6pt;'>23</td>
      <td class='x75'></td>
      <td class='x75'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x77'></td>
      <td class='x70'>48</td>
      <td class='x75'></td>
      <td class='x75'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x95'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r24'>
      <td height='24' class='x70' style='height:18.6pt;'>24</td>
      <td class='x75'></td>
      <td class='x75'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x77'></td>
      <td class='x70'>49</td>
      <td class='x75'></td>
      <td class='x75'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x76'></td>
      <td class='x95'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r25'>
      <td height='23' class='x70' style='height:17.85pt;'>25</td>
      <td class='x78'></td>
      <td class='x78'></td>
      <td class='x79'></td>
      <td class='x79'></td>
      <td class='x79'></td>
      <td class='x79'></td>
      <td class='x80'></td>
      <td class='x70'>50</td>
      <td class='x78'></td>
      <td class='x78'></td>
      <td class='x79'></td>
      <td class='x79'></td>
      <td class='x79'></td>
      <td class='x79'></td>
      <td class='x96'></td>
    </tr>
    <tr height='26' class='x64' style='height:20.1pt' id='r26'>
      <td rowspan='2' height='51' class='x81'
        style='border-right:1px solid windowtext;border-bottom:2px solid windowtext;height:38.7pt;'>缺陷类型统计</td>
      <td class='x82'>虚焊</td>
      <td colspan='2' class='x82' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>
      <td class='x83'></td>
      <td colspan='2' class='x82' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>
      <td colspan='3' class='x67' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>
      <td class='x83'></td>
      <td colspan='2' class='x82' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>
      <td class='x83'></td>
      <td colspan='2' class='x82' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>
      <td class='x97'></td>
    </tr>
    <tr height='26' class='x64' style='height:20.1pt' id='r27'>
      <td class='x85'>1</td>
      <td colspan='2' class='x85' style='border-right:1px solid windowtext;border-bottom:2px solid windowtext;'></td>
      <td class='x79'></td>
      <td colspan='2' class='x85' style='border-right:1px solid windowtext;border-bottom:2px solid windowtext;'></td>
      <td colspan='3' class='x86' style='border-right:1px solid windowtext;border-bottom:2px solid windowtext;'></td>
      <td class='x79'></td>
      <td colspan='2' class='x85' style='border-right:1px solid windowtext;border-bottom:2px solid windowtext;'></td>
      <td class='x79'></td>
      <td colspan='2' class='x85' style='border-right:1px solid windowtext;border-bottom:2px solid windowtext;'></td>
      <td class='x98'></td>
    </tr>
    <tr height='29' class='x64' style='height:21.95pt' id='r28'>
      <td colspan='15' height='25' class='x87' style='border-bottom:2px solid windowtext;height:18.95pt;'>
        <font class="font2">合格率：　</font>
        <font class="font29"><span
            style=''>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>( 1 </font>
        <font class="font2">－　</font>
        <font class="font29">1</font>
        <font class="font2">　</font>
        <font class="font29"><span style='white-space:nowrap;'>&nbsp; </span></font>
        <font class="font2">÷　</font>
        <font class="font29">200</font>
        <font class="font2">　</font>
        <font class="font29"><span style='white-space:nowrap;'>&nbsp; </span></font>
        <font class="font2">　</font>
        <font class="font29">) </font>
        <font class="font2">×</font>
        <font class="font29">&nbsp;100% </font>
        <font class="font2">＝　　</font>
        <font class="font29">99.00</font>
        <font class="font2">　</font>
        <font class="font29"><span style=''>&nbsp;&nbsp; </span>%</font>
        <font class="font2">　</font>
      </td>
      <td colspan='2' class='x88' style='border-right:2px solid windowtext;border-bottom:2px solid windowtext;'>统计人:张XX
      </td>
    </tr>
    <tr height='19' style='height:14.25pt' id='r29'>
      <td height='19' style='height:14.25pt'></td>
      <td></td>
      <td class='x65'></td>
      <td colspan='2'></td>
      <td colspan='2'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td colspan='2'></td>
      <td colspan='2'></td>
      <td></td>
    </tr>
    <tr height='19' style='height:14.25pt' id='r30'>
      <td height='19' style='height:14.25pt;'></td>
      <td></td>
      <td class='x65'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr height='19' style='height:14.25pt' id='r31'>
      <td height='19' style='height:14.25pt;'></td>
      <td></td>
      <td class='x65'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr height='19' style='height:14.25pt' id='r32'>
      <td height='19' style='height:14.25pt;'></td>
      <td></td>
      <td class='x65'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr height='19' style='height:14.25pt' id='r33'>
      <td height='19' style='height:14.25pt;'></td>
      <td></td>
      <td class='x65'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr height='19' style='height:14.25pt' id='r34'>
      <td height='19' style='height:14.25pt;'></td>
      <td></td>
      <td class='x65'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr height='19' style='height:14.25pt' id='r35'>
      <td height='19' style='height:14.25pt;'></td>
      <td></td>
      <td class='x65'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr height='19' style='height:14.25pt' id='r36'>
      <td height='19' style='height:14.25pt;'></td>
      <td></td>
      <td class='x65'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr height='19' style='height:14.25pt' id='r37'>
      <td height='19' style='height:14.25pt;'></td>
      <td></td>
      <td class='x65'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr height='19' style='height:14.25pt' id='r38'>
      <td height='19' style='height:14.25pt;'></td>
      <td></td>
      <td class='x65'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr height='19' style='height:14.25pt' id='r39'>
      <td height='19' style='height:14.25pt;'></td>
      <td></td>
      <td class='x65'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr height='19' style='height:14.25pt' id='r40'>
      <td height='19' style='height:14.25pt;'></td>
      <td></td>
      <td class='x65'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr height='19' style='height:14.25pt' id='r41'>
      <td height='19' style='height:14.25pt;'></td>
      <td></td>
      <td class='x65'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr height='19' style='height:14.25pt' id='r42'>
      <td height='19' style='height:14.25pt;'></td>
      <td></td>
      <td class='x65'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr height='19' style='height:14.25pt' id='r43'>
      <td height='19' style='height:14.25pt;'></td>
      <td></td>
      <td class='x65'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr height='19' style='height:14.25pt' id='r44'>
      <td height='19' style='height:14.25pt;'></td>
      <td></td>
      <td class='x65'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr height='19' style='height:14.25pt' id='r45'>
      <td height='19' style='height:14.25pt;'></td>
      <td></td>
      <td class='x65'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr height='19' style='height:14.25pt' id='r46'>
      <td height='19' style='height:14.25pt;'></td>
      <td></td>
      <td class='x65'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr height='19' style='height:14.25pt' id='r47'>
      <td height='19' style='height:14.25pt;'></td>
      <td></td>
      <td class='x65'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td class='x89'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <script language='javascript' type='text/javascript'>
    function ChangeRowspanHiddenData() {
      var node;
      var params = ["r0", "r26"];
      for (var i = 0; i < params.length; i++) {
        node = document.getElementById(params[i]);
        if (node != null) {
          node.style.display = "";
        }
      }
    }
    ChangeRowspanHiddenData();
  </script>
</body>


</html>