<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<link rel="Stylesheet" href="../../css/scltb1.css">
<style>
.inputSpan {
	position: relative;
    display: inline-block;
    width: 80px;
    height: 13px;
}
.inputSpan input {
    position: absolute;
    width: 100%;
    border: none;
    text-align: left;
    left: 0;
}
td{
	vertical-align: middle;
    position: relative;
    padding: 0;
	overflow: hidden;
}
</style>

</head>

<body link=blue vlink=purple>

<table border=0 cellpadding=0 cellspacing=0 width=749 style='border-collapse: collapse;table-layout:fixed;width:800px'>
 <col width=37 style='width:28pt'>
 <col width=149 style='width:112pt'>
 <col width=69 style='width:52pt'>
 <col width=101 style='width:76pt'>
 <col width=53 style='width:40pt'>
 <col width=85 span=4 style='width:64pt'>
 <tr height=26 style='height:20.1pt'>
  <td colspan=2 height=26 class=xl159 width=186 style='height:20.1pt;width:140pt'>附表</td>
  <td width=69 style='width:52pt'></td>
  <td width=101 style='width:76pt'></td>
  <td width=53 style='width:40pt'></td>
  <td width=85 style='width:64pt'></td>
  <td width=85 style='width:64pt'></td>
  <td width=85 style='width:64pt'></td>
  <td width=85 style='width:64pt'></td>
 </tr>
 <tr height=26 style='height:20.1pt'>
  <td height=26 class=xl90 style='height:20.1pt'>序号</td>
  <td class=xl79 style='border-left:none'>序列码</td>
  <td class=xl79 style='border-left:none'>位 号</td>
  <td class=xl79 style='border-left:none'>不良现象</td>
  <td class=xl79 style='border-left:none'>数 量</td>
  <td class=xl79 style='border-left:none'>修复情况</td>
  <td class=xl79 style='border-left:none'>修复人</td>
  <td class=xl79 style='border-left:none'>QC</td>
  <td class=xl91 style='border-left:none'>备 注</td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>1</td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>2</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>3</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>4</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>5</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>6</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>7</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>8</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>9</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>10</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>11</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>12</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>13</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>14</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>15</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>16</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td colspan=8 height=24 class=xl156 style='border-right:.5pt solid black;
  height:18.0pt'>(1-本批次本工序不合格总数÷本批次本工序生产零件总数)×100%＝本批次该零件本工序生产合格率</td>
  <td class=xl66 style='border-top:none;border-left:none'>统计人</td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td colspan=8 height=24 class=xl108 style='border-right:.5pt solid black;
  height:18.0pt'>(1－<span class="inputSpan"><input></span>÷<span class="inputSpan"><input></span>)×100%＝<span class="inputSpan"><input></span>%</td>
  <td class=xl103 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 colspan=9 class=xl69 style='height:18.0pt;'></td>
 </tr>
 <tr height=13 style='height:9.95pt'>
  <td height=13 style='height:9.95pt'></td>
  <td colspan=8 class=xl68 ></td>
 </tr>
 <tr height=26 style='height:20.1pt'>
  <td colspan=2 height=26 class=xl159 style='height:20.1pt'>附表</td>
  <td colspan=7 ></td>
 </tr>
 <tr height=26 style='height:20.1pt'>
  <td height=26 class=xl90 style='height:20.1pt'>序号</td>
  <td class=xl79 style='border-left:none'>序列码</td>
  <td class=xl79 style='border-left:none'>位 号</td>
  <td class=xl79 style='border-left:none'>不良现象</td>
  <td class=xl79 style='border-left:none'>数 量</td>
  <td class=xl79 style='border-left:none'>修复情况</td>
  <td class=xl79 style='border-left:none'>修复人</td>
  <td class=xl79 style='border-left:none'>QC</td>
  <td class=xl91 style='border-left:none'>备 注</td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>1</td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>2</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>3</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>4</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>5</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>6</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>7</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>8</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>9</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>10</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>11</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>12</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>13</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>14</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>15</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td height=24 class=xl87 style='height:18.0pt;border-top:none'>16</td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl82 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none'><span class="inputSpan"><input></span></td>
  <td class=xl81 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
  <td class=xl66 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td colspan=8 height=24 class=xl156 style='border-right:.5pt solid black;
  height:18.0pt'>(1-本批次本工序不合格总数÷本批次本工序生产零件总数)×100%＝本批次该零件本工序生产合格率</td>
  <td class=xl66 style='border-top:none;border-left:none'>统计人</td>
 </tr>
 <tr height=24 style='height:18.0pt'>
  <td colspan=8 height=24 class=xl108 style='border-right:.5pt solid black;
  height:18.0pt'>(1－<span class="inputSpan"><input></span>÷<span class="inputSpan"><input></span>)×100%＝<span class="inputSpan"><input></span>%</td>
  <td class=xl103 style='border-top:none;border-left:none'><span class="inputSpan"><input></span></td>
 </tr>
</table>

</body>

</html>
