<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="Stylesheet" href="../../css/scltb2.css?v1.0">
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    @page {
      size: A4;
      margin: 0;
    }

    .box {
      background: #eee;
      box-sizing: border-box;
      width: 210mm;
      /*210*/
      height: 297mm;
      /*297*/
      text-align: left;
      padding: 4mm;
    }

    table {
      margin: 0 auto;
    }

    td {
      vertical-align: middle !important
    }

    .inputall {
      border: none;
      height: 80%;
      vertical-align: top;
      text-align: center;
      background: transparent;
    }

    .ipt30 {
      width: 26px !important;
    }
    .ipt31 {
      width: 55px !important;
    }
    .ipt32 {
      width: 50px !important;
    }

    .ipt40 {
      width: 36px !important;
      width: 100% !important;
    }
    .ipt41 {
      width: 60px !important;
    }

    .ipt50 {
      width: 45px !important;
    }

    .ipt60 {
      width: 55px !important;
      width: 100% !important;
    }

    .ipt70 {
      width: 65px !important;
    }

    .ipt80 {
      width: 150px !important;
    }

    .ipt81 {
      width: 90px !important;
      border: hidden;
      font-size: 16px;
    }
/* 
    tbody>tr>td:last-child {
      border: 1px solid red;
      width: 0 !important;
      display: none;
    } */

    /* * {
      background: #000 !important;
      color: #0f0 !important;
      outline: solid #f00 1px !important;
    } */
    #onsubmit,
    #op {
      display: block;
      height: 28px;
      line-height: 28px;
      padding: 0 18px;
      background-color: #1e9fff;
      color: #fff;
      white-space: nowrap;
      text-align: center;
      font-size: 14px;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      float: left;
      margin: 0 10px 10px 0;
    }
  </style>
  <script src="../../lib/layui-v2.3.0/layui.js" charset="utf-8"></script>
  <script src="../../js/common.js"></script>
</head>

<body class="box" style="margin: 10px;">
  <form>
    <input type="hidden" name="data">

  </form>
  <div>
    <button id="onsubmit">保存</button> <button id='op'> 打印</button>
  </div>
  <table border='0' cellpadding='0' cellspacing='0' width='839' style='border-collapse: 
 collapse;table-layout:fixed;width:750pt'>
    <col width='33' style='width:24.75pt'>
    <col width='45' style='width:33.75pt'>
    <col width='37' style='width:27.75pt'>
    <col width='29' style='width:21.75pt'>
    <col width='45' style='width:33.75pt'>
    <col width='37' style='width:37.75pt'>
    <col width='29' style='width:21.75pt'>
    <col width='61' style='width:45.75pt'>
    <col width='37' style='width:47.75pt'>
    <col width='29' style='width:21.75pt'>
    <col width='53' style='width:39.75pt'>
    <col width='37' style='width:37.75pt'>
    <col width='29' style='width:41.75pt'>
    <col width='53' style='width:39.75pt'>
    <col width='37' span='3' style='width:37.75pt'>
    <col width='33' style='width:44.75pt'>
    <col width='69' style='width:51.75pt'>
    <col width='10' style='width:15pt'>
    <tr height='21' style='height:15.75pt' id='r0'>
      <td height='21'></td>
      <td width='45' style='width:33.75pt;'></td>
      <td width='37' style='width:27.75pt;'></td>
      <td width='29' style='width:21.75pt;'></td>
      <td width='45' style='width:33.75pt;'></td>
      <td width='37' style='width:27.75pt;'></td>
      <td width='29' style='width:21.75pt;'></td>
      <td width='61' style='width:45.75pt;'></td>
      <td width='37' style='width:27.75pt;'></td>
      <td width='29' style='width:21.75pt;'></td>
      <td width='53' style='width:39.75pt;'></td>
      <td width='37' style='width:27.75pt;'></td>
      <td class='x146' width='29' style='width:21.75pt;'>
        <span>万吉厂区<input id='area' checked type="checkbox"> </span>
        <span>金砂厂区<input id='area1' type="checkbox"></span>
      </td>
      <td width='53' style='width:39.75pt;'></td>
      <td width='37' style='width:27.75pt;'></td>
      <td width='37' style='width:27.75pt;'></td>
      <td width='37' style='width:27.75pt;'></td>
      <td width='33' style='width:24.75pt;'></td>
      <td class='x173' width='69' style='width:51.75pt;'><span style='float:right'>
          <input id="type" class="ipt81" value="ZJ-F044L">
        </span></td>
      <td width='72' style='width:54pt;'></td>
    </tr>
    <tr height='33' style='height:24.95pt' id='r1'>
      <td colspan='19' height='33' class='x74' style='height:24.95pt;'>生产流通表（二）</td>
      <td></td>
    </tr>
    <tr height='24' style='height:18pt' id='r2'>
      <td colspan='19' height='22' class='x75' style='border-bottom:1px solid windowtext;height:16.5pt;'>
        <span>RoHS：Y<input id='RoHS' type="checkbox"> </span>
        <span>/N<input id='RoHS1' type="checkbox"></span>
      </td>
      <td></td>
    </tr>
    <tr height='24' style='height:18pt' id='r3'>
      <td colspan='7' height='21' class='x77'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:15.75pt;'>
        <font class="font0">型号：</font>
        <font class="font0"><input id='model' class="inputall" type="text"></font>
      </td>
      <td colspan='6' class='x80' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <font class="font0">生产批次：</font>
        <font class="font0"><input id='taskSheetCode' class="inputall ipt140" type="text"></font>
      </td>
      <td colspan='6' class='x80' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <font class="font0">投产台数：</font>
        <font class="font0"><input id='produceAmount' class="inputall" type="text"></font>
      </td>
      <td></td>
    </tr>
    <tr height='24' style='height:18pt' id='r4'>
      <td colspan='7' height='21' class='x81' style='border-right:1px solid windowtext;height:15.75pt;'>部件名称：<input
          id='modelName' class="inputall" type="text"></td>
      <td colspan='4' class='x84' style='border-right:1px solid windowtext;'>
        <font class="font0">PCB：</font>
        <font class="font0"><input id='pcbCode' class="inputall ipt140" type="text"></font>
      </td>
      <td colspan='8' class='x84' style='border-right:1px solid windowtext;'>
        <font class="font0">板编码：</font>
        <font class="font0"><input id='plateCode' class="inputall ipt240" type="text"></font>
      </td>
      <td></td>
    </tr>
    <tr height='24' style='height:18pt' id='r5'>
      <!-- 承接上道工序--第一行 -->
      <td rowspan='3' height='70' class='x85'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>
        承</br>接</br>上</br>道</br>工</br>序</td>
      <td rowspan='3' height='69' class='x86'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:51.75pt;'>承</br>接</br>人</td>
      <td colspan='2' class='x87' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='cjsdgx_cjUser_1' class="inputall ipt60" type="text">
      </td>
      <td rowspan='3' height='69' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:51.75pt;overflow:hidden;'>
        承</br>接</br>次</br>数</td>
      <td class='x87'><input id='cjsdgx_cjNum_1' class="inputall ipt30" type="text"></td>
      <td rowspan='3' height='69' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:51.75pt;overflow:hidden;'>
        承</br>接</br>数</br>量</td>
      <td class='x89'><input id='cjsdgx_cjAmount_1' class="inputall ipt50" type="text"></td>
      <td rowspan='3' height='69' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:51.75pt;'>日</br>期</td>
      <td colspan='2' class='x87' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='cjsdgx_cjDate_1' class="inputall ipt70 dateType" type="text" pattern='yy-MM-dd'>
      </td>
      <td rowspan='3' height='69' class='x148'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:51.75pt;overflow:hidden;'>
        可</br>追</br>溯</br>性</td>
      <td colspan='2' class='x87' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>执行人</td>
      <td colspan='2' class='x87' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>确认人</td>
      <td colspan='2' class='x87' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>日期</td>
      <td class='x176'></td>
      <td></td>
    </tr>
    <tr height='24' style='height:18pt' id='r6'>
      <!-- 承接上道工序--第二行 -->
      <td colspan='2' class='x73' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='cjsdgx_cjUser_2' class="inputall ipt60" type="text">
      </td>
      <td class='x68'><input id='cjsdgx_cjNum_2' class="inputall ipt30" type="text"></td>
      <td class='x89'><input id='cjsdgx_cjAmount_2' class="inputall ipt50" type="text"></td>
      <td colspan='2' class='x68' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='cjsdgx_cjDate_2' class="inputall ipt70 dateType" type="text">
      </td>
      <td colspan='2' rowspan='2' height='46' class='x73'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:34.5pt;'>
        <input id='kzsx_zxUser' class="inputall ipt60" type="text">
      </td>
      <td colspan='2' rowspan='2' height='46' class='x73'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:34.5pt;'>
        <input id='kzsx_qrUser' class="inputall ipt60" type="text">
      </td>
      <td colspan='2' rowspan='2' height='46' class='x73'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:34.5pt;'>
        <input id='kzsx_date' class="inputall ipt60 dateType" type="text">
      </td>
      <td class='x177'></td>
      <td></td>
    </tr>
    <tr height='24' style='height:18pt' id='r7'>
      <!-- 承接上道工序--第三行 -->
      <td colspan='2' class='x95' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'><input
          id='cjsdgx_cjUser_3' class="inputall ipt60" type="text"></td>
      <td class='x97'><input id='cjsdgx_cjNum_3' class="inputall ipt30" type="text"></td>
      <td class='x89'><input id='cjsdgx_cjAmount_3' class="inputall ipt50" type="text"></td>
      <td colspan='2' class='x97' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='cjsdgx_cjDate_3' class="inputall ipt70 dateType" type="text">
      </td>
      <td class='x178'></td>
      <td></td>
    </tr>
    <tr height='33' style='height:24.95pt' id='r8'>
      <td colspan='9' height='30' class='x200' width='353'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:22.7pt;width:264.75pt;'
        align='left' valign='top'><span
          style='position:absolute;z-index:1;margin-left:316px;margin-top:0px;width:156px;height:1px'>
        </span><span style='position:absolute;z-index:0;margin-left:78px;margin-top:0px;width:178px;height:1px'>
        </span><span>
          <table cellpadding='0' cellspacing='0'>
            <tr>
              <td colspan='9' height='30' class='x199' width='353' style='height:22.7pt;width:264.75pt;'>贴胶纸</td>
              <td></td>
            </tr>
          </table>
        </span></td>
      <td colspan='10' height='30' class='x200' width='414'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:22.7pt;width:310.5pt;'
        align='left' valign='top'><span
          style='position:absolute;z-index:2;margin-left:201px;margin-top:0px;width:213px;height:1px'></span><span>
          <table cellpadding='0' cellspacing='0'>
            <tr>
              <td colspan='10' height='30' class='x199' width='414' style='height:22.7pt;width:310.5pt;'>装配固件</td>
              <td></td>
            </tr>
          </table>
        </span></td>
      <td class='x179'></td>
    </tr>
    <!-- //贴胶纸 -->
    <tr height='24' style='height:18pt' id='r9'>
      <td rowspan='3' height='70' class='x100'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>生</br>产</br>者</td>
      <td colspan='2' class='x101' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='tjz_scUser_1' class="inputall ipt60" type="text">
      </td>
      <td rowspan='3' height='71' class='x102'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:53.25pt;'>Q</br>C</td>
      <td colspan='2' class='x103' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='tjz_qcUser_1' class="inputall ipt60" type="text">
      </td>
      <td rowspan='3' height='70' class='x105'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>日</br>期</td>
      <td colspan='2' class='x103' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='tjz_date_1' class="inputall ipt60 dateType" type="text">
      </td>
      <td rowspan='3' height='70' class='x100'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>生</br>产</br>者</td>
      <td colspan='2' class='x103' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='zpgj_scUser_1' class="inputall ipt60" type="text">
      </td>
      <td rowspan='3' height='70' class='x105'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>清</br>产</br>核</br>对
      </td>
      <td class='x118'><input id='zpgj_qchs_1' type="checkbox"> </td>
      <td rowspan='3' height='70' class='x105'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>Q</br>C</td>
      <td colspan='2' class='x155' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='zpgj_qchdUser_1' class="inputall ipt60" type="text">
      </td>
      <td rowspan='3' height='70' class='x92'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>日</br>期</td>
      <td class='x155'>
        <input id='zpgj_date_1' class="inputall ipt60 dateType" type="text">
      </td>
      <td class='x179'></td>
    </tr>
    <tr height='24' style='height:18pt' id='r10'>
      <td colspan='2' class='x101' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='tjz_scUser_2' class="inputall ipt60" type="text">
      </td>
      <td colspan='2' class='x104' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='tjz_qcUser_2' class="inputall ipt60" type="text">
      </td>
      <td colspan='2' class='x103' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='tjz_date_2' class="inputall ipt60 dateType" type="text">
      </td>
      <td colspan='2' class='x103' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='zpgj_scUser_2' class="inputall ipt60" type="text">
      </td>
      <td class='x104'><input id='zpgj_qchs_2' type="checkbox"></td>
      <td colspan='2' class='x69' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='zpgj_qchdUser_2' class="inputall ipt60" type="text">
      </td>
      <td class='x155'><input id='zpgj_date_2' class="inputall ipt60 dateType" type="text"></td>
      <td class='x179'></td>
    </tr>
    <tr height='24' style='height:18pt' id='r11'>
      <td colspan='2' class='x108' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='tjz_scUser_3' class="inputall ipt60" type="text">
      </td>
      <td colspan='2' class='x110' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='tjz_qcUser_3' class="inputall ipt60" type="text">
      </td>
      <td colspan='2' class='x112' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='tjz_date_3' class="inputall ipt60 dateType" type="text">
      </td>
      <td colspan='2' class='x112' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='zpgj_scUser_3' class="inputall ipt60" type="text">
      </td>
      <td class='x110'><input id='zpgj_qchs_3' type="checkbox"></td>
      <td colspan='2' class='x157' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='zpgj_qchdUser_3' class="inputall ipt60" type="text">
      </td>
      <td class='x155'><input id='zpgj_date_3' class="inputall ipt60 dateType" type="text"></td>
      <td class='x179'></td>
    </tr>
    <!-- 手插 -->
    <tr height='33' style='height:24.95pt' id='r12'>
      <td colspan='19' height='30' class='x113'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:22.7pt;'>手 插</td>
      <td class='x179'></td>
    </tr>
    <tr height='33' style='height:24.95pt' id='r13'>
      <td height='31' class='x115' style='height:23.45pt;'>序号</td>
      <td class='x71'>生产者</td>
      <td class='x116'>清产核对</td>
      <td class='x71'>序号</td>
      <td class='x71'>生产者</td>
      <td class='x116'>清产核对</td>
      <td class='x71'>序号</td>
      <td class='x71'>生产者</td>
      <td class='x116'>清产核对</td>
      <td class='x71'>序号</td>
      <td class='x71'>生产者</td>
      <td class='x116'>清产核对</td>
      <td class='x71'>序号</td>
      <td class='x71'>生产者</td>
      <td class='x116'>清产核对</td>
      <td colspan='4' class='x158' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>
      <td class='x179'></td>
    </tr>
    <tr height='33' style='height:24.95pt' id='r14'>
      <td height='31' class='x117' style='height:23.45pt;'>1</td>
      <td class='x73'><input id='sc_record_scUser_1' class="inputall ipt40" type="text"></td>
      <td class='x118'><input id='sc_record_qchd_1' type="checkbox"></td>
      <td class='x68'>5</td>
      <td class='x73'><input id='sc_record_scUser_5' class="inputall ipt40" type="text"></td>
      <td class='x118'><input id='sc_record_qchd_5' type="checkbox"></td>
      <td class='x68'>9</td>
      <td class='x73'><input id='sc_record_scUser_9' class="inputall ipt40" type="text"></td>
      <td class='x118'><input id='sc_record_qchd_9' type="checkbox"></td>
      <td class='x68'>13</td>
      <td class='x73'><input id='sc_record_scUser_13' class="inputall ipt40" type="text"></td>
      <td class='x118'><input id='sc_record_qchd_13' type="checkbox"></td>
      <td class='x68'>17</td>
      <td class='x73'><input id='sc_record_scUser_17' class="inputall ipt40" type="text"></td>
      <td class='x118'><input id='sc_record_qchd_17' type="checkbox"></td>
      <td colspan='4' class='x160' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <span class="font5">板数量：<input id='sc_plateAmount' class="inputall ipt80" type="text"></span>
      </td>
      <td></td>
    </tr>
    <tr height='33' style='height:24.95pt' id='r15'>
      <td height='31' class='x117' style='height:23.45pt;'>2</td>
      <td class='x73'><input id='sc_record_scUser_2' class="inputall ipt40" type="text"></td>
      <td class='x118'><input id='sc_record_qchd_2' type="checkbox"></td>
      <td class='x68'>6</td>
      <td class='x73'><input id='sc_record_scUser_6' class="inputall ipt40" type="text"></td>
      <td class='x118'><input id='sc_record_qchd_6' type="checkbox"></td>
      <td class='x68'>10</td>
      <td class='x73'><input id='sc_record_scUser_10' class="inputall ipt40" type="text"></td>
      <td class='x118'><input id='sc_record_qchd_10' type="checkbox"></td>
      <td class='x68'>14</td>
      <td class='x73'><input id='sc_record_scUser_14' class="inputall ipt40" type="text"></td>
      <td class='x118'><input id='sc_record_qchd_14' type="checkbox"></td>
      <td class='x68'>18</td>
      <td class='x73'><input id='sc_record_scUser_18' class="inputall ipt40" type="text"></td>
      <td class='x118'><input id='sc_record_qchd_18' type="checkbox"></td>
      <td colspan='4' class='x161' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <span class="font5">首检：<input id='sc_sjStatue' class="inputall ipt80" type="text"></span>
      </td>
      <td></td>
    </tr>
    <tr height='33' style='height:24.95pt' id='r16'>
      <td height='31' class='x117' style='height:23.45pt;'>3</td>
      <td class='x73'><input id='sc_record_scUser_3' class="inputall ipt40" type="text"></td>
      <td class='x118'><input id='sc_record_qchd_3' type="checkbox"></td>
      <td class='x68'>7</td>
      <td class='x73'><input id='sc_record_scUser_7' class="inputall ipt40" type="text"></td>
      <td class='x118'><input id='sc_record_qchd_7' type="checkbox"></td>
      <td class='x68'>11</td>
      <td class='x73'><input id='sc_record_scUser_11' class="inputall ipt40" type="text"></td>
      <td class='x118'><input id='sc_record_qchd_11' type="checkbox"></td>
      <td class='x68'>15</td>
      <td class='x73'><input id='sc_record_scUser_15' class="inputall ipt40" type="text"></td>
      <td class='x118'><input id='sc_record_qchd_15' type="checkbox"></td>
      <td class='x68'>19</td>
      <td class='x73'><input id='sc_record_scUser_19' class="inputall ipt40" type="text"></td>
      <td class='x118'><input id='sc_record_qchd_19' type="checkbox"></td>
      <td colspan='4' class='x163' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <span class="font5">QC：<input id='sc_qcUser' class="inputall ipt80" type="text"></span>
      </td>
      <td></td>
    </tr>
    <tr height='33' style='height:24.95pt' id='r17'>
      <td height='30' class='x119' style='height:22.7pt;'>4</td>
      <td class='x73'><input id='sc_record_scUser_4' class="inputall ipt40" type="text"></td>
      <td class='x118'><input id='sc_record_qchd_4' type="checkbox"></td>
      <td class='x97'>8</td>
      <td class='x73'><input id='sc_record_scUser_8' class="inputall ipt40" type="text"></td>
      <td class='x118'><input id='sc_record_qchd_8' type="checkbox"></td>
      <td class='x97'>12</td>
      <td class='x73'><input id='sc_record_scUser_12' class="inputall ipt40" type="text"></td>
      <td class='x118'><input id='sc_record_qchd_12' type="checkbox"></td>
      <td class='x97'>16</td>
      <td class='x73'><input id='sc_record_scUser_16' class="inputall ipt40" type="text"></td>
      <td class='x118'><input id='sc_record_qchd_16' type="checkbox"></td>
      <td class='x97'>20</td>
      <td class='x73'><input id='sc_record_scUser_20' class="inputall ipt40" type="text"></td>
      <td class='x118'><input id='sc_record_qchd_20' type="checkbox"></td>
      <td colspan='4' class='x165' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <span class="font5">检查日期：<input id='sc_date' class="inputall ipt80 dateType" type="text"></span>
      </td>
      <td></td>
    </tr>
    <!-- 波峰焊接机 -->
    <tr height='33' style='height:24.95pt' id='r18'>
      <td colspan='19' height='30' class='x113'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:22.7pt;'>波峰焊接机</td>
      <td></td>
    </tr>
    <tr height='24' style='height:18pt' id='r19'>
      <td rowspan='5' height='127' class='x120'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:95.55pt;overflow:hidden;'>
        使</br>用</br><input id='bfhjj_isUser' type="checkbox"></td>
      <td colspan='2' class='x121' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>设备名称
      </td>
      <td colspan='2' class='x71' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>设备编号
      </td>
      <td colspan='14' height='22' class='x202' width='578'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:16.5pt;width:433.5pt;'
        align='left' valign='top'><span
          style='position:absolute;z-index:9;margin-left:386px;margin-top:0px;width:1px;height:1px'></span><span>
          <table cellpadding='0' cellspacing='0'>
            <tr>
              <td colspan='14' height='22' class='x201' width='578' style='height:16.5pt;width:433.5pt;'>关键工艺参数</td>
              <td></td>
            </tr>
          </table>
        </span></td>
      <td></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r20'>
      <td colspan='2' rowspan='2' height='52' class='x125' style='border-right:1px solid windowtext;height:39.45pt;'>
        <input id='bfhjj_deviceCode' class="inputall ipt60" type="text"></td>
      <td colspan='2' rowspan='2' height='51' class='x68'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:38.7pt;'> <input
          id='bfhjj_deviceName' class="inputall ipt60" type="text"></td>
      </td>
      <td colspan='3' class='x127' style='border-bottom:1px solid windowtext;'>预热1B：<input id='bfhjj_craftParam_yr1B'
          class="inputall ipt41" type="text"> ℃</td>
      <td colspan='3' class='x127' style='border-bottom:1px solid windowtext;'>预热2B：<input id='bfhjj_craftParam_yr2B'
          class="inputall ipt41" type="text"> ℃</td>
      <td colspan='3' class='x127' style='border-bottom:1px solid windowtext;'>预热3B：<input id='bfhjj_craftParam_yr3B'
          class="inputall ipt41" type="text"> ℃</td>
      <td colspan='3' class='x127' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        预热2T：<input id='bfhjj_craftParam_yr2T' class="inputall ipt41" type="text"> ℃</td>
      <td colspan='2' class='x127' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        预热3T：<input id='bfhjj_craftParam_yr3T' class="inputall ipt41" type="text"> ℃</td>
      <td></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r21'>
      <td colspan='3' class='x127' style='border-bottom:1px solid windowtext;'>链条速度：<input id='bfhjj_craftParam_ltsd'
          class="inputall ipt30" type="text"> mm/min</td>
      <td colspan='3' class='x127' style='border-bottom:1px solid windowtext;'>锡炉温度：<input id='bfhjj_craftParam_xlwd'
          class="inputall ipt31" type="text">℃</td>
      <td colspan='3' class='x127' style='border-bottom:1px solid windowtext;'>供气压力：<input id='bfhjj_craftParam_gqyl'
          class="inputall ipt31" type="text">Mpa
      </td>
      <td colspan='3' class='x166' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        喷雾气压：<input id='bfhjj_craftParam_pwqy' class="inputall ipt31" type="text">Mpa</td>
      <td colspan='2' class='x166' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        针阀气压：<input id='bfhjj_craftParam_zfqy' class="inputall ipt32" type="text">Mpa</td>
      <td></td>
    </tr>
    <tr height='24' style='height:18pt' id='r22'>
      <td colspan='2' class='x121' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>程序名称
      </td>
      <td colspan='2' class='x71' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>程序正常
      </td>
      <td colspan='2' class='x71' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>生产日期
      </td>
      <td class='x71'>数量</td>
      <td colspan='2' class='x121' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>清产核对
      </td>
      <td colspan='2' class='x71' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>操作者</td>
      <td colspan='2' class='x71' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>首检情况
      </td>
      <td colspan='2' class='x71' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>首检者</td>
      <td colspan='2' class='x71' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>QC</td>
      <td class='x193'>检查日期</td>
      <td></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r23'>
      <td colspan='2' class='x132' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'><input
          id='bfhjj_programName' class="inputall ipt80" type="text">
      </td>
      <td colspan='2' class='x134' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'><input
          id='bfhjj_programStatus' type="checkbox"></td>
      <td colspan='2' class='x135' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='bfhjj_produceDate' class="inputall ipt80 dateType" type="text"></td>
      <td class='x135'><input id='bfhjj_amount' class="inputall ipt60" type="text"></td>
      </td>
      <td colspan='2' class='x167' style='border-bottom:1px solid windowtext;'><input id='bfhjj_qchd' type="checkbox">
      </td>
      </td>
      <td colspan='2' class='x135' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'><input
          id='bfhjj_doUser' class="inputall ipt60" type="text">
      </td>
      <td colspan='2' class='x135' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'><input
          id='bfhjj_sjStatus' class="inputall ipt60" type="text"></td>
      <td colspan='2' class='x135' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'><input
          id='bfhjj_sjUser' class="inputall ipt60" type="text">
      </td>
      <td colspan='2' class='x135' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'><input
          id='bfhjj_qcUser' class="inputall ipt60" type="text">
      </td>
      <td class='x194'><input id='bfhjj_checkDate' class="inputall ipt60 dateType" type="text"></td>
      <td></td>
    </tr>
    <tr height='24' style='height:18pt' id='r24'>
      <td rowspan='2' height='55' class='x85'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:41.45pt;'>
        下</br>道</br>工</br>序</br>交</br>接</td>
      <td rowspan='2' height='55' class='x136' style='border-right:1px solid windowtext;height:41.45pt;'>
        第</br>一</br>次</br>交</br>接</td>
      <td colspan='2' class='x129' style='border-right:1px solid windowtext;'>承接人</td>
      <td class='x137'>数量</td>
      <td colspan='2' class='x129' style='border-right:1px solid windowtext;'>日期</td>
      <td rowspan='2' height='55' class='x136' style='border-right:1px solid windowtext;height:41.45pt;'>
        第</br>二</br>次</br>交</br>接</td>
      <td colspan='2' class='x129' style='border-right:1px solid windowtext;'>承接人</td>
      <td class='x137'>数量</td>
      <td colspan='2' class='x129' style='border-right:1px solid windowtext;'>日期</td>
      <td rowspan='2' height='55' class='x136' style='border-right:1px solid windowtext;height:41.45pt;'>
        第</br>三</br>次</br>交</br>接</td>
      <td colspan='2' class='x169' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>承接人
      </td>
      <td class='x137'>数量</td>
      <td colspan='2' class='x169' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>日期</td>
      <td></td>
    </tr>
    <tr height='33' style='height:24.95pt' id='r25'>
      <td colspan='2' class='x121' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'><input
          id='xdgxjj_cjUser_1' class="inputall ipt60" type="text">
      </td>
      <td class='x139'><input id='xdgxjj_cjAmount_1' class="inputall ipt40" type="text"></td>
      <td colspan='2' class='x121' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='xdgxjj_cjDate_1' class="inputall ipt60 dateType" type="text"></td>
      <td colspan='2' class='x125' style='border-right:1px solid windowtext;'><input id='xdgxjj_cjUser_2'
          class="inputall ipt60" type="text"></td>
      <td class='x139'><input id='xdgxjj_cjAmount_2' class="inputall ipt40" type="text"></td>
      <td colspan='2' class='x158' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'><input
          id='xdgxjj_cjDate_2' class="inputall ipt60 dateType" type="text"></td>
      <td colspan='2' class='x69' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='xdgxjj_cjUser_3' class="inputall ipt60" type="text">
      </td>
      <td class='x139'><input id='xdgxjj_cjAmount_3' class="inputall ipt40" type="text"></td>
      <td colspan='2' class='x196' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <input id='xdgxjj_cjDate_3' class="inputall ipt60 dateType" type="text"></td>
      <td></td>
    </tr>
    <tr height='40' style='height:30pt' id='r26'>
      <td colspan='2' height='36' class='x140'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:27pt;'>备 注</td>
      <td colspan='17' height='36' class='x204' width='689'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:27pt;width:516.75pt;'
        align='left' valign='top'><span
          style='position:absolute;z-index:8;margin-left:476px;margin-top:0px;width:213px;height:1px'></span><span
          style='position:absolute;z-index:7;margin-left:477px;margin-top:0px;width:212px;height:1px'></span><span
          style='position:absolute;z-index:5;margin-left:238px;margin-top:0px;width:186px;height:1px'></span><span
          style='position:absolute;z-index:6;margin-left:238px;margin-top:0px;width:186px;height:1px'></span><span
          style='position:absolute;z-index:3;margin-left:1px;margin-top:0px;width:147px;height:1px'></span><span
          style='position:absolute;z-index:4;margin-left:0px;margin-top:0px;width:148px;height:1px'></span><span>
          <table cellpadding='0' cellspacing='0'>
            <tr>
              <td colspan='17' height='36' class='x203' width='689' style='height:27pt;width:516.75pt;'> <input
                  id="remarks" class="inputall" style="width: 780px;" type="text"></td>
              <td></td>
            </tr>
          </table>
        </span></td>
      <td></td>
    </tr>
    <tr height=20 style='height:15.6pt'>
      <td height=20 class=xl92 colspan=13 style='height:15.6pt;'>
        注：1.完成生产后生产者清产核对器件数量，如正确请在清产核对<input type="checkbox" />打√，否则上报车间管理人员；</td>
      <td class=xl102></td>
    </tr>
    <tr height=20 style='height:15.6pt'>
      <td height=20 class=xl92 colspan=12 style='height:15.6pt;'>
        &nbsp;&nbsp;2.生产该板使用到的设备、程序正常项<input type="checkbox" />打√，填写相应的关键工艺参数、程序名称。
      </td>
      <td colspan=2 class=xl68></td>
    </tr>
  </table>

  <script language='javascript' type='text/javascript'>
    function ChangeRowspanHiddenData() {
      var node;
      var params = ["r5", "r6", "r9", "r19", "r20", "r24"];
      for (var i = 0; i < params.length; i++) {
        node = document.getElementById(params[i]);
        if (node != null) {
          node.style.display = "";
        }
      }
    }
    ChangeRowspanHiddenData();

    layui.use(['table', 'jquery', 'form', 'layer', 'laydate'], function () {
      var table = layui.table,
        layer = layui.layer,
        form = layui.form,
        laydate = layui.laydate,
        $ = layui.jquery;
      var dd = JSON.parse($('[name=data]').val());
      console.log(dd)
      if (parent.location.href.indexOf("/windowPad/") > -1) {
        $('#op').hide();
      }
      //这里开始拿数据
      $('.dateType').focus(function () {
        $(this).attr('type', 'date')
      }).blur(function () {
        var timeTxt = $(this).val().replace(/-/g, '.').substring(2);
        $(this).attr('type', 'text').val(timeTxt)
      })

      /*if (dd.factory == "万吉厂区") {
        $('#area').attr('checked', true)
      }
      if (dd.factory == "金砂厂区") {
        $('#area1').attr('checked', true)
      }*/
      if (dd.is_rohs == "是") {
        $('#RoHS').attr('checked', true)
      }
      if (dd.is_rohs == "否") {
        $('#RoHS1').attr('checked', true)
      }

      //型号
      $('#model').val(dd.model_ver)
      //部件名称
      $('#modelName').val(dd.model_name)
      //生产批次
      $('#taskSheetCode').val(dd.task_sheet_code)
      //投产台数
      $('#produceAmount').val(dd.amount_completed)
      //投产台数
      $('#pcbCode').val(dd.pcb_id)
      //板编码
      $('#plateCode').val(dd.batch_id)
      var dj = {}
      function initAjax() {
        $.ajax({
          url: '/report/findCurrentReport',
          type: "post",
          dataType: "json",
          data: JSON.stringify({
            pcbTaskCode: dd.pcb_task_code,
            reportType: '2'
          }),
          contentType: "application/json;charset=UTF-8",
          success: function (res) {
            if (res.code === 200) {
              if (res.data.length > 0) {
                dj = JSON.parse(res.data[0].json_data);
                if (Object.keys(dj).length > 0) {
                  if (dj.area == 1 || dj.area1 == 1) {
                    if (dj.area == 1) {
                      $('#area').attr('checked', true)
                      $('#area1').attr('checked', false)
                    }
                    if (dj.area1 == 1) {
                      $('#area1').attr('checked', true)
                      $('#area').attr('checked', false)
                    }
                  } else {
                    $('#area').attr('checked', true)
                    $('#area1').attr('checked', false)
                  }

                  if (dj.type != null) {
                    $('#type').val(dj.type)
                  } else {
                    $('#type').val("ZJ-F044L")
                  }
                  //console.log(dj.cjsdgx[0].cjUser)
                  $('#cjsdgx_cjUser_1').val(dj.cjsdgx[0].cjUser)
                  $('#cjsdgx_cjNum_1').val(dj.cjsdgx[0].cjNum)
                  $('#cjsdgx_cjAmount_1').val(dj.cjsdgx[0].cjAmount)
                  $('#cjsdgx_cjDate_1').val(dj.cjsdgx[0].cjDate)

                  $('#cjsdgx_cjUser_2').val(dj.cjsdgx[1].cjUser)
                  $('#cjsdgx_cjNum_2').val(dj.cjsdgx[1].cjNum)
                  $('#cjsdgx_cjAmount_2').val(dj.cjsdgx[1].cjAmount)
                  $('#cjsdgx_cjDate_2').val(dj.cjsdgx[1].cjDate)

                  $('#cjsdgx_cjUser_3').val(dj.cjsdgx[2].cjUser)
                  $('#cjsdgx_cjNum_3').val(dj.cjsdgx[2].cjNum)
                  $('#cjsdgx_cjAmount_3').val(dj.cjsdgx[2].cjAmount)
                  $('#cjsdgx_cjDate_3').val(dj.cjsdgx[2].cjDate)
                  //可追溯性 
                  $('#kzsx_zxUser').val(dj.kzsx[0].zxUser)
                  $('#kzsx_qrUser').val(dj.kzsx[0].qrUser)
                  console.log(dj.kzsx[0].date)
                  $('#kzsx_date').val(dj.kzsx[0].date)
                  //贴胶纸
                  $('#tjz_scUser_1').val(dj.tjz[0].scUser)
                  $('#tjz_qcUser_1').val(dj.tjz[0].qcUser)
                  $('#tjz_date_1').val(dj.tjz[0].date)

                  $('#tjz_scUser_2').val(dj.tjz[1].scUser)
                  $('#tjz_qcUser_2').val(dj.tjz[1].qcUser)
                  $('#tjz_date_2').val(dj.tjz[1].date)

                  $('#tjz_scUser_3').val(dj.tjz[2].scUser)
                  $('#tjz_qcUser_3').val(dj.tjz[2].qcUser)
                  $('#tjz_date_3').val(dj.tjz[2].date)
                  // 装配固件
                  $('#zpgj_scUser_1').val(dj.zpgj[0].scUser)
                  $('#zpgj_qchdUser_1').val(dj.zpgj[0].qchdUser)
                  if (dj.zpgj[0].qchs == 1) {
                    $('#zpgj_qchs_1').attr('checked', true)
                  }
                  $('#zpgj_date_1').val(dj.zpgj[0].date)

                  $('#zpgj_scUser_2').val(dj.zpgj[1].scUser)
                  $('#zpgj_qchdUser_2').val(dj.zpgj[1].qchdUser)
                  if (dj.zpgj[1].qchs == 1) {
                    $('#zpgj_qchs_2').attr('checked', true)
                  }
                  $('#zpgj_date_2').val(dj.zpgj[1].date)

                  $('#zpgj_scUser_3').val(dj.zpgj[2].scUser)
                  $('#zpgj_qchdUser_3').val(dj.zpgj[2].qchdUser)
                  if (dj.zpgj[2].qchs == 1) {
                    $('#zpgj_qchs_3').attr('checked', true)
                  }
                  $('#zpgj_date_3').val(dj.zpgj[2].date)
                  // 手 插
                  for (var i = 0; i < 20; i++) {
                    $('#sc_record_scUser_' + (i + 1)).val(dj.sc.record[i].scUser)
                    if (dj.sc.record[i].qchd == 1) {
                      $('#sc_record_qchd_' + (i + 1)).attr('checked', true)
                    }
                  }
                  $('#sc_plateAmount').val(dj.sc.plateAmount)
                  $('#sc_sjStatue').val(dj.sc.sjStatue)
                  $('#sc_qcUser').val(dj.sc.qcUser)
                  $('#sc_date').val(dj.sc.date)
                  // 波峰焊接机
                  if (dj.bfhjj.isUser == 1) {
                    $('#bfhjj_isUser').attr('checked', true)
                  }
                  $('#bfhjj_deviceCode').val(dj.bfhjj.deviceCode)
                  $('#bfhjj_deviceName').val(dj.bfhjj.deviceName)
                  $('#bfhjj_craftParam_yr1B').val(dj.bfhjj.craftParam.yr1B)
                  $('#bfhjj_craftParam_yr2B').val(dj.bfhjj.craftParam.yr2B)
                  $('#bfhjj_craftParam_yr3B').val(dj.bfhjj.craftParam.yr3B)
                  $('#bfhjj_craftParam_yr2T').val(dj.bfhjj.craftParam.yr2T)
                  $('#bfhjj_craftParam_yr3T').val(dj.bfhjj.craftParam.yr3T)
                  $('#bfhjj_craftParam_ltsd').val(dj.bfhjj.craftParam.ltsd)
                  $('#bfhjj_craftParam_xlwd').val(dj.bfhjj.craftParam.xlwd)
                  $('#bfhjj_craftParam_gqyl').val(dj.bfhjj.craftParam.gqyl)
                  $('#bfhjj_craftParam_pwqy').val(dj.bfhjj.craftParam.pwqy)
                  $('#bfhjj_craftParam_zfqy').val(dj.bfhjj.craftParam.zfqy)
                  $('#bfhjj_programName').val(dj.bfhjj.programName)
                  if (dj.bfhjj.programStatus == 1) {
                    $('#bfhjj_programStatus').attr('checked', true)
                  }
                  $('#bfhjj_produceDate').val(dj.bfhjj.produceDate)
                  $('#bfhjj_amount').val(dj.bfhjj.amount)
                  if (dj.bfhjj.qchd == 1) {
                    $('#bfhjj_qchd').attr('checked', true)
                  }
                  $('#bfhjj_doUser').val(dj.bfhjj.doUser)
                  $('#bfhjj_sjStatus').val(dj.bfhjj.sjStatus)
                  $('#bfhjj_sjUser').val(dj.bfhjj.sjUser)
                  $('#bfhjj_qcUser').val(dj.bfhjj.qcUser)
                  $('#bfhjj_checkDate').val(dj.bfhjj.checkDate)


                  for (var i = 0; i < 3; i++) {
                    $('#xdgxjj_cjUser_' + (i + 1)).val(dj.xdgxjj[i].cjUser)
                    $('#xdgxjj_cjAmount_' + (i + 1)).val(dj.xdgxjj[i].cjAmount)
                    $('#xdgxjj_cjDate_' + (i + 1)).val(dj.xdgxjj[i].cjDate)
                  }
                  $('#remarks').val(dj.remarks)
                }
              }
            } else {
              layer.alert(res.msg, { icon: 5 })
            }
          }
        })
      }
      initAjax();
      $('#onsubmit').on('click', function () {
        var datajson = {
          "area": $('#area').is(":checked") ? 1 : 0,
          "area1": $('#area1').is(":checked") ? 1 : 0,
          //"area": dd.factory,
          "tempParam": "ZJ-F044L",
          "RoHS": dd.is_rohs,
          "model": dd.model_ver,
          "modelName": dd.model_name,
          "taskSheetCode": dd.task_sheet_code,
          "produceAmount": dd.amount_completed,
          "pcbCode": dd.pcb_id,
          "plateCode": dd.batch_id,
          "type": $('#type').val(),
          "cjsdgx": [
            {
              "cjUser": $('#cjsdgx_cjUser_1').val(),
              "cjNum": $('#cjsdgx_cjNum_1').val(),
              "cjAmount": $('#cjsdgx_cjAmount_1').val(),
              "cjDate": $('#cjsdgx_cjDate_1').val()
            },
            {
              "cjUser": $('#cjsdgx_cjUser_2').val(),
              "cjNum": $('#cjsdgx_cjNum_2').val(),
              "cjAmount": $('#cjsdgx_cjAmount_2').val(),
              "cjDate": $('#cjsdgx_cjDate_2').val()
            },
            {
              "cjUser": $('#cjsdgx_cjUser_3').val(),
              "cjNum": $('#cjsdgx_cjNum_3').val(),
              "cjAmount": $('#cjsdgx_cjAmount_3').val(),
              "cjDate": $('#cjsdgx_cjDate_3').val()
            }
          ],
          "kzsx": [
            {
              "zxUser": $('#kzsx_zxUser').val(),
              "qrUser": $('#kzsx_qrUser').val(),
              "date": $('#kzsx_date').val()
            },
            // {
            //   "zxUser": "李XX",
            //   "qrUser": "张XX",
            //   "date": "20.01.02"
            // }
          ],
          "tjz": [
            {
              "scUser": $('#tjz_scUser_1').val(),
              "qcUser": $('#tjz_qcUser_1').val(),
              "date": $('#tjz_date_1').val()
            },
            {
              "scUser": $('#tjz_scUser_2').val(),
              "qcUser": $('#tjz_qcUser_2').val(),
              "date": $('#tjz_date_2').val()
            },
            {
              "scUser": $('#tjz_scUser_3').val(),
              "qcUser": $('#tjz_qcUser_3').val(),
              "date": $('#tjz_date_3').val()
            }
          ],
          "zpgj": [
            {
              "scUser": $('#zpgj_scUser_1').val(),
              "qchdUser": $('#zpgj_qchdUser_1').val(),
              "qchs": $('#zpgj_qchs_1').is(":checked") ? 1 : 0,
              "date": $('#zpgj_date_1').val()
            },
            {
              "scUser": $('#zpgj_scUser_2').val(),
              "qchdUser": $('#zpgj_qchdUser_2').val(),
              "qchs": $('#zpgj_qchs_2').is(":checked") ? 1 : 0,
              "date": $('#zpgj_date_2').val()
            },
            {
              "scUser": $('#zpgj_scUser_3').val(),
              "qchdUser": $('#zpgj_qchdUser_3').val(),
              "qchs": $('#zpgj_qchs_3').is(":checked") ? 1 : 0,
              "date": $('#zpgj_date_3').val()
            }
          ],
          "sc": {
            "plateAmount": $('#sc_plateAmount').val(),
            "sjStatue": $('#sc_sjStatue').val(),
            "qcUser": $('#sc_qcUser').val(),
            "date": $('#sc_date').val(),
            "record": [
              {
                "num": "1",
                "scUser": $('#sc_record_scUser_1').val(),
                "qchd": $('#sc_record_qchd_1').is(":checked") ? 1 : 0
              },
              {
                "num": "2",
                "scUser": $('#sc_record_scUser_2').val(),
                "qchd": $('#sc_record_qchd_2').is(":checked") ? 1 : 0
              },
              {
                "num": "3",
                "scUser": $('#sc_record_scUser_3').val(),
                "qchd": $('#sc_record_qchd_3').is(":checked") ? 1 : 0
              },
              {
                "num": "4",
                "scUser": $('#sc_record_scUser_4').val(),
                "qchd": $('#sc_record_qchd_4').is(":checked") ? 1 : 0
              },
              {
                "num": "5",
                "scUser": $('#sc_record_scUser_5').val(),
                "qchd": $('#sc_record_qchd_5').is(":checked") ? 1 : 0
              },
              {
                "num": "6",
                "scUser": $('#sc_record_scUser_6').val(),
                "qchd": $('#sc_record_qchd_6').is(":checked") ? 1 : 0
              },
              {
                "num": "7",
                "scUser": $('#sc_record_scUser_7').val(),
                "qchd": $('#sc_record_qchd_7').is(":checked") ? 1 : 0
              },
              {
                "num": "8",
                "scUser": $('#sc_record_scUser_8').val(),
                "qchd": $('#sc_record_qchd_8').is(":checked") ? 1 : 0
              },
              {
                "num": "9",
                "scUser": $('#sc_record_scUser_9').val(),
                "qchd": $('#sc_record_qchd_9').is(":checked") ? 1 : 0
              },
              {
                "num": "10",
                "scUser": $('#sc_record_scUser_10').val(),
                "qchd": $('#sc_record_qchd_10').is(":checked") ? 1 : 0
              },
              {
                "num": "11",
                "scUser": $('#sc_record_scUser_11').val(),
                "qchd": $('#sc_record_qchd_11').is(":checked") ? 1 : 0
              },
              {
                "num": "12",
                "scUser": $('#sc_record_scUser_12').val(),
                "qchd": $('#sc_record_qchd_12').is(":checked") ? 1 : 0
              },
              {
                "num": "13",
                "scUser": $('#sc_record_scUser_13').val(),
                "qchd": $('#sc_record_qchd_13').is(":checked") ? 1 : 0
              },
              {
                "num": "14",
                "scUser": $('#sc_record_scUser_14').val(),
                "qchd": $('#sc_record_qchd_14').is(":checked") ? 1 : 0
              },
              {
                "num": "15",
                "scUser": $('#sc_record_scUser_15').val(),
                "qchd": $('#sc_record_qchd_15').is(":checked") ? 1 : 0
              },
              {
                "num": "16",
                "scUser": $('#sc_record_scUser_16').val(),
                "qchd": $('#sc_record_qchd_16').is(":checked") ? 1 : 0
              },
              {
                "num": "17",
                "scUser": $('#sc_record_scUser_17').val(),
                "qchd": $('#sc_record_qchd_17').is(":checked") ? 1 : 0
              },
              {
                "num": "18",
                "scUser": $('#sc_record_scUser_18').val(),
                "qchd": $('#sc_record_qchd_18').is(":checked") ? 1 : 0
              },
              {
                "num": "19",
                "scUser": $('#sc_record_scUser_19').val(),
                "qchd": $('#sc_record_qchd_19').is(":checked") ? 1 : 0
              },
              {
                "num": "20",
                "scUser": $('#sc_record_scUser_20').val(),
                "qchd": $('#sc_record_qchd_20').is(":checked") ? 1 : 0
              }
            ]
          },
          "bfhjj": {
            "isUser": $('#bfhjj_isUser').is(":checked") ? 1 : 0,
            "deviceCode": $('#bfhjj_deviceCode').val(),
            "deviceName": $('#bfhjj_deviceName').val(),
            "programName": $('#bfhjj_programName').val(),
            "programStatus": $('#bfhjj_programStatus').is(":checked") ? 1 : 0,
            "produceDate": $('#bfhjj_produceDate').val(),
            "amount": $('#bfhjj_amount').val(),
            "qchd": $('#bfhjj_qchd').is(":checked") ? 1 : 0,
            "doUser": $('#bfhjj_doUser').val(),
            "sjStatus": $('#bfhjj_sjStatus').val(),
            "sjUser": $('#bfhjj_sjUser').val(),
            "qcUser": $('#bfhjj_qcUser').val(),
            "checkDate": $('#bfhjj_checkDate').val(),
            "craftParam": {
              "yr1B": $('#bfhjj_craftParam_yr1B').val(),
              "yr2B": $('#bfhjj_craftParam_yr2B').val(),
              "yr3B": $('#bfhjj_craftParam_yr3B').val(),
              "yr4B": "",
              "yr2T": $('#bfhjj_craftParam_yr2T').val(),
              "yr3T": $('#bfhjj_craftParam_yr3T').val(),
              "ltsd": $('#bfhjj_craftParam_ltsd').val(),
              "xlwd": $('#bfhjj_craftParam_xlwd').val(),
              "gqyl": $('#bfhjj_craftParam_gqyl').val(),
              "pwqy": $('#bfhjj_craftParam_pwqy').val(),
              "zfqy": $('#bfhjj_craftParam_zfqy').val()
            }
          },
          "xdgxjj": [
            {
              "cjUser": $('#xdgxjj_cjUser_1').val(),
              "cjNum": "1",
              "cjAmount": $('#xdgxjj_cjAmount_1').val(),
              "cjDate": $('#xdgxjj_cjDate_1').val()
            },
            {
              "cjUser": $('#xdgxjj_cjUser_2').val(),
              "cjNum": "2",
              "cjAmount": $('#xdgxjj_cjAmount_2').val(),
              "cjDate": $('#xdgxjj_cjDate_2').val()
            },
            {
              "cjUser": $('#xdgxjj_cjUser_3').val(),
              "cjNum": "3",
              "cjAmount": $('#xdgxjj_cjAmount_3').val(),
              "cjDate": $('#xdgxjj_cjDate_3').val()
            }
          ],
          "remarks": $('#remarks').val()
        }
        console.log(datajson)
        $.ajax({
          url: '/currentReport/addCurrentReport',
          type: "post",
          dataType: "json",
          data: JSON.stringify({
            pcb_task_code: dd.pcb_task_code,
            json_data: JSON.stringify(datajson),
            report_type: '2'
          }),
          contentType: "application/json;charset=UTF-8",
          success: function (res) {
            if (res.code === 200) {
              var initajax = layer.alert(res.msg, { icon: 1 }, function () {
                initAjax()
                layer.close(initajax);
              })
            } else {
              layer.alert(res.msg, { icon: 5 })
            }
          }
        })
      })
    })

    var op = document.getElementById('op');
    var onsubmit = document.getElementById('onsubmit');
    op.onclick = function () {
      op.style.display = 'none';
      onsubmit.style.display = 'none';
      setTimeout(() => {
        op.style.display = 'block';
        onsubmit.style.display = 'block';
      }, 500);
      var iframe = document.createElement('iframe');
      console.log(iframe.contentWindow)
      window.print();
    }
  </script>
</body>


</html>