<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">

    <link rel="Stylesheet" href="../../css/scltb1.css">
    <style>
        .inputSpan {
            position: relative;
            display: inline-block;
            align-content: center;
            width: 80px;
            height: 13px;
        }

        .inputSpan input {
            position: absolute;
            width: 100%;
            border: none;
            text-align: left;
            left: 0;
        }

        td {
            vertical-align: middle;
            position: relative;
            padding: 0;
            overflow: hidden;
        }
        .inputall {
            border: none;
            height: 80%;
            vertical-align: top;
            text-align: left;
        }
        .ipt30 {
            width: 26px !important;
        }

        .ipt40 {
            width: 36px !important;
        }

        .ipt50 {
            width: 45px !important;
        }

        .ipt60 {
            width: 55px !important;
        }

        .ipt70 {
            width: 65px !important;
        }

        .ipt80 {
            width: 75px !important;
        }

        .ipt100 {
            width: 95px !important;
        }

        .ipt120 {
            width: 120px !important;
        }

        .ipt140 {
            width: 140px !important;
        }

        .ipt160 {
            width: 160px !important;
        }

        .ipt180 {
            width: 180px !important;
        }

        .ipt200 {
            width: 200px !important;
        }

        .ipt220 {
            width: 220px !important;
        }

        .ipt240 {
            width: 240px !important;
        }

        #onsubmit {
            display: inline-block;
            height: 28px;
            line-height: 28px;
            padding: 0 18px;
            background-color: #1e9fff;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }
    </style>
    <script src="../../lib/layui-v2.3.0/layui.js" charset="utf-8"></script>
    <script src="../../js/common.js"></script>
</head>

<body link=blue vlink=purple>
<form>
    <input type="hidden" name="data">

</form>
    <table border=0 cellpadding=0 cellspacing=0 width=800 style='border-collapse:
 collapse;table-layout:fixed;width:835px;'>
        <col width=75 style='width:56pt'>
        <col width=101 style='width:76pt'>
        <col width=37 span=2 style='width:28pt'>
        <col width=45 style='width:34pt'>
        <col width=37 style='width:28pt'>
        <col width=57 style='width:43pt'>
        <col width=41 style='width:31pt'>
        <col width=69 style='width:52pt'>
        <col width=37 span=2 style='width:28pt'>
        <col width=61 span=3 style='width:46pt'>
        <tr height=18 style='height:14.1pt'>
            <td height=18 width=75 style='height:14.1pt;width:56pt'><button id="onsubmit">保存</button></td>
            <td width=101 style='width:76pt'></td>
            <td class=xl67 width=37 style='width:28pt'></td>
            <td class=xl67 width=37 style='width:28pt'></td>
            <td width=45 style='width:34pt'></td>
            <td width=37 style='width:28pt'></td>
            <td width=57 style='width:43pt'></td>
            <td width=41 style='width:31pt'></td>
            <td width=69 style='width:52pt'></td>
            <td class=xl95 colspan=4 width=196 style='width:148pt'>万吉厂区<input id="area" type="checkbox" />
                金砂厂区<input id="area1" type="checkbox" /></td>
            <td class=xl70 width=80 style='width:46pt'>ZJ-F043H</td>
        </tr>
        <tr class=xl89 height=24 style='height:18.6pt' id="r1">
            <td colspan=14 height=24 class=xl117 style='height:18.6pt'>生产流通表（一）</td>
        </tr>
        <tr height=20 style='height:15.0pt' id="r2">
            <td colspan=14 height=20 class=xl118 style='height:15.0pt;border-right:none;'>
                RoHS:Y<input id="RoHS" type="checkbox" />
                    /N<input id="RoHS1" type="checkbox" /><span >    </span>
            </td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <!--<td colspan='3' height='21' class='x77'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:15.75pt;'>
                <font class="font0">生产型号：</font>
                <font class="font0"><input id='model' class="inputall" type="text"></font>
            </td>
            <td colspan='3' class='x80' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                <font class="font0">生产批次：</font>
                <font class="font0"><input id='taskSheetCode' class="inputall ipt140" type="text"></font>
            </td>
            <td colspan='3' class='x80' style='border-right:2px solid windowtext;border-bottom:1px solid windowtext;'>
                <font class="font0">投产台数：</font>
                <font class="font0"><input id='produceAmount' class="inputall" type="text"></font>
            </td>-->
            <td colspan=14 height=20 class=xl121 style='border-right:1.0pt solid black;height:15.0pt'>
                生产型号：<span class="inputSpan"><input id='model' class="ipt80"></span>
                <font class="font14"><span > </span></font>
                <font class="font9">生产批次：<span class="inputSpan"><input id='taskSheetCode'></span></font>投产台数：<span
                    class="inputSpan"><input id='produceAmount'></span></font>数量：<span class="inputSpan"><input id="amount"></span></font>
                <font class="font9"><span >  </span>修改标记：<span class="inputSpan"><input id="changeFlag"></span>
                </font>
            </td>

        </tr>
        <tr height=16 style='height:12.0pt'>
            <td colspan=4 rowspan=2 height=32 class=xl135 style='border-right:.5pt solid black;
  height:24.0pt'>部件名称：<span class="inputSpan" style="width:150px;"><input id="modelName" class="ipt180" ></span></td>
            <td rowspan=8 class=xl124 style='border-bottom:.5pt solid black;border-top:
  none'>承接<br>上道</td>
            <td rowspan=2 class=xl138 width=37 style='border-bottom:.5pt solid black;
  border-top:none;width:28pt'>承接次数</td>
            <td rowspan=2 class=xl140 style='border-bottom:.5pt solid black;border-top:
  none'>承接人</td>
            <td rowspan=2 class=xl74 style='border-top:none'>数量</td>
            <td rowspan=2 class=xl74 style='border-top:none'>日期</td>
            <td rowspan=8 class=xl124 style='border-bottom:.5pt solid black;border-top:
  none'>拍照<br>存档</td>
            <td colspan=2 rowspan=2 class=xl74>执行人</td>
            <td rowspan=2 class=xl140 style='border-bottom:.5pt solid black;border-top:
  none'>确认人</td>
            <td rowspan=2 class=xl133 style='border-bottom:.5pt solid black;border-top:
  none'>日期</td>
        </tr>
        <tr height=16 style='height:12.0pt'> </tr>
        <tr height=9 style='height:6.95pt'>
            <td colspan=4 rowspan=3 height=27 class=xl135 style='border-right:.5pt solid black;
  height:20.85pt'>PCB板号：<span class="inputSpan" style="width:150px;" ><input id="pcbCode" class="ipt180" ></span></td>
            <td rowspan=2 class=xl124 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan"><input id='cjsdgx_cjNum_1'></span></td>
            <td rowspan=2 class=xl153 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan"><input id='cjsdgx_cjUser_1'></span></td>
            <td rowspan=2 class=xl114 style='border-top:none'><span class="inputSpan"><input id="cjsdgx_cjAmount_1"></span></td>
            <td rowspan=2 class=xl114 style='border-top:none'><span class="inputSpan"><input id="cjsdgx_cjDate_1" class="dateType"></span></td>
            <td colspan=2 rowspan=6 class=xl127 style='border-right:.5pt solid black;
  border-bottom:.5pt solid black'><span class="inputSpan"><input id='kzsx_zxUser'></span></td>
            <td rowspan=6 class=xl140 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan"><input id='kzsx_qrUser'></span></td>
            <td rowspan=6 class=xl133 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan"><input id='kzsx_date' class="dateType"></span></td>
        </tr>
        <tr height=9 style='height:6.95pt'> </tr>
        <tr height=9 style='height:6.95pt'>
            <td rowspan=2 height=18 class=xl124 style='border-bottom:.5pt solid black;
  height:13.9pt;border-top:none'><span class="inputSpan"><input id='cjsdgx_cjNum_2' ></span></td>
            <td rowspan=2 class=xl141 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan"><input id='cjsdgx_cjUser_2'></span></td>
            <td rowspan=2 class=xl115 style='border-top:none'><span class="inputSpan"><input id="cjsdgx_cjAmount_2"></span></td>
            <td rowspan=2 class=xl115 style='border-top:none'><span class="inputSpan"><input id="cjsdgx_cjDate_2" class="dateType"></span></td>
        </tr>
        <tr height=9 style='height:6.95pt'>
            <td colspan=4 rowspan=3 height=27 class=xl135 style='border-right:.5pt solid black;
  height:20.85pt'>板编码：<span class="inputSpan" style="width:150px;"><input id="plateCode" class="ipt200"></span></td>
        </tr>
        <tr height=9 style='height:6.95pt'>
            <td rowspan=2 height=18 class=xl124 style='border-bottom:.5pt solid black;
  height:13.9pt;border-top:none'><span class="inputSpan"><input id='cjsdgx_cjNum_3'></span></td>
            <td rowspan=2 class=xl141 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan"><input id='cjsdgx_cjUser_3'></span></td>
            <td rowspan=2 class=xl141 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan"><input id="cjsdgx_cjAmount_3"></span></td>
            <td rowspan=2 class=xl115 style='border-top:none'><span class="inputSpan"><input id="cjsdgx_cjDate_3" class="dateType"></span></td>
        </tr>
        <tr height=9 style='height:6.95pt'> </tr>
        <tr height=26 style='height:20.1pt'>
            <td height=26 class=xl71 width=75 style='height:20.1pt;border-top:none;
  width:56pt'>生产内容</td>
            <td class=xl74 style='border-top:none;border-left:none'>设备名称</td>
            <td colspan=2 class=xl73 width=74 style='border-left:none;width:56pt'>设备编号</td>
            <td colspan=5 class=xl76 style='border-left:none'>关键工艺参数</td>
            <td colspan=3 class=xl74 style='border-left:none'>程序名称</td>
            <td class=xl73 width=61 style='border-top:none;border-left:none;width:46pt'>程序正常</td>
            <td class=xl80 style='border-top:none;border-left:none'>操作者</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td rowspan=2 height=40 class=xl148 width=75 style='height:30.0pt;border-top:
  none;width:56pt'><span class="inputSpan"><input id="sbcs_scnr"></span></td>
            <td rowspan=2 class=xl127 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan"><input id="sbcs_sbmc"></span></td>
            <td colspan=2 rowspan=2 class=xl127 style='border-right:.5pt solid black;
  border-bottom:.5pt solid black'><span class="inputSpan"><input id="sbcs_sbbh"></span></td>
            <td colspan=5 class=xl150 style='border-left:none'>供气压力：<span class="inputSpan"><input id="sbcs_gjgycs_gqyl"></span>
                <font class="font12">
                    kgf/c㎡<span >   </span></font>
            </td>
            <td colspan=3 rowspan=2 class=xl74><span class="inputSpan" style="width:120px;"><input id="sbcs_gjgycs_cxmc"></span></td>
            <td rowspan=2 class=xl74 style='border-top:none'><input id="sbcs_gjgycs_cxzc" type="checkbox" /></td>
            <td rowspan=2 class=xl80 style='border-top:none'><span class="inputSpan"><input id="sbcs_gjgycs_czUser"></span></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td colspan=5 height=20 class=xl150 style='height:15.0pt;border-left:none'>焊头温度：<span
                    class="inputSpan"><input id="sbcs_gjgycs_htwd"></span>
                <font class="font12"> ℃<span > </span></font>
            </td>
        </tr>
        <tr height=32 style='height:24.0pt'>
            <td height=32 class=xl83 style='height:24.0pt'>——</td>
            <td class=xl74 style='border-top:none'>生产者</td>
            <td class=xl73 width=37 style='border-top:none;border-left:none;width:28pt'>生产数量</td>
            <td class=xl78 width=37 style='border-left:none;width:28pt'>清产核对</td>
            <td class=xl74 style='border-top:none;border-left:none'>首检</td>
            <td colspan=2 class=xl151 style='border-left:none'>QC</td>
            <td class=xl73 width=41 style='border-top:none;border-left:none;width:31pt'>检查数量</td>
            <td class=xl74 style='border-top:none;border-left:none'>日期</td>
            <td rowspan=6 class=xl143 width=37 style='border-top:none;width:28pt'>交接下道</td>
            <td class=xl73 width=37 style='border-top:none;border-left:none;width:28pt'>交接次数</td>
            <td class=xl76 style='border-left:none'>交接人</td>
            <td class=xl76 style='border-left:none'>数量</td>
            <td class=xl77 style='border-left:none'>日期</td>
        </tr>

        <tr height=20 style='height:15.6pt'>
            <td height=20 class=xl104 style='height:15.6pt'><span class="inputSpan"><input id="scqc_gx_1"></span></td>
            <td class=xl72 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_scUser_1"></span></td>
            <td class=xl74 style='border-top:none'><span class="inputSpan"><input id="scqc_scAmount_1"></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><input type="checkbox" id="scqc_qchd_1" /></td>
            <td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_sj_1"></span></td>
            <td colspan=2 class=xl72 style='border-right:.5pt solid black;border-left:
  none'><span class="inputSpan"><input id="scqc_qc_1"></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_jcsl_1"></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_date_1" class="dateType"></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjNum_1"></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjUser_1"></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjAmount_1"></span></td>
            <td class=xl101 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjDate_1" class="dateType"></span></td>
        </tr>
        <tr height=20 style='height:15.6pt'>
            <td height=20 class=xl85 width=75 style='height:15.6pt;border-top:none;
  width:56pt'><span class="inputSpan"><input id="scqc_gx_2"></span></td>
            <td class=xl72 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_scUser_2"></span></td>
            <td class=xl74 style='border-top:none'><span class="inputSpan"><input id="scqc_scAmount_2"></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><input type="checkbox" id="scqc_qchd_2" /></td>
            <td class=xl65 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_sj_2"></span></td>
            <td colspan=2 class=xl72 style='border-right:.5pt solid black;border-left:
  none'><span class="inputSpan"><input id="scqc_qc_2"></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_jcsl_2"></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_date_2" class="dateType"></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjNum_2"></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjUser_2"></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjAmount_2"></span></td>
            <td class=xl101 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjDate_2" class="dateType"></span></td>
        </tr>
        <tr height=20 style='height:15.6pt'>
            <td height=20 class=xl85 width=75 style='height:15.6pt;border-top:none;
  width:56pt'><span class="inputSpan"><input id="scqc_gx_3"></span></td>
            <td class=xl72 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_scUser_3"></span></td>
            <td class=xl74 style='border-top:none'><span class="inputSpan"><input id="scqc_scAmount_3"></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><input type="checkbox" id="scqc_qchd_3" /></td>
            <td class=xl65 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_sj_3"></span></td>
            <td colspan=2 class=xl72 style='border-right:.5pt solid black;border-left:
  none'><span class="inputSpan"><input id="scqc_qc_3"></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_jcsl_3"></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_date_3" class="dateType"></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjNum_3"></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjUser_3"></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjAmount_3"></span></td>
            <td class=xl101 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjDate_3" class="dateType"></span></td>
        </tr>
        <tr height=20 style='height:15.6pt'>
            <td height=20 class=xl85 width=75 style='height:15.6pt;border-top:none;
  width:56pt'><span class="inputSpan"><input id="scqc_gx_4"></span></td>
            <td class=xl72 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_scUser_4"></span></td>
            <td class=xl74 style='border-top:none'><span class="inputSpan"><input id="scqc_scAmount_4"></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><input type="checkbox" id="scqc_qchd_4"/></td>
            <td class=xl65 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_sj_4"></span></td>
            <td colspan=2 class=xl72 style='border-right:.5pt solid black;border-left:
  none'><span class="inputSpan"><input id="scqc_qc_4"></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_jcsl_4"></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_date_4" class="dateType"></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjNum_4"></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjUser_4"></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjAmount_4"></span></td>
            <td class=xl101 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjDate_4" class="dateType"></span></td>
        </tr>
        <tr height=20 style='height:15.6pt'>
            <td height=20 class=xl86 width=75 style='height:15.6pt;border-top:none;
  width:56pt'><span class="inputSpan"><input id="scqc_gx_5"></span></td>
            <td class=xl72 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_scUser_5"></span></td>
            <td class=xl75 style='border-top:none'><span class="inputSpan"><input id="scqc_scAmount_5"></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><input type="checkbox" id="scqc_qchd_5" /></td>
            <td class=xl65 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_sj_5"></span></td>
            <td colspan=2 class=xl72 style='border-right:.5pt solid black;border-left:
  none'><span class="inputSpan"><input id="scqc_qc_5"></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_jcsl_5"></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_date_5" class="dateType"></span></td>
            <td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjNum_5"></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjUser_5"></span></td>
            <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjAmount_5"></span></td>
            <td class=xl101 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjDate_5" class="dateType"></span></td>
        </tr>
        <tr height=26 style='height:20.1pt'>
            <td colspan=12 height=26 class=xl105 style='border-right:.5pt solid black;
  height:20.1pt'>(1-不良电路板数量÷电路板总数)×100%＝电路板合格率</td>
            <td colspan=2 class=xl111 style='border-right:1.0pt solid black'>统计人</td>
        </tr>
        <tr height=26 style='height:20.1pt'>
            <td colspan=12 height=26 class=xl108 style='border-right:.5pt solid black;
  height:20.1pt'>(1－<span class="inputSpan"><input id="xdgxjj_cjNum_1" style="text-align: center"></span>÷<span class="inputSpan"><input id="xdgxjj_cjNum_2" style="text-align: center"></span>)×100%＝<span
                    class="inputSpan"><input id="xdgxjj_cjNum_3" style="text-align: center"></span>%</td>
            <td colspan=2 class=xl109 style='border-right:1.0pt solid black'><span class="inputSpan"><input id="statisticsUser" style="text-align: center"></span></td>
        </tr>
        <tr height=33 style='height:24.95pt'>
            <td height=33 class=xl88 style='height:24.95pt;border-top:none'>备 注</td>
            <td colspan=13 class=xl152 style='border-left:none'><span class="inputSpan"
                    style="width:100%"><input id="remark" style="text-align: center"></span></td>
        </tr>
        <tr height=20 style='height:15.6pt'>
            <td height=20 class=xl92 colspan=13 style='height:15.6pt;'>
                注：1.完成生产后生产者清产核对器件数量，如正确请在清产核对<input type="checkbox" />打√，否则上报车间管理人员；</td>
            <td class=xl102></td>
        </tr>
        <tr height=20 style='height:15.6pt'>
            <td height=20 class=xl92 colspan=12 style='height:15.6pt;'>
                &nbsp;&nbsp;2.生产该板使用到的设备、程序正常项<input type="checkbox" />打√，填写相应的关键工艺参数、程序名称。
            </td>
            <td colspan=2 class=xl68></td>
        </tr>

    </table>

</body>

<script language='javascript' type='text/javascript'>
    function ChangeRowspanHiddenData() {
        var node;
        var params = ["r5", "r6", "r9", "r19", "r20", "r24"];
        for (var i = 0; i < params.length; i++) {
            node = document.getElementById(params[i]);
            if (node != null) {
                node.style.display = "";
            }
        }
    }
    ChangeRowspanHiddenData();

    layui.use(['table', 'jquery', 'form', 'layer', 'laydate'], function () {
        var table = layui.table,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate,
            $ = layui.jquery;
        var dd = JSON.parse($('[name=data]').val());
        console.log(dd)
        //这里开始拿数据
        $('.dateType').focus(function () {
            $(this).attr('type', 'date')
        }).blur(function () {
            var timeTxt = $(this).val().replace(/-/g, '.').substring(2);
            $(this).attr('type', 'text').val(timeTxt)
        })

        if (dd.factory == "万吉厂区") {
            $('#area').attr('checked', true)
        }
        if (dd.factory == "金砂厂区") {
            $('#area1').attr('checked', true)
        }
        if (dd.is_rohs == "是") {
            $('#RoHS').attr('checked', true)
        }
        if (dd.is_rohs == "否") {
            $('#RoHS1').attr('checked', true)
        }

        //型号
        $('#model').val(dd.model_ver)
        //部件名称
        $('#modelName').val(dd.model_name)
        //生产批次
        $('#taskSheetCode').val(dd.task_sheet_code)
        //投产台数
        $('#produceAmount').val(dd.quantity)
        //数量
        $('#amount').val(dd.pcb_quantity)
        //修改标记
        $('#changeFlag').val(dd.pcb_modify_tag)
        //pcb板号
        $('#pcbCode').val(dd.pcb_id)
        //板编码
        $('#plateCode').val(dd.batch_id)

        var dj = {}
        function initAjax() {
            $.ajax({
                url: '/report/findCurrentReport',
                type: "post",
                dataType: "json",
                data: JSON.stringify({
                    pcbTaskCode: dd.pcb_task_code,
                    reportType: '3'
                }),
                contentType: "application/json;charset=UTF-8",
                success: function (res) {
                    if (res.code === 200) {
                        if (res.data.length > 0) {
                            dj = JSON.parse(res.data[0].json_data);
                        }
                        console.log(dj)
                        console.log(11111)
                        if (Object.keys(dj).length > 0) {
                            console.log(dj.cjsdgx[0].cjUser)
                            $('#cjsdgx_cjUser_1').val(dj.cjsdgx[0].cjUser)
                            $('#cjsdgx_cjNum_1').val(dj.cjsdgx[0].cjNum)
                            $('#cjsdgx_cjAmount_1').val(dj.cjsdgx[0].cjAmount)
                            $('#cjsdgx_cjDate_1').val(dj.cjsdgx[0].cjDate)

                            $('#cjsdgx_cjUser_2').val(dj.cjsdgx[1].cjUser)
                            $('#cjsdgx_cjNum_2').val(dj.cjsdgx[1].cjNum)
                            $('#cjsdgx_cjAmount_2').val(dj.cjsdgx[1].cjAmount)
                            $('#cjsdgx_cjDate_2').val(dj.cjsdgx[1].cjDate)

                            $('#cjsdgx_cjUser_3').val(dj.cjsdgx[2].cjUser)
                            $('#cjsdgx_cjNum_3').val(dj.cjsdgx[2].cjNum)
                            $('#cjsdgx_cjAmount_3').val(dj.cjsdgx[2].cjAmount)
                            $('#cjsdgx_cjDate_3').val(dj.cjsdgx[2].cjDate)
                            //可追溯性
                            $('#kzsx_zxUser').val(dj.kzsx[0].zxUser)
                            $('#kzsx_qrUser').val(dj.kzsx[0].qrUser)
                            console.log(dj.kzsx[0].date)
                            $('#kzsx_date').val(dj.kzsx[0].date)
                            // todo-------------------------------------

                            // todo----------------------------------
                            //贴胶纸
                            /*$('#tjz_scUser_1').val(dj.tjz[0].scUser)
                            $('#tjz_qcUser_1').val(dj.tjz[0].qrUser)
                            $('#tjz_date_1').val(dj.tjz[0].date)

                            $('#tjz_scUser_2').val(dj.tjz[1].scUser)
                            $('#tjz_qcUser_2').val(dj.tjz[1].qrUser)
                            $('#tjz_date_2').val(dj.tjz[1].date)

                            $('#tjz_scUser_3').val(dj.tjz[2].scUser)
                            $('#tjz_qcUser_3').val(dj.tjz[2].qrUser)
                            $('#tjz_date_3').val(dj.tjz[2].date)
                            // 装配固件
                            $('#zpgj_scUser_1').val(dj.zpgj[0].scUser)
                            $('#zpgj_qchdUser_1').val(dj.zpgj[0].qchdUser)
                            if (dj.zpgj[0].qchs == 1) {
                                $('#zpgj_qchs_1').attr('checked', true)
                            }
                            $('#zpgj_date_1').val(dj.zpgj[0].date)

                            $('#zpgj_scUser_2').val(dj.zpgj[1].scUser)
                            $('#zpgj_qchdUser_2').val(dj.zpgj[1].qchdUser)
                            if (dj.zpgj[1].qchs == 1) {
                                $('#zpgj_qchs_2').attr('checked', true)
                            }
                            $('#zpgj_date_2').val(dj.zpgj[1].date)

                            $('#zpgj_scUser_3').val(dj.zpgj[2].scUser)
                            $('#zpgj_qchdUser_3').val(dj.zpgj[2].qchdUser)
                            if (dj.zpgj[2].qchs == 1) {
                                $('#zpgj_qchs_3').attr('checked', true)
                            }
                            $('#zpgj_date_3').val(dj.zpgj[2].date)
                            // 手 插
                            for (var i = 0; i < 20; i++) {
                                $('#sc_record_scUser_' + (i + 1)).val(dj.sc.record[i].scUser)
                                if (dj.sc.record[i].qchd == 1) {
                                    $('#sc_record_qchd_' + (i + 1)).attr('checked', true)
                                }
                            }
                            $('#sc_plateAmount').val(dj.sc.plateAmount)
                            $('#sc_sjStatue').val(dj.sc.sjStatue)
                            $('#sc_qcUser').val(dj.sc.qcUser)
                            $('#sc_date').val(dj.sc.date)
                            // 波峰焊接机
                            if (dj.bfhjj.isUser == 1) {
                                $('#bfhjj_isUser').attr('checked', true)
                            }*/
                            // todo
                            console.log(""+ dj.sbcs)
                            $('#sbcs_scnr').val(dj.sbcs.scnr)
                            $('#sbcs_sbmc').val(dj.sbcs.sbmc)
                            $('#sbcs_sbbh').val(dj.sbcs.sbbh)
                            $('#sbcs_gjgycs_gqyl').val(dj.sbcs.gjgycs.gqyl)
                            $('#sbcs_gjgycs_htwd').val(dj.sbcs.gjgycs.htwd)
                            $('#sbcs_gjgycs_cxmc').val(dj.sbcs.gjgycs.cxmc)
                            /*if (dj.sbcs.gjgycs.cxzc.equals("on")) {
                                $('#zpgj_qchs_1').attr('checked', true)
                            }*/
                            console.log("程序正常:" + dj.sbcs.gjgycs.cxzc);
                            if (dj.sbcs.gjgycs.cxzc == 1) {
                                $('#sbcs_gjgycs_cxzc').attr('checked', true)
                            }
                            /*$('#sbcs_gjgycs_cxzc').val(dj.sbcs.gjgycs.cxzc)*/
                            $('#sbcs_gjgycs_czUser').val(dj.sbcs.gjgycs.czUser)

                            // 生产数据 ---------------
                            $('#scqc_gx_1').val(dj.scqc[0].gx)
                            $('#scqc_scUser_1').val(dj.scqc[0].scUser)
                            $('#scqc_scAmount_1').val(dj.scqc[0].scAmount)
                            /*$('#scqc_qchd_1').val(dj.scqc[0].qchd)*/
                            console.log("清产核对1:" + dj.scqc[0].qchd);
                            if (dj.scqc[0].qchd == 1){
                                $('#scqc_qchd_1').attr('checked', true)
                            }
                            $('#scqc_sj_1').val(dj.scqc[0].sj)
                            $('#scqc_qc_1').val(dj.scqc[0].qc)
                            $('#scqc_jcsl_1').val(dj.scqc[0].jcsl)
                            $('#scqc_date_1').val(dj.scqc[0].date)

                            $('#scqc_gx_2').val(dj.scqc[1].gx)
                            $('#scqc_scUser_2').val(dj.scqc[1].scUser)
                            $('#scqc_scAmount_2').val(dj.scqc[1].scAmount)
                            /*$('#scqc_qchd_2').val(dj.scqc[1].qchd)*/
                            if (dj.scqc[1].qchd == 1){
                                $('#scqc_qchd_2').attr('checked', true)
                            }
                            $('#scqc_sj_2').val(dj.scqc[1].sj)
                            $('#scqc_qc_2').val(dj.scqc[1].qc)
                            $('#scqc_jcsl_2').val(dj.scqc[1].jcsl)
                            $('#scqc_date_2').val(dj.scqc[1].date)

                            $('#scqc_gx_3').val(dj.scqc[2].gx)
                            $('#scqc_scUser_3').val(dj.scqc[2].scUser)
                            $('#scqc_scAmount_3').val(dj.scqc[2].scAmount)
                            /*$('#scqc_qchd_3').val(dj.scqc[2].qchd)*/
                            if (dj.scqc[2].qchd == 1){
                                $('#scqc_qchd_3').attr('checked', true)
                            }
                            $('#scqc_sj_3').val(dj.scqc[2].sj)
                            $('#scqc_qc_3').val(dj.scqc[2].qc)
                            $('#scqc_jcsl_3').val(dj.scqc[2].jcsl)
                            $('#scqc_date_3').val(dj.scqc[2].date)

                            $('#scqc_gx_4').val(dj.scqc[3].gx)
                            $('#scqc_scUser_4').val(dj.scqc[3].scUser)
                            $('#scqc_scAmount_4').val(dj.scqc[3].scAmount)
                            /*$('#scqc_qchd_4').val(dj.scqc[3].qchd)*/
                            if (dj.scqc[3].qchd == 1){
                                $('#scqc_qchd_4').attr('checked', true)
                            }
                            $('#scqc_sj_4').val(dj.scqc[3].sj)
                            $('#scqc_qc_4').val(dj.scqc[3].qc)
                            $('#scqc_jcsl_4').val(dj.scqc[3].jcsl)
                            $('#scqc_date_4').val(dj.scqc[3].date)

                            $('#scqc_gx_5').val(dj.scqc[4].gx)
                            $('#scqc_scUser_5').val(dj.scqc[4].scUser)
                            $('#scqc_scAmount_5').val(dj.scqc[4].scAmount)
                            /*$('#scqc_qchd_5').val(dj.scqc[4].qchd)*/
                            if (dj.scqc[4].qchd == 1){
                                $('#scqc_qchd_5').attr('checked', true)
                            }
                            $('#scqc_sj_5').val(dj.scqc[4].sj)
                            $('#scqc_qc_5').val(dj.scqc[4].qc)
                            $('#scqc_jcsl_5').val(dj.scqc[4].jcsl)
                            $('#scqc_date_5').val(dj.scqc[4].date)
                            // 交接数据------------------------
                            // <td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjNum_5"></span></td>
                            // <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjUser_5"></span></td>
                            // <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjAmount_5"></span></td>
                            // <td class=xl101 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjDate_5"></span></td>
                            $('#jjxd_cjNum_1').val(dj.jjxd[0].cjNum)
                            $('#jjxd_cjUser_1').val(dj.jjxd[0].cjUser)
                            $('#jjxd_cjAmount_1').val(dj.jjxd[0].cjAmount)
                            $('#jjxd_cjDate_1').val(dj.jjxd[0].cjDate)
                            $('#jjxd_cjNum_2').val(dj.jjxd[1].cjNum)
                            $('#jjxd_cjUser_2').val(dj.jjxd[1].cjUser)
                            $('#jjxd_cjAmount_2').val(dj.jjxd[1].cjAmount)
                            $('#jjxd_cjDate_2').val(dj.jjxd[1].cjDate)
                            $('#jjxd_cjNum_3').val(dj.jjxd[2].cjNum)
                            $('#jjxd_cjUser_3').val(dj.jjxd[2].cjUser)
                            $('#jjxd_cjAmount_3').val(dj.jjxd[2].cjAmount)
                            $('#jjxd_cjDate_3').val(dj.jjxd[2].cjDate)
                            $('#jjxd_cjNum_4').val(dj.jjxd[3].cjNum)
                            $('#jjxd_cjUser_4').val(dj.jjxd[3].cjUser)
                            $('#jjxd_cjAmount_4').val(dj.jjxd[3].cjAmount)
                            $('#jjxd_cjDate_4').val(dj.jjxd[3].cjDate)
                            $('#jjxd_cjNum_5').val(dj.jjxd[4].cjNum)
                            $('#jjxd_cjUser_5').val(dj.jjxd[4].cjUser)
                            $('#jjxd_cjAmount_5').val(dj.jjxd[4].cjAmount)
                            $('#jjxd_cjDate_5').val(dj.jjxd[4].cjDate)

                            $('#remark').val(dj.remark);
                            $('#statisticsUser').val(dj.statisticsUser);
                            $('#xdgxjj_cjNum_1').val(dj.xdgxjj[0].cjNum)
                            $('#xdgxjj_cjNum_2').val(dj.xdgxjj[1].cjNum)
                            $('#xdgxjj_cjNum_3').val(dj.xdgxjj[2].cjNum)


                            // ------------------------------------------
                            /*$('#bfhjj_deviceCode').val(dj.bfhjj.deviceCode)
                            $('#bfhjj_deviceName').val(dj.bfhjj.deviceName)
                            $('#bfhjj_craftParam_yr1B').val(dj.bfhjj.craftParam.yr1B)
                            $('#bfhjj_craftParam_yr2B').val(dj.bfhjj.craftParam.yr2B)
                            $('#bfhjj_craftParam_yr3B').val(dj.bfhjj.craftParam.yr3B)
                            $('#bfhjj_craftParam_yr2T').val(dj.bfhjj.craftParam.yr2T)
                            $('#bfhjj_craftParam_yr3T').val(dj.bfhjj.craftParam.yr3T)
                            $('#bfhjj_craftParam_ltsd').val(dj.bfhjj.craftParam.ltsd)
                            $('#bfhjj_craftParam_xlwd').val(dj.bfhjj.craftParam.xlwd)
                            $('#bfhjj_craftParam_gqyl').val(dj.bfhjj.craftParam.gqyl)
                            $('#bfhjj_craftParam_pwqy').val(dj.bfhjj.craftParam.pwqy)
                            $('#bfhjj_craftParam_zfqy').val(dj.bfhjj.craftParam.zfqy)
                            $('#bfhjj_programName').val(dj.bfhjj.programName)
                            if (dj.bfhjj.programStatus == 1) {
                                $('#bfhjj_programStatus').attr('checked', true)
                            }
                            $('#bfhjj_produceDate').val(dj.bfhjj.produceDate)
                            $('#bfhjj_amount').val(dj.bfhjj.amount)
                            if (dj.bfhjj.qchd == 1) {
                                $('#bfhjj_qchd').attr('checked', true)
                            }
                            $('#bfhjj_doUser').val(dj.bfhjj.doUser)
                            $('#bfhjj_sjStatus').val(dj.bfhjj.sjStatus)
                            $('#bfhjj_sjUser').val(dj.bfhjj.sjUser)
                            $('#bfhjj_qcUser').val(dj.bfhjj.qcUser)
                            $('#bfhjj_checkDate').val(dj.bfhjj.checkDate)*/


                            for (var i = 0; i < 3; i++) {
                                    $('#xdgxjj_cjUser_' + (i + 1)).val(dj.xdgxjj[i].cjUser)
                                    $('#xdgxjj_cjAmount_' + (i + 1)).val(dj.xdgxjj[i].cjAmount)
                                    $('#xdgxjj_cjDate_' + (i + 1)).val(dj.xdgxjj[i].cjDate)
                            }
                            //$('#remarks').val(dj.remarks)
                        }
                    } else {
                        layer.alert(res.msg, { icon: 5 })
                    }
                }
            })
        }
        initAjax();
        $('#onsubmit').on('click', function () {
            var datajson = {
                "area": dd.factory,
                "tempParam": "ZJ-F043H",
                "RoHS": dd.is_rohs,
                "model": dd.model_ver,
                "modelName": dd.model_name,
                "taskSheetCode": dd.task_sheet_code,
                "produceAmount": dd.quantity,
                "amount":dd.pcb_quantity,
                "changeFlag":dd.pcb_modify_tag,
                "pcbCode": dd.pcb_id,
                "plateCode": dd.batch_id,
                "cjsdgx": [
                    {
                        "cjUser": $('#cjsdgx_cjUser_1').val(),
                        "cjNum": $('#cjsdgx_cjNum_1').val(),
                        "cjAmount": $('#cjsdgx_cjAmount_1').val(),
                        "cjDate": $('#cjsdgx_cjDate_1').val()
                    },
                    {
                        "cjUser": $('#cjsdgx_cjUser_2').val(),
                        "cjNum": $('#cjsdgx_cjNum_2').val(),
                        "cjAmount": $('#cjsdgx_cjAmount_2').val(),
                        "cjDate": $('#cjsdgx_cjDate_2').val()
                    },
                    {
                        "cjUser": $('#cjsdgx_cjUser_3').val(),
                        "cjNum": $('#cjsdgx_cjNum_3').val(),
                        "cjAmount": $('#cjsdgx_cjAmount_3').val(),
                        "cjDate": $('#cjsdgx_cjDate_3').val()
                    }
                ],
                "kzsx": [
                    {
                        "zxUser": $('#kzsx_zxUser').val(),
                        "qrUser": $('#kzsx_qrUser').val(),
                        "date": $('#kzsx_date').val()
                    },
                    // {
                    //   "zxUser": "李XX",
                    //   "qrUser": "张XX",
                    //   "date": "20.01.02"
                    // }
                ],

                // todo______________
                "tjz": [
                    {
                        "scUser": $('#tjz_scUser_1').val(),
                        "qcUser": $('#tjz_qcUser_1').val(),
                        "date": $('#tjz_date_1').val()
                    },
                    {
                        "scUser": $('#tjz_scUser_2').val(),
                        "qcUser": $('#tjz_qcUser_2').val(),
                        "date": $('#tjz_date_2').val()
                    },
                    {
                        "scUser": $('#tjz_scUser_3').val(),
                        "qcUser": $('#tjz_qcUser_3').val(),
                        "date": $('#tjz_date_3').val()
                    }
                ],
                "zpgj": [
                    {
                        "scUser": $('#zpgj_scUser_1').val(),
                        "qchdUser": $('#zpgj_qchdUser_1').val(),
                        "qchs": $('#zpgj_qchs_1').val(),
                        "date": $('#zpgj_date_1').val()
                    },
                    {
                        "scUser": $('#zpgj_scUser_2').val(),
                        "qchdUser": $('#zpgj_qchdUser_2').val(),
                        "qchs": $('#zpgj_qchs_2').val(),
                        "date": $('#zpgj_date_2').val()
                    },
                    {
                        "scUser": $('#zpgj_scUser_3').val(),
                        "qchdUser": $('#zpgj_qchdUser_3').val(),
                        "qchs": $('#zpgj_qchs_3').val(),
                        "date": $('#zpgj_date_3').val()
                    }
                ],

                // todo
                "sbcs":
                    {
                        "scnr": $('#sbcs_scnr').val(),
                        "sbmc": $('#sbcs_sbmc').val(),
                        "sbbh": $('#sbcs_sbbh').val(),
                        "gjgycs":
                            {
                                "gqyl": $('#sbcs_gjgycs_gqyl').val(),
                                "htwd": $('#sbcs_gjgycs_htwd').val(),
                                "cxmc": $('#sbcs_gjgycs_cxmc').val(),
                                "cxzc": $('#sbcs_gjgycs_cxzc').is(":checked")?1:0,
                                "czUser": $('#sbcs_gjgycs_czUser').val()
                            }

                    },
                    // {
                    //     "scnr": "1",
                    //     "sbmc": "2",
                    //     "sbbh": "3",
                    //     "gjgycs": [
                    //         {
                    //             "gqyl": "4_1",
                    //             "htwd": "4_2",
                    //             "cxmc": "4_3",
                    //             "cxzc": "4_4",
                    //             "czUser": "4_5"
                    //         }
                    //     ],
                    // },

                "scqc": [
                    {
                        "gx": $('#scqc_gx_1').val(),
                        "scUser": $('#scqc_scUser_1').val(),
                        "scAmount": $('#scqc_scAmount_1').val(),
                        "qchd": $('#scqc_qchd_1').is(":checked")?1:0,
                        "sj": $('#scqc_sj_1').val(),
                        "qc": $('#scqc_qc_1').val(),
                        "jcsl": $('#scqc_jcsl_1').val(),
                        "date": $('#scqc_date_1').val()
                    },
                    {
                        "gx": $('#scqc_gx_2').val(),
                        "scUser": $('#scqc_scUser_2').val(),
                        "scAmount": $('#scqc_scAmount_2').val(),
                        "qchd": $('#scqc_qchd_2').is(":checked")?1:0,
                        "sj": $('#scqc_sj_2').val(),
                        "qc": $('#scqc_qc_2').val(),
                        "jcsl": $('#scqc_jcsl_2').val(),
                        "date": $('#scqc_date_2').val()
                    },
                    {
                        "gx": $('#scqc_gx_3').val(),
                        "scUser": $('#scqc_scUser_3').val(),
                        "scAmount": $('#scqc_scAmount_3').val(),
                        "qchd": $('#scqc_qchd_3').is(":checked")?1:0,
                        "sj": $('#scqc_sj_3').val(),
                        "qc": $('#scqc_qc_3').val(),
                        "jcsl": $('#scqc_jcsl_3').val(),
                        "date": $('#scqc_date_3').val()
                    },
                    {
                        "gx": $('#scqc_gx_4').val(),
                        "scUser": $('#scqc_scUser_4').val(),
                        "scAmount": $('#scqc_scAmount_4').val(),
                        "qchd": $('#scqc_qchd_4').is(":checked")?1:0,
                        "sj": $('#scqc_sj_4').val(),
                        "qc": $('#scqc_qc_4').val(),
                        "jcsl": $('#scqc_jcsl_4').val(),
                        "date": $('#scqc_date_4').val()
                    },
                    {
                        "gx": $('#scqc_gx_5').val(),
                        "scUser": $('#scqc_scUser_5').val(),
                        "scAmount": $('#scqc_scAmount_5').val(),
                        "qchd": $('#scqc_qchd_5').is(":checked")?1:0,
                        "sj": $('#scqc_sj_5').val(),
                        "qc": $('#scqc_qc_5').val(),
                        "jcsl": $('#scqc_jcsl_5').val(),
                        "date": $('#scqc_date_5').val()
                    }

                ],

                "jjxd": [
                    {
                        "cjNum": $('#jjxd_cjNum_1').val(),
                        "cjUser": $('#jjxd_cjUser_1').val(),
                        "cjAmount": $('#jjxd_cjAmount_1').val(),
                        "cjDate": $('#jjxd_cjDate_1').val(),
                    },
                    {
                        "cjNum": $('#jjxd_cjNum_2').val(),
                        "cjUser": $('#jjxd_cjUser_2').val(),
                        "cjAmount": $('#jjxd_cjAmount_2').val(),
                        "cjDate": $('#jjxd_cjDate_2').val(),
                    },
                    {
                        "cjNum": $('#jjxd_cjNum_3').val(),
                        "cjUser": $('#jjxd_cjUser_3').val(),
                        "cjAmount": $('#jjxd_cjAmount_3').val(),
                        "cjDate": $('#jjxd_cjDate_3').val(),
                    },
                    {
                        "cjNum": $('#jjxd_cjNum_4').val(),
                        "cjUser": $('#jjxd_cjUser_4').val(),
                        "cjAmount": $('#jjxd_cjAmount_4').val(),
                        "cjDate": $('#jjxd_cjDate_4').val(),
                    },
                    {
                        "cjNum": $('#jjxd_cjNum_5').val(),
                        "cjUser": $('#jjxd_cjUser_5').val(),
                        "cjAmount": $('#jjxd_cjAmount_5').val(),
                        "cjDate": $('#jjxd_cjDate_5').val(),
                    }
                ],
                "remark": $('#remark').val(),
                "statisticsUser": $('#statisticsUser').val(),

                "xdgxjj": [
                    {
                        "cjNum": $('#xdgxjj_cjNum_1').val()
                    },
                    {
                        "cjNum": $('#xdgxjj_cjNum_2').val()
                    },
                    {
                        "cjNum": $('#xdgxjj_cjNum_3').val()
                    },

                ],


            }
            console.log(datajson)
            $.ajax({
                url: '/currentReport/addCurrentReport',
                type: "post",
                dataType: "json",
                data: JSON.stringify({
                    pcb_task_code: dd.pcb_task_code,
                    json_data: JSON.stringify(datajson),
                    report_type: '3'
                }),
                contentType: "application/json;charset=UTF-8",
                success: function (res) {
                    if (res.code === 200) {
                        var initajax = layer.alert(res.msg, { icon: 1 }, function () {
                            initAjax()
                            layer.close(initajax);
                        })
                    } else {
                        layer.alert(res.msg, { icon: 5 })
                    }
                }
            })
        })
    })
</script>

</html>