<html>

	<head>
		<meta http-equiv=Content-Type content="text/html; charset=utf-8">
		<title>后焊流通表</title>
		<link rel="Stylesheet" href="../../css/scltb1.css">
		<style>
			* {
            margin: 0;
            padding: 0;
        }

        @page {
            size: A4;
            margin: 0;
        }

        .box {
            background: #eee;
            box-sizing: border-box;
            width: 210mm;
            /*210*/
            height: 297mm;
            /*297*/
            text-align: left;
            padding: 3mm;
        }

        .inputSpan {
            position: relative;
            display: block;
            align-content: center;
            width: auto;
            height: 14px;
			background: transparent;
        }

        .displayType .inputSpan {
            display: inline-block;
            width: 80px;
        }

        .inputSpan input {
            /* position: absolute; */
            width: 100%;
            border: none;
            text-align: left;
            left: 0;
            background: transparent;
        }
        .inputCenter {
            text-align: center;
        }

        td {
            vertical-align: middle;
            position: relative;
            padding: 0;
            overflow: hidden;
        }
        .inputall {
            border: none;
            height: 80%;
            width: 70px !important;
            vertical-align: top;
            text-align: center;
        }

        .ipt81 {
            width: 80px !important;
            border: hidden;
            font-size: 16px;
            background: #eee;
        }
/* 		.inputOnblur0{
			margin-top: -3px;
		} */
        #onsubmit,
        #op {
            display: block;
            height: 28px;
            line-height: 28px;
            padding: 0 18px;
            background-color: #1e9fff;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            float: left;
            margin: 0 10px 10px 0;
        }
    </style>
		<script src="../../lib/layui-v2.3.0/layui.js" charset="utf-8"></script>
		<script src="../../js/common.js"></script>
	</head>

	<body class="box" style="margin: 0 auto;">
		<form>
			<input type="hidden" name="data">
		</form>
		<div>
			<button id="onsubmit">保存</button> <button id='op'> 打印</button>
		</div>
		<table border=0 cellpadding=0 cellspacing=0 style='border-collapse:
 collapse;table-layout:fixed;width:100%;' id="pagePrint">
			<col width=75 style='width:56pt'>
			<col width=101 style='width:76pt'>
			<col width=37 span=2 style='width:28pt'>
			<col width=45 style='width:34pt'>
			<col width=37 style='width:28pt'>
			<col width=57 style='width:43pt'>
			<col width=41 style='width:31pt'>
			<col width=69 style='width:52pt'>
			<col width=37 span=2 style='width:28pt'>
			<col width=61 span=3 style='width:46pt'>
			<tr height=18 style='height:14.1pt'>
				<td height=18 width=75 style='height:14.1pt;width:56pt'></td>
				<td width=101 style='width:76pt'></td>
				<td class=xl67 width=37 style='width:28pt'></td>
				<td class=xl67 width=37 style='width:28pt'></td>
				<td width=45 style='width:34pt'></td>
				<td width=37 style='width:28pt'></td>
				<td width=57 style='width:43pt'></td>
				<td width=41 style='width:31pt'></td>

				<td class=xl95 colspan=4 width=196 style='width:148pt'>万吉厂区<input id="area" checked type="checkbox" />
					金砂厂区<input id="area1" type="checkbox" /></td>
				<td colspan=4 class=xl70 width=80 style='width:46pt'>
					<input id="type" class="ipt81" value="ZJ-F043H ">
				</td>
			</tr>
			<tr class=xl89 height=24 style='height:18.6pt' id="r1">
				<td colspan=14 height=24 class=xl117 style='height:18.6pt'>生产流通表（一）</td>
			</tr>
			<tr height=20 style='height:15.0pt' id="r2">
				<td colspan=14 height=20 class=xl118 style='height:15.0pt;border-right:none;'>
					RoHS:Y<input id="RoHS" type="checkbox" />
					/N<input id="RoHS1" type="checkbox" /><span>    </span>
				</td>
			</tr>
			<tr height=20 style='height:20.0pt'>
				<td colspan=14 height=20 class='xl121 displayType' style='border-right:1.0pt solid black;height:15.0pt'>
					生产型号：<span class="inputSpan"><input id='model' class="" style="text-align: center"></span>
					<span class="span9">生产批次：<span class="inputSpan"><input id='taskSheetCode' style="text-align: center"></span></span>投产台数：<span
					 class="inputSpan"><input id='produceAmount' style="text-align: center"></span></span>数量：<span class="inputSpan"><input
						 id="amount" style="text-align: center"></span></span>
					<span class="span9">修改标记：<span class="inputSpan"><input id="changeFlag" style="text-align: center"></span>
					</span>
				</td>

			</tr>
			<tr height=16 style='height:12.0pt'>
				<td colspan=4 rowspan=2 height=32 class=xl135 style='border-right:.5pt solid black;
  height:24.0pt'>部件名称：<span
					 class="inputSpan" style="width:200px;"><input id="modelName" class="" style="text-align: center"></span></td>
				<td rowspan=8 class=xl124 style='border-bottom:.5pt solid black;border-top:
  none'>承接<br>上道</td>
				<td rowspan=2 class=xl138 width=37 style='border-bottom:.5pt solid black;
  border-top:none;width:28pt'>承接次数</td>
				<td rowspan=2 class=xl140 style='border-bottom:.5pt solid black;border-top:
  none'>承接人</td>
				<td rowspan=2 class=xl74 style='border-top:none'>数量</td>
				<td rowspan=2 class=xl74 style='border-top:none'>日期</td>
				<td rowspan=8 class=xl124 style='border-bottom:.5pt solid black;border-top:
  none'>拍照<br>存档</td>
				<td colspan=2 rowspan=2 class=xl74>执行人</td>
				<td rowspan=2 class=xl140 style='border-bottom:.5pt solid black;border-top:
  none'>确认人</td>
				<td rowspan=2 class=xl133 style='border-bottom:.5pt solid black;border-top:
  none'>日期</td>
			</tr>
			<tr height=16 style='height:15.0pt'> </tr>
			<tr height=9 style='height:15pt'>
				<td colspan=4 rowspan=3 height=27 class=xl135 style='border-right:.5pt solid black;
  height:20.85pt'>PCB板号：<span
					 class="inputSpan" style="width:200px;"><input id="pcbCode" class="" style="text-align: center"></span></td>
				<td rowspan=2 class=xl124 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan">
						<input id='cjsdgx_cjNum_1' class="" style="text-align: center"></span>
				</td>
				<td rowspan=2 class=xl153 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan">
						<!-- 承接人1	-->
						<input id='cjsdgx_cjUser_1' class="inputOnblur0" style="text-align: center">
						<img src="" id="cjsdgx_cjUser_1_img" width="54" height="18" class="inputImg"></span>
				</td>
				<td rowspan=2 class=xl114 style='border-top:none'><span class="inputSpan"><input id="cjsdgx_cjAmount_1" class=""
						 style="text-align: center"></span></td>
				<td rowspan=2 class=xl114 style='border-top:none'><span class="inputSpan"><input id="cjsdgx_cjDate_1" class="dateType "
						 style="text-align: center"></span></td>
				<td colspan=2 rowspan=6 class=xl127 style='border-right:.5pt solid black;
  border-bottom:.5pt solid black'><span
					 class="inputSpan">
						<input id='kzsx_zxUser' class="inputOnblur0" style="text-align: center">
						<img src="" id="kzsx_zxUser_img" width="96" height="32" class="inputImg"></span>
				</td>
				<td rowspan=6 class=xl140 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan">
						<input id='kzsx_qrUser' class="inputOnblur0" style="text-align: center">
						<img src="" id="kzsx_qrUser_img" width="57" height="19" class="inputImg"></span>
				</td>
				<td rowspan=6 class=xl133 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan"><input
						 id='kzsx_date' class="dateType " style="text-align: center"></span></td>
			</tr>
			<tr height=9 style='height:15pt'> </tr>
			<tr height=9 style='height:15pt'>
				<td rowspan=2 height=18 class=xl124 style='border-bottom:.5pt solid black;
  height:13.9pt;border-top:none'><span
					 class="inputSpan"><input id='cjsdgx_cjNum_2' class="" style="text-align: center"></span></td>
				<td rowspan=2 class=xl141 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan">
						<!-- 承接人2	-->
						<input id='cjsdgx_cjUser_2' class="inputOnblur0" style="text-align: center">
						<img src="" id="cjsdgx_cjUser_2_img" width="54" height="18" class="inputImg"></span>
				</td>
				<td rowspan=2 class=xl115 style='border-top:none'><span class="inputSpan"><input id="cjsdgx_cjAmount_2" class=""
						 style="text-align: center"></span></td>
				<td rowspan=2 class=xl115 style='border-top:none'><span class="inputSpan"><input id="cjsdgx_cjDate_2" class="dateType "
						 style="text-align: center"></span></td>
			</tr>
			<tr height=9 style='height:15pt'>
				<td colspan=4 rowspan=3 height=27 class=xl135 style='border-right:.5pt solid black;
  height:20.85pt'>板编码：<span
					 class="inputSpan" style="width:200px;"><input id="plateCode" class="" style="text-align: center"></span></td>
			</tr>
			<tr height=9 style='height:15pt'>
				<td rowspan=2 height=18 class=xl124 style='border-bottom:.5pt solid black;
  height:13.9pt;border-top:none'><span
					 class="inputSpan"><input id='cjsdgx_cjNum_3' class="" style="text-align: center"></span></td>
				<td rowspan=2 class=xl141 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan">
						<!-- 承接人3	-->
						<input id='cjsdgx_cjUser_3' class="inputOnblur0" style="text-align: center">
						<img src="" id="cjsdgx_cjUser_3_img" width="54" height="18" class="inputImg"></span>
				</td>
				<td rowspan=2 class=xl141 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan"><input
						 id="cjsdgx_cjAmount_3" class="" style="text-align: center"></span></td>
				<td rowspan=2 class=xl115 style='border-top:none'><span class="inputSpan"><input id="cjsdgx_cjDate_3" class="dateType "
						 style="text-align: center"></span></td>
			</tr>
			<tr height=9 style='height:15pt'> </tr>
			<tr height=26 style='height:20.1pt'>
				<td height=26 class=xl71 width=75 style='height:20.1pt;border-top:none;
  width:56pt'>生产内容</td>
				<td class=xl74 style='border-top:none;border-left:none'>设备名称</td>
				<td colspan=2 class=xl73 width=74 style='border-left:none;width:56pt'>设备编号</td>
				<td colspan=5 class=xl76 style='border-left:none'>关键工艺参数</td>
				<td colspan=3 class=xl74 style='border-left:none'>程序名称</td>
				<td class=xl73 width=61 style='border-top:none;border-left:none;width:46pt'>程序正常</td>
				<td class=xl80 style='border-top:none;border-left:none'>操作者</td>
			</tr>
			<tr height=20 style='height:15.0pt'>
				<td rowspan=2 height=40 class=xl148 width=75 style='height:30.0pt;border-top:none;width:56pt'>
					<span class="inputSpan"><input id="sbcs_scnr" style="text-align: center"></span></td>
				<td rowspan=2 class=xl127 style='border-bottom:.5pt solid black;border-top:
  none'><span class="inputSpan"><input
						 id="sbcs_sbmc" class="" style="text-align: center"></span></td>
				<td colspan=2 rowspan=2 class=xl127 style='border-right:.5pt solid black;
  border-bottom:.5pt solid black'><span
					 class="inputSpan"><input id="sbcs_sbbh" class="" style="text-align: center"></span></td>
				<td colspan=5 class='xl150 displayType' style='border-left:none'>供气压力：<span class="inputSpan"><input id="sbcs_gjgycs_gqyl"
						 class="" style="text-align: center"></span>
					<span class="span12">
						kgf/c㎡<span>   </span></span>
				</td>
				<td colspan=3 rowspan=2 class=xl74><span class="inputSpan" style="width:120px;"><input id="sbcs_gjgycs_cxmc" class=""
						 style="text-align: center"></span></td>
				<td rowspan=2 class=xl74 style='border-top:none'><input id="sbcs_gjgycs_cxzc" type="checkbox" /></td>
				<td rowspan=2 class=xl80 style='border-top:none'><span class="inputSpan">
						<!-- 操作者	-->
						<input id='sbcs_gjgycs_czUser' class="inputOnblur0" style="text-align: center">
						<img src="" id="sbcs_gjgycs_czUser_img" width="57" height="19" class="inputImg"></span>
				</td>
			</tr>
			<tr height=20 style='height:15.0pt'>
				<td colspan=5 height=20 class='xl150 displayType' style='height:15.0pt;border-left:none'>焊头温度：<span class="inputSpan"><input
						 id="sbcs_gjgycs_htwd" class="" style="text-align: center"></span>
					<span class="span12"> ℃<span> </span></span>
				</td>
			</tr>
			<tr height=32 style='height:24.0pt'>
				<td height=32 class=xl83 style='height:24.0pt'>——</td>
				<td class=xl74 style='border-top:none'>生产者</td>
				<td class=xl73 width=37 style='border-top:none;border-left:none;width:28pt'>生产数量</td>
				<td class=xl78 width=37 style='border-left:none;width:28pt'>清产核对</td>
				<td class=xl74 style='border-top:none;border-left:none'>首检</td>
				<td colspan=2 class=xl151 style='border-left:none'>QC</td>
				<td class=xl73 width=41 style='border-top:none;border-left:none;width:31pt'>检查 数量</td>
				<td class=xl74 style='border-top:none;border-left:none'>日期</td>
				<td rowspan=6 class=xl143 width=37 style='border-top:none;width:28pt'>交接下道</td>
				<td class=xl73 width=37 style='border-top:none;border-left:none;width:28pt'>交接次数</td>
				<td class=xl76 style='border-left:none'>交接人</td>
				<td class=xl76 style='border-left:none'>数量</td>
				<td class=xl77 style='border-left:none'>日期</td>
			</tr>
			<!-- 1 -->
			<tr height=20 style='height:24.6pt'>
				<td height=20 class=xl104 style='height:24.6pt'><span class="inputSpan"><input id="scqc_gx_1" class="" style="text-align: center"></span></td>
				<td class=xl72 style='border-top:none;border-left:none'><span class="inputSpan">
						<!-- 生产者1	-->
						<input id='scqc_scUser_1' class="inputOnblur0" style="text-align: center">
						<img src="" id="scqc_scUser_1_img" class="inputImg" style="width: 90px; margin-top: -8px;"></span>
				</td>
				<td class=xl74 style='border-top:none'><span class="inputSpan"><input id="scqc_scAmount_1" class="" style="text-align: center"></span></td>
				<td class=xl74 style='border-top:none;border-left:none'><input type="checkbox" id="scqc_qchd_1" /></td>
				<td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_sj_1" class=""
						 style="text-align: center"></span></td>
				<td colspan=2 class=xl72 style='border-right:.5pt solid black;border-left:
  none'><span class="inputSpan"><input
						 id="scqc_qc_1" class="inputOnblur0" style="text-align: center"><img src="" id="scqc_qc_1_img" class="inputImg"
						 style="width: 90px; margin-top: -8px;"></span></td>
				<td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_jcsl_1" class=""
						 style="text-align: center"></span></td>
				<td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_date_1" class="dateType "
						 style="text-align: center"></span></td>
				<td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjNum_1" class=""
						 style="text-align: center"></span></td>
				<td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan">
						<!-- 交接者1	-->
						<input id='jjxd_cjUser_1' class="inputOnblur0" style="text-align: center">
						<img src="" id="jjxd_cjUser_1_img" class="inputImg" style="width: 54px; margin-top: -4px; margin-left: 4px;"></span>
				</td>
				<td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjAmount_1" class=""
						 style="text-align: center"></span></td>
				<td class=xl101 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjDate_1" class="dateType "
						 style="text-align: center"></span></td>
			</tr>
			<!-- 2 -->
			<tr height=20 style='height:24.6pt'>
				<td height=20 class=xl85 width=75 style='height:24.6pt;border-top:none;
  width:56pt'><span class="inputSpan"><input
						 id="scqc_gx_2" class="" style="text-align: center"></span></td>
				<td class=xl72 style='border-top:none;border-left:none'><span class="inputSpan">
						<!-- 生产者2	-->
						<input id='scqc_scUser_2' class="inputOnblur0" style="text-align: center">
						<img src="" id="scqc_scUser_2_img" class="inputImg" style="width: 90px; margin-top: -8px;"></span>
				</td>
				<td class=xl74 style='border-top:none'><span class="inputSpan"><input id="scqc_scAmount_2" class="" style="text-align: center"></span></td>
				<td class=xl74 style='border-top:none;border-left:none'><input type="checkbox" id="scqc_qchd_2" /></td>
				<td class=xl65 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_sj_2" class=""
						 style="text-align: center"></span></td>
				<td colspan=2 class=xl72 style='border-right:.5pt solid black;border-left:
  none'><span class="inputSpan"><input
						 id="scqc_qc_2" class="inputOnblur0" style="text-align: center; position: absolute; margin-top: -5px;"><img src=""
						 id="scqc_qc_2_img" class="inputImg" style="width: 90px; margin-top: -8px;"></span></td>
				<td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_jcsl_2" class=""
						 style="text-align: center"></span></td>
				<td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_date_2" class="dateType "
						 style="text-align: center"></span></td>
				<td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjNum_2" class=""
						 style="text-align: center"></span></td>
				<td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan">
						<!-- 交接者2	-->
						<input id='jjxd_cjUser_2' class="inputOnblur0" style="text-align: center">
						<img src="" id="jjxd_cjUser_2_img" class="inputImg" style="width: 54px; margin-top: -4px; margin-left: 4px;"></span>
				</td>
				<td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjAmount_2" class=""
						 style="text-align: center"></span></td>
				<td class=xl101 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjDate_2" class="dateType "
						 style="text-align: center"></span></td>
			</tr>
			<!--3-->
			<tr height=20 style='height:24.6pt'>
				<td height=20 class=xl85 width=75 style='height:24.6pt;border-top:none;
  width:56pt'><span class="inputSpan"><input
						 id="scqc_gx_3" class="" style="text-align: center"></span></td>
				<td class=xl72 style='border-top:none;border-left:none'><span class="inputSpan">
						<!-- 生产者3	-->
						<input id='scqc_scUser_3' class="inputOnblur0" style="text-align: center">
						<img src="" id="scqc_scUser_3_img" class="inputImg" style="width: 90px; margin-top: -8px;"></span>
				</td>
				<td class=xl74 style='border-top:none'><span class="inputSpan"><input id="scqc_scAmount_3" class="" style="text-align: center"></span></td>
				<td class=xl74 style='border-top:none;border-left:none'><input type="checkbox" id="scqc_qchd_3" /></td>
				<td class=xl65 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_sj_3" class=""
						 style="text-align: center"></span></td>
				<td colspan=2 class=xl72 style='border-right:.5pt solid black;border-left:
  none'><span class="inputSpan"><input
						 id="scqc_qc_3" class="inputOnblur0" style="text-align: center"><img src="" id="scqc_qc_3_img" class="inputImg"
						 style="width: 90px; margin-top: -8px;"></span></td>
				<td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_jcsl_3" class=""
						 style="text-align: center"></span></td>
				<td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_date_3" class="dateType "
						 style="text-align: center"></span></td>
				<td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjNum_3" class=""
						 style="text-align: center"></span></td>
				<td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan">
						<!-- 交接者3	-->
						<input id='jjxd_cjUser_3' class="inputOnblur0" style="text-align: center">
						<img src="" id="jjxd_cjUser_3_img" class="inputImg" style="width: 54px; margin-top: -4px; margin-left: 4px;"></span>
				</td>
				<td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjAmount_3" class=""
						 style="text-align: center"></span></td>
				<td class=xl101 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjDate_3" class="dateType "
						 style="text-align: center"></span></td>
			</tr>
			<!--4-->
			<tr height=20 style='height:24.6pt'>
				<td height=20 class=xl85 width=75 style='height:24.6pt;border-top:none;
  width:56pt'><span class="inputSpan"><input
						 id="scqc_gx_4" class="" style="text-align: center"></span></td>
				<td class=xl72 style='border-top:none;border-left:none'><span class="inputSpan">
						<!-- 生产者4	-->
						<input id='scqc_scUser_4' class="inputOnblur0" style="text-align: center">
						<img src="" id="scqc_scUser_4_img" class="inputImg" style="width: 90px; margin-top: -8px;"></span>
				</td>
				<td class=xl74 style='border-top:none'><span class="inputSpan"><input id="scqc_scAmount_4" class="" style="text-align: center"></span></td>
				<td class=xl74 style='border-top:none;border-left:none'><input type="checkbox" id="scqc_qchd_4" /></td>
				<td class=xl65 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_sj_4" class=""
						 style="text-align: center"></span></td>
				<td colspan=2 class=xl72 style='border-right:.5pt solid black;border-left:
  none'><span class="inputSpan"><input
						 id="scqc_qc_4" class="inputOnblur0" style="text-align: center"><img src="" id="scqc_qc_4_img" class="inputImg"
						 style="width: 90px; margin-top: -8px;"></span></td>
				<td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_jcsl_4" class=""
						 style="text-align: center"></span></td>
				<td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_date_4" class="dateType "
						 style="text-align: center"></span></td>
				<td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjNum_4" class=""
						 style="text-align: center"></span></td>
				<td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan">
						<!-- 交接者4	-->
						<input id='jjxd_cjUser_4' class="inputOnblur0" style="text-align: center">
						<img src="" id="jjxd_cjUser_4_img" class="inputImg" style="width: 54px; margin-top: -4px; margin-left: 4px;"></span>
				</td>
				<td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjAmount_4" class=""
						 style="text-align: center"></span></td>
				<td class=xl101 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjDate_4" class="dateType "
						 style="text-align: center"></span></td>
			</tr>
			<!--5-->
			<tr height=20 style='height:24.6pt'>
				<td height=20 class=xl86 width=75 style='height:24.6pt;border-top:none;vertical-align: middle;
  width:56pt'><span
					 class="inputSpan"><input id="scqc_gx_5" class="" style="text-align: center"></span></td>
				<td class=xl72 style='border-top:none;border-left:none'><span class="inputSpan">
						<!-- 生产者5	-->
						<input id='scqc_scUser_5' class="inputOnblur0" style="text-align: center">
						<img src="" id="scqc_scUser_5_img" class="inputImg" style="width: 90px; margin-top: -8px;"></span>
				</td>
				<td class=xl75 style='border-top:none'><span class="inputSpan"><input id="scqc_scAmount_5" class="" style="text-align: center"></span></td>
				<td class=xl74 style='border-top:none;border-left:none'><input type="checkbox" id="scqc_qchd_5" /></td>
				<td class=xl65 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_sj_5" class=""
						 style="text-align: center"></span></td>
				<td colspan=2 class=xl72 style='border-right:.5pt solid black;border-left:
  none'><span class="inputSpan"><input
						 id="scqc_qc_5" class="inputOnblur0" style="text-align: center"><img src="" id="scqc_qc_5_img" class="inputImg"
						 style="width: 90px; margin-top: -8px;"></span></td>
				<td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_jcsl_5" class=""
						 style="text-align: center"></span></td>
				<td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="scqc_date_5" class="dateType "
						 style="text-align: center"></span></td>
				<td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjNum_5" class=""
						 style="text-align: center"></span></td>
				<td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan">
						<!-- 交接者5	-->
						<input id='jjxd_cjUser_5' class="inputOnblur0" style="text-align: center">
						<img src="" id="jjxd_cjUser_5_img" class="inputImg" style="width: 54px; margin-top: -4px; margin-left: 4px;"></span>
				</td>
				<td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjAmount_5" class=""
						 style="text-align: center"></span></td>
				<td class=xl101 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjDate_5" class="dateType "
						 style="text-align: center"></span></td>
			</tr>
			<tr height=26 style='height:20.1pt'>
				<td colspan=12 height=26 class=xl105 style='border-right:.5pt solid black;
  height:20.1pt'>(1-不良电路板数量÷电路板总数)×100%＝电路板合格率</td>
				<td colspan=2 class=xl111 style='border-right:1.0pt solid black'>统计人</td>
			</tr>
			<tr height=26 style='height:24.1pt'>
				<td colspan=12 height=26 class='xl108 displayType' style='border-right:.5pt solid black;
  height:20.1pt'>(1－<span
					 class="inputSpan">
						<input id="xdgxjj_cjNum_1" onChange="change()" style="text-align: center"></span>÷<span class="inputSpan">
						<input id="xdgxjj_cjNum_2" onChange="change()" style="text-align: center"></span>)×100%＝<span class="inputSpan">
						<input id="xdgxjj_cjNum_3" style="text-align: center" disabled></span>%</td>
				<td colspan=2 class=xl109 style='border-right:1.0pt solid black'><span class="inputSpan">
						<!-- 统计人-->
						<input id='statisticsUser' class="inputOnblur0" style="text-align: center">
						<img src="" id="statisticsUser_img" class="inputImg" width="75">
				</td>
			</tr>
			<tr height=33 style='height:24.95pt'>
				<td height=33 class=xl88 style='height:24.95pt;border-top:none'>备 注</td>
				<td colspan=13 class=xl152 style='border-left:none'><span class="inputSpan" style="width:100%"><input id="remark"
						 style="text-align: center"></span></td>
			</tr>
			<tr height=20 style='height:20.6pt'>
				<td height=20 class=xl92 colspan=13 style='height:20.6pt;'>
					注：1.完成生产后生产者清产核对器件数量，如正确请在清产核对<input type="checkbox" />打√，否则上报车间管理人员；</td>
				<td class=xl102></td>
			</tr>
			<tr height=20 style='height:20.6pt'>
				<td height=20 class=xl92 colspan=12 style='height:20.6pt;'>
					&nbsp;&nbsp;2.生产该板使用到的设备、程序正常项<input type="checkbox" />打√，填写相应的关键工艺参数、程序名称。
				</td>
				<td colspan=2 class=xl68></td>
			</tr>

		</table>
	</body>

	<script language='javascript' type='text/javascript'>
		function ChangeRowspanHiddenData() {
			var node;
			var params = ["r5", "r6", "r9", "r19", "r20", "r24"];
			for (var i = 0; i < params.length; i++) {
				node = document.getElementById(params[i]);
				if (node != null) {
					node.style.display = "";
				}
			}
		}
		ChangeRowspanHiddenData();

		function change() {
			var num_value1 = document.getElementById("xdgxjj_cjNum_1");
			var num_value2 = document.getElementById("xdgxjj_cjNum_2");
			var num_value3 = document.getElementById("xdgxjj_cjNum_3");
			var value = '';
			if (num_value2.value > 0) {
				value = (1 - num_value1.value / num_value2.value).toFixed(4);
				num_value3.value = value * 100
			} else {
				num_value3.value = value
			}
		}
		layui.use(['table', 'jquery', 'form', 'layer', 'laydate'], function() {
			var table = layui.table,
				layer = layui.layer,
				form = layui.form,
				laydate = layui.laydate,
				$ = layui.jquery;
			var dd = JSON.parse($('[name=data]').val());
			if (parent.location.href.indexOf("/windowPad/") > -1) {
				$('#op').hide();
			}
			//这里开始拿数据
			$('.dateType').focus(function() {
				$(this).attr('type', 'date')
			}).blur(function() {
				var timeTxt = $(this).val().replace(/-/g, '.').substring(2);
				$(this).attr('type', 'text').val(timeTxt)
			})
			function findUserSignature(that,typeValue){
				$.ajax({
					url: '/base/userSignature/findUserSignature',
					type: "post",
					dataType: "json",
					data: JSON.stringify({
						cardSequence: that.val(),
						type: typeValue
					}),
					contentType: "application/json;charset=UTF-8",
					success: function(res) {
						if (res.code === 200) {
							console.log(res)
							var imgdata = res.data;
							that.next().attr('src', imgdata).show();
							that.hide()
						}
					},
				});
			}
			$('.inputOnblur0').bind('keypress', function(event) {
				if (event.keyCode == "13") {
					var that = $(this);
					findUserSignature(that,0);
				}
			});
			$('.inputOnblur1').bind('keypress', function(event) {
				if (event.keyCode == "13") {
					var that = $(this);
					findUserSignature(that,1);
				}
			});

			$('.inputImg').click(function() {
				var that = $(this);
				that.attr('src', '').hide();
				that.prev().show().focus();
				that.parent().css({
					'width': 'auto',
					'height': 'auto'
				})
			})
			if (dd.is_rohs == "是") {
				$('#RoHS').attr('checked', true)
			}
			if (dd.is_rohs == "否") {
				$('#RoHS1').attr('checked', true)
			}

			//型号
			$('#model').val(dd.model_ver)
			//部件名称
			$('#modelName').val(dd.model_name)
			//生产批次
			$('#taskSheetCode').val(dd.task_sheet_code)
			//投产台数
			$('#produceAmount').val(dd.quantity)
			//数量
			$('#amount').val(dd.pcb_quantity)
			//修改标记
			$('#changeFlag').val(dd.pcb_modify_tag)
			//pcb板号
			$('#pcbCode').val(dd.pcb_id)
			//板编码
			$('#plateCode').val(dd.batch_id)

			var dj = {}

			function initAjax() {
				$.ajax({
					url: '/report/findCurrentReport',
					type: "post",
					dataType: "json",
					data: JSON.stringify({
						pcbTaskCode: dd.pcb_task_code,
						reportType: '3'
					}),
					contentType: "application/json;charset=UTF-8",
					success: function(res) {
						if (res.code === 200) {
							if (res.data.length > 0) {
								dj = JSON.parse(res.data[0].json_data);
								if (Object.keys(dj).length > 0) {
									if (dj.area == 1 || dj.area1 == 1) {
										if (dj.area == 1) {
											$('#area').attr('checked', true)
											$('#area1').attr('checked', false)
										}
										if (dj.area1 == 1) {
											$('#area1').attr('checked', true)
											$('#area').attr('checked', false)
										}
									} else {
										$('#area').attr('checked', true)
										$('#area1').attr('checked', false)
									}

									if (dj.type != null) {
										$('#type').val(dj.type)
									} else {
										$('#type').val("ZJ-F043H")
									}
									//console.log(dj.cjsdgx[0].cjUser)
									if (dj.cjsdgx[0].cjUserImg) {
										$('#cjsdgx_cjUser_1_img').attr('src', dj.cjsdgx[0].cjUserImg).show().prev().hide();
									} else {
										$('#cjsdgx_cjUser_1').val(dj.cjsdgx[0].cjUser).show().next().hide()
									}
									//$('#cjsdgx_cjUser_1').val(dj.cjsdgx[0].cjUser)
									$('#cjsdgx_cjNum_1').val(dj.cjsdgx[0].cjNum)
									$('#cjsdgx_cjAmount_1').val(dj.cjsdgx[0].cjAmount)
									$('#cjsdgx_cjDate_1').val(dj.cjsdgx[0].cjDate)

									if (dj.cjsdgx[1].cjUserImg) {
										$('#cjsdgx_cjUser_2_img').attr('src', dj.cjsdgx[1].cjUserImg).show().prev().hide();
									} else {
										$('#cjsdgx_cjUser_2').val(dj.cjsdgx[1].cjUser).show().next().hide()
									}
									//$('#cjsdgx_cjUser_2').val(dj.cjsdgx[1].cjUser)
									$('#cjsdgx_cjNum_2').val(dj.cjsdgx[1].cjNum)
									$('#cjsdgx_cjAmount_2').val(dj.cjsdgx[1].cjAmount)
									$('#cjsdgx_cjDate_2').val(dj.cjsdgx[1].cjDate)

									if (dj.cjsdgx[2].cjUserImg) {
										$('#cjsdgx_cjUser_3_img').attr('src', dj.cjsdgx[2].cjUserImg).show().prev().hide();
									} else {
										$('#cjsdgx_cjUser_3').val(dj.cjsdgx[2].cjUser).show().next().hide()
									}
									//$('#cjsdgx_cjUser_3').val(dj.cjsdgx[2].cjUser)
									$('#cjsdgx_cjNum_3').val(dj.cjsdgx[2].cjNum)
									$('#cjsdgx_cjAmount_3').val(dj.cjsdgx[2].cjAmount)
									$('#cjsdgx_cjDate_3').val(dj.cjsdgx[2].cjDate)
									//可追溯性
									if (dj.kzsx[0].zxUserImg) {
										$('#kzsx_zxUser_img').attr('src', dj.kzsx[0].zxUserImg).show().prev().hide();
									} else {
										$('#kzsx_zxUser').val(dj.kzsx[0].zxUser).show().next().hide()
									}
									if (dj.kzsx[0].qrUserImg) {
										$('#kzsx_qrUser_img').attr('src', dj.kzsx[0].qrUserImg).show().prev().hide();
									} else {
										$('#kzsx_qrUser').val(dj.kzsx[0].qrUser).show().next().hide()
									}
									//$('#kzsx_qrUser').val(dj.kzsx[0].qrUser)
									console.log(dj.kzsx[0].date)
									$('#kzsx_date').val(dj.kzsx[0].date)

									console.log("" + dj.sbcs)
									$('#sbcs_scnr').val(dj.sbcs.scnr)
									$('#sbcs_sbmc').val(dj.sbcs.sbmc)
									$('#sbcs_sbbh').val(dj.sbcs.sbbh)
									$('#sbcs_gjgycs_gqyl').val(dj.sbcs.gjgycs.gqyl)
									$('#sbcs_gjgycs_htwd').val(dj.sbcs.gjgycs.htwd)
									$('#sbcs_gjgycs_cxmc').val(dj.sbcs.gjgycs.cxmc)
									/*if (dj.sbcs.gjgycs.cxzc.equals("on")) {
									    $('#zpgj_qchs_1').attr('checked', true)
									}*/
									console.log("程序正常:" + dj.sbcs.gjgycs.cxzc);
									if (dj.sbcs.gjgycs.cxzc == 1) {
										$('#sbcs_gjgycs_cxzc').attr('checked', true)
									}
									/*$('#sbcs_gjgycs_cxzc').val(dj.sbcs.gjgycs.cxzc)*/
									//$('#sbcs_gjgycs_czUser').val(dj.sbcs.gjgycs.czUser)
									if (dj.sbcs.gjgycs.czUserImg) {
										$('#sbcs_gjgycs_czUser_img').attr('src', dj.sbcs.gjgycs.czUserImg).show().prev().hide();
									} else {
										$('#sbcs_gjgycs_czUser').val(dj.sbcs.gjgycs.czUser).show().next().hide()
									}

									// 生产数据 ---------------
									$('#scqc_gx_1').val(dj.scqc[0].gx)
									//$('#scqc_scUser_1').val(dj.scqc[0].scUser)
									if (dj.scqc[0].scUserImg) {
										$('#scqc_scUser_1_img').attr('src', dj.scqc[0].scUserImg).show().prev().hide();
									} else {
										$('#scqc_scUser_1').val(dj.scqc[0].scUser).show().next().hide()
									}
									$('#scqc_scAmount_1').val(dj.scqc[0].scAmount)
									/*$('#scqc_qchd_1').val(dj.scqc[0].qchd)*/
									console.log("清产核对1:" + dj.scqc[0].qchd);
									if (dj.scqc[0].qchd == 1) {
										$('#scqc_qchd_1').attr('checked', true)
									}
									$('#scqc_sj_1').val(dj.scqc[0].sj)
									// $('#scqc_qc_1').val(dj.scqc[0].qc)
									if (dj.scqc[0].qcImg) {
										$('#scqc_qc_1_img').attr('src', dj.scqc[0].qcImg).show().prev().hide();
									} else {
										$('#scqc_qc_1').val(dj.scqc[0].qc).show().next().hide()
									}
									$('#scqc_jcsl_1').val(dj.scqc[0].jcsl)
									$('#scqc_date_1').val(dj.scqc[0].date)

									$('#scqc_gx_2').val(dj.scqc[1].gx)
									//$('#scqc_scUser_2').val(dj.scqc[1].scUser)
									if (dj.scqc[1].scUserImg) {
										$('#scqc_scUser_2_img').attr('src', dj.scqc[1].scUserImg).show().prev().hide();
									} else {
										$('#scqc_scUser_2').val(dj.scqc[1].scUser).show().next().hide()
									}
									$('#scqc_scAmount_2').val(dj.scqc[1].scAmount)
									/*$('#scqc_qchd_2').val(dj.scqc[1].qchd)*/
									if (dj.scqc[1].qchd == 1) {
										$('#scqc_qchd_2').attr('checked', true)
									}
									$('#scqc_sj_2').val(dj.scqc[1].sj)

									if (dj.scqc[1].qcImg) {
										$('#scqc_qc_2_img').attr('src', dj.scqc[1].qcImg).show().prev().hide();
									} else {
										$('#scqc_qc_').val(dj.scqc[1].qc).show().next().hide()
									}
									$('#scqc_jcsl_2').val(dj.scqc[1].jcsl)
									$('#scqc_date_2').val(dj.scqc[1].date)

									$('#scqc_gx_3').val(dj.scqc[2].gx)
									//$('#scqc_scUser_3').val(dj.scqc[2].scUser)
									if (dj.scqc[2].scUserImg) {
										$('#scqc_scUser_3_img').attr('src', dj.scqc[2].scUserImg).show().prev().hide();
									} else {
										$('#scqc_scUser_3').val(dj.scqc[2].scUser).show().next().hide()
									}
									$('#scqc_scAmount_3').val(dj.scqc[2].scAmount)
									/*$('#scqc_qchd_3').val(dj.scqc[2].qchd)*/
									if (dj.scqc[2].qchd == 1) {
										$('#scqc_qchd_3').attr('checked', true)
									}
									$('#scqc_sj_3').val(dj.scqc[2].sj)
									if (dj.scqc[2].qcImg) {
										$('#scqc_qc_3_img').attr('src', dj.scqc[2].qcImg).show().prev().hide();
									} else {
										$('#scqc_qc_3').val(dj.scqc[2].qc).show().next().hide()
									}
									$('#scqc_jcsl_3').val(dj.scqc[2].jcsl)
									$('#scqc_date_3').val(dj.scqc[2].date)

									$('#scqc_gx_4').val(dj.scqc[3].gx)
									//$('#scqc_scUser_4').val(dj.scqc[3].scUser)
									if (dj.scqc[3].scUserImg) {
										$('#scqc_scUser_4_img').attr('src', dj.scqc[3].scUserImg).show().prev().hide();
									} else {
										$('#scqc_scUser_4').val(dj.scqc[3].scUser).show().next().hide()
									}
									$('#scqc_scAmount_4').val(dj.scqc[3].scAmount)
									/*$('#scqc_qchd_4').val(dj.scqc[3].qchd)*/
									if (dj.scqc[3].qchd == 1) {
										$('#scqc_qchd_4').attr('checked', true)
									}
									$('#scqc_sj_4').val(dj.scqc[3].sj)
									if (dj.scqc[3].qcImg) {
										$('#scqc_qc_4_img').attr('src', dj.scqc[3].qcImg).show().prev().hide();
									} else {
										$('#scqc_qc_4').val(dj.scqc[3].qc).show().next().hide()
									}
									$('#scqc_jcsl_4').val(dj.scqc[3].jcsl)
									$('#scqc_date_4').val(dj.scqc[3].date)

									$('#scqc_gx_5').val(dj.scqc[4].gx)
									//$('#scqc_scUser_5').val(dj.scqc[4].scUser)
									if (dj.scqc[4].scUserImg) {
										$('#scqc_scUser_5_img').attr('src', dj.scqc[4].scUserImg).show().prev().hide();
									} else {
										$('#scqc_scUser_5').val(dj.scqc[4].scUser).show().next().hide()
									}
									$('#scqc_scAmount_5').val(dj.scqc[4].scAmount)
									/*$('#scqc_qchd_5').val(dj.scqc[4].qchd)*/
									if (dj.scqc[4].qchd == 1) {
										$('#scqc_qchd_5').attr('checked', true)
									}
									$('#scqc_sj_5').val(dj.scqc[4].sj)
									if (dj.scqc[4].qcImg) {
										$('#scqc_qc_5_img').attr('src', dj.scqc[4].qcImg).show().prev().hide();
									} else {
										$('#scqc_qc_5').val(dj.scqc[4].qc).show().next().hide()
									}
									$('#scqc_jcsl_5').val(dj.scqc[4].jcsl)
									$('#scqc_date_5').val(dj.scqc[4].date)
									// 交接数据------------------------
									// <td class=xl74 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjNum_5"></span></td>
									// <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjUser_5"></span></td>
									// <td class=xl75 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjAmount_5"></span></td>
									// <td class=xl101 style='border-top:none;border-left:none'><span class="inputSpan"><input id="jjxd_cjDate_5"></span></td>
									$('#jjxd_cjNum_1').val(dj.jjxd[0].cjNum)
									//$('#jjxd_cjUser_1').val(dj.jjxd[0].cjUser)
									if (dj.jjxd[0].cjUserImg) {
										$('#jjxd_cjUser_1_img').attr('src', dj.jjxd[0].cjUserImg).show().prev().hide();
									} else {
										$('#jjxd_cjUser_1').val(dj.jjxd[0].cjUser).show().next().hide()
									}
									$('#jjxd_cjAmount_1').val(dj.jjxd[0].cjAmount)
									$('#jjxd_cjDate_1').val(dj.jjxd[0].cjDate)
									$('#jjxd_cjNum_2').val(dj.jjxd[1].cjNum)
									//$('#jjxd_cjUser_2').val(dj.jjxd[1].cjUser)
									if (dj.jjxd[1].cjUserImg) {
										$('#jjxd_cjUser_2_img').attr('src', dj.jjxd[1].cjUserImg).show().prev().hide();
									} else {
										$('#jjxd_cjUser_2').val(dj.jjxd[1].cjUser).show().next().hide()
									}
									$('#jjxd_cjAmount_2').val(dj.jjxd[1].cjAmount)
									$('#jjxd_cjDate_2').val(dj.jjxd[1].cjDate)
									$('#jjxd_cjNum_3').val(dj.jjxd[2].cjNum)
									//$('#jjxd_cjUser_3').val(dj.jjxd[2].cjUser)
									if (dj.jjxd[2].cjUserImg) {
										$('#jjxd_cjUser_3_img').attr('src', dj.jjxd[2].cjUserImg).show().prev().hide();
									} else {
										$('#jjxd_cjUser_3').val(dj.jjxd[2].cjUser).show().next().hide()
									}
									$('#jjxd_cjAmount_3').val(dj.jjxd[2].cjAmount)
									$('#jjxd_cjDate_3').val(dj.jjxd[2].cjDate)
									$('#jjxd_cjNum_4').val(dj.jjxd[3].cjNum)
									//$('#jjxd_cjUser_4').val(dj.jjxd[3].cjUser)
									if (dj.jjxd[3].cjUserImg) {
										$('#jjxd_cjUser_4_img').attr('src', dj.jjxd[3].cjUserImg).show().prev().hide();
									} else {
										$('#jjxd_cjUser_4').val(dj.jjxd[3].cjUser).show().next().hide()
									}
									$('#jjxd_cjAmount_4').val(dj.jjxd[3].cjAmount)
									$('#jjxd_cjDate_4').val(dj.jjxd[3].cjDate)
									$('#jjxd_cjNum_5').val(dj.jjxd[4].cjNum)
									//$('#jjxd_cjUser_5').val(dj.jjxd[4].cjUser)
									if (dj.jjxd[4].cjUserImg) {
										$('#jjxd_cjUser_5_img').attr('src', dj.jjxd[4].cjUserImg).show().prev().hide();
									} else {
										$('#jjxd_cjUser_5').val(dj.jjxd[4].cjUser).show().next().hide()
									}
									$('#jjxd_cjAmount_5').val(dj.jjxd[4].cjAmount)
									$('#jjxd_cjDate_5').val(dj.jjxd[4].cjDate)

									$('#remark').val(dj.remark);
									//$('#statisticsUser').val(dj.statisticsUser);
									if (dj.statisticsUserImg) {
										$('#statisticsUser_img').attr('src', dj.statisticsUserImg).show().prev().hide();
									} else {
										$('#statisticsUser').val(dj.statisticsUser).show().next().hide()
									}
									$('#xdgxjj_cjNum_1').val(dj.xdgxjj[0].cjNum)
									$('#xdgxjj_cjNum_2').val(dj.xdgxjj[1].cjNum)
									$('#xdgxjj_cjNum_3').val(dj.xdgxjj[2].cjNum);

									/*var a=document.getElementById('xdgxjj_cjNum_1').value;
									var b=document.getElementById('xdgxjj_cjNum_2').value;
									//var c=document.getElementById('c');
									var c;
									c.value=Number(a)+Number(b);
									console.log("a="+ a);
									console.log("b="+ b);
									console.log("c="+ c);
									$('#xdgxjj_cjNum_3').val(c.value)*/
									/*var num1 = $('#xdgxjj_cjNum_1').val(dj.xdgxjj[0].cjNum);
									var num2 = $('#xdgxjj_cjNum_2').val(dj.xdgxjj[1].cjNum);
									var num3 = num1+num2;
									;*/


									// ------------------------------------------

									for (var i = 0; i < 3; i++) {
										$('#xdgxjj_cjUser_' + (i + 1)).val(dj.xdgxjj[i].cjUser)
										$('#xdgxjj_cjAmount_' + (i + 1)).val(dj.xdgxjj[i].cjAmount)
										$('#xdgxjj_cjDate_' + (i + 1)).val(dj.xdgxjj[i].cjDate)
									}
									//$('#remarks').val(dj.remarks)
								}
							}
						} else {
							layer.alert(res.msg, {
								icon: 5
							})
						}
					}
				})
			}
			initAjax();
			$('#onsubmit').on('click', function() {
				console.log($('#kzsx_zxUser_img').attr('src'))
				var datajson = {
					"area": $('#area').is(":checked") ? 1 : 0,
					"area1": $('#area1').is(":checked") ? 1 : 0,
					//"area": dd.factory,
					"tempParam": "ZJ-F043H",
					"RoHS": dd.is_rohs,
					"model": dd.model_ver,
					"modelName": dd.model_name,
					"taskSheetCode": dd.task_sheet_code,
					"produceAmount": dd.quantity,
					"amount": dd.pcb_quantity,
					"changeFlag": dd.pcb_modify_tag,
					"pcbCode": dd.pcb_id,
					"plateCode": dd.batch_id,
					"type": $('#type').val(),
					"cjsdgx": [{
							"cjUser": $('#cjsdgx_cjUser_1').val(),
							"cjUserImg": $('#cjsdgx_cjUser_1_img').attr('src'),
							"cjNum": $('#cjsdgx_cjNum_1').val(),
							"cjAmount": $('#cjsdgx_cjAmount_1').val(),
							"cjDate": $('#cjsdgx_cjDate_1').val()
						},
						{
							"cjUser": $('#cjsdgx_cjUser_2').val(),
							"cjUserImg": $('#cjsdgx_cjUser_2_img').attr('src'),
							"cjNum": $('#cjsdgx_cjNum_2').val(),
							"cjAmount": $('#cjsdgx_cjAmount_2').val(),
							"cjDate": $('#cjsdgx_cjDate_2').val()
						},
						{
							"cjUser": $('#cjsdgx_cjUser_3').val(),
							"cjUserImg": $('#cjsdgx_cjUser_3_img').attr('src'),
							"cjNum": $('#cjsdgx_cjNum_3').val(),
							"cjAmount": $('#cjsdgx_cjAmount_3').val(),
							"cjDate": $('#cjsdgx_cjDate_3').val()
						}
					],
					"kzsx": [{
							"zxUser": $('#kzsx_zxUser').val(),
							"zxUserImg": $('#kzsx_zxUser_img').attr('src'),
							"qrUser": $('#kzsx_qrUser').val(),
							"qrUserImg": $('#kzsx_qrUser_img').attr('src'),
							"date": $('#kzsx_date').val()
						},
						// {
						//   "zxUser": "李XX",
						//   "qrUser": "张XX",
						//   "date": "20.01.02"
						// }
					],

					// todo______________
					"tjz": [{
							"scUser": $('#tjz_scUser_1').val(),
							"qcUser": $('#tjz_qcUser_1').val(),
							"date": $('#tjz_date_1').val()
						},
						{
							"scUser": $('#tjz_scUser_2').val(),
							"qcUser": $('#tjz_qcUser_2').val(),
							"date": $('#tjz_date_2').val()
						},
						{
							"scUser": $('#tjz_scUser_3').val(),
							"qcUser": $('#tjz_qcUser_3').val(),
							"date": $('#tjz_date_3').val()
						}
					],
					"zpgj": [{
							"scUser": $('#zpgj_scUser_1').val(),
							"qchdUser": $('#zpgj_qchdUser_1').val(),
							"qchs": $('#zpgj_qchs_1').val(),
							"date": $('#zpgj_date_1').val()
						},
						{
							"scUser": $('#zpgj_scUser_2').val(),
							"qchdUser": $('#zpgj_qchdUser_2').val(),
							"qchs": $('#zpgj_qchs_2').val(),
							"date": $('#zpgj_date_2').val()
						},
						{
							"scUser": $('#zpgj_scUser_3').val(),
							"qchdUser": $('#zpgj_qchdUser_3').val(),
							"qchs": $('#zpgj_qchs_3').val(),
							"date": $('#zpgj_date_3').val()
						}
					],

					"sbcs": {
						"scnr": $('#sbcs_scnr').val(),
						"sbmc": $('#sbcs_sbmc').val(),
						"sbbh": $('#sbcs_sbbh').val(),
						"gjgycs": {
							"gqyl": $('#sbcs_gjgycs_gqyl').val(),
							"htwd": $('#sbcs_gjgycs_htwd').val(),
							"cxmc": $('#sbcs_gjgycs_cxmc').val(),
							"cxzc": $('#sbcs_gjgycs_cxzc').is(":checked") ? 1 : 0,
							"czUser": $('#sbcs_gjgycs_czUser').val(),
							"czUserImg": $('#sbcs_gjgycs_czUser_img').attr('src')
						}

					},
					// {
					//     "scnr": "1",
					//     "sbmc": "2",
					//     "sbbh": "3",
					//     "gjgycs": [
					//         {
					//             "gqyl": "4_1",
					//             "htwd": "4_2",
					//             "cxmc": "4_3",
					//             "cxzc": "4_4",
					//             "czUser": "4_5"
					//         }
					//     ],
					// },

					"scqc": [{
							"gx": $('#scqc_gx_1').val(),
							"scUser": $('#scqc_scUser_1').val(),
							"scUserImg": $('#scqc_scUser_1_img').attr('src'),
							"scAmount": $('#scqc_scAmount_1').val(),
							"qchd": $('#scqc_qchd_1').is(":checked") ? 1 : 0,
							"sj": $('#scqc_sj_1').val(),
							"qc": $('#scqc_qc_1').val(),
							"qcImg": $('#scqc_qc_1_img').attr('src'),
							"jcsl": $('#scqc_jcsl_1').val(),
							"date": $('#scqc_date_1').val()
						},
						{
							"gx": $('#scqc_gx_2').val(),
							"scUser": $('#scqc_scUser_2').val(),
							"scUserImg": $('#scqc_scUser_2_img').attr('src'),
							"scAmount": $('#scqc_scAmount_2').val(),
							"qchd": $('#scqc_qchd_2').is(":checked") ? 1 : 0,
							"sj": $('#scqc_sj_2').val(),
							"qc": $('#scqc_qc_2').val(),
							"qcImg": $('#scqc_qc_2_img').attr('src'),
							"jcsl": $('#scqc_jcsl_2').val(),
							"date": $('#scqc_date_2').val()
						},
						{
							"gx": $('#scqc_gx_3').val(),
							"scUser": $('#scqc_scUser_3').val(),
							"scUserImg": $('#scqc_scUser_3_img').attr('src'),
							"scAmount": $('#scqc_scAmount_3').val(),
							"qchd": $('#scqc_qchd_3').is(":checked") ? 1 : 0,
							"sj": $('#scqc_sj_3').val(),
							"qc": $('#scqc_qc_3').val(),
							"qcImg": $('#scqc_qc_3_img').attr('src'),
							"jcsl": $('#scqc_jcsl_3').val(),
							"date": $('#scqc_date_3').val()
						},
						{
							"gx": $('#scqc_gx_4').val(),
							"scUser": $('#scqc_scUser_4').val(),
							"scUserImg": $('#scqc_scUser_4_img').attr('src'),
							"scAmount": $('#scqc_scAmount_4').val(),
							"qchd": $('#scqc_qchd_4').is(":checked") ? 1 : 0,
							"sj": $('#scqc_sj_4').val(),
							"qc": $('#scqc_qc_4').val(),
							"qcImg": $('#scqc_qc_4_img').attr('src'),
							"jcsl": $('#scqc_jcsl_4').val(),
							"date": $('#scqc_date_4').val()
						},
						{
							"gx": $('#scqc_gx_5').val(),
							"scUser": $('#scqc_scUser_5').val(),
							"scUserImg": $('#scqc_scUser_5_img').attr('src'),
							"scAmount": $('#scqc_scAmount_5').val(),
							"qchd": $('#scqc_qchd_5').is(":checked") ? 1 : 0,
							"sj": $('#scqc_sj_5').val(),
							"qc": $('#scqc_qc_5').val(),
							"qcImg": $('#scqc_qc_5_img').attr('src'),
							"jcsl": $('#scqc_jcsl_5').val(),
							"date": $('#scqc_date_5').val()
						}

					],

					"jjxd": [{
							"cjNum": $('#jjxd_cjNum_1').val(),
							"cjUser": $('#jjxd_cjUser_1').val(),
							"cjUserImg": $('#jjxd_cjUser_1_img').attr('src'),
							"cjAmount": $('#jjxd_cjAmount_1').val(),
							"cjDate": $('#jjxd_cjDate_1').val(),
						},
						{
							"cjNum": $('#jjxd_cjNum_2').val(),
							"cjUser": $('#jjxd_cjUser_2').val(),
							"cjUserImg": $('#jjxd_cjUser_2_img').attr('src'),
							"cjAmount": $('#jjxd_cjAmount_2').val(),
							"cjDate": $('#jjxd_cjDate_2').val(),
						},
						{
							"cjNum": $('#jjxd_cjNum_3').val(),
							"cjUser": $('#jjxd_cjUser_3').val(),
							"cjUserImg": $('#jjxd_cjUser_3_img').attr('src'),
							"cjAmount": $('#jjxd_cjAmount_3').val(),
							"cjDate": $('#jjxd_cjDate_3').val(),
						},
						{
							"cjNum": $('#jjxd_cjNum_4').val(),
							"cjUser": $('#jjxd_cjUser_4').val(),
							"cjUserImg": $('#jjxd_cjUser_4_img').attr('src'),
							"cjAmount": $('#jjxd_cjAmount_4').val(),
							"cjDate": $('#jjxd_cjDate_4').val(),
						},
						{
							"cjNum": $('#jjxd_cjNum_5').val(),
							"cjUser": $('#jjxd_cjUser_5').val(),
							"cjUserImg": $('#jjxd_cjUser_5_img').attr('src'),
							"cjAmount": $('#jjxd_cjAmount_5').val(),
							"cjDate": $('#jjxd_cjDate_5').val(),
						}
					],
					"remark": $('#remark').val(),
					"statisticsUser": $('#statisticsUser').val(),
					"statisticsUserImg": $('#statisticsUser_img').attr('src'),

					"xdgxjj": [{
							"cjNum": $('#xdgxjj_cjNum_1').val()
						},
						{
							"cjNum": $('#xdgxjj_cjNum_2').val()
						},
						{
							"cjNum": $('#xdgxjj_cjNum_3').val()
						},

					],
				}
				console.log('===============')
				console.log(datajson)
				$.ajax({
					url: '/currentReport/addCurrentReport',
					type: "post",
					dataType: "json",
					data: JSON.stringify({
						pcb_task_code: dd.pcb_task_code,
						json_data: JSON.stringify(datajson),
						report_type: '3'
					}),
					contentType: "application/json;charset=UTF-8",
					success: function(res) {
						if (res.code === 200) {
							var initajax = layer.alert(res.msg, {
								icon: 1
							}, function() {
								initAjax()
								layer.close(initajax);
							})
						} else {
							layer.alert(res.msg, {
								icon: 5
							})
						}
					}
				})
			})
		})

		var op = document.getElementById('op');
		var onsubmit = document.getElementById('onsubmit');
		op.onclick = function() {
			op.style.display = 'none';
			onsubmit.style.display = 'none';
			setTimeout(() => {
				op.style.display = 'block';
				onsubmit.style.display = 'block';
			}, 500);
			var iframe = document.createElement('iframe');
			console.log(iframe.contentWindow)
			window.print();
		}
	</script>

</html>
