<!doctype html
    public "-//w3c//dtd xhtml 1.0 transitional//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="Stylesheet" href="../../css/scltb4.css">
    <style>
        table {
            margin: 0 auto;
        }

        .ipt {
            width: 80px !important;
            border: none;
        }

        .ipt1 {
            width: 100px !important;
        }

        .ipt2 {
            width: 120px !important;
        }

        .ipt3 {
            width: 140px !important;
        }

        .ipt4 {
            width: 160px !important;
        }

        .ipt5 {
            width: 180px !important;
        }

        /* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */
    </style>
</head>

<body link='blue' vlink='purple'>

    <table border='0' cellpadding='0' cellspacing='0' width='1288' style='border-collapse: 
 collapse;table-layout:fixed;width:966pt'>
        <col width='32' style='width:24pt'>
        <col width='38' style='width:28.5pt'>
        <col width='37' style='width:27.75pt'>
        <col class='x100' width='75' style='width:56.25pt'>
        <col class='x100' width='46' style='width:34.5pt'>
        <col width='101' style='width:75.75pt'>
        <col width='69' style='width:51.75pt'>
        <col width='37' style='width:27.75pt'>
        <col width='101' span='2' style='width:75.75pt'>
        <col width='85' style='width:63.75pt'>
        <col width='37' span='2' style='width:27.75pt'>
        <col width='77' style='width:57.75pt'>
        <col width='37' style='width:27.75pt'>
        <col width='45' style='width:33.75pt'>
        <col width='41' style='width:30.75pt'>
        <col width='45' span='2' style='width:33.75pt'>
        <col width='65' span='2' style='width:48.75pt'>
        <tr height='19' style='height:14.25pt' id='r0'>
            <td height='19' width='32' style='height:14.25pt;width:24pt;'></td>
            <td width='38' style='width:28.5pt;'></td>
            <td width='37' style='width:27.75pt;'></td>
            <td class='x100' width='75' style='width:56.25pt;'></td>
            <td class='x100' width='46' style='width:34.5pt;'></td>
            <td width='101' style='width:75.75pt;'></td>
            <td width='69' style='width:51.75pt;'></td>
            <td width='37' style='width:27.75pt;'></td>
            <td width='101' style='width:75.75pt;'></td>
            <td width='101' style='width:75.75pt;'></td>
            <td width='85' style='width:63.75pt;'></td>
            <td width='37' style='width:27.75pt;'></td>
            <td width='37' style='width:27.75pt;'></td>
            <td width='77' style='width:57.75pt;'></td>
            <td width='37' style='width:27.75pt;'></td>
            <td class='x157' width='45' style='width:33.75pt;'>
                <span>万吉厂区<input id='area' type="checkbox"> </span>
                <span>金砂厂区<input id='area1' type="checkbox"></span>
            </td>
            <td width='41' style='width:30.75pt;'></td>
            <td width='45' style='width:33.75pt;'></td>
            <td width='45' style='width:33.75pt;'></td>
            <td width='65' style='width:48.75pt;'></td>
            <td class='x205' width='65' style='width:48.75pt;'><span style='float:right'>ZJ-F252J</span></td>
        </tr>
        <tr height='40' style='height:30pt' id='r1'>
            <td colspan='21' height='40' class='x101' style='height:30pt;'>生产流通表（四）</td>
        </tr>
        <tr height='26' style='height:20.1pt' id='r2'>
            <td colspan='21' height='24' class='x102' style='border-bottom:2px solid windowtext;height:18.6pt;'>
                RoHS:Y<input id='RoHS' type="checkbox"> /N<input id='RoHS1' type="checkbox"> <span>&nbsp;&nbsp;
                </span>清产核对□</td>
        </tr>
        <tr height='26' style='height:20.1pt' id='r3'>
            <td colspan='21' height='23' class='x104'
                style='border-right:2px solid windowtext;border-bottom:1px solid windowtext;height:17.85pt;'>
                生产型号：Apogee1234<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>生产批次：MBA1234803<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>投产台数：200<span>&nbsp;&nbsp;&nbsp; </span>数量：200<span>&nbsp;&nbsp;&nbsp;&nbsp;
                </span>修改标记：0<span>&nbsp;&nbsp;&nbsp;&nbsp; </span>承接人：<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>日期：
            </td>
        </tr>
        <tr height='26' style='height:20.1pt' id='r4'>
            <td colspan='21' height='24' class='x106' style='border-right:2px solid windowtext;height:18.6pt;'>
                部件名称：探头板<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>PCB板号：<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>板编码：</td>
        </tr>
        <tr height='33' style='height:24.95pt' id='r5'>
            <td height='31' class='x108' style='height:23.45pt;'>板面</td>
            <td colspan='2' class='x109' style='border-bottom:1px solid windowtext;'>设备名称</td>
            <td colspan='2' class='x111' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                设备编号</td>
            <td colspan='6' class='x109' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                关键工艺参数</td>
            <td colspan='3' class='x109' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                程序名称</td>
            <td class='x111'>程序正常</td>
            <td class='x158'>生产日期</td>
            <td class='x209'>生产<span>&nbsp;&nbsp; </span>内容</td>
            <td class='x210'>班次</td>
            <td height='30' class='x232' width='45' style='height:22.7pt;width:33.75pt;' align='left' valign='top'><span
                    style='position:absolute;z-index:29;margin-left:0px;margin-top:0px;width:175px;height:1px'></span><span
                    style='position:absolute;z-index:28;margin-left:0px;margin-top:0px;width:175px;height:1px'></span><span
                    style='position:absolute;z-index:31;margin-left:0px;margin-top:0px;width:175px;height:1px'></span><span
                    style='position:absolute;z-index:30;margin-left:0px;margin-top:0px;width:175px;height:1px'></span><span>
                    <table cellpadding='0' cellspacing='0'>
                        <tr>
                            <td height='30' class='x231' width='45' style='height:22.7pt;width:33.75pt;'>数量</td>
                        </tr>
                    </table>
                </span></td>
            <td class='x211'>首检</td>
            <td class='x212'>操作者</td>
        </tr>
        <tr height='24' style='height:18pt' id='r6'>
            <td height='23' class='x113' style='height:17.25pt;'></td>
            <td colspan='2' class='x114' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                100MV<span style='white-space:nowrap;'>&nbsp;&nbsp;&nbsp; </span></td>
            <td class='x115'>32008</td>
            <td class='x116'>□</td>
            <td colspan='6' class='x117' style='border-bottom:1px solid windowtext;'>供气压力：<span>&nbsp;&nbsp;&nbsp;&nbsp;
                </span>kgf/cm2；丝印速度：<span>&nbsp;&nbsp;&nbsp;&nbsp; </span>mm/s<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span></td>
            <td colspan='3' class='x71' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td class='x109'>□</td>
            <td rowspan='10' height='235' class='x159'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:176.25pt;'></td>
            <td rowspan='3' height='70' class='x214'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>丝印</td>
            <td class='x134'></td>
            <td class='x134'></td>
            <td class='x215'></td>
            <td class='x175'></td>
        </tr>
        <tr height='24' style='height:18pt' id='r7'>
            <td rowspan='5' height='120' class='x119' style='border-right:1px solid windowtext;height:90pt;'>
                A<span>&nbsp;&nbsp;&nbsp; </span>□</td>
            <td colspan='2' rowspan='2' height='46' class='x114'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:34.5pt;'>G5<span
                    style='white-space:nowrap;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></td>
            <td class='x115'>B15001</td>
            <td class='x120'>□</td>
            <td colspan='6' class='x117' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                供气压力：<span>&nbsp;&nbsp;&nbsp;&nbsp; </span>kgf/cm2；丝印速度： 80<span>&nbsp;
                </span>mm/s<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></td>
            <td colspan='3' class='x73' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td class='x109'>□</td>
            <td class='x216'></td>
            <td class='x216'></td>
            <td class='x216'></td>
            <td class='x217'></td>
        </tr>
        <tr height='24' style='height:18pt' id='r8'>
            <td class='x115'>B16011</td>
            <td class='x121'>□</td>
            <td colspan='6' class='x117' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                供气压力：<span>&nbsp;&nbsp;&nbsp;&nbsp; </span>kgf/cm2；丝印速度：<span>&nbsp;&nbsp;&nbsp;&nbsp;
                </span>mm/s<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></td>
            <td colspan='3' class='x73' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td class='x109'>□</td>
            <td class='x216'></td>
            <td class='x216'></td>
            <td class='x216'></td>
            <td class='x217'></td>
        </tr>
        <tr height='24' style='height:18pt' id='r9'>
            <td colspan='2' class='x114' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                YS12<span style='white-space:nowrap;'>&nbsp;&nbsp;&nbsp;&nbsp; </span></td>
            <td class='x115'>B15002</td>
            <td class='x120'>□</td>
            <td colspan='6' class='x117' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                供气压力：4.5<span>&nbsp; </span>kgf/cm2；<span>&nbsp;&nbsp; </span></td>
            <td colspan='3' class='x73' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td class='x109'>□</td>
            <td rowspan='4' height='94' class='x214'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:70.5pt;'>贴片</td>
            <td class='x216'></td>
            <td class='x216'></td>
            <td class='x216'></td>
            <td class='x217'></td>
        </tr>
        <tr height='24' style='height:18pt' id='r10'>
            <td colspan='2' class='x114' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                YS12F背包 </td>
            <td class='x115'>B1902001</td>
            <td class='x120'>□</td>
            <td colspan='6' class='x117' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                供气压力：4.5<span>&nbsp; </span>kgf/cm2；<span>&nbsp;&nbsp; </span></td>
            <td colspan='3' class='x73' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td class='x109'>□</td>
            <td class='x216'></td>
            <td class='x216'></td>
            <td class='x216'></td>
            <td class='x217'></td>
        </tr>
        <tr height='24' style='height:18pt' id='r11'>
            <td colspan='2' class='x114' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                YS12F<span style='white-space:nowrap;'>&nbsp;&nbsp;&nbsp; </span></td>
            <td class='x115'>B15003</td>
            <td class='x121'>□</td>
            <td colspan='6' class='x117' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                供气压力：<span>&nbsp;&nbsp;&nbsp;&nbsp; </span>kgf/cm2；<span>&nbsp;&nbsp; </span></td>
            <td colspan='3' class='x73' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td class='x109'>□</td>
            <td class='x216'></td>
            <td class='x216'></td>
            <td class='x216'></td>
            <td class='x217'></td>
        </tr>
        <tr height='24' style='height:18pt' id='r12'>
            <td height='24' class='x119' style='height:18pt;'></td>
            <td colspan='2' class='x114' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                MV-6e </td>
            <td class='x115'>B1811015</td>
            <td class='x120'>□</td>
            <td colspan='6' class='x117' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                供气压力：4.5<span>&nbsp; </span>kgf/cm2；<span>&nbsp;&nbsp; </span></td>
            <td colspan='3' class='x73' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td class='x109'>□</td>
            <td class='x216'></td>
            <td class='x216'></td>
            <td class='x216'></td>
            <td class='x217'></td>

        </tr>
        <tr height='20' style='height:15pt' id='r13'>
            <td rowspan='5' height='108' class='x122'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:81pt;'>
                B<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>□</td>
            <td colspan='4' class='x123' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td colspan='6' class='x109' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                回流炉实时显示温度、速度</td>
            <td colspan='3' rowspan='3' height='67' class='x77'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:50.25pt;'></td>
            <td rowspan='3' height='67' class='x165'
                style='border-right:2px solid windowtext;border-bottom:1px solid windowtext;height:50.25pt;'>□</td>
            <td rowspan='3' height='66' class='x214'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:49.5pt;'>回流焊接</td>
            <td class='x216'></td>
            <td class='x216'></td>
            <td class='x216'></td>
            <td class='x217'></td>

        </tr>
        <tr height='24' style='height:18pt' id='r14'>
            <td colspan='2' rowspan='2' height='47' class='x126'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:35.25pt;'>Py100A</td>
            <td rowspan='2' height='47' class='x128'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:35.25pt;'>B16012</td>
            <td rowspan='2' height='47' class='x129'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:35.25pt;'>□</td>
            <td class='x130'>温区1：150 ℃</td>
            <td colspan='2' class='x117' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                温区2：150 ℃<span style='white-space:nowrap;'>&nbsp; </span></td>
            <td class='x130'>温区3：170 ℃</td>
            <td class='x130'>温区4：185 ℃</td>
            <td rowspan='2' height='47' class='x166'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:35.25pt;'><span
                    style='float:right'>55cm/min</span></td>
            <td class='x216'></td>
            <td class='x216'></td>
            <td class='x216'></td>
            <td class='x217'></td>

        </tr>
        <tr height='24' style='height:18pt' id='r15'>
            <td class='x130'>温区5：185 ℃</td>
            <td colspan='2' class='x117' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                温区6：210 ℃</td>
            <td class='x130'>温区7：225 ℃</td>
            <td class='x130'>温区8：260 ℃</td>
            <td class='x216'></td>
            <td class='x216'></td>
            <td class='x216'></td>
            <td class='x217'></td>

        </tr>
        <tr height='20' style='height:15pt' id='r16'>
            <td colspan='2' rowspan='2' height='38' class='x114'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:28.5pt;'>MV-6e<span
                    style='white-space:nowrap;'>&nbsp;&nbsp;&nbsp; </span></td>
            <td rowspan='2' height='38' class='x115'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:28.5pt;'>B15004</td>
            <td rowspan='2' height='39' class='x129'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:29.25pt;'>□</td>
            <td colspan='6' rowspan='2' height='39' class='x126'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:29.25pt;'>
                供气压力：4.5<span>&nbsp; </span>kgf/cm2； </td>
            <td colspan='3' rowspan='2' height='39' class='x77'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:29.25pt;'>
                1234A_1234A_A</td>
            <td rowspan='2' height='39' class='x165'
                style='border-right:2px solid windowtext;border-bottom:1px solid windowtext;height:29.25pt;'>□</td>
            <td rowspan='2' height='39' class='x177'
                style='border-right:1px solid windowtext;border-bottom:2px solid windowtext;height:29.25pt;'></td>
            <td rowspan='2' height='39' class='x218'
                style='border-right:1px solid windowtext;border-bottom:2px solid windowtext;height:29.25pt;'>QC</td>
            <td class='x216'></td>
            <td class='x216'></td>
            <td class='x216'></td>
            <td class='x217'></td>

        </tr>
        <tr height='20' style='height:15pt' id='r17'>
            <td class='x220'></td>
            <td class='x220'></td>
            <td class='x220'></td>
            <td class='x221'></td>

        </tr>
        <tr height='10' style='height:8.1pt' id='r18'>
            <td colspan='21' height='8' class='x108' style='border-right:2px solid windowtext;height:6.6pt;'></td>

        </tr>
        <tr height='33' style='height:24.95pt' id='r19'>
            <td height='31' class='x108' style='height:23.45pt;'>板面</td>
            <td colspan='2' class='x109' style='border-bottom:1px solid windowtext;'>设备名称</td>
            <td colspan='2' class='x111' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                设备编号</td>
            <td colspan='6' class='x109' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                关键工艺参数</td>
            <td colspan='3' class='x109' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                程序名称</td>
            <td class='x111'>程序正常</td>
            <td class='x158'>生产日期</td>
            <td class='x209'>生产<span>&nbsp;&nbsp; </span>内容</td>
            <td class='x210'>班次</td>
            <td class='x210'>数量</td>
            <td class='x211'>首检</td>
            <td class='x212'>操作者</td>

        </tr>
        <tr height='24' style='height:18pt' id='r20'>
            <td height='23' class='x113' style='height:17.25pt;'></td>
            <td colspan='2' class='x114' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td class='x115'></td>
            <td class='x116'>□</td>
            <td colspan='6' class='x117' style='border-bottom:1px solid windowtext;'>供气压力：<span>&nbsp;&nbsp;&nbsp;&nbsp;
                </span>kgf/cm2；丝印速度：<span>&nbsp;&nbsp;&nbsp;&nbsp; </span>mm/s<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span></td>
            <td colspan='3' class='x180' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td class='x109'>□</td>
            <td rowspan='10' height='239' class='x159'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:179.25pt;'></td>
            <td rowspan='3' height='70' class='x214'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>丝印</td>
            <td class='x134'></td>
            <td class='x134'></td>
            <td class='x215'></td>
            <td class='x175'></td>

        </tr>
        <tr height='24' style='height:18pt' id='r21'>
            <td rowspan='5' height='120' class='x119' style='border-right:1px solid windowtext;height:90pt;'>
                A<span>&nbsp;&nbsp;&nbsp; </span>□</td>
            <td colspan='2' rowspan='2' height='46' class='x114'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:34.5pt;'></td>
            <td class='x115'></td>
            <td class='x121'>□</td>
            <td colspan='6' class='x117' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                供气压力：<span>&nbsp;&nbsp;&nbsp;&nbsp; </span>kgf/cm2；丝印速度：<span>&nbsp;&nbsp;&nbsp;&nbsp;
                </span>mm/s<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></td>
            <td colspan='3' class='x181' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td class='x109'>□</td>
            <td class='x201'></td>
            <td class='x201'></td>
            <td class='x201'></td>
            <td class='x223'></td>

        </tr>
        <tr height='24' style='height:18pt' id='r22'>
            <td class='x115'></td>
            <td class='x121'>□</td>
            <td colspan='6' class='x117' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                供气压力：<span>&nbsp;&nbsp;&nbsp;&nbsp; </span>kgf/cm2；丝印速度：<span>&nbsp;&nbsp;&nbsp;&nbsp;
                </span>mm/s<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></td>
            <td colspan='3' class='x181' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td class='x109'>□</td>
            <td class='x201'></td>
            <td class='x201'></td>
            <td class='x201'></td>
            <td class='x223'></td>
        </tr>
        <tr height='24' style='height:18pt' id='r23'>
            <td colspan='2' class='x114' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td class='x115'></td>
            <td class='x121'>□</td>
            <td colspan='6' class='x117' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                供气压力：<span>&nbsp;&nbsp;&nbsp;&nbsp; </span>kgf/cm2；<span>&nbsp;&nbsp; </span></td>
            <td colspan='3' class='x181' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td class='x109'>□</td>
            <td rowspan='4' height='94' class='x214'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:70.5pt;'>贴片</td>
            <td class='x202'></td>
            <td class='x202'></td>
            <td class='x202'></td>
            <td class='x224'></td>

        </tr>
        <tr height='24' style='height:18pt' id='r24'>
            <td colspan='2' class='x114' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td class='x115'></td>
            <td class='x121'>□</td>
            <td colspan='6' class='x117' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                供气压力：<span>&nbsp;&nbsp;&nbsp;&nbsp; </span>kgf/cm2；<span>&nbsp;&nbsp; </span></td>
            <td colspan='3' class='x181' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td class='x109'>□</td>
            <td class='x202'></td>
            <td class='x202'></td>
            <td class='x202'></td>
            <td class='x224'></td>

        </tr>
        <tr height='24' style='height:18pt' id='r25'>
            <td colspan='2' class='x114' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td class='x115'></td>
            <td class='x121'>□</td>
            <td colspan='6' class='x117' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                供气压力：<span>&nbsp;&nbsp;&nbsp;&nbsp; </span>kgf/cm2；<span>&nbsp;&nbsp; </span></td>
            <td colspan='3' class='x181' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td class='x109'>□</td>
            <td class='x202'></td>
            <td class='x202'></td>
            <td class='x202'></td>
            <td class='x224'></td>

        </tr>
        <tr height='24' style='height:18pt' id='r26'>
            <td height='24' class='x119' style='height:18pt;'></td>
            <td colspan='2' class='x114' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td class='x115'></td>
            <td class='x121'>□</td>
            <td colspan='6' class='x117' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                供气压力：<span>&nbsp;&nbsp;&nbsp;&nbsp; </span>kgf/cm2；</td>
            <td colspan='3' class='x109' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td class='x184'>□</td>
            <td class='x202'></td>
            <td class='x202'></td>
            <td class='x202'></td>
            <td class='x224'></td>

        </tr>
        <tr height='24' style='height:18pt' id='r27'>
            <td rowspan='5' height='120' class='x122'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:90pt;'>
                B<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>□</td>
            <td colspan='4' class='x123' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td colspan='6' class='x109' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                回流炉实时显示温度、速度</td>
            <td colspan='3' rowspan='3' height='71' class='x185'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:53.25pt;'></td>
            <td rowspan='3' height='71' class='x184'
                style='border-right:2px solid windowtext;border-bottom:1px solid windowtext;height:53.25pt;'>□</td>
            <td rowspan='3' height='70' class='x214'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>回流焊接</td>
            <td class='x202'></td>
            <td class='x202'></td>
            <td class='x202'></td>
            <td class='x224'></td>

        </tr>
        <tr height='24' style='height:18pt' id='r28'>
            <td colspan='2' rowspan='2' height='47' class='x126'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:35.25pt;'></td>
            <td rowspan='2' height='47' class='x128'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:35.25pt;'></td>
            <td rowspan='2' height='47' class='x128'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:35.25pt;'>□</td>
            <td class='x130'>温区1：<span>&nbsp;&nbsp;&nbsp; </span>℃</td>
            <td colspan='2' class='x117' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                温区2：<span>&nbsp;&nbsp;&nbsp; </span>℃<span>&nbsp;
                </span></td>
            <td class='x130'>温区3：<span>&nbsp;&nbsp;&nbsp; </span>℃</td>
            <td class='x130'>温区4：<span>&nbsp;&nbsp;&nbsp; </span>℃</td>
            <td rowspan='2' height='47' class='x166'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:35.25pt;'><span
                    style='float:right'>cm/min</span></td>
            <td class='x202'></td>
            <td class='x202'></td>
            <td class='x202'></td>
            <td class='x224'></td>

        </tr>
        <tr height='24' style='height:18pt' id='r29'>
            <td class='x130'>温区5：<span>&nbsp;&nbsp;&nbsp; </span>℃</td>
            <td colspan='2' class='x117' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                温区6：<span>&nbsp;&nbsp;&nbsp; </span>℃</td>
            <td class='x130'>温区7：<span>&nbsp;&nbsp;&nbsp; </span>℃</td>
            <td class='x130'>温区8：<span>&nbsp;&nbsp;&nbsp; </span>℃</td>
            <td class='x202'></td>
            <td class='x202'></td>
            <td class='x202'></td>
            <td class='x224'></td>

        </tr>
        <tr height='24' style='height:18pt' id='r30'>
            <td colspan='2' rowspan='2' height='46' class='x114'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:34.5pt;'></td>
            <td rowspan='2' height='46' class='x115'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:34.5pt;'></td>
            <td rowspan='2' height='47' class='x128'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:35.25pt;'>□</td>
            <td colspan='6' rowspan='2' height='47' class='x126'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:35.25pt;'>
                供气压力：<span>&nbsp;&nbsp;&nbsp;&nbsp; </span>kgf/cm2；</td>
            <td colspan='3' rowspan='2' height='47' class='x193'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:35.25pt;'></td>
            <td rowspan='2' height='47' class='x184'
                style='border-right:2px solid windowtext;border-bottom:1px solid windowtext;height:35.25pt;'>□</td>
            <td rowspan='2' height='47' class='x196'
                style='border-right:1px solid windowtext;border-bottom:2px solid windowtext;height:35.25pt;'></td>
            <td rowspan='2' height='47' class='x218'
                style='border-right:1px solid windowtext;border-bottom:2px solid windowtext;height:35.25pt;'>QC</td>
            <td class='x180'></td>
            <td class='x201'></td>
            <td class='x180'></td>
            <td class='x225'></td>

        </tr>
        <tr height='24' style='height:18pt' id='r31'>
            <td class='x226'></td>
            <td class='x226'></td>
            <td class='x226'></td>
            <td class='x227'></td>

        </tr>
        <tr height='24' style='height:18pt' id='r32'>
            <td rowspan='2' height='48' class='x139'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:36.6pt;'>下道工序交接</td>
            <td rowspan='2' height='48' class='x140'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:36.6pt;'>一次交接</td>
            <td colspan='3' class='x69' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                交接人</td>
            <td class='x67'>数量</td>
            <td class='x67'>日期</td>
            <td rowspan='2' height='48' class='x140'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:36.6pt;'>
                二次<span>&nbsp;&nbsp; </span>交接</td>
            <td class='x67'>交接人</td>
            <td class='x67'>数量</td>
            <td class='x67'>日期</td>
            <td rowspan='2' height='48' class='x140'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:36.6pt;'>
                三次<span>&nbsp;&nbsp; </span>交接</td>
            <td colspan='2' class='x69' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                交接人</td>
            <td colspan='2' class='x69' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>数量
            </td>
            <td colspan='2' class='x69' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>日期
            </td>
            <td colspan='3' class='x69' style='border-right:2px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>

        </tr>
        <tr height='26' style='height:20.1pt' id='r33'>
            <td colspan='3' class='x144' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td class='x147'></td>
            <td class='x148'></td>
            <td class='x201'></td>
            <td class='x201'></td>
            <td class='x202'></td>
            <td colspan='2' class='x123' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td colspan='2' class='x123' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td colspan='2' class='x123' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>
            <td colspan='3' class='x123' style='border-right:2px solid windowtext;border-bottom:1px solid windowtext;'>
            </td>

        </tr>
        <tr height='40' style='height:30pt' id='r34'>
            <td colspan='2' height='37' class='x149'
                style='border-right:1px solid windowtext;border-bottom:2px solid windowtext;height:27.75pt;'>备注</td>
            <td colspan='19' class='x80' style='border-right:2px solid windowtext;border-bottom:2px solid windowtext;'>
            </td>

        </tr>
        <tr height='24' style='height:18pt' id='r35'>
            <td colspan='11' height='22' class='x151' style='mso-ignore:colspan;height:16.5pt;'>
                注：1.完成生产后贴片操作员清产核对器件数量，如正确请在清产核对□打√，否则上报车间管理人员；</td>
            <td class='x203'></td>
            <td class='x203'></td>
            <td class='x203'></td>
            <td class='x203'></td>
            <td class='x203'></td>
            <td class='x203'></td>
            <td class='x203'></td>
            <td class='x152'></td>
            <td class='x213'></td>
            <td class='x213'></td>

        </tr>
        <tr height='24' style='height:18pt' id='r36'>
            <td colspan='10' height='24' class='x154' style='mso-ignore:colspan;height:18pt;'><span>&nbsp;&nbsp;&nbsp;
                </span>2.生产该板使用到的设备、程序正常项□打√，填写相应的关键工艺参数、程序名称。</td>
            <td class='x204'></td>
            <td class='x204'></td>
            <td class='x204'></td>
            <td class='x204'></td>
            <td class='x204'></td>
            <td class='x204'></td>
            <td class='x204'></td>
            <td class='x204'></td>
            <td class='x155'></td>
            <td class='x213'></td>
            <td class='x213'></td>

        </tr>
        <tr height='19' style='height:14.25pt' id='r37'>
            <td height='19' style='height:14.25pt'></td>
            <td></td>
            <td></td>
            <td class='x100'></td>
            <td class='x100'></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan='2'></td>
            <td></td>
            <td colspan='2'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan='2'></td>
            <td colspan='2'></td>

        </tr>
    </table>

    <script language='javascript' type='text/javascript'>
        function ChangeRowspanHiddenData() {
            var node;
            var params = ["r6", "r7", "r9", "r13", "r14", "r16", "r20", "r21", "r23", "r27", "r28", "r30", "r32"];
            for (var i = 0; i < params.length; i++) {
                node = document.getElementById(params[i]);
                if (node != null) {
                    node.style.display = "";
                }
            }
        }
        ChangeRowspanHiddenData();
    </script>
</body>


</html>