<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <link rel="Stylesheet" href="../../css/scltb2.css">
</head>

<body link='blue' vlink='purple'>

  <table border='0' cellpadding='0' cellspacing='0' width='704' style='border-collapse: 
 collapse;table-layout:fixed;width:528pt'>
    <col width='28' style='width:21pt'>
    <col width='72' span='2' style='width:54pt'>
    <col width='106' span='2' style='width:79.5pt'>
    <col width='104' style='width:78pt'>
    <col width='72' span='3' style='width:54pt'>
    <tr height='26' style='height:20.1pt' id='r0'>
      <td colspan='9' height='25' class='x64' width='704' style='border-bottom:1px solid windowtext;height:19.35pt;'>附表
      </td>
    </tr>
    <tr height='38' style='height:28.5pt' id='r1'>
      <td height='36' class='x65' style='height:27pt;overflow:hidden;'>序</br>号</td>
      <td class='x66'>序列码</td>
      <td class='x67'>位 号</td>
      <td class='x66'>不良现象</td>
      <td class='x66'>数 量</td>
      <td class='x66'>处理情况</td>
      <td class='x66'>操作者</td>
      <td class='x66'>QC</td>
      <td class='x66'>备 注</td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r2'>
      <td height='24' class='x68' style='height:18.6pt;'>1</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r3'>
      <td height='24' class='x68' style='height:18.6pt;'>2</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r4'>
      <td height='24' class='x68' style='height:18.6pt;'>3</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r5'>
      <td height='24' class='x68' style='height:18.6pt;'>4</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r6'>
      <td height='24' class='x68' style='height:18.6pt;'>5</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r7'>
      <td height='24' class='x68' style='height:18.6pt;'>6</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r8'>
      <td height='24' class='x68' style='height:18.6pt;'>7</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r9'>
      <td height='24' class='x68' style='height:18.6pt;'>8</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r10'>
      <td height='24' class='x68' style='height:18.6pt;'>9</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r11'>
      <td height='24' class='x68' style='height:18.6pt;'>10</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r12'>
      <td height='24' class='x68' style='height:18.6pt;'>11</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r13'>
      <td height='24' class='x68' style='height:18.6pt;'>12</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r14'>
      <td height='24' class='x68' style='height:18.6pt;'>13</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r15'>
      <td height='24' class='x68' style='height:18.6pt;'>14</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r16'>
      <td height='24' class='x68' style='height:18.6pt;'>15</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='33' style='height:24.95pt' id='r17'>
      <td colspan='7' height='31' class='x70'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:23.45pt;'>
        <font class="font4">(1-</font>
        <font class="font5">本批次器件插错总数÷本批次器件手插总数</font>
        <font class="font4">)×100%=</font>
        <font class="font5">本批次该部件所在工序的合格率</font>
      </td>
      <td colspan='2' class='x71' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>统计人</td>
    </tr>
    <tr height='33' style='height:24.95pt' id='r18'>
      <td colspan='7' height='31' class='x72'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:23.45pt;'>
        (1-<span>&nbsp;&nbsp;&nbsp;&nbsp; </span>0<span>&nbsp;&nbsp;&nbsp; </span>÷<span>&nbsp;&nbsp;&nbsp;&nbsp;
        </span>600<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>)×100%=<span>&nbsp;&nbsp; </span>100.00<span>&nbsp;&nbsp; </span>%</td>
      <td colspan='2' class='x73' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        <font class="font0">方X</font>
        <font class="font0">X</font>
      </td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r19'>
      <td height='24' class='x69' style='height:18.6pt;'>1</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r20'>
      <td height='24' class='x69' style='height:18.6pt;'>2</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r21'>
      <td height='24' class='x69' style='height:18.6pt;'>3</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r22'>
      <td height='24' class='x69' style='height:18.6pt;'>4</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r23'>
      <td height='24' class='x69' style='height:18.6pt;'>5</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r24'>
      <td height='24' class='x69' style='height:18.6pt;'>6</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r25'>
      <td height='24' class='x69' style='height:18.6pt;'>7</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r26'>
      <td height='24' class='x69' style='height:18.6pt;'>8</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r27'>
      <td height='24' class='x69' style='height:18.6pt;'>9</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r28'>
      <td height='24' class='x69' style='height:18.6pt;'>10</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r29'>
      <td height='24' class='x69' style='height:18.6pt;'>11</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r30'>
      <td height='24' class='x69' style='height:18.6pt;'>12</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r31'>
      <td height='24' class='x69' style='height:18.6pt;'>13</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r32'>
      <td height='24' class='x69' style='height:18.6pt;'>14</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='26' style='height:20.1pt' id='r33'>
      <td height='24' class='x69' style='height:18.6pt;'>15</td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
      <td class='x69'></td>
    </tr>
    <tr height='33' style='height:24.95pt' id='r34'>
      <td colspan='7' height='31' class='x70'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:23.45pt;'>
        <font class="font4">(1-</font>
        <font class="font5">本批次不合格焊点总数÷本批次波峰焊点总数</font>
        <font class="font4">)×100%=</font>
        <font class="font5">本批次该部件所在工序的合格率</font>
      </td>
      <td colspan='2' class='x71' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>统计人</td>
    </tr>
    <tr height='33' style='height:24.95pt' id='r35'>
      <td colspan='7' height='31' class='x72'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:23.45pt;'>
        (1-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>0<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>÷<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>1200<span>&nbsp;&nbsp;&nbsp;&nbsp;
        </span>)×100%=<span>&nbsp;&nbsp;&nbsp;&nbsp; </span>100.00<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>%</td>
      <td colspan='2' class='x73' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>方XX</td>
    </tr>
  </table>

</body>


</html>