<html>

<head>
  <meta http-equiv=Content-Type content="text/html; charset=utf-8">
  <link rel="Stylesheet" href="../../css/f308b.css">
  <style>
    .inputSpan {
      margin-left: 5px;
      display: inline-block;
      width: 50px;
      height: 13px;
      position: relative;
    }

    .inputSpan input {
      position: absolute;
      width: 98%;
      border: none;
      text-align: left;
      left: 0;
    }

    td {
      vertical-align: middle;
      position: relative;
      padding: 0;
      overflow: hidden;
    }

    textarea {
      border: none;
      resize: none;
      vertical-align: middle;
      text-align: center;
      top: 5%;
      position: absolute;
      left: 5%;
      height: 90%;
      width: 90%;
      margin: 0px;
    }
  </style>
    <script src="../../lib/layui-v2.3.0/layui.js" charset="utf-8"></script>
    <script src="../../js/common.js"></script>
</head>

<body link=blue vlink=purple>

  <table border=0 cellpadding=0 cellspacing=0 width=945 style='border-collapse:
 collapse;table-layout:fixed;width:1050px;height:1800px'>
    <tr height=52 style='height:39.0pt'>
      <td colspan=15 height=52 class=xl65 style='height:39.0pt;
  width:594pt'><a name="Print_Area">电路板调试流通表</a></td>
    </tr>
    <tr height=22 style='height:16.5pt'>
      <td height=22 class=xl85 colspan=3 style='height:16.5pt;'>RoHS:Y<input type="checkbox">
        <font class="font5">/N</font>
        <font class="font0"><input type="checkbox"></font>
      </td>
      <td colspan=12 class=xl65></td>
    </tr>
    <tr height=24 style='height:18.0pt'>
      <td height=24 class=xl84 colspan=2 style='height:18.0pt;'>型号：</td>
      <td colspan=2 class=xl82><textarea></textarea></td>
      <td class=xl80 colspan=2>生产批次：</td>
      <td colspan=3 class=xl82><textarea></textarea></td>
      <td class=xl80 colspan=2>投产台数：<span class="inputSpan" style="position:relative"><input></span></td>
      <td width="69" class=xl82></td>
      <td width="88" class=xl80>部件名称：</td>
      <td colspan=2 class=xl82 style='border-right:1.0pt solid black'><textarea></textarea></td>
    </tr>
    <tr height=24 style='height:18.0pt'>
      <td height=24 class=xl83 colspan=2 style='height:18.0pt;'>成品图号：</td>
      <td colspan=6 class=xl87><textarea></textarea></td>
      <td class=xl79 colspan=2>序列码：</td>
      <td colspan=5 class=xl87 style='border-right:1.0pt solid black'><textarea></textarea></td>
    </tr>
    <tr height=24 style='height:18.0pt'>
      <td colspan=15 height=24 class=xl110 style='border-right:1.0pt solid black;
  height:18.0pt'>工艺依据：<span class="inputSpan" style="position:relative"><input></span>根据文件编号为：<span class="inputSpan"
          style="position:relative;width:180px;"><input></span>
        <font class="font5">的调试手册</font>
        <font class="font7"><span class="inputSpan" style="position:relative"><input></span></font>
        <font class="font5">版本第</font>
        <font class="font0"><span class="inputSpan" style="position:relative"><input></span></font>
        <font class="font5">项</font>
      </td>
    </tr>
    <tr height=20 style='height:15.0pt'>
      <td width="77" height=220 rowspan=11 class=xl113 style='border-bottom:1.0pt solid black;
  height:165.0pt;border-top:none'>领入<br>
        记录</td>
      <td width="78" class=xl66>序号</td>
      <td colspan=2 class=xl66 style='border-left:none'>经手人</td>
      <td width="129" class=xl66>数量</td>
      <td colspan=2 class=xl66 style='border-left:none'>日期</td>
      <td width="73" class=xl67 style='border-top:none'>备注</td>
      <td width="77" rowspan=11 class=xl113 style='border-bottom:1.0pt solid black;border-top:
  none'>移交<br>
        记录</td>
      <td width="69" class=xl66>序号</td>
      <td width="69" class=xl66>经手人</td>
      <td class=xl66>数量</td>
      <td class=xl66>日期</td>
      <td colspan=2 class=xl66 style='border-right:1.0pt solid black;border-left:
  none'>批次</td>
    </tr>
    <tr height=20 style='height:15.0pt'>
      <td height=20 class=xl68 style='height:15.0pt;border-top:none;border-left:
  none'>1</td>
      <td colspan=2 class=xl68 style='border-left:none'><textarea></textarea></td>
      <td class=xl68><textarea></textarea></td>
      <td colspan=2 class=xl68 style='border-left:none'><textarea></textarea></td>
      <td class=xl70 style='border-top:none'><textarea></textarea></td>
      <td class=xl68>1</td>
      <td class=xl68><textarea></textarea></td>
      <td class=xl68><textarea></textarea></td>
      <td class=xl69><textarea></textarea></td>
      <td colspan=2 class=xl68 style='border-right:1.0pt solid black;border-left:
  none'><textarea></textarea></td>
    </tr>
    <tr height=20 style='height:15.0pt'>
      <td height=20 class=xl68 style='height:15.0pt;border-top:none;border-left:
  none'>2</td>
      <td colspan=2 class=xl68 style='border-left:none'><textarea></textarea></td>
      <td class=xl68><textarea></textarea></td>
      <td colspan=2 class=xl68 style='border-left:none'><textarea></textarea></td>
      <td class=xl70 style='border-top:none'><textarea></textarea></td>
      <td class=xl68>2</td>
      <td class=xl68><textarea></textarea></td>
      <td class=xl68><textarea></textarea></td>
      <td class=xl69><textarea></textarea></td>
      <td colspan=2 class=xl68 style='border-right:1.0pt solid black;border-left:
  none'><textarea></textarea></td>
    </tr>
    <tr height=20 style='height:15.0pt'>
      <td height=20 class=xl68 style='height:15.0pt;border-top:none;border-left:
  none'>3</td>
      <td colspan=2 class=xl68 style='border-left:none'><textarea></textarea></td>
      <td class=xl68><textarea></textarea></td>
      <td colspan=2 class=xl68 style='border-left:none'><textarea></textarea></td>
      <td class=xl70 style='border-top:none'><textarea></textarea></td>
      <td class=xl68>3</td>
      <td class=xl68><textarea></textarea></td>
      <td class=xl68><textarea></textarea></td>
      <td class=xl69><textarea></textarea></td>
      <td colspan=2 class=xl68 style='border-right:1.0pt solid black;border-left:
  none'><textarea></textarea></td>
    </tr>
    <tr height=20 style='height:15.0pt'>
      <td height=20 class=xl68 style='height:15.0pt;border-top:none;border-left:
  none'>4</td>
      <td colspan=2 class=xl68 style='border-left:none'><textarea></textarea></td>
      <td class=xl68><textarea></textarea></td>
      <td colspan=2 class=xl68 style='border-left:none'><textarea></textarea></td>
      <td class=xl70 style='border-top:none'><textarea></textarea></td>
      <td class=xl68>4</td>
      <td class=xl68><textarea></textarea></td>
      <td class=xl68><textarea></textarea></td>
      <td class=xl69><textarea></textarea></td>
      <td colspan=2 class=xl68 style='border-right:1.0pt solid black;border-left:
  none'><textarea></textarea></td>
    </tr>
    <tr height=20 style='height:15.0pt'>
      <td height=20 class=xl68 style='height:15.0pt;border-top:none;border-left:
  none'>5</td>
      <td colspan=2 class=xl68 style='border-left:none'><textarea></textarea></td>
      <td class=xl68><textarea></textarea></td>
      <td colspan=2 class=xl68 style='border-left:none'><textarea></textarea></td>
      <td class=xl70 style='border-top:none'><textarea></textarea></td>
      <td class=xl68>5</td>
      <td class=xl68><textarea></textarea></td>
      <td class=xl68><textarea></textarea></td>
      <td class=xl69><textarea></textarea></td>
      <td colspan=2 class=xl68 style='border-right:1.0pt solid black;border-left:
  none'><textarea></textarea></td>
    </tr>
    <tr height=20 style='height:15.0pt'>
      <td height=20 class=xl68 style='height:15.0pt;border-top:none;border-left:
  none'>6</td>
      <td colspan=2 class=xl68 style='border-left:none'><textarea></textarea></td>
      <td class=xl68><textarea></textarea></td>
      <td colspan=2 class=xl68 style='border-left:none'><textarea></textarea></td>
      <td class=xl70 style='border-top:none'><textarea></textarea></td>
      <td class=xl68>6</td>
      <td class=xl68><textarea></textarea></td>
      <td class=xl68><textarea></textarea></td>
      <td class=xl69><textarea></textarea></td>
      <td colspan=2 class=xl68 style='border-right:1.0pt solid black;border-left:
  none'><textarea></textarea></td>
    </tr>
    <tr height=20 style='height:15.0pt'>
      <td height=20 class=xl68 style='height:15.0pt;border-top:none;border-left:
  none'>7</td>
      <td colspan=2 class=xl68 style='border-left:none'><textarea></textarea></td>
      <td class=xl68><textarea></textarea></td>
      <td colspan=2 class=xl68 style='border-left:none'><textarea></textarea></td>
      <td class=xl70 style='border-top:none'><textarea></textarea></td>
      <td class=xl68>7</td>
      <td class=xl68><textarea></textarea></td>
      <td class=xl68><textarea></textarea></td>
      <td class=xl69><textarea></textarea></td>
      <td colspan=2 class=xl68 style='border-right:1.0pt solid black;border-left:
  none'><textarea></textarea></td>
    </tr>
    <tr height=20 style='height:15.0pt'>
      <td height=20 class=xl68 style='height:15.0pt;border-top:none;border-left:
  none'>8</td>
      <td colspan=2 class=xl68 style='border-left:none'><textarea></textarea></td>
      <td class=xl68><textarea></textarea></td>
      <td colspan=2 class=xl68 style='border-left:none'><textarea></textarea></td>
      <td class=xl70 style='border-top:none'><textarea></textarea></td>
      <td class=xl68>8</td>
      <td class=xl68><textarea></textarea></td>
      <td class=xl68><textarea></textarea></td>
      <td class=xl69><textarea></textarea></td>
      <td colspan=2 class=xl68 style='border-right:1.0pt solid black;border-left:
  none'><textarea></textarea></td>
    </tr>
    <tr height=20 style='height:15.0pt'>
      <td height=20 class=xl68 style='height:15.0pt;border-top:none;border-left:
  none'>9</td>
      <td colspan=2 class=xl68 style='border-left:none'><textarea></textarea></td>
      <td class=xl68><textarea></textarea></td>
      <td colspan=2 class=xl68 style='border-left:none'><textarea></textarea></td>
      <td class=xl70 style='border-top:none'><textarea></textarea></td>
      <td class=xl68>9</td>
      <td class=xl68><textarea></textarea></td>
      <td class=xl68><textarea></textarea></td>
      <td class=xl69><textarea></textarea></td>
      <td colspan=2 class=xl68 style='border-right:1.0pt solid black;border-left:
  none'><textarea></textarea></td>
    </tr>
    <tr height=20 style='height:15.0pt'>
      <td height=20 class=xl71 style='height:15.0pt;border-top:none;border-left:
  none'>10</td>
      <td colspan=2 class=xl71 style='border-left:none'><textarea></textarea></td>
      <td class=xl71><textarea></textarea></td>
      <td colspan=2 class=xl71 style='border-left:none'><textarea></textarea></td>
      <td class=xl81 style='border-top:none'><textarea></textarea></td>
      <td class=xl71>10</td>
      <td class=xl71><textarea></textarea></td>
      <td class=xl71><textarea></textarea></td>
      <td class=xl72><textarea></textarea></td>
      <td colspan=2 class=xl71 style='border-right:1.0pt solid black;border-left:
  none'><textarea></textarea></td>
    </tr>
    <tr height=20 style='height:15.0pt'>
      <td height=20 class=xl73 style='height:15.0pt;border-top:none'>序号</td>
      <td colspan=2 class=xl66 style='border-left:none'>序列码</td>
      <td colspan=3 class=xl66 style='border-left:none'>调试结果</td>
      <td colspan=3 class=xl66 style='border-left:none'>调试者</td>
      <td class=xl66>序号</td>
      <td colspan=2 class=xl66 style='border-left:none'>序列码</td>
      <td colspan=2 class=xl66 style='border-left:none'>调试结果</td>
      <td width="111" class=xl67>调试者</td>
    </tr>
    <tr height=20 style='height:15.0pt'>
      <td rowspan=5 height=100 class=xl74 style='height:75.0pt;border-top:none'>1</td>
      <td colspan=2 rowspan=4 class=xl91 style='border-right:.5pt solid black;
  border-bottom:.5pt solid black;width:62pt'><textarea></textarea></td>
      <td colspan=3 rowspan=4 class=xl99 style='width:108pt'><input type="checkbox">1.被测电路板均正常<br>
        <input type="checkbox">2.共有(<span class="inputSpan" style="position: relative;"><input></span>)块板故障，分别对应第(<span
          class="inputSpan" style="position: relative;"><input></span>)号排故记录，其余被测电路板正常。<br>
      </td>
      <td colspan=3 rowspan=4 class=xl68><textarea></textarea></td>
      <td rowspan=5 class=xl68 style='border-top:none'>2</td>
      <td colspan=2 rowspan=4 class=xl68><textarea></textarea></td>
      <td colspan=2 rowspan=4 class=xl99 style='width:104pt'><input type="checkbox">1.被测电路板均正常<br>
        <input type="checkbox">2.共有(<span class="inputSpan" style="position: relative;"><input></span>)块板故障，分别对应第(<span
          class="inputSpan" style="position: relative;"><input></span>)号排故记录，其余被测电路板正常。<br>
      </td>
      <td rowspan=4 class=xl70 style='border-top:none'><textarea></textarea></td>
    </tr>
    <tr height=20 style='height:15.0pt'>
    </tr>
    <tr height=20 style='height:15.0pt'>
    </tr>
    <tr height=20 style='height:15.0pt'>
    </tr>
    <tr height=20 style='height:15.0pt'>
      <td colspan=8 height=20 class=xl97 style='height:15.0pt;border-left:none'>仪器编号：<span class="inputSpan"
          style="position: relative;"><input></span></td>
      <td colspan=5 class=xl97 style='border-right:1.0pt solid black;border-left:
  none'>仪器编号：<span class="inputSpan" style="position: relative;"><input></span></td>
    </tr>
    <tr height=20 style='height:15.0pt'>
      <td height=20 class=xl74 style='height:15.0pt;border-top:none'>序号</td>
      <td colspan=2 class=xl68 style='border-left:none'>序列码</td>
      <td colspan=3 class=xl68 style='border-left:none'>调试结果</td>
      <td colspan=3 class=xl68 style='border-left:none'>调试者</td>
      <td class=xl68>序号</td>
      <td colspan=2 class=xl68 style='border-left:none'>序列码</td>
      <td colspan=2 class=xl68 style='border-left:none'>调试结果</td>
      <td class=xl70>调试者</td>
    </tr>
    <tr height=20 style='height:15.0pt'>
      <td rowspan=5 height=100 class=xl74 style='border-bottom:1.0pt solid black;
  height:75.0pt;border-top:none'>3</td>
      <td colspan=2 rowspan=4 class=xl68><textarea></textarea></td>
      <td colspan=3 rowspan=4 class=xl99 style='width:108pt'><input type="checkbox">1.被测电路板均正常<br>
        <input type="checkbox">2.共有(<span class="inputSpan" style="position: relative;"><input></span>)块板故障，分别对应第(<span
          class="inputSpan" style="position: relative;"><input></span>)号排故记录，其余被测电路板正常。<br>
      </td>
      <td colspan=3 rowspan=4 class=xl68><textarea></textarea></td>
      <td rowspan=5 class=xl68 style='border-bottom:1.0pt solid black;border-top:
  none'>4</td>
      <td colspan=2 rowspan=4 class=xl68><textarea></textarea></td>
      <td colspan=2 rowspan=4 class=xl99 style='width:104pt'><input type="checkbox">1.被测电路板均正常<br>
        <input type="checkbox">2.共有(<span class="inputSpan" style="position: relative;"><input></span>)块板故障，分别对应第(<span
          class="inputSpan" style="position: relative;"><input></span>)号排故记录，其余被测电路板正常。<br>
      </td>
      <td rowspan=4 class=xl70 style='border-top:none'><textarea></textarea></td>
    </tr>
    <tr height=20 style='height:15.0pt'>
    </tr>
    <tr height=20 style='height:15.0pt'>
    </tr>
    <tr height=20 style='height:15.0pt'>
    </tr>
    <tr height=20 style='height:15.0pt'>
      <td colspan=8 height=20 class=xl102 style='height:15.0pt;border-left:none'>仪器编号：<span class="inputSpan"
          style="position: relative;"><input></span></td>
      <td colspan=5 class=xl102 style='border-right:1.0pt solid black;border-left:
  none'>仪器编号：<span class="inputSpan" style="position: relative;"><input></span></td>
    </tr>
    <tr height=26 style='height:20.1pt'>
      <td colspan=15 height=26 class=xl116 style='border-right:1.0pt solid black;
  height:20.1pt'>排故记录</td>
    </tr>
    <tr height=26 style='height:20.1pt'>
      <td height=26 class=xl73 style='height:20.1pt;border-top:none'>序号</td>
      <td colspan=2 class=xl66 style='border-left:none'>序列码</td>
      <td colspan=4 class=xl66 style='border-left:none'>故障现象</td>
      <td colspan=5 class=xl100 style='border-right:.5pt solid black;border-left:
  none'>原因及解决方法</td>
      <td class=xl66>排故者</td>
      <td width="69" class=xl66>确认者</td>
      <td class=xl67>日期</td>
    </tr>
    <tr height=40 style='height:30.0pt'>
      <td height=40 class=xl74 style='height:30.0pt;border-top:none'>1</td>
      <td colspan=2 class=xl89 style='border-right:.5pt solid black;border-left:
  none'><textarea></textarea></td>
      <td colspan=4 class=xl89 style='border-right:.5pt solid black;border-left:
  none'><textarea></textarea></td>
      <td colspan=5 class=xl89 style='border-right:.5pt solid black;border-left:
  none'><textarea></textarea></td>
      <td class=xl69><textarea></textarea></td>
      <td class=xl69><textarea></textarea></td>
      <td class=xl76><textarea></textarea></td>
    </tr>
    <tr height=40 style='height:30.0pt'>
      <td height=40 class=xl74 style='height:30.0pt;border-top:none'>2</td>
      <td colspan=2 class=xl89 style='border-right:.5pt solid black;border-left:
  none'><textarea></textarea></td>
      <td colspan=4 class=xl89 style='border-right:.5pt solid black;border-left:
  none'><textarea></textarea></td>
      <td colspan=5 class=xl89 style='border-right:.5pt solid black;border-left:
  none'><textarea></textarea></td>
      <td class=xl69><textarea></textarea></td>
      <td class=xl69><textarea></textarea></td>
      <td class=xl76><textarea></textarea></td>
    </tr>
    <tr height=40 style='height:30.0pt'>
      <td height=40 class=xl74 style='height:30.0pt;border-top:none'>3</td>
      <td colspan=2 class=xl89 style='border-right:.5pt solid black;border-left:
  none'><textarea></textarea></td>
      <td colspan=4 class=xl89 style='border-right:.5pt solid black;border-left:
  none'><textarea></textarea></td>
      <td colspan=5 class=xl89 style='border-right:.5pt solid black;border-left:
  none'><textarea></textarea></td>
      <td class=xl69><textarea></textarea></td>
      <td class=xl69><textarea></textarea></td>
      <td class=xl76><textarea></textarea></td>
    </tr>
    <tr height=40 style='height:30.0pt'>
      <td height=40 class=xl74 style='height:30.0pt;border-top:none'>4</td>
      <td colspan=2 class=xl89 style='border-right:.5pt solid black;border-left:
  none'><textarea></textarea></td>
      <td colspan=4 class=xl89 style='border-right:.5pt solid black;border-left:
  none'><textarea></textarea></td>
      <td colspan=5 class=xl89 style='border-right:.5pt solid black;border-left:
  none'><textarea></textarea></td>
      <td class=xl69><textarea></textarea></td>
      <td class=xl69><textarea></textarea></td>
      <td class=xl76><textarea></textarea></td>
    </tr>
    <tr height=40 style='height:30.0pt'>
      <td height=40 class=xl75 style='height:30.0pt;border-top:none'>5</td>
      <td colspan=2 class=xl107 style='border-right:.5pt solid black;border-left:
  none'><textarea></textarea></td>
      <td colspan=4 class=xl107 style='border-right:.5pt solid black;border-left:
  none'><textarea></textarea></td>
      <td colspan=5 class=xl89 style='border-right:.5pt solid black;border-left:
  none'><textarea></textarea></td>
      <td class=xl72><textarea></textarea></td>
      <td class=xl72><textarea></textarea></td>
      <td class=xl77><textarea></textarea></td>
    </tr>
    <tr height=33 style='height:24.95pt'>
      <td colspan=13 rowspan=2 height=66 class=xl119 style='border-bottom:
  1.0pt solid black;height:49.9pt;width:490pt'>（1-本批次本工序不合格总数÷本批次本工序生产零件总数）×100%=本批次该零件本工序直通率<br><span>     
        </span>(1－<span class="inputSpan" style="position: relative;">
          <input></span>÷<span class="inputSpan" style="position: relative;"><input></span>)×100%＝<span
          class="inputSpan" style="position: relative;"><input></span>%<br>
        </font>
      </td>
      <td colspan=2 class=xl66 style='border-right:1.0pt solid black;border-left:
  none'>统计人</td>
    </tr>
    <tr height=33 style='height:24.95pt'>
      <td colspan=2 height=33 class=xl71 style='border-right:1.0pt solid black;
  height:24.95pt;border-left:none'><textarea></textarea></td>
    </tr>
    <tr height=106 style='height:80.1pt'>
      <td height=106 class=xl78 align=center style='height:80.1pt;border-top:none'>备注</td>
      <td colspan=14 class=xl104 style='border-right:1.0pt solid black;border-left:
  none'><textarea></textarea></td>
    </tr>
  </table>

</body>

</html>