<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>选择工序表格</title>
    <meta name="Description" content="基于layUI数据表格操作"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../lib/layui-v2.3.0/css/layui.css">
    <style type="text/css">
        .layui-form-switch {
            width: 55px;
        }
        .layui-form-switch em {
            width: 40px;
        }

        body {
            overflow-y: scroll;
        }
    </style>
</head>
<body>
<div style="box-sizing: border-box;padding:14px;">
    <table class="layui-hide" id="table" lay-filter="table"></table>
    <script type="text/html" id="tool">
        <a class=" layui-btn layui-btn-xs  "  lay-event="ok">确定</a><a class=" layui-btn layui-btn-xs  layui-btn-normal"  lay-event="detail">详情</a>
    </script>
    <script type="text/html" id="toolbarDemo">
            <button id="sub" class="layui-btn layui-btn-sm" type="button"  lay-event="devs">确定所选</button>
    </script>
    <script src="../lib/layui-v2.3.0/layui.js" charset="utf-8"></script>
    <script src="../../js/common.js" ></script>
</div>
</body>
<script>
    layui.use(['table','jquery','form','layer'],function () {
        var table = layui.table,
            layer = layui.layer,
            form = layui.form,
            $ = layui.jquery;
        form.on('submit(sub)',function (obj) {
            var data = obj.field;
            table.reload('table',{
                where:data,
                curr:1
            })
        });
        table.render({
            elem: '#table'
            ,url: '/produce/pcbTask/findProcessTaskByDevice' //数据接口
            ,page: false //开启分页
            ,method:'POST'
            ,contentType: 'application/json'
            ,defaultToolbar: ['filter']
            ,response: {
                statusCode: 200
            },
            where:{
                deviceCode:getQueryString('deviceCode'),
            }
            ,parseData: function(res){
                var data = res.data.filter(function (t) {
                    return t.id!=getQueryString('nowId');
                })
                return {
                    "code": res.code, //解析接口状态
                    "data": data //解析数据列表
                };
            }
            ,cols:  [
                [ //标题栏
                    {field: 'process_task_code', title: '工序任务号', width: 188}
                    ,{field: 'process_name', title: '工序名称', width: 120}
                    ,{field: 'process_task_status', title: '工单状态', minWidth: 110}
                    ,{field: 'task_sheet_code', title: '生产批次', width: 164}
                    ,{field: 'pcb_plate_id', title: '光板号', minWidth: 218}
                    ,{field: 'pcb_code', title: '规格型号', minWidth: 160}
                    , { field: 'detail_plan_count', title: '日计划量', minWidth: 90,templet:function (d) {
                        if(d.count_type==1){
                            d.detail_plan_count = d.detail_device_plan_count;
                        }
                        return d.detail_plan_count==null?'': d.detail_plan_count;
                    }}
                    , { field: 'detail_finish_count', title: '日完成量', minWidth: 90,templet:function (d) {
                        if(d.count_type==1){
                            d.detail_finish_count = d.detail_device_finish_count;
                        }
                        return d.detail_finish_count ==null?'': d.detail_finish_count;
        }}
                    ,{field: 'pcb_quantity', title: '计划生产数量', minWidth: 120}
                    ,{field: 'amount_completed', title: '实际生产数量', minWidth: 120}
                    ,{field: 'is_rohs', title: 'RoHS标志', minWidth: 100}
                    ,{field: 'plan_start_time', title: '计划生产时间', minWidth: 170,templet:function (d) {
                        return timeToDate(d.plan_start_time)
                    }}
                    ,{field: 'plan_finish_time', title: '计划结束时间', minWidth: 170,templet:function (d) {
                        return timeToDate(d.plan_finish_time)
                    }}
                    ,{ title: '操作',fixed:'right', toolbar: '#tool', width: 120}
                ]
            ]

        });
        table.on('toolbar(table)',function (obj) {
            if(obj.event==='devs'){
                var checkStatus = table.checkStatus('table').data;
                parent.a(checkStatus)
            }
        });
        table.on('tool(table)',function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'detail':
                    layer.open({
                        type:2,
                        area:['90%','90%'],
                        title:"日制令详情",
                        content:'/detail',
                        success: function (i, index) {
                            var iframeWin = window[i.find('iframe')[0]['name']];
                            data.plan_start_time = timeToDate(data.plan_start_time)
                            data.plan_finish_time = timeToDate(data.plan_finish_time)
                            var title = {
                                process_task_code: '工序任务号',
                                process_name: '工序名称',
                                task_sheet_code: '生产批次',
                                process_task_status: '工单状态',
                                model_name: '机型名称',
                                sign: '规格型号',
                                pcb_quantity: '计划生产数量',
                                amount_completed: '实际生产数量',
                                RoHS: 'RoHS',
                                plan_start_time: '计划生产时间',
                                plan_finish_time: '计划结束时间',
                                qqq: '板编号',
                            };
                            iframeWin.render(data,title,2)
                        }
                    })
                    ;break;
                case 'ok':
                    parent.a(obj.data);
                    break;
            }
        });

    })
</script>
</html>
