<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>下达工站</title>
    <meta name="Description" content="基于layUI数据表格操作" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../lib/layui-v2.3.0/css/layui.css">
    <style type="text/css">
        .layui-form-switch {
            width: 55px;
        }

        .layui-form-switch em {
            width: 40px;
        }

        .layui-form-item {
            margin-bottom: 0;
        }

        body {
            overflow-y: scroll;
        }

        tr td:nth-child(3) .layui-table-cell {
            overflow: initial !important;
            padding: 0 !important;
        }

        .layui-input,
        .layui-select {
            height: 26px !important;
        }

        .layui-form-selected dl {
            top: initial !important;
        }
    </style>
</head>

<body>
    <form>
        <input type="hidden" name='data'>
    </form>
    <div style="box-sizing: border-box;padding:14px;">
        <div class="layui-form" id="timeForm" style="display: none">
            <div class="layui-inline" id="test-n1"></div>
        </div>
        <input type="hidden" name="data">
        <table class="layui-hide" id="table" lay-filter="table"></table>
        <script type="text/html" id="toolbarDemo">
        <a class=" layui-btn layui-btn-sm" style="background-color: #1E9FFF" lay-event="add">添加</a>
            <button id="sub" class="layui-btn layui-btn-sm" type="button"  lay-event="devs">确定</button>
    </script>

        <script src="../../lib/layui-v2.3.0/layui.js" charset="utf-8"></script>
        <script src="../../js/common.js"></script>
    </div>
</body>
<script>
    layui.use(['table', 'jquery', 'form', 'layer', 'laydate'], function () {
        var table = layui.table,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate,
            $ = layui.jquery;
        form.on('submit(sub)', function (obj) {
            var data = obj.field;
            table.reload('table', {
                where: data,
                curr: 1
            })
        });

        form.render();
        var tdata = [];
        var index = 0;
        var tableData = JSON.parse($('[name=data]').val());
        if(tableData.detailDeviceList){
            tdata = JSON.parse(JSON.stringify(tableData.detailDeviceList));
            tdata.forEach(function () { index++ });
            setTimeout(function () {
                table.render(tableObj);
            },500)
        }
        var d = {
            index: 0,
            plan_count: "",
            finish_count: "",
            plan_day_time: getQueryString('planDayTime'),
            devData: getQueryString('devData').split('_'),
            device_code: "",
            process_task_code: getQueryString('process_task_code')
        };
       console.log(tdata)
        var tableObj = {
            elem: '#table'
            , defaultToolbar: ['filter']
            , response: {
                statusCode: 200
            }
            , height: 'full-60'
            , toolbar: '#toolbarDemo'
            , limit: 10000
            , data: tdata
            , cols: [
                [
                    { field: 'process_task_code', title: '工序任务号', minWidth: 150 }
                    , { field: 'plan_day_time', title: '计划时间', minWidth: 120,templet: function (d) {
                        return "<span id='time" + d.index + "'>" + (d.plan_day_time == "" ? "" : timeToDate(d.plan_day_time, true)) + "</span>"
                    } }
                    , {
                        field: 'plan_day_time', title: '工站', minWidth: 100, templet: function (d) {
                            var html = '<select name="process_task_status" class="status" lay-filter="status"><option value="">请选择工站</option>';
                          getQueryString('devData').split('_').forEach(function (t) {
                                if (t == d.device_code) {
                                    html += '<option value="' + t + '" selected="selected" >' + t + '</option>';
                                } else {
                                    html += '<option value="' +t + '">' + t + '</option>';
                                }
                            });
                            html += '</select>';
                            return html;
                        }
                    }
                    , { field: 'plan_count', title: '计划量', edit: 'text', minWidth: 80 }
                    , { field: 'finish_count', title: '完成量', edit: 'text', minWidth: 80 }
                    // , { field: 'finish_count', title: '工时', minWidth: 80 }
                    // , { field: 'finish_count', title: '工单状态', minWidth: 100 }
                    , {
                        title: '操作', fixed: 'right', minWidth: 70, templet: function (d) {
                            return '<a class=" layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>'
                        }
                    }
                ]
            ]
            ,done:function () {

            }
        };
        table.render(tableObj);

        form.on('select(status)', function (obj) {
        });
        //直接嵌套显示
        var timeBox = "";
        var nowIndex = 0;
        laydate.render({
            elem: '#test-n1',
            position: 'static',
            done: function (d) {
                layer.close(timeBox);
                $('#time' + nowIndex).html(d);
                tdata.some(function (t) {
                    if (t.index == nowIndex) {
                        t.plan_day_time = d;
                        return true
                    }
                })
            }
        });
        table.on('toolbar(table)', function (obj) {
            switch (obj.event) {
                case 'devs':
                    var status = document.getElementsByClassName('status');
                    tdata.forEach(function (t, i) {
                        t.device_code = status[i].value;
                    })
                    parent.getData({index:getQueryString('index'),data:tdata});
                    parent.layer.closeAll();
                    break;
                case 'add':
                    index++;
                    var dd = JSON.parse(JSON.stringify(d));
                    var status = document.getElementsByClassName('status');
                    tdata.forEach(function (t, i) {
                        t.device_code = status[i].value;
                    })
                    console.log(tdata)
                    dd.index = index;
                    tdata.push(dd);
                    tableObj.data = tdata;
                    table.render(tableObj);
                    break;
            }
        });

        table.on('tool(table)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'del':
                    var status = document.getElementsByClassName('status');
                    tdata.forEach(function (t, i) {
                        t.device_code = status[i].value;
                    })
                    tdata = tdata.filter(function (t) { return t.index != data.index });
                    tableObj.data = tdata;
                    table.render(tableObj)
                        ; break;
                case 'time':
                    nowIndex = data.index;
                    timeBox = layer.open({
                        type: 1,
                        title: '计划时间',
                        content: $("#timeForm")
                    });
                    break;
                case 'distribution':
                    nowIndex = data.index;
                    timeBox = layer.open({
                        type: 1,
                        title: '计划时间',
                        content: $("#timeForm")
                    });
                    break;
            }
        });

    })
</script>

</html>