<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<style>
    #formBox{
        box-sizing: border-box;
        padding:14px;
    }
</style>
<body class="timo-layout-page">
<div id="formBox" style="display: none">
    <form  class="layui-form" lay-filter="banForm" >
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">板前缀</label>
                <div class="layui-input-inline">
                    <input id="before" type="text" name="before"  autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">号码</label>
                <div class="layui-input-inline">
                    <input id="code" type="text" name="prefix"  autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">板后缀</label>
                <div class="layui-input-inline">
                    <input id="after" type="text" name="suffix"  autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">初始板编号</label>
                <div class="layui-input-inline">
                    <input id="banCode" type="text" name="code"  autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div style="text-align: center">
            <button class="layui-btn" id="ok" type="button">确定</button>
        </div>
    </form>
</div>

    <div id="linBox" style="padding:0 14px;display: none!important;">
        <table class="layui-hide" id="linTable" lay-filter="linTable"></table>
    </div>
    <div class="layui-card">
        <div class="layui-card-header timo-card-header">
            <span><i class="fa fa-bars"></i> 排产计划</span>
            <i class="layui-icon layui-icon-refresh refresh-btn"></i>
        </div>
        <div class="layui-card-body">
            <div class="layui-row timo-card-screen">
                <form  class="layui-form pull-left layui-form-pane timo-search-box">
                    <div class="layui-inline">
                        <label class="layui-form-label">生产批次</label>
                        <div class="layui-input-block">
                            <input id="taskSheetCode" type="text" name="taskSheetCode" placeholder="请输入生产批次" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">规格型号</label>
                        <div class="layui-input-block">
                            <input id="pcbId" type="text" name="pcbId"  placeholder="请输入规格型号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">物料名称</label>
                        <div class="layui-input-block">
                            <input type="text" id="pcbName" name="pcbName" placeholder="请输入物料名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn" id="search"  type="button" lay-submit lay-filter="search">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
                <div class="pull-right screen-btn-group">
                    <button class="layui-btn open-popup" data-title="添加PCB工单" th:attr="data-url=@{/produce/pcbTask/add}" data-size="auto">
                        <i class="fa fa-plus"></i> 添加</button>
                    <div class="btn-group">
                        <button class="layui-btn" id="sync" type="button">同步数据</button>
                    </div>
                </div>

            </div>
            <div class="timo-table-wrap">
                <table class="layui-hide" id="table" lay-filter="table"></table>
            </div>
        </div>
    </div>
<script th:replace="/common/template :: script"></script>
    <script src="../../js/common.js" ></script>
    <script>
        layui.use(['form','laydate','table','jquery','form'],function () {
            var layer = layui.layer,
                    $ = layui.jquery,
                table = layui.table,
              laydate = layui.laydate,
                 form = layui.form;
                parent.layer.closeAll();

                laydate.render({
                    elem: '#time'
                    ,type:'datetime'
                });
               table.render({
                    elem: '#table'
                    ,url: '/produce/pcbTask/findScheduling' //数据接口
                    ,method:'POST'
                    ,loading:false

                    ,contentType: 'application/json'
                    ,response: {
                        statusCode: 200
                    }
                    ,page: true
                    ,limit:20
                    ,parseData: function(res){
                        // var page = this.page.curr;
                        // if(res.data.length===0&&page>1){
                        //     table.reload('table',{
                        //         page:{
                        //             curr:(page-1)
                        //         }
                        //     })
                        // }
                        return {
                            "code": res.code, //解析接口状态
                            "data": res.data, //解析数据列表
                            "count": res.total, //解析数据长度
                        };
                    }
                    ,cols: [
                        [
                            {field: 'pcb_task_code', title: '生产任务单号', sort: true, minWidth:140}
                            ,{field: 'task_sheet_code', title: '生产批次', sort: true, minWidth:140}
                            ,{field: 'task_sheet_date', title: '通知日期', sort: true, minWidth:170,templet:function (d) {
                                return d.task_sheet_date?timeToDate(d.task_sheet_date):"";}}
                            ,{field: 'pcb_id', title: '规格型号', sort: true, minWidth:206}
                            ,{field: 'pcb_name', title: '物料名称', sort: true, minWidth:216}
                            ,{field: 'feeding_task_code', title: '投料单号', sort: true, minWidth:120}
                            ,{title: '领料单', minWidth:120,templet:function (d) {
                                return "<span style='color:#1e9fff;cursor: pointer' lay-event='lin'>查看领料单</span>"
                            }}
                            ,{field: 'pcb_quantity', title: '计划生产数量', sort: true, minWidth:120}
                            ,{field: 'quantity}', title: '完成数量', sort: true, minWidth:120}
                            ,{field: 'produce_plan_date', title: '安排启动日期', sort: true, minWidth:170,templet:function (d) {
                                return d.produce_plan_date?timeToDate(d.produce_plan_date):"";}}
                            ,{field: 'produce_date', title: '实际启动日期', sort: true, minWidth:170,templet:function (d) {
                                return d.produce_date?timeToDate(d.produce_date):"";}}
                            ,{field: 'produce_plan_complete_date', title: '计划完成时间', sort: true, minWidth:170,templet:function (d) {
                                return d.produce_plan_complete_date?timeToDate(d.produce_plan_complete_date):"";}}
                            ,{field: 'roduce_complete_date', title: '生产完成时间', sort: true, minWidth:170,templet:function (d) {
                                return d.roduce_complete_date?timeToDate(d.roduce_complete_date):"";}}
                            ,{field: 'pcb_task_status', title: '工单状态', sort: true, minWidth:120}
                            ,{field: 'batch_id', title: '板编号', sort: true, minWidth:120}
                            ,{field: 'is_rohs', title: 'RoHS', sort: true, minWidth:120}
                            ,{field: 'pcb_plate_id', title: '光板号', sort: true, minWidth:237}
                            ,{field: 'priority', title: '优先级', sort: true, minWidth:120}
                            ,{field: 'factory', title: '厂区', sort: true, minWidth:110}
                            ,{field: 'workshop', title: '车间', minWidth:200}
                            ,{field: 'model_name', title: '机型名称', sort: true, minWidth:216}
                            ,{field: 'model_ver', title: '机型型号', sort: true, minWidth:170}
                            ,{field: 'remark', title: '备注', minWidth:120}
                            ,{ title: '操作',fixed:'right', minWidth: 210,templet:function (d) {
                                return  '<button lay-event="tou" class="layui-btn  layui-btn-xs" style="margin-right:6px;'+(d.pcb_task_status==="已投产"?"background-color:#e4e4e4":"")+'"'+(d.pcb_task_status==="已投产"?"disabled":"")+' type="button">'+(d.pcb_task_status==="已投产"?"已投产":"投产")+'</button>'
                                       +'<button lay-event="kan" class="layui-btn  layui-btn-xs" style="margin-right:6px;'+(d.pcb_task_status==="已投产"?"":"background-color:#e4e4e4")+'"'+(d.pcb_task_status==="已投产"?"":"disabled")+' type="button">查看工序计划</button>'
                                       +'<button lay-event="edit" class="layui-btn  layui-btn-xs" style="margin-right:6px;'+(d.pcb_task_status==="已投产"?"background-color:#e4e4e4":"")+'"'+(d.pcb_task_status==="已投产"?"disabled":"")+' type="button">编辑</button>'

                            }
                    }
                        ]
                    ]
                });
               var lineObj={
                   elem: '#linTable'
                   ,url: '/produce/pcbTask/findFeedingTask' //数据接口
                   ,method:'POST'
                   ,loading:false
                   ,contentType: 'application/json'
                   ,response: {
                       statusCode: 200
                   }
                   ,page: true
                   ,limit:10
                   ,where:{}
                   ,parseData: function(res){
                       return {
                           "code": res.code, //解析接口状态
                           "data": res.data, //解析数据列表
                           "count": res.total, //解析数据长度
                       };
                   }
                   ,cols: [
                       [
                           {field: 'product_code', title: '物料编号', sort: true, minWidth:160}
                           ,{field: 'product_name', title: '物料名称', minWidth:200}
                           ,{field: 'specification_model', title: '规格型号', sort: true, minWidth:206}
                           ,{field: 'stock_name', title: '发料仓库', minWidth:216}
                           ,{field: 'unit', title: '单位',  minWidth:90}
                           ,{field: 'FQtyScrap', title: '单位用量', sort: true, minWidth:100}
                           ,{field: 'FQtyMust', title: '计划投料数', sort: true, minWidth:120}
                           ,{field: 'FStockQty', title: '已领数量', sort: true, minWidth:120}
                           ,{field: 'FNStockQty', title: '未领数量', sort: true, minWidth:120}
                           ,{field: 'FQty', title: '库存', sort: true, minWidth:120}
                           ,{field: 'FQtlv', title: '齐套率', sort: true, minWidth:237}
                           ,{field: 'pcb_task_code', title: '生产任务单号', sort: true, minWidth:150}
                           ,{field: 'feeding_task_code', title: '投料单号', sort: true, minWidth:110}
                           ,{field: 'status', title: '是否冻结', minWidth:100,templet:function (d) {
                               return d.status==1?'是':'否'
                           }}
                       ]
                   ]
               };
                form.on('submit(search)',function (obj) {
                    var data = obj.field;
                    table.reload('table',{
                        where:obj.field
                    })
                });

                new Enter('taskSheetCode',function () {$('#search').click()});
                new Enter('pcbId',function () {$('#search').click()});
                new Enter('pcbName',function () {$('#search').click()});

                var before = document.getElementById('before');
                var after = document.getElementById('after');
                var code = document.getElementById('code');
                var banCode = document.getElementById('banCode');
                function codeChange(){
                    banCode.value=before.value+code.value+after.value
                }
                before.oninput=function () { codeChange() };
                after.oninput=function () { codeChange() };
                code.oninput=function () { codeChange() };
                $("#sync").on('click',function () {
                    layer.load(1,{
                        content: '同步中...',
                        success: function (layero) {
                            layero.find('.layui-layer-content').css({
                                'padding-top': '39px',
                                'width': '60px'
                            });
                        }
                    })
                    http.get("/produce/pcbTask/getPcbTaskFromERP",function (res) {
                        layer.closeAll();
                        if(res.code===200){
                            layer.msg(res.msg,{icon:1,time:1000},function () {
                                window.location.reload()
                            })
                        }else{
                            layer.alert(res.msg,{icon:5})
                        }
                    })
                });

                $("#ok").on('click',function () {
                    layer.confirm('确定投产',{icon:3},function () {
                        return
                        $.get('/produce/pcbTask/putIntoProduceBefore/'+data.id,function(res){
                            if(res.code===200){
                                layer.alert(res.msg,{icon:1},function () {
                                    layer.closeAll();
                                    table.reload('table');
                                })
                            }else{
                                layer.alert(res.msg,{icon:5})
                            }
                        });
                    });
                });

                table.on('tool(table)',function (obj) {
                    var data = obj.data;
                    switch (obj.event) {
                        case "tou":
                            layer.open({
                                type:1,
                                title:"填写板编号",
                                area:['400px','350px'],
                                content:$("#formBox"),
                                success:function () {
                                    $.get('/produce/pcbTask/generateBatchId/'+data.id,function(res){
                                        if(res.code===200){
                                                layer.closeAll();
                                                form.val('banForm',res.data)
                                        }else{
                                            layer.alert(res.msg,{icon:5})
                                        }
                                    });
                                }
                            });
                            break;
                        case 'kan':
                            layer.open({
                                title:'工序计划',
                                type:2,
                                area:['96%','96%'],
                                content:'/produce/pcbTask/plan?id='+data.id
                            });
                            break;
                        case "lin":
                            console.log(data)

                            lineObj.where.feedindTaskCode = data.feeding_task_code
                            // lineObj.where.feedindTaskCode =123
                            table.render(lineObj)
                            layer.open({
                               title:'领料单',
                               type:1,
                                area:['96%','96%'],
                               content:$("#linBox"),
                            });
                            break;
                    }
                })
        })
    </script>
    <style>
        .layui-laydate .layui-this{
            background-color:#1e9fff!important;
        }
    </style>
</body>
</html>