<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>生产信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../lib/layui-v2.3.0/css/layui.css">

</head>
<style>
    .mainBox{
        box-sizing: border-box;
        padding:0 14px;
    }
    .layui-form-label{
        width:90px;
    }
</style>
<body>
<div style="display: none" id="timeBox">
    <div class="site-demo-laydate">
        <div class="layui-inline" id="time"></div>
    </div>
</div>
<form class="layui-form" id="editForm" style="display: none;padding:14px 0;">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">计划生产时间</label>
            <div class="layui-input-inline">
                <input id="startTime" type="text" name="planStartTime"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">计划完成时间</label>
            <div class="layui-input-inline">
                <input id="endTime" type="text" name="planEndTime"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">选择设备</label>
            <div class="layui-input-inline">
                <input id="imConfig" type="text" name="imConfig"  autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div style="text-align: center">
        <button class="layui-btn  layui-btn-sm" type="button">确定</button>
    </div>
</form>
<div class="mainBox">
    <table class="layui-table" id="table" lay-filter="table"></table>
</div>
<script type="text/html" id="barDemo">
  <button lay-event="set" class="layui-btn layui-btn-warm layui-btn-xs" type="button">下达</button>
  <button lay-event="edit" class="layui-btn layui-btn-normal layui-btn-xs" type="button">编辑</button>
  <button lay-event="del" class="layui-btn layui-btn-danger layui-btn-xs" type="button">删除</button>
</script>
<script type="text/html" id="im">
    <button lay-event="im" class="layui-btn layui-btn-normal layui-btn-xs" type="button">查看</button>
</script>
<script type="text/html" id="baobiao">
    <button lay-event="baobiao" class="layui-btn layui-btn-normal layui-btn-xs" type="button">查看</button>
</script>

<script src="../../lib/layui-v2.3.0/layui.js" ></script>
<script src="../../js/common.js" ></script>
</body>
<script>
    var a="";
    var imTable="";
    window.onload = function () {
        layui.use(['jquery', 'form','table','laydate'], function () {
            var $ = layui.jquery,
                table = layui.table,
                laydate = layui.laydate,
                form = layui.form;
            //展示已知数据
            table.render({
                elem: '#table'
                ,url: '/produce/pcbTask/findProcessTaskByPCBTaskId/'+getQueryString('id') //数据接口
                ,page: false //开启分页
                ,response: {
                    statusCode: 200 //规定成功的状态码，默认：0，改为200
                }
                ,parseData: function(res){
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "data": res.data //解析数据列表
                    };
                }
                ,cols: [
                    [
                    {field: 'task_sheet_code', title: '日制令号', minWidth:154}
                    ,{field: 'process_name', title: '工序名称', minWidth:120}
                    ,{field: 'plan_start_time', title: '计划生产时间', minWidth:170}
                    ,{field: 'plan_finish_name', title: '计划完成时间', minWidth:170}
                    ,{field: 'start_time', title: '实际生产时间', minWidth:170}
                    ,{field: 'finish_time', title: '实际完成时间', minWidth:170}
                    ,{field: 'device_name', title: '选择设备', minWidth:86,toolbar:'#im'}
                    ,{field: 'pcb_quantity', title: '计划生产数量', minWidth:120}
                    ,{field: 'amount_completed', title: '实际生产数量', minWidth:120}
                    ,{field: 'process_task_status', title: '工单状态', minWidth:140}
                    ,{field: 'score', title: '工时', minWidth: 80 }
                    ,{field: 'score', title: '报表', minWidth: 66,toolbar:'#baobiao'}
                    ,{field: 'wealth', title: '操作',fixed:'right', toolbar: '#barDemo', minWidth: 135}]
                ]
            });
            laydate.render({
                elem: '#startTime'
                ,type:'date'
            });
            laydate.render({
                elem: '#endTime'
                ,type:'date'
            });
            table.on('tool(table)',function (obj) {
                var data = obj.data;
                switch (obj.event) {
                    case 'im':break;
                    case 'baobiao':break;
                    case 'set':
                        console.log(data);
                        break;
                    case 'edit':
                        layer.open({
                            title:'编辑',
                            offset:20,
                            content:$('#editForm'),
                            type:1,
                            area:['360px','300px']
                        });

                        break;
                    case 'del':break;
                }
            });
            $("#imConfig").on('click',function () {
                imTable = layer.open({
                    type:2,
                    area:["80%","80%"],
                    title:'请选择机台',
                    content:'/imTable'
                });
                a=function (data) {
                    console.log(data)
                    $('#imConfig').val(data.task_sheet_code);
                    layer.close(imTable)
                }
            })
        });

    };

</script>
</html>