<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${deviceProductReplaceElement.id}"></td>
                    <th>规格型号</th>
                    <td th:text="${deviceProductReplaceElement.pcb_code}"></td>
                </tr>
                <tr>
                    <th>原物料</th>
                    <td th:text="${deviceProductReplaceElement.original_product_name}"></td>
                    <th>原物料编号</th>
                    <td th:text="${deviceProductReplaceElement.original_prodcut_code}"></td>
                </tr>
                <tr>
                    <th>替代料</th>
                    <td th:text="${deviceProductReplaceElement.replace_product_name}"></td>
                    <th>替代料编号</th>
                    <td th:text="${deviceProductReplaceElement.replace_product_code}"></td>
                </tr>
                <tr>
                    <th>创建者</th>
                    <td th:text="${deviceProductReplaceElement.createBy?.nickname}"></td>
                    <th>更新者</th>
                    <td th:text="${deviceProductReplaceElement.updateBy?.nickname}"></td>
                </tr>
                <tr>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(deviceProductReplaceElement.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <th>更新时间</th>
                    <td th:text="${#dates.format(deviceProductReplaceElement.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th>备注</th>
                    <td th:text="${deviceProductReplaceElement.remark}" colspan="3"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>