<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form class="layui-form" lay-filter="form2" th:action="@{/maintenance/checkRecord/save}">
        <input type="hidden" name="id" th:if="${checkRecord}" th:value="${checkRecord.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">检查日期</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" id="checkDate" name="checkDate" autocomplete="off" placeholder="请输入检查日期" th:value="${#dates.format(checkRecord?.checkDate, 'yyyy-MM-dd HH:mm:ss')}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">检查设备</label>
            <div class="layui-input-inline">
<!--
                <input class="layui-input" type="text" name="checkDevice" autocomplete="off" placeholder="请输入检查设备" th:value="${checkRecord?.checkDevice}">
-->
                <input type="hidden" id="checkDeviceValue" autocomplete="off" th:value="${checkRecord?.checkDevice}">
                <select name="checkDevice" id="checkDevice"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">检查人</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" id="checkUser" name="checkUser" autocomplete="off" placeholder="请输入检查人" th:value="${checkRecord?.checkUser}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">检查内容</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="checkContent" autocomplete="off" placeholder="请输入检查内容" th:value="${checkRecord?.checkContent}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">检查结果</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="checkResult" autocomplete="off" placeholder="请输入检查结果" th:value="${checkRecord?.checkResult}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${checkRecord?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
    <script>
        layui.use(['jquery','layer','form','laydate'],function () {
            var $ = layui.jquery,
                form = layui.form,
                laydate = layui.laydate,
                layer = layui.layer;
            laydate.render({
                elem:"#checkDate",
                type:'datetime',
                trigger:'click'
            });

            $("#checkUser").on('click',function () {
                var userBox =  layer.open({
                    title:'用户列表',
                    type:2,
                    area:['70%',"90%"],
                    content:'/userTable'
                });
                a=function (data) {
                    layer.close(userBox);
                    var d=data[0];
                    form.val('form2',{checkUser:d.nickname})
                }
            });

            $.get('/base/device/findDeviceCode',function (res) {
                if(res.code===200){
                    var select = document.getElementById('checkDevice');
                    var str = "";

                    res.data.forEach(function (t) {
                        str+="<option value='"+t.device_code+"'>"+t.device_code+"</option>"
                    });
                    select.innerHTML=str;
                    form.val('form2',{checkDevice:$('#checkDeviceValue').val()});
                }
            });

        })
    </script>
</body>
</html>