<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form  class="layui-form" lay-filter="lay_form" th:action="@{/base/operationInstruction/save}" enctype="multipart/form-data">
        <input type="hidden" name="id" th:if="${operationInstruction}" th:value="${operationInstruction.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">操作指导书编号</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="text" name="code" placeholder="请输入操作指导书编号" th:value="${operationInstruction?.code}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作指导书名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="text" name="name" placeholder="请输入操作指导书名称" th:value="${operationInstruction?.name}">
            </div>
        </div>

        <div class="layui-form-item">
                <label class="layui-form-label">文件</label>
                <div class="layui-input-inline">
                    <label for="uploadFile" type="button" class="layui-btn" id="test1">
                        <i class="layui-icon">&#xe67c;</i>上传操作指导书
                    </label>
                    <input style="display: none" class="layui-input" accept=".pdf" id="uploadFile" type="file" >
                </div>
        </div>

        <!--<div class="layui-form-item">
            <label class="layui-form-label">文件</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="uploadFile" placeholder="请上传文件" th:value="${operationInstruction?.uploadFile}">
            </div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">所属工序</label>
            <div class="layui-input-inline">
                <!--<input class="layui-input"  type="text" name="processName" placeholder="请输入所属工序" th:value="${operationInstruction?.processName}">-->
                <input type="hidden" id="processNameValue" th:value="${operationInstruction?.processName}">
                <select name="processName" id="processName"></select>
            </div>
        </div>
            <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${operationInstruction?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn" lay-submit lay-filter="sub" type="button"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
    <script>
        layui.use(['form','jquery','layer'], function() {
            var form = layui.form,
            layer = layui.layer,
                $ = layui.jquery;

            $.get('/base/process/findProcessType',function (res) {
                if(res.code===200){
                    var select = document.getElementById('processName');
                    var str = "";
                    var d = res.data.map(function (t) {
                        return {process_type:t}
                    });
                    d.forEach(function (t) {
                        str+="<option value='"+t.process_type+"'>"+t.process_type+"</option>"
                    });
                    select.innerHTML=str;
                    form.val('lay_form',{processName:$('#processNameValue').val()});
                }
            })

          form.on('submit(sub)',function (obj) {
                var data=obj.field;
                console.log(data);
                var formData = new FormData();
                var uploadFile=document.getElementById('uploadFile');
                formData.append('file',uploadFile.files[0]);
                for(var k in data){
                    formData.append(k,data[k]);
                }

              $.ajax({
                    type:'post',
                    url:'/base/operationInstruction/save',
                    data:formData,
                    processData : false,
                    contentType : false,
                    success:function (res) {
                        if(res.code===200){
                            layer.alert('提交成功！',{icon:1},function () {
                                layer.closeAll();
                                window.parent.location.reload();
                            })
                        }else{
                            layer.alert(res.msg,{icon:2},function () {
                                layer.closeAll()
                            })
                        }
                    }
                });


            });
        })


    </script>

</body>
</html>