<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/base/deviceProductElement/save}">
        <input type="hidden" name="id" th:if="${deviceProductElement}" th:value="${deviceProductElement.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">图样名</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="sample_name" autocomplete="off" placeholder="请输入图样名" th:value="${deviceProductElement?.sample_name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">元件号码</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="element_no" autocomplete="off" placeholder="请输入元件号码" th:value="${deviceProductElement?.element_no}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">元件名</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="element_name" autocomplete="off" placeholder="请输入元件名" th:value="${deviceProductElement?.element_name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">物料编号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="product_code" autocomplete="off" placeholder="请输入物料编号" th:value="${deviceProductElement?.product_code}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">机台编号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="device_code" autocomplete="off" placeholder="请输入机台编号" th:value="${deviceProductElement?.device_code}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">规格型号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="pcb_code" autocomplete="off" placeholder="请输入规格型号" th:value="${deviceProductElement?.pcb_code}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">安装位置</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="position" autocomplete="off" placeholder="请输入安装位置" th:value="${deviceProductElement?.position}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">AB面</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="a_or_b" autocomplete="off" placeholder="请输入AB面" th:value="${deviceProductElement?.a_or_b}">
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>