<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/base/substitutes/save}">
        <input type="hidden" name="id" th:if="${substitutes}" th:value="${substitutes.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">物料代码</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="code" autocomplete="off" placeholder="请输入物料代码" th:value="${substitutes?.code}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">物料名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="name" autocomplete="off" placeholder="请输入物料名称" th:value="${substitutes?.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">规格型号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="type" autocomplete="off" placeholder="请输入规格型号" th:value="${substitutes?.type}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">替代器件</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="substituteDevice" autocomplete="off" placeholder="请输入替代器件" th:value="${substitutes?.substituteDevice}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${substitutes?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>