<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${classInfo.id}"></td>
                    <th>班次编码</th>
                    <td th:text="${classInfo.code}"></td>
                </tr>
                <tr>
                    <th>班次名称</th>
                    <td th:text="${classInfo.name}"></td>
                    <th>开始时间</th>
                    <td th:text="${classInfo.start_time}"></td>
                </tr>
                <tr>
                    <th>结束时间</th>
                    <td th:text="${classInfo.end_time}" colspan="3"></td>
                </tr>
                <tr>
                    <th>创建者</th>
                    <td th:text="${classInfo.createBy?.nickname}"></td>
                    <th>更新者</th>
                    <td th:text="${classInfo.updateBy?.nickname}"></td>
                </tr>
                <tr>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(classInfo.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <th>更新时间</th>
                    <td th:text="${#dates.format(classInfo.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>