<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body class="timo-layout-page">
    <div class="layui-card">
        <div class="layui-card-header timo-card-header">
            <span><i class="fa fa-bars"></i> 贴片不良表管理</span>
            <i class="layui-icon layui-icon-refresh refresh-btn"></i>
        </div>
        <div class="layui-card-body">
            <div class="layui-row timo-card-screen">
                <div class="pull-left layui-form-pane timo-search-box">
                    <div class="layui-inline" style="display: none">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block timo-search-status">
                            <select class="timo-search-select" name="status" mo:dict="SEARCH_STATUS" mo-selected="${param.status}"></select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">版编号</label>
                        <div class="layui-input-block">
                            <input type="text" name="pcb_code" th:value="${param.pcb_code}" placeholder="请输入版编号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">贴片机台</label>
                        <div class="layui-input-block">
                            <input type="text" name="patch_device" th:value="${param.patch_device}" placeholder="请输入贴片机台" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">不良类型</label>
                        <div class="layui-input-block">
                            <input type="text" name="bad_type" th:value="${param.bad_type}" placeholder="请输入不良类型" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">不良现象</label>
                        <div class="layui-input-block">
                            <input type="text" name="bad_view" th:value="${param.bad_view}" placeholder="请输入不良现象" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">记录时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="record_time" th:value="${param.record_time}" placeholder="请输入记录时间" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn timo-search-btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="pull-right screen-btn-group">
                    <button class="layui-btn open-popup" data-title="添加贴片不良表" th:attr="data-url=@{/produce/patchBad/add}" data-size="auto">
                        <i class="fa fa-plus"></i> 添加</button>
                    <div class="btn-group">
                        <button class="layui-btn">操作<span class="caret"></span></button>
                        <dl class="layui-nav-child layui-anim layui-anim-upbit">
                            <dd><a class="ajax-status" th:href="@{/produce/patchBad/status/ok}">启用</a></dd>
                            <dd><a class="ajax-status" th:href="@{/produce/patchBad/status/freezed}">冻结</a></dd>
                            <dd><a class="ajax-status" th:href="@{/produce/patchBad/status/delete}">删除</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="timo-table-wrap">
                <table class="layui-table timo-table">
                    <thead>
                    <tr>
                        <th class="timo-table-checkbox">
                            <label class="timo-checkbox"><input type="checkbox">
                                <i class="layui-icon layui-icon-ok"></i></label>
                        </th>
                        <th>主键ID</th>
                        <th>版编号</th>
                        <th>位号</th>
                        <th>贴片机台</th>
                        <th>不良类型</th>
                        <th>不良现象</th>
                        <th>数量</th>
                        <th>修复情况</th>
                        <th>修复人</th>
                        <th>QC</th>
                        <th>记录时间</th>
                        <th>创建时间</th>
                        <th>更新时间</th>
                        <th>数据状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item:${list}">
                        <td><label class="timo-checkbox"><input type="checkbox" th:value="${item.id}">
                            <i class="layui-icon layui-icon-ok"></i></label></td>
                        <td th:text="${item.id}">主键ID</td>
                        <td th:text="${item.pcb_code}">版编号</td>
                        <td th:text="${item.tag_no}">位号</td>
                        <td th:text="${item.patch_device}">贴片机台</td>
                        <td th:text="${item.bad_type}">不良类型</td>
                        <td th:text="${item.bad_view}">不良现象</td>
                        <td th:text="${item.amount}">数量</td>
                        <td th:text="${item.repair_situation}">修复情况</td>
                        <td th:text="${item.repair_user}">修复人</td>
                        <td th:text="${item.QC}">QC</td>
                        <td th:text="${item.record_time}">记录时间</td>
                        <td th:text="${#dates.format(item.createDate, 'yyyy-MM-dd HH:mm:ss')}">创建时间</td>
                        <td th:text="${#dates.format(item.updateDate, 'yyyy-MM-dd HH:mm:ss')}">更新时间</td>
                        <td th:text="${#dicts.dataStatus(item.status)}">数据状态</td>
                        <td>
                            <a class="open-popup" data-title="编辑贴片不良表" th:attr="data-url=@{'/produce/patchBad/edit/'+${item.id}}" data-size="auto" href="#">编辑</a>
                            <a class="open-popup" data-title="详细信息" th:attr="data-url=@{'/produce/patchBad/detail/'+${item.id}}" data-size="800,600" href="#">详细</a>
                            <a class="ajax-get" data-msg="您是否确认删除" th:href="@{/produce/patchBad/status/delete(ids=${item.id})}">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="/common/fragment :: page"></div>
        </div>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>