<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/maintenance/spotCheck/save}">
        <input type="hidden" name="id" th:if="${spotCheck}" th:value="${spotCheck.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">点检日期</label>
            <div class="layui-input-inline">
            <input class="layui-input" type="text" id="checkData" autocomplete="off" name="checkData" placeholder="请输入点检日期" th:value="${#dates.format(spotCheck?.checkData, 'yyyy-MM-dd HH:mm:ss')}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">点检设备</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="checkDevice" autocomplete="off" placeholder="请输入点检设备" th:value="${spotCheck?.checkDevice}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">点检人</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="checkUser" autocomplete="off" placeholder="请输入点检人" th:value="${spotCheck?.checkUser}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">点检内容</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="checkContent" autocomplete="off" placeholder="请输入点检内容" th:value="${spotCheck?.checkContent}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">点检结果</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="checkResult" autocomplete="off" placeholder="请输入点检结果" th:value="${spotCheck?.checkResult}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${spotCheck?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
    <script>
        layui.use(['jquery','layer','form','laydate'],function () {
            var $ = layui.jquery,
                form = layui.form,
                laydate = layui.laydate,
                layer = layui.layer;
            laydate.render({
                elem:"#checkData",
                type:'datetime',
                trigger:'click'
            });

        })
    </script>
</body>
</html>