<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/base/line/save}">
        <input type="hidden" name="id" th:if="${line}" th:value="${line.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">车间编号</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="text" name="code" placeholder="请输入车间编号" th:value="${line?.code}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">车间名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="text" name="name" placeholder="请输入车间名称" th:value="${line?.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所在厂区</label>
                <div class="layui-input-inline">
                    <!--<input class="layui-input" type="text" name="area" placeholder="请输入所在产区" th:value="${line?.area}">-->
                    <select name="area" id="area" th:value="${line?.area}"></select>
                </div>
        </div>



        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
    <script>
        var a="";
        layui.use(['jquery','layer','form','laydate'],function () {
            var     $ = layui.jquery,
                form = layui.form,
                laydate = layui.laydate,
                layer = layui.layer;
            laydate.render({
                elem:"#time",
                type:'datetime',
                trigger:'click'
            });

            $.get('/base/plantArea/findArea',function (res) {
                if(res.code===200){
                    var select = document.getElementById('area');
                    var str = "";
                    res.data.forEach(function (t) {
                        str+="<option value='"+t.name+"'>"+t.name+"</option>"
                    })
                    select.innerHTML=str
                    form.render()
                }
            })
        })
    </script>
</body>
</html>