<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/produce/fileRecord/save}">
        <input type="hidden" name="id" th:if="${fileRecord}" th:value="${fileRecord.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">文件名</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="title" placeholder="请输入文件名" th:value="${fileRecord?.title}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="type" placeholder="请输入类型" th:value="${fileRecord?.type}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">记录人</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="recorder_name" placeholder="请输入记录人" th:value="${fileRecord?.recorder_name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">规格型号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="pcb_code" placeholder="请输入规格型号" th:value="${fileRecord?.pcb_code}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">esop记录id</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="esop_id" placeholder="请输入esop记录id" th:value="${fileRecord?.esop_id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文件路径</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="file_path" placeholder="请输入文件路径" th:value="${fileRecord?.file_path}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${fileRecord?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>