﻿<!doctype html
    public "-//w3c//dtd xhtml 1.0 transitional//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="Stylesheet" href="../../css/surfaceModel/f205b.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        @page {
            size: A4;
            margin: 0;
        }

        .box {
            box-sizing: border-box;
            width: 210mm;
            /*210*/
            height: 297mm;
            /*297*/
            text-align: left;
            padding: 4mm;
        }

        table {
            margin: 0 auto;
        }

        td {
            vertical-align: middle !important;
            background: transparent !important;
        }

        .inputall {
            border: none;
            height: 80%;
            vertical-align: top;
            text-align: center;
            background: transparent;
        }

        .ipt70 {
            width: 70px !important;
            border: hidden;
            font-size: 13px;
        }

        .ipt80 {
            width: 80px !important;
            border: hidden;
            font-size: 13px;
        }

        .ipt150 {
            width: 150px !important;
            border: hidden;
            font-size: 13px;
        }

        .ipt81 {
            width: 100px !important;
            border: hidden;
            font-size: 13px;
            background: transparent !important;
        }

        textarea {
            border: none;
            resize: none;
            vertical-align: middle;
            text-align: left;
            position: relative;
            height: 90%;
            width: 90%;
            margin: 0px;
        }

        #onsubmit,
        #op {
            display: block;
            height: 28px;
            line-height: 28px;
            padding: 0 18px;
            background-color: #1e9fff;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            float: left;
            margin: 0 10px 10px 0;
        }
    </style>

</head>

<body>
    <form>
        <input type="hidden" name="data">
    </form>
    <div style="display: block; position: absolute;">
        <button id="onsubmit">保存</button>
    </div>
    <table border='0' cellpadding='0' cellspacing='0' width='677' style='border-collapse: 
   collapse;table-layout:fixed;width:507pt'>
        <col width='125' style='width:93.75pt'>
        <col class='x64' width='61' style='width:45.75pt'>
        <col width='13' style='width:9.75pt'>
        <col width='69' style='width:51.75pt'>
        <col width='13' style='width:9.75pt'>
        <col width='69' style='width:51.75pt'>
        <col width='13' style='width:9.75pt'>
        <col width='69' style='width:51.75pt'>
        <col width='75' style='width:56.25pt'>
        <col width='85' span='2' style='width:63.75pt'>
        <tr height='18' style='height:14.1pt' id='r0'>
            <td height='18' width='125' style='height:14.1pt;width:93.75pt;'></td>
            <td class='x64' width='61' style='width:45.75pt;'></td>
            <td width='13' style='width:9.75pt;'></td>
            <td width='69' style='width:51.75pt;'></td>
            <td width='13' style='width:9.75pt;'></td>
            <td width='69' style='width:51.75pt;'></td>
            <td width='13' style='width:9.75pt;'></td>
            <!--<td width='69' style='width:51.75pt;'></td>
        <td width='75' style='width:56.25pt;'></td>
        <td width='85' style='width:63.75pt;'></td>  -->
            <td class='x89' width='85' style='width:63.75pt;'>
                万吉厂区<input type="checkbox" checked name="area" id="area">
                金砂厂区<input type="checkbox" name="area1" id="area1">
                <input id="type" autocomplete="off" class="ipt81" value="ZJ-F205B">
            </td>
        </tr>
        <tr height='46' style='height:35.1pt' id='r1'>
            <td colspan='11' height='45' class='x65' style='height:34.35pt;'>SMT首检记录表</td>
        </tr>
        <tr height='53' style='height:39.95pt' id='r2'>
            <td height='51' class='x67' style='height:38.45pt;'>产品型号、批次、PCB板号</td>
            <td class='x68'>环节</td>
            <td colspan='6' class='x69' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                首检情况
            </td>
            <td class='x87'>检查者</br>签名</td>
            <td class='x68'>检查日期</td>
            <td class='x68'>备注</td>
        </tr>
        <tr height='22' style='height:17pt' id='r3'>
            <td rowspan='9' height='218' class='x72'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:163.55pt;'>
                <div name="first_productionType1" id="first_productionType1" style="text-align: center"></div>
            </td>
            <td rowspan='3' height='71' class='x73'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:53.25pt;'>
                <input type="checkbox" name="yj_sy_1">丝印
            </td>
            <td rowspan='2' height='43' class='x74' style='border-bottom:1px solid windowtext;height:32.25pt;'>1</td>
            <td class='x75'><input type="checkbox" name="yj_sy_1_1_y">合格</td>
            <td rowspan='2' height='43' class='x74' style='border-bottom:1px solid windowtext;height:32.25pt;'>2</td>
            <td class='x75'><input type="checkbox" name="yj_sy_1_2_y">合格</td>
            <td rowspan='2' height='43' class='x74' style='border-bottom:1px solid windowtext;height:32.25pt;'>3</td>
            <td class='x75'><input type="checkbox" name="yj_sy_1_3_y">合格</td>
            <td rowspan='3' height='70' class='x88'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>
                <span class="font0">
                    <input type="text" class="inputall ipt70" name="yj_sy_1_checker">
                </span>
            </td>
            <td rowspan='3' height='70' class='x88'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>
                <span class="font0">
                    <input type="text" class="inputall ipt80 dateType" name="yj_sy_1_date">
                </span>
            </td>
            <td rowspan='3' height='70' class='x68'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>
                <input type="text" class="inputall ipt80" name="yj_sy_1_remark"></span>
            </td>
        </tr>
        <tr height='21' style='height:16pt' id='r4'>
            <td class='x79'><input type="checkbox" name="yj_sy_1_1_n">不合格</td>
            <td class='x79'><input type="checkbox" name="yj_sy_1_2_n">不合格</td>
            <td class='x79'><input type="checkbox" name="yj_sy_1_3_n">不合格</td>
        </tr>
        <tr height='28' style='height:21pt' id='r5'>
            <td colspan='6' class='x81' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                不合格原因：<span class="font0"><input type="text" class="inputall ipt150" name="yj_sy_1_reason"></span>
            </td>
        </tr>
        <tr height='18' style='height:14.1pt' id='r6'>
            <td rowspan='3' height='75' class='x73'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:56.35pt;'>
                <input type="checkbox" name="yj_dj_1">点胶
            </td>
            <td rowspan='2' height='41' class='x74' style='border-bottom:1px solid windowtext;height:31.35pt;'>1</td>
            <td class='x75'><input type="checkbox" name="yj_dj_1_1_y">合格</td>
            <td rowspan='2' height='41' class='x74' style='border-bottom:1px solid windowtext;height:31.35pt;'>2</td>
            <td class='x75'><input type="checkbox" name="yj_dj_1_2_y">合格</td>
            <td rowspan='2' height='41' class='x74' style='border-bottom:1px solid windowtext;height:31.35pt;'>3</td>
            <td class='x75'><input type="checkbox" name="yj_dj_1_3_y">合格</td>
            <td rowspan='3' height='74' class='x88'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:55.6pt;'>
                <span class="font0"><input type="text" class="inputall ipt70" name="yj_dj_1_checker"></span>
            </td>
            <td rowspan='3' height='74' class='x88'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:55.6pt;'>
                <input type="text" class="inputall ipt80 dateType" name="yj_dj_1_date"></span>
            </td>
            <td rowspan='3' height='74' class='x68'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:55.6pt;'>
                <input type="text" class="inputall ipt80 " name="yj_dj_1_remark"></span>
            </td>
        </tr>
        <tr height='24' style='height:18pt' id='r7'>
            <td class='x79'><input type="checkbox" name="yj_dj_1_1_n">不合格</td>
            <td class='x79'><input type="checkbox" name="yj_dj_1_2_n">不合格</td>
            <td class='x79'><input type="checkbox" name="yj_dj_1_3_n">不合格</td>
        </tr>
        <tr height='33' style='height:25pt' id='r8'>
            <td colspan='6' class='x81' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                不合格原因：<span class="font0"><input type="text" class="inputall ipt150" name="yj_dj_1_reason"></span>
            </td>
        </tr>
        <tr height='18' style='height:14.1pt' id='r9'>
            <td rowspan='3' height='69' class='x73'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.45pt;'>
                <input type="checkbox" name="yj_tp_1">贴片
            </td>
            <td rowspan='2' height='36' class='x84' style='border-bottom:1px solid windowtext;height:27.45pt;'>1</td>
            <td class='x75'><span class="font24"><input type="checkbox" name="yj_tp_1_1_y">合格</span></td>
            <td rowspan='2' height='36' class='x74' style='border-bottom:1px solid windowtext;height:27.45pt;'>2</td>
            <td class='x75'><span class="font24"><input type="checkbox" name="yj_tp_1_2_y">合格</span></td>
            <td rowspan='2' height='36' class='x74' style='border-bottom:1px solid windowtext;height:27.45pt;'>3</td>
            <td class='x75'><span class="font24"><input type="checkbox" name="yj_tp_1_3_y">合格</span></td>
            <td rowspan='3' height='68' class='x88'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:51.7pt;'>
                <span class="font0"><input type="text" class="inputall ipt70" name="yj_tp_1_checker"></span>
            </td>
            <td rowspan='3' height='68' class='x88'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:51.7pt;'>
                <input type="text" class="dateType inputall ipt80 " name="yj_tp_1_date"></span>
            </td>
            <td rowspan='3' height='68' class='x68'
                style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:51.7pt;'>
                <input type="text" class="inputall ipt80" name="yj_tp_1_remark"></span>
            </td>
        </tr>
        <tr height='18' style='height:14.1pt' id='r10'>
            <td class='x79'><input type="checkbox" name="yj_tp_1_1_n">不合格</td>
            <td class='x79'><input type="checkbox" name="yj_tp_1_2_n">不合格</td>
            <td class='x79'><input type="checkbox" name="yj_tp_1_3_n">不合格</td>
        </tr>
        <tr height='33' style='height:25pt' id='r11'>
            <td colspan='6' class='x81' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
                不合格原因：<span class="font0"><input type="text" class="inputall ipt150" name="yj_tp_1_reason"></span>
            </td>
        </tr>
    </table>
    <script th:replace="/common/template :: script"></script>
    <script src="../../js/common.js"></script>
    <script language='javascript' type='text/javascript'>
        function ChangeRowspanHiddenData() {
            var node;
            var params = ["r2", "r5", "r8"];
            for (var i = 0; i < params.length; i++) {
                node = document.getElementById(params[i]);
                if (node != null) {
                    node.style.display = "";
                }
            }
        }
        ChangeRowspanHiddenData();
        layui.use(['table', 'jquery', 'form', 'layer'], function () {
            var table = layui.table,
                layer = layui.layer,
                form = layui.form,
                $ = layui.jquery;
            $('.dateType').focus(function () {
                $(this).attr('type', 'date')
            }).blur(function () {
                var timeTxt = $(this).val().replace(/-/g, '.').substring(2);
                $(this).attr('type', 'text').val(timeTxt);
            })
            console.log($('[name=data]').val())
            var dd = JSON.parse($('[name=data]').val());
            console.log("dd====", dd)
            if (dd.factory == "万吉厂区") {
                $('#area').attr('checked', true)
            }
            if (dd.factory == "金砂厂区") {
                $('#area1').attr('checked', true)
            }
            $('#first_productionType1').html(dd.model_ver + " " + dd.task_sheet_code + " " + dd.pcb_id);
            /*yj_sy_1*/

            //console.log(dd.factory);
            /*//型号
            $('#model').val(dd.model_ver)
            //生产批次
            $('#taskSheetCode').val(dd.task_sheet_code)
            //板编码
            $('#plateCode').val(dd.batch_id)*/
            if (parent.location.href.indexOf("/windowPad/") > -1) {
                $('#op').hide();
            }
            function initAjax() {
                $.ajax({
                    url: '/report/findCurrentReport',
                    type: "post",
                    dataType: "json",
                    data: JSON.stringify({
                        pcbTaskCode: getQueryString('pcb_task_code'),
                        reportType: '5'
                    }),
                    contentType: "application/json;charset=UTF-8",
                    success: function (res) {
                        if (res.code === 200) {
                            if (res.data.length > 0) {
                                dj = JSON.parse(res.data[0].json_data);
                                if (Object.keys(dj).length > 0) {
                                    if (dj.area == 1 || dj.area1 == 1) {
                                        if (dj.area == 1) {
                                            $('#area').attr('checked', true)
                                            $('#area1').attr('checked', false)
                                        }
                                        if (dj.area1 == 1) {
                                            $('#area1').attr('checked', true)
                                            $('#area').attr('checked', false)
                                        }
                                    } else {
                                        $('#area').attr('checked', true)
                                        $('#area1').attr('checked', false)
                                    }

                                    if (dj.type != null) {
                                        $('#type').val(dj.type)
                                    } else {
                                        $('#type').val("ZJ-F205B")
                                    }

                                    //$('#first_productionType1').val(dj.first_productionType1);
                                    console.log(dd.model_ver + " " + dd.task_sheet_code + " " + dd.pcb_id)
                                    /*$('[name="first_productionType1"]').val(dj.first_productionType1)*/

                                    if (dj.yj_sy_1 == 1) {
                                        $('[name="yj_sy_1"]').attr('checked', true)
                                    }
                                    if (dj.yj_dj_1 == 1) {
                                        $('[name="yj_dj_1"]').attr('checked', true)
                                    }
                                    if (dj.yj_tp_1 == 1) {
                                        $('[name="yj_tp_1"]').attr('checked', true)
                                    }

                                    // 丝印
                                    if (dj.yj_sy_1_1_y == 1) {
                                        $('[name="yj_sy_1_1_y"]').attr('checked', true)
                                    }
                                    if (dj.yj_sy_1_2_y == 1) {
                                        $('[name="yj_sy_1_2_y"]').attr('checked', true)
                                    }
                                    if (dj.yj_sy_1_3_y == 1) {
                                        $('[name="yj_sy_1_3_y"]').attr('checked', true)
                                    }
                                    if (dj.yj_sy_1_1_n == 1) {
                                        $('[name="yj_sy_1_1_n"]').attr('checked', true)
                                    }
                                    if (dj.yj_sy_1_2_n == 1) {
                                        $('[name="yj_sy_1_2_n"]').attr('checked', true)
                                    }
                                    if (dj.yj_sy_1_3_n == 1) {
                                        $('[name="yj_sy_1_3_n"]').attr('checked', true)
                                    }
                                    $('[name="yj_sy_1_reason"]').val(dj.yj_sy_1_reason)
                                    $('[name="yj_sy_1_checker"]').val(dj.yj_sy_1_checker)
                                    $('[name="yj_sy_1_date"]').val(dj.yj_sy_1_date)
                                    $('[name="yj_sy_1_remark"]').val(dj.yj_sy_1_remark)


                                    // 点胶
                                    if (dj.yj_dj_1_1_y == 1) {
                                        $('[name="yj_dj_1_1_y"]').attr('checked', true)
                                    }
                                    if (dj.yj_dj_1_2_y == 1) {
                                        $('[name="yj_dj_1_2_y"]').attr('checked', true)
                                    }
                                    if (dj.yj_dj_1_3_y == 1) {
                                        $('[name="yj_dj_1_3_y"]').attr('checked', true)
                                    }

                                    if (dj.yj_dj_1_1_n == 1) {
                                        $('[name="yj_dj_1_1_n"]').attr('checked', true)
                                    }
                                    if (dj.yj_dj_1_2_n == 1) {
                                        $('[name="yj_dj_1_2_n"]').attr('checked', true)
                                    }
                                    if (dj.yj_dj_1_3_n == 1) {
                                        $('[name="yj_dj_1_3_n"]').attr('checked', true)
                                    }
                                    $('[name="yj_dj_1_reason"]').val(dj.yj_dj_1_reason)
                                    $('[name="yj_dj_1_checker"]').val(dj.yj_dj_1_checker)
                                    $('[name="yj_dj_1_date"]').val(dj.yj_dj_1_date)
                                    $('[name="yj_dj_1_remark"]').val(dj.yj_dj_1_remark)

                                    // 贴片
                                    if (dj.yj_tp_1_1_y == 1) {
                                        $('[name="yj_tp_1_1_y"]').attr('checked', true)
                                    }
                                    if (dj.yj_tp_1_2_y == 1) {
                                        $('[name="yj_tp_1_2_y"]').attr('checked', true)
                                    }
                                    if (dj.yj_tp_1_3_y == 1) {
                                        $('[name="yj_tp_1_3_y"]').attr('checked', true)
                                    }

                                    if (dj.yj_tp_1_1_n == 1) {
                                        $('[name="yj_tp_1_1_n"]').attr('checked', true)
                                    }
                                    if (dj.yj_tp_1_2_n == 1) {
                                        $('[name="yj_tp_1_2_n"]').attr('checked', true)
                                    }
                                    if (dj.yj_tp_1_3_n == 1) {
                                        $('[name="yj_tp_1_3_n"]').attr('checked', true)
                                    }
                                    $('[name="yj_tp_1_reason"]').val(dj.yj_tp_1_reason)
                                    $('[name="yj_tp_1_checker"]').val(dj.yj_tp_1_checker)
                                    $('[name="yj_tp_1_date"]').val(dj.yj_tp_1_date)
                                    $('[name="yj_tp_1_remark"]').val(dj.yj_tp_1_remark)


                                    /*$('#num_value1').val(dj.num_value1)
                                    $('#num_value2').val(dj.num_value2)
                                    $('#num_value3').val(dj.num_value3)
                                    $('#num_user').val(dj.num_user)
                                    for (var i = 0; i < dj.tiepianArr.length; i++) {
                                      $('#num_blxx_' + (i + 1)).val(dj.tiepianArr[i].num_blxx)
                                      $('#num_bz_' + (i + 1)).val(dj.tiepianArr[i].num_bz)
                                      $('#num_qc_' + (i + 1)).val(dj.tiepianArr[i].num_qc)
                                      $('#num_wh_' + (i + 1)).val(dj.tiepianArr[i].num_wh)
                                      $('#num_xfqk_' + (i + 1)).val(dj.tiepianArr[i].num_xfqk)
                                      $('#num_xfz_' + (i + 1)).val(dj.tiepianArr[i].num_xfz)
                                      $('#num_xlm_' + (i + 1)).val(dj.tiepianArr[i].num_xlm)
                                    }
                                    for (var i = 0; i < dj.tiepianbadTypeArr.length; i++) {
                                      $('#num_badtype_' + (i + 1)).val(dj.tiepianbadTypeArr[i].badTpye)
                                      $('#num_value_' + (i + 1)).val(dj.tiepianbadTypeArr[i].badTpyeNum)
                                    }*/
                                }
                            }
                        } else {
                            layer.alert(res.msg, { icon: 5 })
                        }
                    }
                })
            }
            initAjax();

            $('#onsubmit').on('click', function () {
                /*var tiepianbmArr = [], tiepianbmbadTypeArr = [];
                var datajson = {
                /*tiepianArr: [],
                  tiepianbadTypeArr: [],
                  num_value1: $('#num_value1').val(),
                  num_value2: $('#num_value2').val(),
                  num_value3: $('#num_value3').val(),
                  num_user: $('#num_user').val()
                };
                for (var i = 1; i < 51; i++) {
                  var tiepianbmObj = {
                    num_xlm: $('#num_xlm_' + i).val(),
                    num_wh: $('#num_wh_' + i).val(),
                    num_blxx: $('#num_blxx_' + i).val(),
                    num_xfqk: $('#num_xfqk_' + i).val(),
                    num_xfz: $('#num_xfz_' + i).val(),
                    num_qc: $('#num_qc_' + i).val(),
                    num_bz: $('#num_bz_' + i).val(),
                  }
                  tiepianbmArr.push(tiepianbmObj)
                }
                for (var i = 1; i < 11; i++) {
                  var tiepianbadTypeObj = {
                    badTpye: $('#num_badtype_' + i).val(),
                    badTpyeNum: $('#num_value_' + i).val(),
                  }
                  tiepianbmbadTypeArr.push(tiepianbadTypeObj)*/
                var datajson = {
                    "area": $('#area').is(":checked") ? 1 : 0,
                    "area1": $('#area1').is(":checked") ? 1 : 0,
                    "type": $('#type').val(),
                    'first_productionType1': $('#first_productionType1').html(),
                    "yj_sy_1": $('[name="yj_sy_1"]').is(":checked") ? 1 : 0,
                    "yj_dj_1": $('[name="yj_dj_1"]').is(":checked") ? 1 : 0,
                    "yj_tp_1": $('[name="yj_tp_1"]').is(":checked") ? 1 : 0,
                    "yj_sy_1_1_y": $('[name="yj_sy_1_1_y"]').is(":checked") ? 1 : 0,
                    "yj_sy_1_2_y": $('[name="yj_sy_1_2_y"]').is(":checked") ? 1 : 0,
                    "yj_sy_1_3_y": $('[name="yj_sy_1_3_y"]').is(":checked") ? 1 : 0,
                    "yj_sy_1_1_n": $('[name="yj_sy_1_1_n"]').is(":checked") ? 1 : 0,
                    "yj_sy_1_2_n": $('[name="yj_sy_1_2_n"]').is(":checked") ? 1 : 0,
                    "yj_sy_1_3_n": $('[name="yj_sy_1_3_n"]').is(":checked") ? 1 : 0,
                    "yj_dj_1_1_y": $('[name="yj_dj_1_1_y"]').is(":checked") ? 1 : 0,
                    "yj_dj_1_2_y": $('[name="yj_dj_1_2_y"]').is(":checked") ? 1 : 0,
                    "yj_dj_1_3_y": $('[name="yj_dj_1_3_y"]').is(":checked") ? 1 : 0,
                    "yj_dj_1_1_n": $('[name="yj_dj_1_1_n"]').is(":checked") ? 1 : 0,
                    "yj_dj_1_2_n": $('[name="yj_dj_1_2_n"]').is(":checked") ? 1 : 0,
                    "yj_dj_1_3_n": $('[name="yj_dj_1_3_n"]').is(":checked") ? 1 : 0,
                    "yj_tp_1_1_y": $('[name="yj_tp_1_1_y"]').is(":checked") ? 1 : 0,
                    "yj_tp_1_2_y": $('[name="yj_tp_1_2_y"]').is(":checked") ? 1 : 0,
                    "yj_tp_1_3_y": $('[name="yj_tp_1_3_y"]').is(":checked") ? 1 : 0,
                    "yj_tp_1_1_n": $('[name="yj_tp_1_1_n"]').is(":checked") ? 1 : 0,
                    "yj_tp_1_2_n": $('[name="yj_tp_1_2_n"]').is(":checked") ? 1 : 0,
                    "yj_tp_1_3_n": $('[name="yj_tp_1_3_n"]').is(":checked") ? 1 : 0,
                    "yj_sy_1_reason": $('[name="yj_sy_1_reason"]').val(),
                    "yj_sy_1_checker": $('[name="yj_sy_1_checker"]').val(),
                    "yj_sy_1_date": $('[name="yj_sy_1_date"]').val(),
                    "yj_sy_1_remark": $('[name="yj_sy_1_remark"]').val(),
                    "yj_dj_1_reason": $('[name="yj_dj_1_reason"]').val(),
                    "yj_dj_1_checker": $('[name="yj_dj_1_checker"]').val(),
                    "yj_dj_1_date": $('[name="yj_dj_1_date"]').val(),
                    "yj_dj_1_remark": $('[name="yj_dj_1_remark"]').val(),
                    "yj_tp_1_reason": $('[name="yj_tp_1_reason"]').val(),
                    "yj_tp_1_checker": $('[name="yj_tp_1_checker"]').val(),
                    "yj_tp_1_date": $('[name="yj_tp_1_date"]').val(),
                    "yj_tp_1_remark": $('[name="yj_tp_1_remark"]').val(),
                }
                // datajson.tiepianArr = tiepianbmArr;
                // datajson.tiepianbadTypeArr = tiepianbmbadTypeArr;
                // console.log(getQueryString('pcb_task_code'))
                $.ajax({
                    url: '/currentReport/addCurrentReport',
                    type: "post",
                    dataType: "json",
                    data: JSON.stringify({
                        pcb_task_code: getQueryString('pcb_task_code'),
                        json_data: JSON.stringify(datajson),
                        report_type: '5'
                    }),
                    contentType: "application/json;charset=UTF-8",
                    success: function (res) {
                        if (res.code === 200) {
                            var initajax = layer.alert(res.msg, { icon: 1 }, function () {
                                initAjax();
                                layer.close(initajax);
                            })
                        } else {
                            layer.alert(res.msg, { icon: 5 })
                        }
                    }
                })
            })
        })
    </script>
</body>


</html>