<!doctype html
  public "-//w3c//dtd xhtml 1.0 transitional//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="Stylesheet" href="../../css/surfaceModel/f205b.css">
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    @page {
      size: A4;
      margin: 0;
    }

    .box {
      box-sizing: border-box;
      width: 210mm;
      /*210*/
      height: 297mm;
      /*297*/
      text-align: left;
      padding: 4mm;
    }

    table {
      margin: 0 auto;
    }

    td {
      vertical-align: middle !important;
      background: transparent;
    }

    .inputall {
      border: none;
      height: 80%;
      vertical-align: top;
      text-align: center;
      background: transparent;
    }

    .ipt70 {
      width: 70px !important;
      border: hidden;
      font-size: 13px;
      line-height: 4.5;
    }

    .ipt80 {
      width: 80px !important;
      border: hidden;
      font-size: 13px;
      line-height: 4.5;
    }

    .ipt150 {
      width: 150px !important;
      border: hidden;
      font-size: 13px;
      text-align: left;
      display: block;
      word-break: break-word;
    }

    .ipt81 {
      width: 100px !important;
      border: hidden;
      font-size: 13px;
      background: transparent !important;
    }

    input {
      background: transparent !important;
    }

    textarea {
      border: none;
      resize: none;
      vertical-align: middle;
      text-align: left;
      position: relative;
      height: 90%;
      width: 90%;
      margin: 0px;
    }

    #onsubmit,
    #op {
      display: block;
      height: 28px;
      line-height: 28px;
      padding: 0 18px;
      background-color: #1e9fff;
      color: #fff;
      white-space: nowrap;
      text-align: center;
      font-size: 14px;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      float: left;
      margin: 0 10px 10px 0;
    }
  </style>
</head>

<body class="box">
  <form>
    <input type="hidden" name="data">
  </form>
  <div style="display: block; position: absolute;">
    <button id='op'> 打印</button>
  </div>
  <table border='0' cellpadding='0' cellspacing='0' width='677' style='border-collapse: 
 collapse;table-layout:fixed;width:507pt'>
    <col width='125' style='width:93.75pt'>
    <col class='x64' width='61' style='width:45.75pt'>
    <col width='13' style='width:9.75pt'>
    <col width='69' style='width:51.75pt'>
    <col width='13' style='width:9.75pt'>
    <col width='69' style='width:51.75pt'>
    <col width='13' style='width:9.75pt'>
    <col width='69' style='width:51.75pt'>
    <col width='75' style='width:56.25pt'>
    <col width='85' span='2' style='width:63.75pt'>
    <tr height='18' style='height:14.1pt' id='r0'>
      <td height='18' width='125' style='height:14.1pt;width:93.75pt;'></td>
      <td class='x64' width='61' style='width:45.75pt;'></td>
      <td width='13' style='width:9.75pt;'></td>
      <td width='69' style='width:51.75pt;'></td>
      <td width='13' style='width:9.75pt;'></td>
      <td width='69' style='width:51.75pt;'></td>
      <td width='13' style='width:9.75pt;'></td>
      <!--<td width='69' style='width:51.75pt;'></td>
      <td width='75' style='width:56.25pt;'></td>
      <td width='85' style='width:63.75pt;'></td>  -->
      <td class='x89' width='85' style='width:63.75pt;'>
        万吉厂区<input type="checkbox" checked name="area" id="area">
        金砂厂区<input type="checkbox" name="area1" id="area1">
        <input id="type" autocomplete="off" class="ipt81" value="ZJ-F205B">
      </td>
    </tr>
    <tr height='46' style='height:35.1pt' id='r1'>
      <td colspan='11' height='45' class='x65' style='height:34.35pt;'>SMT首检记录表</td>
    </tr>
    <tr height='53' style='height:39.95pt' id='r2'>
      <td height='51' class='x67' style='height:38.45pt;'>产品型号、批次、PCB板号</td>
      <td class='x68'>环节</td>
      <td colspan='6' class='x69' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>首检情况
      </td>
      <td class='x87'>检查者</br>签名</td>
      <td class='x68'>检查日期</td>
      <td class='x68'>备注</td>
    </tr>
    <tr height='22' style='height:17pt' id='r3'>
      <td rowspan='9' height='218' class='x72'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:163.55pt;'>
        <div name="first_productionType1" id="first_productionType1"></div>
      </td>
      <td rowspan='3' height='71' class='x73'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:53.25pt;'>
        <input type="checkbox" name="yj_sy_1">丝印
      </td>
      <td rowspan='2' height='43' class='x74' style='border-bottom:1px solid windowtext;height:32.25pt;'>1</td>
      <td class='x75'><input type="checkbox" name="yj_sy_1_1_y">合格</td>
      <td rowspan='2' height='43' class='x74' style='border-bottom:1px solid windowtext;height:32.25pt;'>2</td>
      <td class='x75'><input type="checkbox" name="yj_sy_1_2_y">合格</td>
      <td rowspan='2' height='43' class='x74' style='border-bottom:1px solid windowtext;height:32.25pt;'>3</td>
      <td class='x75'><input type="checkbox" name="yj_sy_1_3_y">合格</td>
      <td rowspan='3' height='70' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'><span class="font0">
          <div class="inputall ipt70" id="yj_sy_1_checker"></div>
        </span></td>
      <td rowspan='3' height='70' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>
        <span class="font0">
          <div class="inputall ipt80 dateType" id="yj_sy_1_date"></div>
        </span></td>
      <td rowspan='3' height='70' class='x68'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>
        <div class="inputall ipt80" id="yj_sy_1_remark"></div></span>
      </td>
    </tr>
    <tr height='21' style='height:16pt' id='r4'>
      <td class='x79'><input type="checkbox" name="yj_sy_1_1_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_sy_1_2_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_sy_1_3_n">不合格</td>
    </tr>
    <tr height='28' style='height:21pt' id='r5'>
      <td colspan='6' class='x81' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        不合格原因：<span class="font0" style="float: right;">
          <div class="inputall ipt150" id="yj_sy_1_reason"></div>
        </span>
      </td>
    </tr>
    <tr height='18' style='height:14.1pt' id='r6'>
      <td rowspan='3' height='75' class='x73'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:56.35pt;'><input
          type="checkbox" name="yj_dj_1">点胶</td>
      <td rowspan='2' height='41' class='x74' style='border-bottom:1px solid windowtext;height:31.35pt;'>1</td>
      <td class='x75'><input type="checkbox" name="yj_dj_1_1_y">合格</td>
      <td rowspan='2' height='41' class='x74' style='border-bottom:1px solid windowtext;height:31.35pt;'>2</td>
      <td class='x75'><input type="checkbox" name="yj_dj_1_2_y">合格</td>
      <td rowspan='2' height='41' class='x74' style='border-bottom:1px solid windowtext;height:31.35pt;'>3</td>
      <td class='x75'><input type="checkbox" name="yj_dj_1_3_y">合格</td>
      <td rowspan='3' height='74' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:55.6pt;'><span class="font0">
          <div class="inputall ipt70" id="yj_dj_1_checker"></div>
        </span></td>
      <td rowspan='3' height='74' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:55.6pt;'>
        <div class="inputall ipt80 dateType" id="yj_dj_1_date"></div></span>
      </td>
      <td rowspan='3' height='74' class='x68'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:55.6pt;'>
        <div class="inputall ipt80 " id="yj_dj_1_remark"></div></span>
      </td>
    </tr>
    <tr height='24' style='height:18pt' id='r7'>
      <td class='x79'><input type="checkbox" name="yj_dj_1_1_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_dj_1_2_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_dj_1_3_n">不合格</td>
    </tr>
    <tr height='33' style='height:25pt' id='r8'>
      <td colspan='6' class='x81' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        不合格原因：<span class="font0" style="float: right;">
          <div class="inputall ipt150" id="yj_dj_1_reason"></div>
        </span>
      </td>
    </tr>
    <tr height='18' style='height:14.1pt' id='r9'>
      <td rowspan='3' height='69' class='x73'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.45pt;'><input
          type="checkbox" name="yj_tp_1">贴片</td>
      <td rowspan='2' height='36' class='x84' style='border-bottom:1px solid windowtext;height:27.45pt;'>1</td>
      <td class='x75'><span class="font24"><input type="checkbox" name="yj_tp_1_1_y">合格</span></td>
      <td rowspan='2' height='36' class='x74' style='border-bottom:1px solid windowtext;height:27.45pt;'>2</td>
      <td class='x75'><span class="font24"><input type="checkbox" name="yj_tp_1_2_y">合格</span></td>
      <td rowspan='2' height='36' class='x74' style='border-bottom:1px solid windowtext;height:27.45pt;'>3</td>
      <td class='x75'><span class="font24"><input type="checkbox" name="yj_tp_1_3_y">合格</span></td>
      <td rowspan='3' height='68' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:51.7pt;'><span class="font0">
          <div class="inputall ipt70" id="yj_tp_1_checker"></div>
        </span></td>
      <td rowspan='3' height='68' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:51.7pt;'>
        <div class="dateType inputall ipt80 " id="yj_tp_1_date"></div></span>
      </td>
      <td rowspan='3' height='68' class='x68'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:51.7pt;'>
        <div class="inputall ipt80" id="yj_tp_1_remark"></div></span>
      </td>
    </tr>
    <tr height='18' style='height:14.1pt' id='r20'>
      <td class='x79'><input type="checkbox" name="yj_tp_1_1_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_tp_1_2_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_tp_1_3_n">不合格</td>
    </tr>
    <tr height='33' style='height:25pt' id='r21'>
      <td colspan='6' class='x81' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        不合格原因：<span class="font0" style="float: right;">
          <div class="inputall ipt150" id="yj_tp_1_reason"></div>
        </span>
      </td>
    </tr>

    <tr height='22' style='height:17pt' id='r23'>
      <td rowspan='9' height='218' class='x72'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:163.55pt;'>
        <div name="first_productionType2" id="first_productionType2"></div>
      </td>
      <td rowspan='3' height='71' class='x73'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:53.25pt;'><input
          type="checkbox" name="yj_sy_2">丝印</td>
      <td rowspan='2' height='43' class='x74' style='border-bottom:1px solid windowtext;height:32.25pt;'>1</td>
      <td class='x75'><input type="checkbox" name="yj_sy_2_1_y">合格</td>
      <td rowspan='2' height='43' class='x74' style='border-bottom:1px solid windowtext;height:32.25pt;'>2</td>
      <td class='x75'><input type="checkbox" name="yj_sy_2_2_y">合格</td>
      <td rowspan='2' height='43' class='x74' style='border-bottom:1px solid windowtext;height:32.25pt;'>3</td>
      <td class='x75'><input type="checkbox" name="yj_sy_2_3_y">合格</td>
      <td rowspan='3' height='70' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'><span class="font0">
          <div class="inputall ipt70" id="yj_sy_2_checker"></div>
        </span></td>
      <td rowspan='3' height='70' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>
        <span class="font0">
          <div class="inputall ipt80 dateType" id="yj_sy_2_date"></div>
        </span></td>
      <td rowspan='3' height='70' class='x68'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>
        <div class="inputall ipt80" id="yj_sy_2_remark"></div></span>
      </td>
    </tr>
    <tr height='21' style='height:16pt' id='r24'>
      <td class='x79'><input type="checkbox" name="yj_sy_2_1_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_sy_2_2_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_sy_2_3_n">不合格</td>
    </tr>
    <tr height='28' style='height:21pt' id='r25'>
      <td colspan='6' class='x81' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        不合格原因：<span class="font0" style="float: right;">
          <div class="inputall ipt150" id="yj_sy_2_reason"></div>
        </span>
      </td>
    </tr>
    <tr height='18' style='height:14.1pt' id='r26'>
      <td rowspan='3' height='75' class='x73'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:56.35pt;'><input
          type="checkbox" name="yj_dj_2">点胶</td>
      <td rowspan='2' height='41' class='x74' style='border-bottom:1px solid windowtext;height:31.35pt;'>1</td>
      <td class='x75'><input type="checkbox" name="yj_dj_2_1_y">合格</td>
      <td rowspan='2' height='41' class='x74' style='border-bottom:1px solid windowtext;height:31.35pt;'>2</td>
      <td class='x75'><input type="checkbox" name="yj_dj_2_2_y">合格</td>
      <td rowspan='2' height='41' class='x74' style='border-bottom:1px solid windowtext;height:31.35pt;'>3</td>
      <td class='x75'><input type="checkbox" name="yj_dj_2_3_y">合格</td>
      <td rowspan='3' height='74' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:55.6pt;'><span class="font0">
          <div class="inputall ipt70" id="yj_dj_2_checker"></div>
        </span></td>
      <td rowspan='3' height='74' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:55.6pt;'>
        <div class="inputall ipt80 dateType" id="yj_dj_2_date"></div></span>
      </td>
      <td rowspan='3' height='74' class='x68'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:55.6pt;'>
        <div class="inputall ipt80 " id="yj_dj_2_remark"></div></span>
      </td>
    </tr>
    <tr height='24' style='height:18pt' id='r27'>
      <td class='x79'><input type="checkbox" name="yj_dj_2_1_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_dj_2_2_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_dj_2_3_n">不合格</td>
    </tr>
    <tr height='33' style='height:25pt' id='r28'>
      <td colspan='6' class='x81' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        不合格原因：<span class="font0" style="float: right;">
          <div class="inputall ipt150" id="yj_dj_2_reason"></div>
        </span>
      </td>
    </tr>
    <tr height='18' style='height:14.1pt' id='r29'>
      <td rowspan='3' height='69' class='x73'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.45pt;'><input
          type="checkbox" name="yj_tp_2">贴片</td>
      <td rowspan='2' height='36' class='x84' style='border-bottom:1px solid windowtext;height:27.45pt;'>1</td>
      <td class='x75'><span class="font24"><input type="checkbox" name="yj_tp_2_1_y">合格</span></td>
      <td rowspan='2' height='36' class='x74' style='border-bottom:1px solid windowtext;height:27.45pt;'>2</td>
      <td class='x75'><span class="font24"><input type="checkbox" name="yj_tp_2_2_y">合格</span></td>
      <td rowspan='2' height='36' class='x74' style='border-bottom:1px solid windowtext;height:27.45pt;'>3</td>
      <td class='x75'><span class="font24"><input type="checkbox" name="yj_tp_2_3_y">合格</span></td>
      <td rowspan='3' height='68' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:51.7pt;'><span class="font0">
          <div class="inputall ipt70" id="yj_tp_2_checker"></div>
        </span></td>
      <td rowspan='3' height='68' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:51.7pt;'>
        <div class="dateType inputall ipt80 " id="yj_tp_2_date"></div></span>
      </td>
      <td rowspan='3' height='68' class='x68'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:51.7pt;'>
        <div class="inputall ipt80" id="yj_tp_2_remark"></div></span>
      </td>
    </tr>
    <tr height='18' style='height:14.1pt' id='r30'>
      <td class='x79'><input type="checkbox" name="yj_tp_2_1_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_tp_2_2_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_tp_2_3_n">不合格</td>
    </tr>
    <tr height='33' style='height:25pt' id='r31'>
      <td colspan='6' class='x81' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        不合格原因：<span class="font0" style="float: right;">
          <div class="inputall ipt150" id="yj_tp_2_reason"></div>
        </span>
      </td>
    </tr>


    <tr height='22' style='height:17pt' id='r33'>
      <td rowspan='9' height='218' class='x72'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:163.55pt;'>
        <div name="first_productionType3" id="first_productionType3"></div>
      </td>
      <td rowspan='3' height='71' class='x73'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:53.25pt;'><input
          type="checkbox" name="yj_sy_3">丝印</td>
      <td rowspan='2' height='43' class='x74' style='border-bottom:1px solid windowtext;height:32.25pt;'>1</td>
      <td class='x75'><input type="checkbox" name="yj_sy_3_1_y">合格</td>
      <td rowspan='2' height='43' class='x74' style='border-bottom:1px solid windowtext;height:32.25pt;'>2</td>
      <td class='x75'><input type="checkbox" name="yj_sy_3_2_y">合格</td>
      <td rowspan='2' height='43' class='x74' style='border-bottom:1px solid windowtext;height:32.25pt;'>3</td>
      <td class='x75'><input type="checkbox" name="yj_sy_3_3_y">合格</td>
      <td rowspan='3' height='70' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'><span class="font0">
          <div class="inputall ipt70" id="yj_sy_3_checker"></div>
        </span></td>
      <td rowspan='3' height='70' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>
        <span class="font0">
          <div class="inputall ipt80 dateType" id="yj_sy_3_date"></div>
        </span></td>
      <td rowspan='3' height='70' class='x68'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>
        <div class="inputall ipt80" id="yj_sy_3_remark"></div></span>
      </td>
    </tr>
    <tr height='21' style='height:16pt' id='r34'>
      <td class='x79'><input type="checkbox" name="yj_sy_3_1_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_sy_3_2_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_sy_3_3_n">不合格</td>
    </tr>
    <tr height='28' style='height:21pt' id='r35'>
      <td colspan='6' class='x81' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        不合格原因：<span class="font0" style="float: right;">
          <div class="inputall ipt150" id="yj_sy_3_reason"></div>
        </span>
      </td>
    </tr>
    <tr height='18' style='height:14.1pt' id='r36'>
      <td rowspan='3' height='75' class='x73'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:56.35pt;'><input
          type="checkbox" name="yj_dj_3">点胶</td>
      <td rowspan='2' height='41' class='x74' style='border-bottom:1px solid windowtext;height:31.35pt;'>1</td>
      <td class='x75'><input type="checkbox" name="yj_dj_3_1_y">合格</td>
      <td rowspan='2' height='41' class='x74' style='border-bottom:1px solid windowtext;height:31.35pt;'>2</td>
      <td class='x75'><input type="checkbox" name="yj_dj_3_2_y">合格</td>
      <td rowspan='2' height='41' class='x74' style='border-bottom:1px solid windowtext;height:31.35pt;'>3</td>
      <td class='x75'><input type="checkbox" name="yj_dj_3_3_y">合格</td>
      <td rowspan='3' height='74' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:55.6pt;'><span class="font0">
          <div class="inputall ipt70" id="yj_dj_3_checker"></div>
        </span></td>
      <td rowspan='3' height='74' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:55.6pt;'>
        <div class="inputall ipt80 dateType" id="yj_dj_3_date"></div></span>
      </td>
      <td rowspan='3' height='74' class='x68'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:55.6pt;'>
        <div class="inputall ipt80 " id="yj_dj_3_remark"></div></span>
      </td>
    </tr>
    <tr height='24' style='height:18pt' id='r37'>
      <td class='x79'><input type="checkbox" name="yj_dj_3_1_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_dj_3_2_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_dj_3_3_n">不合格</td>
    </tr>
    <tr height='33' style='height:25pt' id='r38'>
      <td colspan='6' class='x81' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        不合格原因：<span class="font0" style="float: right;">
          <div class="inputall ipt150" id="yj_dj_3_reason"></div>
        </span>
      </td>
    </tr>
    <tr height='18' style='height:14.1pt' id='r39'>
      <td rowspan='3' height='69' class='x73'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.45pt;'><input
          type="checkbox" name="yj_tp_3">贴片</td>
      <td rowspan='2' height='36' class='x84' style='border-bottom:1px solid windowtext;height:27.45pt;'>1</td>
      <td class='x75'><span class="font24"><input type="checkbox" name="yj_tp_3_1_y">合格</span></td>
      <td rowspan='2' height='36' class='x74' style='border-bottom:1px solid windowtext;height:27.45pt;'>2</td>
      <td class='x75'><span class="font24"><input type="checkbox" name="yj_tp_3_2_y">合格</span></td>
      <td rowspan='2' height='36' class='x74' style='border-bottom:1px solid windowtext;height:27.45pt;'>3</td>
      <td class='x75'><span class="font24"><input type="checkbox" name="yj_tp_3_3_y">合格</span></td>
      <td rowspan='3' height='68' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:51.7pt;'><span class="font0">
          <div class="inputall ipt70" id="yj_tp_3_checker"></div>
        </span></td>
      <td rowspan='3' height='68' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:51.7pt;'>
        <div class="dateType inputall ipt80 " id="yj_tp_3_date"></div></span>
      </td>
      <td rowspan='3' height='68' class='x68'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:51.7pt;'>
        <div class="inputall ipt80" id="yj_tp_3_remark"></div></span>
      </td>
    </tr>
    <tr height='18' style='height:14.1pt' id='r40'>
      <td class='x79'><input type="checkbox" name="yj_tp_3_1_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_tp_3_2_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_tp_3_3_n">不合格</td>
    </tr>
    <tr height='33' style='height:25pt' id='r41'>
      <td colspan='6' class='x81' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        不合格原因：<span class="font0" style="float: right;">
          <div class="inputall ipt150" id="yj_tp_3_reason"></div>
        </span>
      </td>
    </tr>


    <tr height='22' style='height:17pt' id='r43'>
      <td rowspan='9' height='218' class='x72'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:163.55pt;'>
        <div name="first_productionType4" id="first_productionType4"></div>
      </td>
      <td rowspan='3' height='71' class='x73'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:53.25pt;'><input
          type="checkbox" name="yj_sy_4">丝印</td>
      <td rowspan='2' height='43' class='x74' style='border-bottom:1px solid windowtext;height:32.25pt;'>1</td>
      <td class='x75'><input type="checkbox" name="yj_sy_4_1_y">合格</td>
      <td rowspan='2' height='43' class='x74' style='border-bottom:1px solid windowtext;height:32.25pt;'>2</td>
      <td class='x75'><input type="checkbox" name="yj_sy_4_2_y">合格</td>
      <td rowspan='2' height='43' class='x74' style='border-bottom:1px solid windowtext;height:32.25pt;'>3</td>
      <td class='x75'><input type="checkbox" name="yj_sy_4_3_y">合格</td>
      <td rowspan='3' height='70' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'><span class="font0">
          <div class="inputall ipt70" id="yj_sy_4_checker"></div>
        </span></td>
      <td rowspan='3' height='70' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>
        <span class="font0">
          <div class="inputall ipt80 dateType" id="yj_sy_4_date"></div>
        </span></td>
      <td rowspan='3' height='70' class='x68'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.5pt;'>
        <div class="inputall ipt80" id="yj_sy_4_remark"></div></span>
      </td>
    </tr>
    <tr height='21' style='height:16pt' id='r44'>
      <td class='x79'><input type="checkbox" name="yj_sy_4_1_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_sy_4_2_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_sy_4_3_n">不合格</td>
    </tr>
    <tr height='28' style='height:21pt' id='r45'>
      <td colspan='6' class='x81' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        不合格原因：<span class="font0" style="float: right;">
          <div class="inputall ipt150" id="yj_sy_4_reason"></div>
        </span>
      </td>
    </tr>
    <tr height='18' style='height:14.1pt' id='r46'>
      <td rowspan='3' height='75' class='x73'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:56.35pt;'><input
          type="checkbox" name="yj_dj_4">点胶</td>
      <td rowspan='2' height='41' class='x74' style='border-bottom:1px solid windowtext;height:31.35pt;'>1</td>
      <td class='x75'><input type="checkbox" name="yj_dj_4_1_y">合格</td>
      <td rowspan='2' height='41' class='x74' style='border-bottom:1px solid windowtext;height:31.35pt;'>2</td>
      <td class='x75'><input type="checkbox" name="yj_dj_4_2_y">合格</td>
      <td rowspan='2' height='41' class='x74' style='border-bottom:1px solid windowtext;height:31.35pt;'>3</td>
      <td class='x75'><input type="checkbox" name="yj_dj_4_3_y">合格</td>
      <td rowspan='3' height='74' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:55.6pt;'><span class="font0">
          <div class="inputall ipt70" id="yj_dj_4_checker"></div>
        </span></td>
      <td rowspan='3' height='74' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:55.6pt;'>
        <div class="inputall ipt80 dateType" id="yj_dj_4_date"></div></span>
      </td>
      <td rowspan='3' height='74' class='x68'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:55.6pt;'>
        <div class="inputall ipt80 " id="yj_dj_4_remark"></div></span>
      </td>
    </tr>
    <tr height='24' style='height:18pt' id='r47'>
      <td class='x79'><input type="checkbox" name="yj_dj_4_1_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_dj_4_2_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_dj_4_3_n">不合格</td>
    </tr>
    <tr height='33' style='height:25pt' id='r48'>
      <td colspan='6' class='x81' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        不合格原因：<span class="font0" style="float: right;">
          <div class="inputall ipt150" id="yj_dj_4_reason"></div>
        </span>
      </td>
    </tr>

    <tr height='18' style='height:14.1pt' id='r49'>
      <td rowspan='3' height='69' class='x73'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:52.45pt;'><input
          type="checkbox" name="yj_tp_4">贴片</td>
      <td rowspan='2' height='36' class='x84' style='border-bottom:1px solid windowtext;height:27.45pt;'>1</td>
      <td class='x75'><span class="font24"><input type="checkbox" name="yj_tp_4_1_y">合格</span></td>
      <td rowspan='2' height='36' class='x74' style='border-bottom:1px solid windowtext;height:27.45pt;'>2</td>
      <td class='x75'><span class="font24"><input type="checkbox" name="yj_tp_4_2_y">合格</span></td>
      <td rowspan='2' height='36' class='x74' style='border-bottom:1px solid windowtext;height:27.45pt;'>3</td>
      <td class='x75'><span class="font24"><input type="checkbox" name="yj_tp_4_3_y">合格</span></td>
      <td rowspan='3' height='68' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:51.7pt;'><span class="font0">
          <div class="inputall ipt70" id="yj_tp_4_checker"></div>
        </span></td>
      <td rowspan='3' height='68' class='x88'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:51.7pt;'>
        <div class="dateType inputall ipt80 " id="yj_tp_4_date"></div></span>
      </td>
      <td rowspan='3' height='68' class='x68'
        style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:51.7pt;'>
        <div class="inputall ipt80" id="yj_tp_4_remark"></div></span>
      </td>
    </tr>
    <tr height='18' style='height:14.1pt' id='r50'>
      <td class='x79'><input type="checkbox" name="yj_tp_4_1_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_tp_4_2_n">不合格</td>
      <td class='x79'><input type="checkbox" name="yj_tp_4_3_n">不合格</td>
    </tr>
    <tr height='33' style='height:25pt' id='r51'>
      <td colspan='6' class='x81' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>
        不合格原因：<span class="font0" style="float: right;">
          <div class="inputall ipt150" id="yj_tp_4_reason"></div>
        </span>
      </td>
    </tr>

  </table>
  <script th:replace="/common/template :: script"></script>
  <script src="../../js/common.js"></script>
  <script language='javascript' type='text/javascript'>
    function ChangeRowspanHiddenData() {
      var node;
      var params = ["r3", "r6", "r9", "r12", "r15", "r18", "r21", "r24", "r27", "r30", "r33", "r36"];
      for (var i = 0; i < params.length; i++) {
        node = document.getElementById(params[i]);
        if (node != null) {
          node.style.display = "";
        }
      }
    }
    ChangeRowspanHiddenData();
    layui.use(['table', 'jquery', 'form', 'layer'], function () {
      var table = layui.table,
        layer = layui.layer,
        form = layui.form,
        $ = layui.jquery;
      if (parent.location.href.indexOf("/windowPad/") > -1) {
        $('#op').hide();
      }
      var parentData = JSON.parse($('[name=data]').val());
      console.log(parentData)
      console.log(parentData[0].model_ver + ' ' + parentData[0].task_sheet_code + ' ' + parentData[0].pcb_id)
      function initAjax() {
        $.ajax({    // /report/findSJJLBReport
          url: '/report/findSJJLBReport',
          type: "post",
          dataType: "json",
          data: JSON.stringify({
            pcbTaskCode: getQueryString('pcb_task_code'),
            reportType: '5',
          }),
          contentType: "application/json;charset=UTF-8",
          success: function (res) {
            if (res.code === 200) {
              if (res.data.length > 0) {
                for (var i = 0; i < res.data.length; i++) {
                  dj = JSON.parse(res.data[i].json_data);
                  if (Object.keys(dj).length > 0) {
                    console.log(dj)
                    if (dj.first_productionType1 != "") {
                      $('#first_productionType' + (i + 1)).html(dj.first_productionType1);
                    } else {
                      $('#first_productionType' + (i + 1)).html(parentData[i].model_ver + ' ' + parentData[i].task_sheet_code + ' ' + parentData[i].pcb_id);
                    }
                    // 1
                    if (dj.yj_sy_1 == 1) {
                      $('[name="yj_sy_' + (i + 1) + '"]').attr('checked', true)
                    }
                    if (dj.yj_dj_1 == 1) {
                      $('[name="yj_dj_' + (i + 1) + '"]').attr('checked', true)
                    }
                    if (dj.yj_tp_1 == 1) {
                      $('[name="yj_tp_' + (i + 1) + '"]').attr('checked', true)
                    }

                    // 丝印
                    if (dj.yj_sy_1_1_y == 1) {
                      $('[name="yj_sy_' + (i + 1) + '_1_y"]').attr('checked', true)
                    }
                    if (dj.yj_sy_1_2_y == 1) {
                      $('[name="yj_sy_' + (i + 1) + '_2_y"]').attr('checked', true)
                    }
                    if (dj.yj_sy_1_3_y == 1) {
                      $('[name="yj_sy_' + (i + 1) + '_3_y"]').attr('checked', true)
                    }
                    if (dj.yj_sy_1_1_n == 1) {
                      $('[name="yj_sy_' + (i + 1) + '_1_n"]').attr('checked', true)
                    }
                    if (dj.yj_sy_1_2_n == 1) {
                      $('[name="yj_sy_' + (i + 1) + '_2_n"]').attr('checked', true)
                    }
                    if (dj.yj_sy_1_3_n == 1) {
                      $('[name="yj_sy_' + (i + 1) + '_3_n"]').attr('checked', true)
                    }
                    $('#yj_sy_' + (i + 1) + '_reason').html(dj.yj_sy_1_reason)
                    $('#yj_sy_' + (i + 1) + '_checker').html(dj.yj_sy_1_checker)
                    $('#yj_sy_' + (i + 1) + '_date').html(dj.yj_sy_1_date)
                    $('#yj_sy_' + (i + 1) + '_remark').html(dj.yj_sy_1_remark)


                    // 点胶
                    if (dj.yj_dj_1_1_y == 1) {
                      $('[name="yj_dj_' + (i + 1) + '_1_y"]').attr('checked', true)
                    }
                    if (dj.yj_dj_1_2_y == 1) {
                      $('[name="yj_dj_' + (i + 1) + '_2_y"]').attr('checked', true)
                    }
                    if (dj.yj_dj_1_3_y == 1) {
                      $('[name="yj_dj_' + (i + 1) + '_3_y"]').attr('checked', true)
                    }

                    if (dj.yj_dj_1_1_n == 1) {
                      $('[name="yj_dj_' + (i + 1) + '_1_n"]').attr('checked', true)
                    }
                    if (dj.yj_dj_1_2_n == 1) {
                      $('[name="yj_dj_' + (i + 1) + '_2_n"]').attr('checked', true)
                    }
                    if (dj.yj_dj_1_3_n == 1) {
                      $('[name="yj_dj_' + (i + 1) + '_3_n"]').attr('checked', true)
                    }
                    $('#yj_dj_' + (i + 1) + '_reason').html(dj.yj_dj_1_reason)
                    $('#yj_dj_' + (i + 1) + '_checker').html(dj.yj_dj_1_checker)
                    $('#yj_dj_' + (i + 1) + '_date').html(dj.yj_dj_1_date)
                    $('#yj_dj_' + (i + 1) + '_remark').html(dj.yj_dj_1_remark)

                    // 贴片
                    if (dj.yj_tp_1_1_y == 1) {
                      $('[name="yj_tp_' + (i + 1) + '_1_y"]').attr('checked', true)
                    }
                    if (dj.yj_tp_1_2_y == 1) {
                      $('[name="yj_tp_' + (i + 1) + '_2_y"]').attr('checked', true)
                    }
                    if (dj.yj_tp_1_3_y == 1) {
                      $('[name="yj_tp_' + (i + 1) + '_3_y"]').attr('checked', true)
                    }

                    if (dj.yj_tp_1_1_n == 1) {
                      $('[name="yj_tp_' + (i + 1) + '_1_n"]').attr('checked', true)
                    }
                    if (dj.yj_tp_1_2_n == 1) {
                      $('[name="yj_tp_' + (i + 1) + '_2_n"]').attr('checked', true)
                    }
                    if (dj.yj_tp_1_3_n == 1) {
                      $('[name="yj_tp_' + (i + 1) + '_3_n"]').attr('checked', true)
                    }
                    $('#yj_tp_' + (i + 1) + '_reason').html(dj.yj_tp_1_reason)
                    $('#yj_tp_' + (i + 1) + '_checker').html(dj.yj_tp_1_checker)
                    $('#yj_tp_' + (i + 1) + '_date').html(dj.yj_tp_1_date)
                    $('#yj_tp_' + (i + 1) + '_remark').html(dj.yj_tp_1_remark)
                  }
                }
              }
            } else {
              layer.alert(res.msg, { icon: 5 })
            }
          }
        })
      }
      initAjax();
    })
    var op = document.getElementById('op');
    op.onclick = function () {
      op.style.display = 'none';
      setTimeout(() => {
        op.style.display = 'block';
      }, 500);
      var iframe = document.createElement('iframe');
      window.print();
    }
  </script>
</body>


</html>