<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
<div class="layui-form timo-compile">
    <form th:action="@{/project/pcbTechnology/save}">
        <input type="hidden" name="id" th:if="${pcbTechnology}" th:value="${pcbTechnology.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">更改记录编码</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="pcb_technology_code" autocomplete="off" placeholder="请输入更改记录编码" th:value="${pcbTechnology?.pcb_technology_code}">
            </div>
            <label class="layui-form-label">pcb编码</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="pcb_code" autocomplete="off" placeholder="请输入pcb编码" th:value="${pcbTechnology?.pcb_code}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">pcb版本</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="pcb_version" autocomplete="off" placeholder="请输入pcb版本" th:value="${pcbTechnology?.pcb_version}">
            </div>
            <label class="layui-form-label">生效时间</label>
            <div class="layui-input-inline">
                <input class="layui-input" id="work_time" type="text" name="work_time" autocomplete="off" placeholder="请输入生效时间" th:value="${#dates.format(pcbTechnology?.work_time, 'yyyy-MM-dd HH:mm:ss')}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">更改类型</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="change_type" autocomplete="off" placeholder="请输入更改类型" th:value="${pcbTechnology?.change_type}">
            </div>
            <label class="layui-form-label">更改内容</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="change_msg" autocomplete="off" placeholder="请输入更改内容" th:value="${pcbTechnology?.change_msg}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">更改结果</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="change_result" autocomplete="off" placeholder="请输入更改结果" th:value="${pcbTechnology?.change_result}">
            </div>
            <label class="layui-form-label">审批人</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="check_user" autocomplete="off" placeholder="请输入审批人" th:value="${pcbTechnology?.check_user}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">更改人</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="change_user" autocomplete="off" placeholder="请输入更改人" th:value="${pcbTechnology?.change_user}">
            </div>
            <label class="layui-form-label">生效人</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="work_user" autocomplete="off" placeholder="请输入生效人" th:value="${pcbTechnology?.work_user}">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${pcbTechnology?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
<script>
    layui.use(['jquery','layer','form','laydate'],function () {
        var $ = layui.jquery,
            form = layui.form,
            laydate = layui.laydate,
            layer = layui.layer;
        laydate.render({
            elem:"#work_time",
            type:'datetime',
            trigger:'click'
        });

    })
</script>
</body>
</html>