<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <title>添加编辑设备</title>
</head>
<body>
    <div class="layui-form timo-compile">
    <form class="layui-form" lay-filter="lay_form" th:action="@{/base/device/save}">
        <input type="hidden" name="id" th:if="${device}" th:value="${device.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">所属厂区</label>
            <div class="layui-input-inline">
                <input type="hidden" id="areaValue" th:value="${device?.belong_plant_area}">
                <select name="belong_plant_area" id="area"></select>
                <!--<input class="layui-input" type="text" name="belong_plant_area" placeholder="请输入所属厂区" th:value="${device?.belong_plant_area}">-->
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属车间</label>
            <div class="layui-input-inline">
                <input type="hidden" id="lineValue" th:value="${device?.belong_line}">
                <select name="belong_line" id="line"></select>
                <!--<input class="layui-input" type="text" name="belong_line" placeholder="请输入所属车间" th:value="${device?.belong_line}">-->
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">设备类型</label>
            <div class="layui-input-inline">
                <input type="hidden" id="deviceTypeValue" th:value="${device?.device_type}">
                <select name="device_type" id="device_type"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">设备编号</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="text" name="device_code" placeholder="请输入设备编号" th:value="${device?.device_code}">
                <!--<input type="hidden" id="deviceTechnologyCodeValue" th:value="${device?.device_code}">
                <select name="device_code" id="deviceTechnologyCode"></select>-->
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">设备名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="text" name="device_name" placeholder="请输入设备名称" th:value="${device?.device_name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">设备占位</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="number" name="device_sort" placeholder="请输入设备占位顺序" th:value="${device?.device_sort}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属工序</label>
            <div class="layui-input-inline">
                <!--<input class="layui-input" type="text" name="belong_process" placeholder="请输入所属工序" th:value="${device?.belong_process}">-->
                <input type="hidden" id="processNameValue" th:value="${device?.belong_process}">
                <select name="belong_process" id="processName"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Mac</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="text" name="mac" placeholder="请输入Mac" th:value="${device?.mac}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">设备型号</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="text" name="device_model" placeholder="请输入设备型号" th:value="${device?.device_model}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上次检测时间</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="text" name="last_check_time" placeholder="请输入上次检测时间" th:value="${device?.last_check_time}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">下次检测时间</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="text" name="next_check_time" placeholder="请输入下次检测时间" th:value="${device?.next_check_time}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年限</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="number" name="year" placeholder="请输入年限" th:value="${device?.year}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作说明书</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="text" name="use_book" placeholder="请输入操作说明书" th:value="${device?.use_book}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">作业说明书</label>
            <div class="layui-input-inline">
                <input class="layui-input" autocomplete="off" type="text" name="work_book" placeholder="请输入作业说明书" th:value="${device?.work_book}">
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
    <script>
        var a="";
        layui.use(['jquery','layer','form','laydate'],function () {
            var $ = layui.jquery,
                form = layui.form,
                laydate = layui.laydate,
                layer = layui.layer;
            laydate.render({
                elem:"#time",
                type:'datetime',
                trigger:'click'
            });

            $.get('/base/plantArea/findArea',function (res) {
                if(res.code===200){
                    var select = document.getElementById('area');
                    var str = "";
                    res.data.forEach(function (t) {
                        str+="<option value='"+t.name+"'>"+t.name+"</option>"
                    });
                    select.innerHTML=str;
                    form.val('lay_form',{belong_plant_area:$('#areaValue').val()});
                }
            })

            $.get('/base/line/findLine',function (res) {
                if(res.code===200){
                    var select = document.getElementById('line');
                    var str = "";
                    res.data.forEach(function (t) {
                        str+="<option value='"+t.name+"'>"+t.name+"</option>"
                    });
                    select.innerHTML=str;
                    form.val('lay_form',{belong_line:$('#lineValue').val()});
                }
            })

            $.get('/base/deviceType/findDeviceType',function (res) {
                if(res.code===200){
                    var select = document.getElementById('device_type');
                    var str = "";
                    res.data.forEach(function (t) {
                        str+="<option value='"+t.code+"'>"+t.code+"</option>"
                    });
                    select.innerHTML=str;
                    form.val('lay_form',{device_type:$('#deviceTypeValue').val().trim()});
                }
            })



            $.get('/base/process/findProcessType',function (res) {
                if(res.code===200){
                    var select = document.getElementById('processName');
                    var str = "";
                    var d = res.data.map(function (t) {
                        return {process_type:t}
                    });
                    d.forEach(function (t) {
                        str+="<option value='"+t.process_type+"'>"+t.process_type+"</option>"
                    });
                    select.innerHTML=str;
                    form.val('lay_form',{belong_process:$('#processNameValue').val()});
                }
            })


        })
    </script>
</body>
</html>