<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>添加不良</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
      <link rel="stylesheet" href="../../lib/layui-v2.3.0/css/layui.css">
      <style type="text/css">
		.label_width {
			width: 100px;
		}
        #testEquipment input{
            padding-left: 0px!important;
            border: 1px solid rgb(255, 255, 255)!important;
        }
        .xm-select-dl{
            height: 200px!important;
        }
      </style>
  </head>
  <body>
        <form class="layui-form" style="padding-top:20px;" lay-filter="form2">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">板编号<span style="color:red">*</span></label>
                    <div class="layui-input-inline">
                        <input type="text" id="plateNo" name="plateNo" placeholder="扫码录入板编号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-inline">
                        <input type="hidden" id="imConfigId">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">检验人</label>
                    <div class="layui-input-inline">
                        <input  disabled type="text" name="u"  autocomplete="off" class="layui-input">
                    </div>
                </div>
<!--                <div class="layui-inline">-->
<!--                    <label class="layui-form-label">登记时间<span style="color:red">*</span></label>-->
<!--                    <div class="layui-input-inline">-->
<!--                        <input id="inspectionTime" type="text" name="time"  autocomplete="off" class="layui-input">-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="layui-form-item" id="badBox">
                <div class="layui-inline" >
                    <label class="layui-form-label">不良描述</label>
                    <div class="layui-input-inline" >
                        <div id="badSay" style="display: none; width:518px!important;border:1px solid #e6e6e6;color:#666;min-height:30px;padding:10px" ></div>
                        <div id="badCheck" style="width:518px">
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="layui-form-item">-->
<!--                <div class="layui-inline" >-->
<!--                    <label class="layui-form-label">补充说明</label>-->
<!--                    <div class="layui-input-inline" >-->
<!--                        <input class="layui-input" name="remark" placeholder="补充说明" style="width:518px!important;" autocomplete="off" />-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="layui-form-item" style="text-align: center;">
                <button class="layui-btn" type="button" lay-submit lay-filter="add">保存</button>
                <button class="layui-btn layui-btn-normal" type="reset" >重置</button>
            </div>
      </form>
    <script src="../../lib/layui-v2.3.0/layui.js" ></script>
        <script src="../../js/common.js" ></script>
        <script type="text/javascript">
        var a='';
        layui.use(['form','layer','laydate','jquery'], function(){
          var form = layui.form,
          	layer = layui.layer,
          	laydate = layui.laydate,
            $ = layui.jquery;
            laydate.render({
              elem: '#inspectionTime',
              type: 'datetime'
            });
            if(localStorage.getItem('padUserData')){
                var data = JSON.parse(localStorage.getItem('padUserData'));
                $('[name=u]').val(data.nickname);
            };
            new Checkboxs({
                url:'/base/badNews/findBadNewsList',
                elemId:'badCheck',
                value:'bad_name',
                title:'bad_name',
                done:function () {
                    form.render()
                }
            });
            scanCode('plateNo');
            // $('#user').on('click',function () {
            //     var userBox =  layer.open({
            //         title:'用户列表',
            //         type:2,
            //         area:['98%',"94%"],
            //         content:'/userTable'
            //     });
            //     a=function (data) {
            //         layer.close(userBox);
            //         var d=data[0];
            //         form.val('form2',{user:d.nickname})
            //
            //     }
            // });
            var badCheck = document.getElementById('badCheck');
            var nowData = null;
            layer.load(1)
            $.ajax({
                url:"/produce/pcbTask/findProcessTaskByDevice",
                type:'post',
                dataType : "json",
                data : JSON.stringify({
                    deviceCode:getQueryString2('deviceCode')
                }),
                contentType : "application/json;charset=UTF-8",
                success: function (res) {
                    layer.closeAll()
                    res.data.some(function (t,i) {
                        if(t.is_now_flag==1){
                            nowData=t;
                            return true
                        }
                    });
                }
            })
            form.on('submit(add)', function (obj) {
                var checkeds = badCheck.getElementsByTagName('input');
                var arr = [];
                for(var i=0; i<checkeds.length;i++){
                    if(checkeds[i].checked){
                        arr.push({badNews:checkeds[i].value})
                    }
                }
                obj.field.badNewsList=arr;
                obj.field.pcbTaskCode=nowData.pcb_task_code;
                $.ajax({
                    url:"/produce/pcbTask/recordBadTypeList",
                    type:'post',
                    dataType : "json",
                    data : JSON.stringify(obj.field),
                    contentType : "application/json;charset=UTF-8",
                    success: function (res) {
                        layer.closeAll();
                        if(res.code===200){
                            layer.alert(res.msg,{icon:1},function () {
                                parent.window.location.reload()
                            })
                        }else{
                            layer.alert(res.msg,{icon:5})
                        }

                    }
                });


            });

        });
    </script>
  </body>

</html>