<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>生产信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../lib/layui-v2.3.0/css/layui.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/windowPad/productInfo.css">
    <style>
        ::-webkit-scrollbar {
            width: 2px;
            height: 2px;
            background-color: #F5F5F5;
        }
    </style>
</head>

<body>
    <div class="mainBox">
        <div class="imBox">
            <span class="title" id="imName">机台编号：<span id="imSerial"></span></span>
            <button id="imState" class="greenButton">工作中</button>
        </div>
        <div class="taskBox">
            <div class="title">当前生产工序<span id="processName" style="font-weight: bold;"></span></div>
            <form class="layui-form" lay-filter="formNode" id="formNode">
                <div id="statusBox" class=""></div>
                <input type="hidden" name="id">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">工序任务号:</label>
                        <div class="layui-input-inline">
                            <input type="text" disabled name="process_task_code" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">排产任务号:</label>
                        <div class="layui-input-inline">
                            <input type="text" disabled name="pcb_task_code" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">生产批次:</label>
                        <div class="layui-input-inline">
                            <input type="text" disabled name="task_sheet_code" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">机型名称:</label>
                        <div class="layui-input-inline">
                            <input type="tel" disabled name="model_name" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">规格型号:</label>
                        <div class="layui-input-inline">
                            <input type="text" disabled name="pcb_code" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">RoHS:</label>
                        <div class="layui-input-inline">
                            <input type="text" disabled name="is_rohs" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">计划生产数量:</label>
                        <div class="layui-input-inline">
                            <input type="number" disabled name="pcb_quantity" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">实际生产数量:</label>
                        <div class="layui-input-inline">
                            <input id="scs" type="number" disabled name="amount_completed" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">计划生产时间:</label>
                        <div class="layui-input-inline">
                            <input type="tel" disabled name="plan_start_time" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">计划结束时间:</label>
                        <div class="layui-input-inline">
                            <input type="text" disabled name="plan_finish_time" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">当天计划生产:</label>
                        <div class="layui-input-inline">
                            <input type="number" disabled name="detail_plan_count" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">当天实际生产:</label>
                        <div class="layui-input-inline">
                            <input type="number" disabled name="detail_finish_count" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">板编号:</label>
                        <div class="layui-input-inline">
                            <input type="text" disabled name="batch_id" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">光板号:</label>
                        <div class="layui-input-inline">
                            <input type="text" disabled name="pcb_plate_id" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-inline">
                            <input type="text" disabled autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
            </form>
            <div class="title">生产工序</div>
            <table class="layui-hide" id="table" lay-filter="table"></table>
        </div>
    </div>
    <script src="../../lib/layui-v2.3.0/layui.js"></script>
    <script src="../../js/common.js"></script>
</body>
<script>
    function color(status) {
        switch (status) {
            case "进行中": return 'blueBg';
            case "生产中": return 'greenBg';
            case "暂停": return 'redBg';
            case "结束": return 'yellowBg';
        }
    }
    var shuaTime = 10;
    parent.localStorage.getItem('shuaTime') && (shuaTime = parent.localStorage.getItem('shuaTime'));
    var nowDeviceCode = getQueryString2('deviceCode');
    window.onload = function () {
        layui.use(['jquery', 'form', 'table', 'layer'], function () {
            var $ = layui.jquery,
                table = layui.table,
                layer = layui.layer,
                form = layui.form;
            layer.load(1)
            var statusBox = document.getElementById('statusBox');
            var processName = document.getElementById('processName');
            $("#imSerial").html(getQueryString2('deviceCode'))
            //展示已知数据
            table.render({
                elem: '#table'
                , url: '/produce/pcbTask/findProcessTaskByDevice' //数据接口
                , page: false //开启分页
                , method: 'POST'
                , loading: false
                , contentType: 'application/json'
                , response: {
                    statusCode: 200
                },
                where: {
                    deviceCode: getQueryString2('deviceCode'),
                }
                , parseData: function (res) {
                    layer.closeAll();
                    if (res.data.length > 0) {
                        localStorage.setItem('gxData', JSON.stringify(res.data));


                    }
                    res.data.some(function (t, i) {
                        if (("" + t.is_now_flag).indexOf(nowDeviceCode) != -1) {
                            t.plan_start_time = timeToDate(t.plan_start_time);
                            t.plan_finish_time = timeToDate(t.plan_finish_time);
                            parent.nowGonDan = t;

                            if (t.count_type == 1) {
                                statusBox.className = color(t.device_detail_status);
                                statusBox.innerHTML = t.device_detail_status;

                                t.detail_plan_count = t.detail_device_plan_count;
                                t.detail_finish_count = t.detail_device_finish_count;

                            } else if (t.count_type == 0) {
                                statusBox.className = color(t.process_task_status);
                                statusBox.innerHTML = t.process_task_status;
                            }
                            processName.innerHTML = ":" + t.process_name;
                            form.val('formNode', t);
                            res.data.splice(i, 1);
                            return true
                        }
                    });
                    return {
                        "code": res.code, //解析接口状态
                        "data": res.data, //解析数据列表
                        "count": res.total //解析数据长度
                    };
                }
                , cols: [
                    [ //标题栏
                        { field: 'process_task_code', title: '工序任务号', minWidth: 140 }
                        , { field: 'process_name', title: '工序名称', minWidth: 90 }
                        , { field: 'process_task_status', title: '工单状态', minWidth: 90 }
                        , { field: 'task_sheet_code', title: '生产批次', width: 120 }
                        // , { field: 'pcb_task_code', title: '排产任务号', width: 164 }
                        // , { field: 'model_name', title: '机型名称', minWidth: 274 }
                        , { field: 'pcb_code', title: '规格型号', minWidth: 190 }
                        , { field: 'detail_plan_count', title: '日计划量', minWidth: 90 }
                        , { field: 'detail_finish_count', title: '日完成量', minWidth: 90 }
                        , { field: 'pcb_quantity', title: '计划量', minWidth: 80 }
                        , { field: 'amount_completed', title: '完成量', minWidth: 80 }
                        , { field: 'is_rohs', title: 'RoHS', minWidth: 80 }
                        , { field: 'batch_id', title: '板编号', minWidth: 240 }
                        , {
                            field: 'plan_start_time', title: '计划生产时间', minWidth: 170, templet: function (d) {
                                return timeToDate(d.plan_start_time)
                            }
                        }
                        , {
                            field: 'plan_finish_time', title: '计划结束时间', minWidth: 170, templet: function (d) {
                                return timeToDate(d.plan_finish_time)
                            }
                        }
                        , {
                            field: 'qwe', title: '操作', fixed: 'right', minWidth: 100, templet: function (d) {
                                return '<button lay-event="set" class="layui-btn layui-btn-warm layui-btn-sm" type="button">查看详情</button> '
                            }
                        }
                    ]
                ]
            });

            table.on('tool(table)', function (obj) {
                var data = obj.data;
                switch (obj.event) {
                    case 'set':
                        if (parentLogin()) {
                            layer.open({
                                type: 2,
                                area: ['90%', '90%'],
                                title: "详情",
                                content: '/detail',
                                success: function (i, index) {
                                    var iframeWin = window[i.find('iframe')[0]['name']];
                                    data.plan_start_time = timeToDate(data.plan_start_time);
                                    data.plan_finish_time = timeToDate(data.plan_finish_time);
                                    var title = {
                                        process_task_code: '工序任务号',
                                        process_name: '工序名称',
                                        task_sheet_code: '生产批次',
                                        process_task_status: '工单状态',
                                        model_name: '机型名称',
                                        pcb_code: '规格型号',
                                        pcb_quantity: '计划生产数量',
                                        amount_completed: '实际生产数量',
                                        is_rohs: 'RoHS',
                                        plan_start_time: '计划生产时间',
                                        plan_finish_time: '计划结束时间',

                                        batch_id: '板编号',

                                    };
                                    iframeWin.render(data, title, 1)
                                }
                            })
                        }
                        break;
                }
            });
            setInterval(function () {
                if (parseInt(new Date().getTime() / 1000) % shuaTime === (shuaTime - 1)) {

                    $.ajax({
                        url: "/produce/pcbTask/findProcessTaskByDevice",
                        type: 'post',
                        dataType: "json",
                        data: JSON.stringify({ deviceCode: getQueryString2('deviceCode') }),
                        contentType: "application/json;charset=UTF-8",
                        success: function (res) {
                            var has = 0;
                            //判断老数据鱼新数据id是否不同
                            try {
                                if (localStorage.getItem('gxData')) {
                                    var old = JSON.parse(localStorage.getItem('gxData'));
                                    if (old.length === res.data.length) {
                                        old.some(function (t, i) {
                                            if (t.id !== res.data[i].id) {
                                                localStorage.setItem('gxData', res.data)
                                                window.location.reload();
                                                return true
                                            }
                                        })
                                    } else {
                                        localStorage.setItem('gxData', res.data)
                                        window.location.reload();
                                    }
                                }
                                if (localStorage.getItem('gxData') == "" && res.data.length > 0) {
                                    window.location.reload();
                                }
                            } catch (e) {
                                window.location.reload();
                            }
                            //判断是否存在当前
                            res.data.some(function (t, i) {
                                if (("" + t.is_now_flag).indexOf(nowDeviceCode) != -1) {
                                    has = 1;
                                    t.plan_start_time = timeToDate(t.plan_start_time);
                                    t.plan_finish_time = timeToDate(t.plan_finish_time);
                                    parent.nowGonDan = t;
                                    var statusBox = document.getElementById('statusBox');
                                    var processName = document.getElementById('processName');
                                    if (t.count_type == 1) {
                                        statusBox.className = color(t.device_detail_status);
                                        statusBox.innerHTML = t.device_detail_status;
                                    } else if (t.count_type == 0) {
                                        statusBox.className = color(t.process_task_status);
                                        statusBox.innerHTML = t.process_task_status;
                                    }
                                    processName.innerHTML = ":" + t.process_name;
                                    document.getElementById('scs').value = t.amount_completed;
                                    if (t.id != $('[name=id]').val()) {
                                        //有当前，且当前id不等于页面的id
                                        table.reload('table')
                                    }
                                    if(t.count_type==1){
                                        t.detail_plan_count=t.detail_device_plan_count;
                                        t.detail_finish_count=t.detail_device_finish_count;
                                    }


                                    form.val('formNode', t);
                                    return true
                                }
                            });
                            if (has === 0) {
                                //无当前，且页面id不为undefined
                                if ($('[name=id]').val() !== "") {
                                    table.reload('table')
                                    $("[name=id]").val("");
                                }
                                $("#formNode")[0].reset();
                                statusBox.className = "";
                                processName.innerHTML = "";
                                $("[name=id]").val('');
                            }

                        }
                    })
                }
            }, 1000);
        });

    };

</script>

</html>