<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form  class="layui-form" lay-filter="lay_form" th:action="@{/base/program/save}">
        <input type="hidden" name="id" th:if="${program}" th:value="${program.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">设备编号</label>
            <div class="layui-input-inline">
                <input type="hidden" id="codeValue" th:value="${program?.code}">
                <select name="code" id="code"></select>
            </div>
        </div>
        <!--<div class="layui-form-item">
            <label class="layui-form-label">设备名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="name" placeholder="请输入设备名称" th:value="${program?.name}">
            </div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">PCB光板号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="pcbCode" placeholder="请输入PCB光板号" th:value="${program?.pcbCode}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">AB面</label>
            <div class="layui-input-inline">
                <!--<input class="layui-input" type="text" name="face" placeholder="请输入AB面" th:value="${program?.face}">-->
                <input type="hidden" id="faceValue" th:value="${program?.face}">
                <select name="face" id="face">
                </select>
                <!--<input type="hidden" id="faceValue" th:value="${program?.face}">
                <select name="face" id="face"></select>-->
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">成品号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="productNo" placeholder="请输入成品号" th:value="${program?.productNo}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">程序名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="processName" placeholder="请输入程序名称" th:value="${program?.processName}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">修改日期</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" id="time" name="modifyDate" placeholder="请输入修改日期" th:value="${#dates.format(program?.modifyDate, 'yyyy-MM-dd HH:mm:ss')}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">程序文件</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="processFile" placeholder="请输入程序文件" th:value="${program?.processFile}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${program?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
<script>
    var a="";
    layui.use(['jquery','layer','form','laydate'],function () {
        var $ = layui.jquery,
            form = layui.form,
            laydate = layui.laydate,
            layer = layui.layer;
        laydate.render({
            elem:"#time",
            type:'datetime',
            trigger:'click'
        });

        $.get('/base/device/findDeviceCode',function (res) {
            if(res.code===200){
                var select = document.getElementById('code');
                var str = "";
                res.data.forEach(function (t) {
                    str+="<option value='"+t.device_code+"'>"+t.device_code+"</option>"
                });
                select.innerHTML=str;
                form.val('lay_form',{code:$('#codeValue').val()});
            }
        })


        $.get('/base/program/findFace',function (res) {
            if(res.code===200){
                var select = document.getElementById('face');
                var str = "";
                var d = res.data.map(function (t) {
                    return {face:t}
                });
                d.forEach(function (t) {
                    str+="<option value='"+t.face+"'>"+t.face+"</option>"
                });
                select.innerHTML=str;
                form.val('lay_form',{face:$('#faceValue').val()});
            }
        })

    })
</script>
</body>
</html>