<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${program.id}"></td>
                    <th>设备编号</th>
                    <td th:text="${program.code}"></td>
                </tr>
                <tr>
                    <th>设备名称</th>
                    <td th:text="${program.name}"></td>
                    <th>PCB光板号</th>
                    <td th:text="${program.pcbCode}"></td>
                </tr>
                <tr>
                    <th>AB面</th>
                    <td th:text="${program.face}"></td>
                    <th>成品号</th>
                    <td th:text="${program.productNo}"></td>
                </tr>
                <tr>
                    <th>程序名称</th>
                    <td th:text="${program.processName}"></td>
                    <th>修改日期</th>
                    <td th:text="${program.modifyDate}"></td>
                </tr>
                <tr>
                    <th>程序文件</th>
                    <td th:text="${program.processFile}" colspan="3"></td>
                </tr>
                <tr>
                    <th>创建者</th>
                    <td th:text="${program.createBy?.nickname}"></td>
                    <th>更新者</th>
                    <td th:text="${program.updateBy?.nickname}"></td>
                </tr>
                <tr>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(program.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <th>更新时间</th>
                    <td th:text="${#dates.format(program.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th>备注</th>
                    <td th:text="${program.remark}" colspan="3"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>