<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/base/productionShift/save}">
        <input type="hidden" name="id" th:if="${productionShift}" th:value="${productionShift.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">员工名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="userName" placeholder="请输入员工名称" th:value="${productionShift?.userName}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">岗位</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="station" placeholder="请输入岗位" th:value="${productionShift?.station}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">班次</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="shift" placeholder="请输入班次" th:value="${productionShift?.shift}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工序</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="process" placeholder="请输入工序" th:value="${productionShift?.process}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排班日期</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="shiftDate" placeholder="请输入排班日期" th:value="${productionShift?.shiftDate}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${productionShift?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>