<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/maintenance/testRecord/save}">
        <input type="hidden" name="id" th:if="${testRecord}" th:value="${testRecord.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">设备编号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="deviceCode" autocomplete="off" placeholder="请输入设备编号" th:value="${testRecord?.deviceCode}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">设备类型</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="deviceType" autocomplete="off" placeholder="请输入设备类型" th:value="${testRecord?.deviceType}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">设备名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="deviceName" autocomplete="off" placeholder="请输入设备名称" th:value="${testRecord?.deviceName}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">检测时间</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="testDate" autocomplete="off" placeholder="请输入检测时间" th:value="${testRecord?.testDate}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${testRecord?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>