<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mo="https://gitee.com/aun/Timo">

<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>



<body class="timo-layout-page">
    <div class="layui-card">
        <div class="layui-card-header timo-card-header">
            <span><i class="fa fa-bars"></i> 设备定期检测记录表</span>
            <i class="layui-icon layui-icon-refresh refresh-btn"></i>
        </div>
        <div class="layui-card-body">
            <div class="layui-row timo-card-screen">
                <form class="layui-form pull-left layui-form-pane timo-search-box">
                    <div class="layui-inline">
                        <label class="layui-form-label">设备编号</label>
                        <div class="layui-input-block">
                            <input id="deviceCode" type="text" name="deviceCode" placeholder="请输入设备编号"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">检测日期</label>
                        <div class="layui-input-block">
                            <input id="regularSafeTimeStart" type="text" name="regularSafeTimeStart"
                                placeholder="选择检测日期" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn" id="search" type="button" lay-submit lay-filter="search">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>


            </div>
            <div class="timo-table-wrap">
                <table class="layui-hide" id="table" lay-filter="table"></table>
            </div>
        </div>
    </div>
    <script th:replace="/common/template :: script"></script>
    <script src="../../js/common.js"></script>
    <script>
        layui.use(['form', 'laydate', 'table', 'jquery', 'form'], function () {
            var layer = layui.layer,
                $ = layui.jquery,
                table = layui.table,
                laydate = layui.laydate,
                form = layui.form;
            var testRecordeData = []
            table.render({
                elem: '#table'
                , url: '/deviceRegularSafe/list' //数据接口
                , method: 'post'
                , loading: false
                , contentType: 'application/json'
                , response: {
                    statusCode: 200
                }
                , page: true
                , limit: 20
                , where: {
                    startTime: timeToDate(new Date(), true)
                }
                , parseData: function (res) {
                    // var page = this.page.curr;
                    // if(res.data.length===0&&page>1){
                    //     table.reload('table',{
                    //         page:{
                    //             curr:(page-1)
                    //         }
                    //     })
                    // }
                    return {
                        "code": res.code, //解析接口状态
                        "data": res.data.deviceRegularSafeResultVOS, //解析数据列表
                        "count": res.data.total, //解析数据长度
                    };
                }
                , cols: [
                    [
                        { field: 'deviceName', title: '设备名称', sort: true, minWidth: 130 }
                        , { field: 'deviceCode', title: '设备编号', sort: true, minWidth: 110 }
                        , { field: 'devicePlace', title: '设备使用地点', minWidth: 182 }
                        , { field: 'safePerson', title: '检测人员',  minWidth: 140 }
                        , { field: 'temperature', title: '温度',  minWidth: 140 }
                        , { field: 'humidity', title: '湿度',  minWidth: 120 }
                        , {
                            field: 'thisSafeTime', title: '本次检测日期',  minWidth: 120, templet: function (d) {
                                return d.thisSafeTime ? timeToDate(d.thisSafeTime, true) : "";
                            }
                        }
                        , {
                            title: '操作', fixed: 'right', minWidth: 70, templet: function (d) {
                                return '<a class=" layui-btn layui-btn-xs" style="background-color:#1e9fff"  lay-event="distribution">详细信息</a>';
                            }
                        }
                    ]
                ]
                , done: function (d) {
                    testRecordeData = d.data;
                    console.log("=====",testRecordeData)
                }
            });
            form.on('submit(search)', function (obj) {
                var data = {};
                // console.log(obj.field);
                data.deviceCode = obj.field.deviceCode;
                data.regularSafeTimeStart = obj.field.regularSafeTimeStart.length > 0 ? obj.field.regularSafeTimeStart.split(' ~ ')[0] : "";
                data.regularSafeTimeEnd = obj.field.regularSafeTimeStart.length > 0 ? obj.field.regularSafeTimeStart.split(' ~ ')[1] : "";
                table.reload('table', {
                    where: data
                })
            });
            table.on('tool(table)', function (obj) {
                var data = obj.data;
                switch (obj.event) {
                    case 'distribution':
                        layer.open({
                            type: 2,
                            title: '设备检测信息详情',
                            area: ['90%', '90%'],
                            content: '/maintenance/testRecord/detail?index=' + data.index,
                            success: function (layero, index) {
                                console.log("index===", index)
                                var body = layer.getChildFrame('body', index);
                                body.contents().find("input[name='testRecordeData']").val(JSON.stringify(testRecordeData));
                            }
                        });
                        break;
                }
            });
            laydate.render({
                elem: '#regularSafeTimeStart',
                range: "~"
            });
            new Enter('deviceCode', function () { $('#search').click() });
            new Enter('regularSafeTimeStart', function () { $('#search').click() });
        })
    </script>
    <style>
        .layui-laydate .layui-this {
            background-color: #1e9fff !important;
        }
    </style>
</body>

</html>